{{extend 'layout.html'}}
{{block head}}

<meta charset="UTF-8">

    <!-- Para los mensajes con flash -->
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3-flash.css')}}"/>
    
      <!-- Estilo del listado de Solicitudes de Servicios -->
    <link rel="stylesheet" href="{{=URL('static', 'css/servicios_solicitud.css')}}">
    <link rel="stylesheet" href="{{=URL('static', 'css/servicios_modal.css')}}">
    <link rel="stylesheet" href="{{=URL('static', 'inventarios/css/template_modal.css')}}">
    <!-- Para los mensajes con flash -->
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3-flash.css')}}"/>
    <!-- Estilos de modales y listados -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="{{=URL('static', 'js/inventario_template_modal.js')}}"></script>   
    <!-- Web2py JS - Especialmente para AJAX -->
    <script src="{{=URL('static', 'js/web2py.js')}}"></script>
    <style>
    .row{
        margin-right:0px!important;
    }
     </style>
<link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventarios.css')}}">
<link rel="stylesheet" href="{{=URL('static', 'inventarios/css/detalles_bm.css')}}">	  
{{end}}

{{block center}}
    <h3 class="dep-titulo text-center">{{=bien['hr_nombre']}}</h3>
    {{ if request.vars.delete: }}
    <h4 class="text-center">DESCRIPCIÓN DE LA ELIMINACIÓN: {{=bien['hr_desc_eliminar'].upper()}}</h4>
    {{ pass }}
{{pass}}

<!-- Flash message -->
<div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>


<!-- Inicio Boton Modificar BM -->
<div class="container" id="containerAgregar">
        <div class="row">
            <div class="col-sm-6"></div>
            <div id="columnBotonAgregar" class="col-sm-6">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    {{ if request.vars.delete: }}
                    <form method="post">
                        <!-- Boton para aceptar mod de bien mueble-->
                        <button type="button submit" name="si" value="True"><i class="fas fa-check fa-1x"></i></button>
                        <!--Boton para rechazar el bien mueble-->
                        <button type="button submit" name="no" value="True"><i class="fas fa-times fa-1x"></i></button>
                    </form>
                    {{ else: }}
                    <!-- Boton que lleva al modal --> <!-- Cambiar data-target="#addservice por el id de la forma de la sustancia -->
                    <button type="button" data-toggle="modal" data-target="#addbm" onclick="select_values()"><i class="fas fa-pencil-alt fa-1x"></i></button>
                    <!-- Boton para eliminar el sb-->
                    <button type="button" data-toggle="modal" data-target="#confirmdelete"><i class="fas fa-trash fa-1x"></i></button>
                    {{ pass }}
                  </div>
            </div>
        </div>
    </div>
<!-- Fin Boton Agregar Sustancia -->
<br>
<div class="wrapper">
		
	<div class="tab-wrapper">
		<ul class="tabs">
				<li class="tab-link active" data-tab="1"><br>CARACTERÍSTICAS</li>
                <li class="tab-link" data-tab="2"><br>UBICACIÓN</li>
                <li class="tab-link" data-tab="3">HISTORIAL DE MANTENIMIENTO</li>
            </ul>
	</div>

	<div class="content-wrapper">
		<div id="tab-1" class="tab-content active">
            <div class="grid-container">
                {{ for title in caracteristicas_list: }}
                    {{ if caracteristicas_dict.get(title) != "" and caracteristicas_dict.get(title) != None: }}
                        <div class="grid-item">
                            {{=title.upper()}}
                        </div>
                        <div class="grid-item">
                            {{= caracteristicas_dict.get(title)}}
                        </div>
                    {{pass}}
                {{ pass }}
                {{if bien['hr_ancho'] != None or bien['hr_largo'] != None or bien['hr_alto'] != None or bien['hr_diametro'] != None:}}
                    <div class="grid-item">
                        {{ if bien['hr_unidad'] == 'm':}}
                            Dimensiones (metros):
                        {{else:}}
                            Dimensiones (centímetros):
                        {{pass}}
                    </div>
                    <div class="grid-item">                        
                        {{if bien['hr_ancho'] != None:}}
                            Ancho: {{=bien['hr_ancho']}}
                            <br>
                        {{pass}}
                        {{if bien['hr_largo'] != None:}}
                            Largo: {{=bien['hr_largo']}}
                            <br>
                        {{pass}}
                        {{if bien['hr_alto'] != None:}}
                            Alto: {{=bien['hr_alto']}}
                            <br>
                        {{pass}}
                        {{if bien['hr_diametro'] != None:}}
                            Diámetro: {{=bien['hr_diametro']}}
                            <br>
                        {{pass}}
                    </div>
                {{pass}}
            </div>
        </div>
        <div id="tab-2"class="tab-content">
            <div class="grid-container">
                <div class="grid-item">
                    Espacio físico:
                </div>
                <div class="grid-item">
                    {{=db(db.espacios_fisicos.id == bien['hr_espacio_fisico']).select().first().codigo}}
                </div>
                <div class="grid-item">
                    Unidad de Adscripción:
                </div>
                <div class="grid-item">
                    {{=bien['hr_unidad_de_adscripcion']}}
                </div>
                <div class="grid-item">
                    Dependencia:
                </div>
                <div class=grid-item>
                    {{=db(db.dependencias.id == bien['hr_depedencia']).select().first().nombre}}
                </div>
            </div>
        </div>
        <div id="tab-3"class="tab-content">En desarrollo</div>
	</div>
</div>


<!--Modal para oculta BM-->
<div class="modal fade" id="confirmhide" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header addHeader">
              <div class="row addRow" id="rowHeader">
                <div class="col-sm-1" id="col1Header">
                  <div class="container">
                      <i class="fas fa-eye-slash fa-2x" style="
                      display:block;
                      margin-left: -19px;
                      margin-top: 12px;
                      color: white;
                      "></i>
                  </div>
                </div>
                <div class="col-sm-11" id="col11Header">
                  <h4 class="modal-title" id="nuevaBien" style="
                    text-align: left;
                    padding-top: 12px;
                    color: white;
                  ">Confirmar ocultar<button type="button" class="close" data-dismiss="modal">&times;</button>
                  </h4>
                </div>
              </div>
            </div>
            <!-- Fin Modal Header -->
            
            <!-- Modal Body -->
            <div class="modal-body addBody">
                <br>
                <form method="post" style="text-align: center;">
                    <h4>¿Desea ocultar {{=bien['hr_nombre']}} de las consultas?</h4>
                    <br>
                    <button type="submit button" class="btn btn-next botondelete" name="ocultar" value="True" style="text-align:center">Si</button>
                    <button type="button" class="btn btn-next botonForm" style="text-align:center" data-dismiss="modal">No</button>
                </form>
                <br>
            </div>
          </div>
        </div>
    </div>

<!--Modal de eliminar material-->
<div class="modal fade" id="confirmdelete" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header addHeader">
              <div class="row addRow" id="rowHeader">
                <div class="col-sm-1" id="col1Header" style="background-color: red;">
                  <div class="container">
                      <i class="fas fa-trash fa-2x" style="
                      display:block;
                      margin-left: -16px;
                      margin-top: 8px;
                      color: white;
                      "></i>
                  </div>
                </div>
                <div class="col-sm-11" id="col11Header" style="background-color: red;">
                  <h4 class="modal-title" id="nuevaBien" style="
                    text-align: left;
                    padding-top: 12px;
                    color: white;
                  ">Confirmar eliminación<button type="button" class="close" data-dismiss="modal">&times;</button>
                  </h4>
                </div>
              </div>
            </div>
            <!-- Fin Modal Header -->
            
            <!-- Modal Body -->
            <div class="modal-body addBody">
                <br>
                <form method="post" style="text-align: center;">
                    <div class="form-group">
                        <label>Descripción de eliminación*</label>
                        <input type="text" class="form-control" id="descripcion_eliminacion" name="descripcion_eliminacion" placeholder="Descripción de eliminación" required>
                        <div class="field-error"> <p id="error-est-eliminacion"> </p> </div>
                    </div>
                    <h4>¿Desea solicitar la eliminación de {{=bien['hr_nombre']}}?</h4>
                    <br>
                    <button type="submit button" class="btn btn-next botondelete" name="eliminacion" value="True" style="text-align:center">Si</button>
                    <button type="button" class="btn btn-next botonForm" style="text-align:center" data-dismiss="modal">No</button>
                </form>
                <br>
            </div>
          </div>
        </div>
    </div>

<!-- Modal modificar un material -->
<div class="modal fade" id="addbm" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header addHeader">
        <div class="row addRow" id="rowHeader">
          <div class="col-sm-1" id="col1Header">
            <div class="container">
                <i class="fas fa-pencil-alt fa-2x" style="
                display:block;
                margin-left: -16px;
                margin-top: 8px;
                "></i>
            </div>
          </div>
          <div class="col-sm-11" id="col11Header">
            <h4 class="modal-title" id="nuevaBien" style="
              text-align: left;
              padding-top: 12px;
              color: white;
            ">Modificar Material de laboratorio<button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
          </div>
        </div>
      </div>
      <!-- Fin Modal Header -->
      
      <!-- Modal Body -->
      <div class="modal-body addBody">
        <div class="row addRow">
          <div class="col-md-12 form-box">
              <form id="formularioCarga" class="registration-form" method="post" onsubmit="return validar_campos()">
               
                <!-- Primer paso-->
                <fieldset class="formField">
                  <div class="form-bottom" data-step="1" data-title="Primer Paso">
                    <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                    <div class="col-sm-1 col1Body"> 
                      <span class="step activePass">1</span>
                      <span class="step">2</span>
                      <span class="step">3</span>
                    </div>
                    <!-- Aqui va la informacion -->
                    <div class="col-sm-11 col11Body">
                      <h4 class="titulosForm">Características de la herramienta</h4>                
                      <label>Campos marcados con * son obligatorios.</label>

                      <div class="form-group" tag="Formato:">
                            <label>Nombre de la herramienta*</label>
                            <input type="text" class="form-control" id="nombre_her" name="nombre_her" title="Nombre de la herramienta" placeholder="Nombre de la herramienta*"  value="{{=bien['hr_nombre']}}"  readonly>
                            <div class="field-error"> <p id="err_nombre_her"> </p> </div>
                        </div>

                        {{if bien['hr_num']!="":}}
                        <div class="form-group">
                            <label>Número de Bien Nacional</label>
                            <input type="text" class="form-control" value="{{=bien['hr_num']}}" id="num_her" name="num_her" placeholder="Número de Bien Nacional" title="Formato: ###### (6 dígitos)">
                            <font color="red"><div id="err_num_her" hidden></div></font>
                        </div>
                        {{else:}}
                            <div class="form-group">
                                <label>Número de Bien Nacional</label>
                                <input type="text" class="form-control" id="num_her" name="num_her" placeholder="Número de Bien Nacional" title="Formato: ###### (6 dígitos)">
                                <font color="red"><div id="err_num_her" hidden></div></font>
                            </div>
                        {{pass}} 
                        
                        {{if bien['hr_marca']!="":}}
                            <div class="form-group">
                                <label>Marca</label>
                                <input type="text" class="form-control" value="{{=bien['hr_marca']}}" id="marca_her" name="marca_her" placeholder="Marca">
                                <div class="field-error"> <p id="error-marca_her"> </p> </div>
                            </div>
                        {{else:}}
                            <div class="form-group">
                                <label>Marca</label>
                                <input type="text" class="form-control" id="marca_her" name="marca_her" placeholder="Marca">
                                <div class="field-error"> <p id="error-marca"> </p> </div>
                            </div>
                        {{pass}}

                        {{if bien['hr_modelo']!="":}}
                            <div class="form-group">
                                <label>Modelo/Código</label>
                                <input type="text" class="form-control" id="modelo_her" value="{{=bien['hr_modelo']}}" name="modelo_her" value="" placeholder="Modelo/Código">
                                <div class="field-error"> <p id="error_modelo_her"> </p> </div>
                            </div>
                        {{else:}}
                            <div class="form-group">
                                <label>Modelo/Código</label>
                                <input type="text" class="form-control" id="modelo_her" name="modelo_her" value="" placeholder="Modelo/Código">
                                <div class="field-error"> <p id="error_modelo_her"> </p> </div>
                            </div>
                        {{pass}}

                        {{if bien['hr_serial']!="":}}
                        <div class="form-group">
                            <label>Serial</label>
                            <input type="text" class="form-control" id="serial_her" value="{{=bien['hr_serial']}}" name="serial_her" value="" placeholder="Serial">
                            <div class="field-error"> <p id="error_serial_her"> </p> </div>
                        </div>
                        {{else:}}
                            <div class="form-group">
                                <label>Serial</label>
                                <input type="text" class="form-control" id="serial_her" name="serial_her" value="" placeholder="Serial">
                                <div class="field-error"> <p id="error_serial_her"> </p> </div>
                            </div>
                        {{pass}}

                        </div>
                  </div>
                  <button type="button" class="btn btn-next botonForm"><i class="fas fa-arrow-right"></i></button>         
                </fieldset>
                <!-- Fin Primer Paso -->

                <!-- Segundo paso -->
                <fieldset class="formField">
                    <div class="form-bottom" data-step="2" data-title="Segundo Paso">
                      <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                      <div class="col-sm-1 col1Body"> 
                        <span class="step">1</span>
                        <span class="step activePass">2</span>
                        <span class="step">3</span>
                      </div>
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body">
                        <h4 class="titulosForm">Características de la herramienta</h4>                
                        <label>Campos marcados con * son obligatorios.</label>

                        <div class="form-group" id="grupo-presentacion">
                            <label>Presentación</label>
                            <select class="form-control" value="" type="select" id="presentacion" name="presentacion" onchange="display_piezas(this.value)" placeholder="Presentación" required>
                              <option value="">Seleccione una presentación*</option>
                              {{ for med in presentacion:}}
                                {{if bien['hr_presentacion']==med:}}
                                    <option value="{{=med}}" selected="selected">{{=med}}</option>
                                {{else:}}
                                    <option value="{{=med}}">{{=med}}</option>
                                {{pass}}
                              {{pass}}
                            </select>
                            <div class="field-error"> <p id="error-unidad" > </p> </div>
                        </div>

                        {{if bien['hr_presentacion']=="Unidad":}}
                          <div class="form-group" id="grupo-piezas" hidden>
                                <label>Número de piezas*</label>
                                <input type="text" class="form-control"  id="numpiezas_her" name="numpiezas_her" placeholder="Número de piezas" >
                                <div class="field-error"> <p id="err_numpiezas_her"> </p> </div>
                          </div>

                          <div class="form-group" id="grupo-contenido" hidden>
                                <label>Contenido*</label>
                                <input type="text" class="form-control"  id="contenido_her" name="contenido_her" placeholder="Contenido">
                                <div class="field-error"> <p id="error-contenido_her"> </p> </div>
                          </div>

                          <div class="form-group" id="grupo-descripcion" hidden>
                                <label>Descripción*</label>
                                <input type="text" class="form-control" id="descripcion_her" name="descripcion_her" placeholder="Descripción" >
                                <div class="field-error"> <p id="error_descripcion"> </p> </div>
                          </div>
                        {{elif bien['hr_presentacion']=="Conjunto":}}
                          <div class="form-group" id="grupo-piezas">
                                <label>Número de piezas*</label>
                                <input type="text" class="form-control"  id="numpiezas_her" name="numpiezas_her" value="{{=bien['hr_numpiezas']}}" placeholder="Número de piezas" >
                                <div class="field-error"> <p id="err_numpiezas_her"> </p> </div>
                          </div>

                          <div class="form-group" id="grupo-contenido">
                                <label>Contenido*</label>
                                <input type="text" class="form-control"  id="contenido_her" name="contenido_her" value="{{=bien['hr_contenido']}}" placeholder="Contenido">
                                <div class="field-error"> <p id="error-contenido_her"> </p> </div>
                          </div>

                          <div class="form-group" id="grupo-descripcion">
                                <label>Descripción*</label>
                                <input type="text" class="form-control" id="descripcion_her" name="descripcion_her" value="{{=bien['hr_descripcion']}}" placeholder="Descripción" >
                                <div class="field-error"> <p id="error_descripcion"> </p> </div>
                          </div>
                        {{pass}}

                      {{pass}}
                        <div class="form-group" id="grupo-material">
                            <label>Material</label>
                            <select class="form-control" type="select" id="material_mat" name="material_mat" placeholder="Material predominante" 
                              onchange="agregar_otro('material_mat', 'material_mat', 'otro_material1')" required>
                                <option type="text" value="">Seleccione un material*</option>
                                {{ for material in material_pred: }}
                                        <option value="{{=material}}">{{=material}}</option>
                                {{pass}}
                              </select>
                            <div class="field-error"> <p id="error-material"> </p> </div>
                        </div>

                         <div class="form-group">
                            {{ if bien['hr_material'] in material_pred: }}
                                <input type="hidden" class="form-control"  id="otro_material1" placeholder="Material*">
                            {{ else: }}
                                <input type="text" class="form-control" value="{{=bien['hr_material']}}"  id="otro_material1" placeholder="Material*">
                            {{ pass }}
                            <div class="field-error"> <p id="error-material"> </p> </div>
                        </div>
                    
                        </div>
                      </div>
                    <button type="button" class="btn btn-previous botonForm"><i class="fas fa-arrow-left"></i></button>
                    <button type="button" class="btn btn-next botonForm"><i class="fas fa-arrow-right"></i></button>       
                  </fieldset>
                  <!-- Fin segundo Paso -->

                <!--Tercer Paso parte 1-->
                <fieldset class="formField">
                    <div class="form-bottom" data-step="3" data-title="Tercer Paso">
                      <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                      <div class="col-sm-1 col1Body"> 
                        <span class="step">1</span>
                        <span class="step">2</span>
                        <span class="step activePass">3</span>
                      </div>
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body">
                        <h4 class="titulosForm">Características de la herramienta</h4>                
                        <label>Campos marcados con * son obligatorios.</label>

                        <div class="form-group" id="grupo-unidad">
                              <label>Dimensiones</label>
                              <select class="form-control" value="" type="select" id="unidad" name="unidad" placeholder="Unidad de medida" onchange="display_units(this.value)">
                                <option value="">Seleccione una unidad</option>
                                {{ for med in unidad_med:}}
                                    {{if bien['hr_unidad']==med:}}
                                        <option value="{{=med}}" selected="selected">{{=med}}</option>
                                    {{else:}}
                                        <option value="{{=med}}">{{=med}}</option>
                                    {{pass}}
                                {{pass}}
                              </select>
                              <div class="field-error"> <p id="error-unidad" > </p> </div>
                            </div>

                            {{if bien['hr_unidad']=="" or bien['hr_unidad']==None:}}   
                              <div class="form-group" id="grupo-ancho">
                                    <input type="hidden" class="form-control" id="ancho_her" name="ancho_her" title="Formato ##.##" placeholder="Ancho">
                                <font color="red"><div id="err_ancho_her" hidden></div></font>
                              </div>

                              <div class="form-group" id="grupo-largo">
                                    <input type="hidden" class="form-control" id="largo_her" name="largo_her" title="Formato ##.##" placeholder="Largo" >
                                <font color="red"><div id="err_largo_her" hidden></div></font>
                              </div>

                              <div class="form-group" id="grupo-alto">
                                    <input type="hidden" class="form-control" id="alto_her" name="alto_her" title="Formato ##.##" placeholder="Altura" >
                                <font color="red"><div id="err_alto_her" hidden></div></font>
                              </div>

                              <div class="form-group" id="grupo-diametro">
                                    <input type="hidden" class="form-control" id="diametro_her" name="diametro_her" title="Formato ##.##" placeholder="Diámetro" >
                                <font color="red"><div id="err_diametro_her" hidden></div></font>
                              </div>

                            {{elif bien['hr_unidad']!=None or bien['hr_unidad']!="":}}
                                <div class="form-group" id="grupo-ancho">
                                    <label>Ancho</label>
                                {{if bien['hr_ancho']==None:}}
                                    <input type="text" class="form-control" id="ancho_her" name="ancho_her" title="Formato ##.##" placeholder="Ancho">
                                {{else:}}
                                    <input type="text" class="form-control" value="{{=bien['hr_ancho']}}" id="ancho_her" name="ancho_her" title="Formato ##.##" placeholder="Ancho">
                                {{pass}}
                                <font color="red"><div id="err_ancho_her" hidden></div></font>
                              </div>

                              <div class="form-group" id="grupo-largo">
                                <label>Largo</label>
                                {{if bien['hr_largo']==None:}}
                                    <input type="text" class="form-control" id="largo_her" name="largo_her" title="Formato ##.##" placeholder="Largo" >
                                {{else:}}
                                    <input type="text" class="form-control" id="largo_her" value="{{=bien['hr_largo']}}" name="largo_her" title="Formato ##.##" placeholder="Largo" >
                                {{pass}}
                                <font color="red"><div id="err_largo_her" hidden></div></font>
                              </div>

                              <div class="form-group" id="grupo-alto">
                                <label>Altura</label>
                                {{if bien['hr_alto']==None:}}
                                    <input type="text" class="form-control" id="alto_her" name="alto_her" title="Formato ##.##" placeholder="Altura" >
                                {{else:}}
                                    <input type="text" class="form-control" id="alto_her" value="{{=bien['hr_alto']}}" name="alto_her" title="Formato ##.##" placeholder="Altura" >
                                {{pass}}
                                <font color="red"><div id="err_alto_her" hidden></div></font>
                              </div>

                              <div class="form-group" id="grupo-diametro">
                                <label>Diámetro</label>
                                {{if bien['hr_diametro']==None:}}
                                    <input type="text" class="form-control" id="diametro_her" name="diametro_her" title="Formato ##.##" placeholder="Diámetro" >
                                {{else:}}
                                    <input type="text" class="form-control" id="diametro_her" value="{{=bien['hr_diametro']}}" name="diametro_her" title="Formato ##.##" placeholder="Diámetro" >
                                {{pass}}
                                <font color="red"><div id="err_diametro_her" hidden></div></font>
                              </div>
                            {{pass}}

                        {{pass}}

                        </div>
                      </div>

                      <button type="button" class="btn btn-previous botonForm"><i class="fas fa-arrow-left"></i></button>
                      <button type="button" class="btn btn-next botonForm"><i class="fas fa-arrow-right"></i></button>       
                  </fieldset>
                  <!-- Fin tercer paso parte 1-->
                
                  <!--Tercer Paso parte 2-->
                  <fieldset class="formField">
                    <div class="form-bottom" data-step="4" data-title="Tercer Paso">
                      <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                      <div class="col-sm-1 col1Body"> 
                        <span class="step">1</span>
                        <span class="step">2</span>
                        <span class="step activePass">3</span>
                      </div>
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body">
                        <h4 class="titulosForm">Razones de la modificación</h4>                
                        <label>Campos marcados con * son obligatorios.</label>

                        <div class="form-group">
                                <label>Ubicación interna*</label>
                                <input type="text" class="form-control" id="ubicacion_int" name="ubicacion_int" placeholder="Indique estante, anaquel, gaveta, mesón, archivo u otro.*" title="#####.##" value="{{=bien['hr_ubicacion']}}" required>
                                <font color="red"><div id="err_ubicacion_int" hidden></div></font>
                        </div>


                        <div class="form-group">
                                <label>Observaciones</label>
                                <input type="text" class="form-control" id="descripcion_herramientas" name="descripcion_herramientas" value="{{=bien['hr_observacion']}}" placeholder="Observaciones"> 
                                <font color="red"><div id="error-est-descripcion" hidden></div></font>
                        </div>

                        <div class="form-group">
                                <label>Motivo de la modificacion*</label>
                                <input type="text" class="form-control" id="descripcion_modificacion_her" name="descripcion_modificacion_her" placeholder="Describa los campos modificados" required> 
                                <font color="red"><div id="error-est-motivo" hidden></div></font>
                        </div>

                        </div>
                      </div>

                      <button type="button" class="btn btn-previous botonForm"><i class="fas fa-arrow-left"></i></button>
                      <button type="submit button" form="formularioCarga" id="submit" class="btn btn-submit botonForm"><i class="fas fa-pencil-alt"></i></button>
                    </fieldset>    
                  </fieldset>
                  <!-- Fin tercer paso parte 2-->

                <!-- Fin Cuarto Paso -->
              </form>
          </div>
        </div>               
      </div>
    </div>
  </div>
</div>

<!-- Modal añadir un BM nuevo al inventario -->
<div class="modal fade" id="deletebm" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header addHeader">
        <div class="row addRow" id="rowHeader">
          <div class="col-sm-1" id="col1Header">
            <div class="container" id="plus">
              <h1 id="agregar">+</h1>
            </div>
          </div>
          <div class="col-sm-11" id="col11Header">
            <h4 class="modal-title" id="nuevaBien" style="
              text-align: left;
              padding-top: 12px;
              color: white;
            ">Eliminar Bien Mueble<button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
          </div>
        </div>
      </div>
      <!-- Fin Modal Header -->
      
      <!-- Modal Body -->
      <div class="modal-body addBody">
        <div class="row addRow">
          <div class="col-md-12 form-box">
              <form id="formularioCarga" class="registration-form" method="post" onsubmit="return validar_campos()">
 
                <!-- Primer paso-->
                <fieldset class="formField">
                  <div class="form-bottom" data-step="2" data-title="Segundo Paso">
                    <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                    <div class="col-sm-1 col1Body"> 
                      <span class="step activePass">1</span>
                      <span class="step">2</span>
                      <span class="step">3</span>
                    </div>
                    <!-- Aqui va la informacion -->
                    <div class="col-sm-11 col11Body">
                      <h4 class="titulosForm">Características de la herramienta</h4>                
                      <label>Campos marcados con * son obligatorios.</label>


                        <div class="form-group" tag="Formato:">
                            <input type="text" class="form-control" id="nombre" name="nombre" title="Ingrese el nombre del Material" placeholder="Nombre*" value={{=bien['hr_nombre']}} required>
                            <div class="field-error"> <p id="error-nombre"> </p> </div>
                        </div>


                        <div class="form-group">
                            <input type="text" class="form-control" value={{=bien['hr_marca']}} id="marca" name="marca" placeholder="Marca*" required >
                            <div class="field-error"> <p id="error-marca"> </p> </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="modelo" value={{=bien['hr_modelo']}} name="modelo" value="" placeholder="Modelo*" required>
                            <div class="field-error"> <p id="error-modelo"> </p> </div>
                        </div>

                        
                          <div class="form-group">
                            <input type="text" class="form-control" id="Descripcion" value={{=bien['hr_descripcion']}} name="descripcion" placeholder="Descripción*" required>
                            <div class="field-error"> <p id="error-est-descripcion"> </p> </div>
                        </div>

                        
                  </div>
                  <button type="button" class="btn btn-previous botonForm"><i class="fas fa-arrow-left"></i></button>
                  <button type="button" class="btn btn-next botonForm"><i class="fas fa-arrow-right"></i></button>         
                </fieldset>
                <!-- Fin Primer Paso -->
              </form>
          </div>
        </div>               
      </div>
    </div>
  </div>
</div>

<!-- Fin Modal Agregar BM -->


<script type="text/javascript">

        // Funcion para seleccionar valores de los select
        function select_values(){
            // selecciono valor del select de material 1
            var material = document.getElementById("material_mat");
            var otro_material = document.getElementById("otro_material1")
            var value = "{{=bien['hr_material']}}"
            var material_bool = "{{=bien['hr_material'] in material_pred}}"
            if ( material_bool == "True"){
                material.value = value;
            }else{
                material.removeAttribute("name");
                otro_material.setAttribute("name","material_mat");
                material.value = "Otro"
            }
        }

    // dada una cantidad selecciona la unidad
    function seleccionar_unidad(value){
        var unidad = document.getElementById("unidad_cap");
        if (value){
        unidad.required = true;
        }else{
        unidad.required = false;
        }
    }

    // Agregar campo de otro material
    function agregar_otro(id, name, otro_id){
        var id = document.getElementById(id)
        var otro_id = document.getElementById(otro_id)
        if ( id.value === "Otro" ){
        id.removeAttribute("name");
        otro_id.setAttribute("name", name);
        otro_id.type =  "text";
        otro_id.required = true;
        }else{
        otro_id.removeAttribute("name");
        otro_id.type = "hidden";
        id.setAttribute("name",name);
        }
    }

  // Funcion para mostrar campos dependendiendo de la categoria
  function elegir_campos(){
    var selecion = document.getElementById("clasificacion");
    if (selecion.value == "Material de Laboratorio"){
      document.getElementById("unidades").type = 'hidden';
      document.getElementById("unidades").removeAttribute("required", "");
      document.getElementById("total_mat").type = 'hidden';
      document.getElementById("total_mat").removeAttribute("required", "");
      document.getElementById("grupo-presentacion").style.display = 'none';
      document.getElementById("presentacion").removeAttribute("required", "");
      document.getElementById("grupo-aforado").style.display = 'block';
      document.getElementById("grupo-material").style.display = 'block';
      document.getElementById("grupo-material2").style.display = 'block';
      document.getElementById("grupo-unidad").style.display = 'block';
      document.getElementById("calibracion_mat").style.display = 'block';
      document.getElementById("grupo-cap").style.display = 'block';
      document.getElementById("aforado").setAttribute("required", "");
      document.getElementById("calibracion_mat").setAttribute("required", "");
      document.getElementById("material_mat").setAttribute("required", "");
      document.getElementById("grupo-capacidad").style.display = 'block';
      document.getElementById("capacidad").type = 'text';
      document.getElementById("grupo-total").style.display = 'none';

    }
    else{
      document.getElementById("grupo-total").style.display = 'block';
      document.getElementById("grupo-cap").style.display = 'none';
      document.getElementById("grupo-capacidad").style.display = 'none';
      document.getElementById("capacidad").type = 'hidden';
      document.getElementById("grupo-presentacion").style.display = 'block';
      document.getElementById("presentacion").setAttribute("required", "");
      document.getElementById("unidades").type = 'text';
      document.getElementById("unidades").setAttribute("required", "");
      document.getElementById("total_mat").type = 'text';
      document.getElementById("total_mat").setAttribute("required", "");
      document.getElementById("grupo-aforado").style.display = 'none';
      document.getElementById("aforado").removeAttribute("required", "");
      document.getElementById("grupo-material").style.display = 'none';
      document.getElementById("grupo-material2").style.display = 'none';
      document.getElementById("grupo-unidad").style.display = 'none';
      document.getElementById("material_mat").removeAttribute("required", "");
      document.getElementById("calibracion_mat").style.display = 'none';
      document.getElementById("calibracion_mat").removeAttribute("required", "");
    }
  }

    // Mostrar fecha de calibracion
    function display_piezas(value){
    if ( value == "Conjunto" ){
      document.getElementById("numpiezas_her").setAttribute("required", "");
      document.getElementById("contenido_her").setAttribute("required", "");
      document.getElementById("descripcion_her").setAttribute("required", "");
      $('#grupo-piezas').show()
      $('#grupo-contenido').show()
      $('#grupo-descripcion').show()
    }else{
      document.getElementById("numpiezas_her").removeAttribute("required", "");
      document.getElementById("contenido_her").removeAttribute("required", "");
      document.getElementById("descripcion_her").removeAttribute("required", "");
      $('#grupo-piezas').hide()
      $('#grupo-contenido').hide()
      $('#grupo-descripcion').hide()
    }
  }
  // Mostrar unidades
  function display_units(value){
    if ( value == '' ){
      //document.getElementById("unidad_mat").type = 'hidden';
      document.getElementById("ancho_her").type = 'hidden';
      document.getElementById("largo_her").type = 'hidden';
      document.getElementById("alto_her").type = 'hidden';
      document.getElementById("diametro_her").type = 'hidden';
      $('#grupo-ancho').hide()
      $('#grupo-largo').hide()
      $('#grupo-alto').hide()
      $('#grupo-diametro').hide()
    }else{
      //document.getElementById("unidad_mat").type = 'text';
      document.getElementById("ancho_her").type = 'text';
      document.getElementById("largo_her").type = 'text';
      document.getElementById("alto_her").type = 'text';
      document.getElementById("diametro_her").type = 'text';
      $('#grupo-ancho').show()
      $('#grupo-largo').show()
      $('#grupo-alto').show()
      $('#grupo-diametro').show()
    }
  }
  // Valida los campos de la forma en el modal "addbm"
  function validar_campos(){
    // Buscando divs para ingresar mensajes de error
    var error_total = document.getElementById("error-total");
    var error_uso_interno = document.getElementById("error-uso-interno");
    // Limpiando los mensajes anteriores de validadores
    if (error_total.innerText != ''){
      error_total.innerText = '';
    }
    if (error_uso_interno.innerText != ''){
      error_uso_interno.innerText = '';
    }
     
    // Buscando los valores ingresados por el usuario en cada campo
    var total = document.forms['formularioCarga']['total'].value;
    var uso_interno = document.forms['formularioCarga']['uso_interno'].value;
    // Mensajes de error
    var mensaje_error_tipo = "Por favor ingrese un valor numérico. Por ejemplo \"2.5\"";
    var mensaje_error_negativo = "Por favor ingrese un valor no negativo.";
    var mensaje_error_nulo = "Por favor ingrese un valor mayor a cero.";
    var mensaje_error_uso_interno = "Por favor ingrese un valor inferior o igual a la cantidad en existencia.";
    /* Validando el campo total (cantidad total de la sustancia en el inventario) */
    if (!is_number(total)) {
      error_total.innerText = mensaje_error_tipo;
      return false;
    }
    
    if (is_negative(total)) {
      error_total.innerText = mensaje_error_negativo;
      return false;
    }
    if (is_zero(total)) {
      error_total.innerText = mensaje_error_nulo;
      return false;
    }
    /* Validando el campo uso_interno */
    if (!is_number(uso_interno)) {
      error_uso_interno.innerText = mensaje_error_tipo;
      return false;
    }
    
    if (is_negative(uso_interno)) {
      error_uso_interno.innerText = mensaje_error_negativo;
      return false;
    }
    // La cantidad de sustancia para uso interno no puede ser mayor al total
    if (uso_interno > total) {
      error_uso_interno.innerText = mensaje_error_uso_interno;
      return false;
    }
  }
  // True si "n" es un numero
  function is_number(n){
    return !isNaN(n);
  }
  // True si "n" es negativo
  function is_negative(n){
    return (n < 0)
  }
  // True si "n" es cero
  function is_zero(n){
    return (n == 0)
  }
  function placeholder_total(value){
    var x = document.getElementById("unidades");
    var y = document.getElementById("cantidad_mat");
    var z = document.getElementById("total_mat");
    z.placeholder=y.value*x.value
    z.value=y.value*x.value
  }
  function colocar_subcategoria(value){
    var dict = {
        'Maquinaria Construcción':
            ["Maquinaria y equipos de construcción y mantenimiento",
            "Maquinarias y equipos para mantenimiento de automotores",
            "Maquinarias y equipos agrícolas y pecuarios",
            "Maquinarias y equipos de artes gráficas y reproducción",
            "Maquinarias y equipos industriales y de taller",
            "Maquinarias y equipos de energía",
            "Maquinarias y equipos de riego y acueductos",
            "Equipos de almacen",
            "Otras maquinarias y demás equipos de construcción, campo, industria y taller"],
        "Equipo Transporte":
            ["Vehículos automotores terrestres",
            "Equipos ferroviarios y de cables aéreos",
            "Equipos marítimos de transporte",
            "Equipos aéreos de transporte",
            "Vehículos de tracción no motorizados",
            "Equipos auxiliares de transporte",
            "Otros equipos de transporte, tracción y elevación"],
        "Equipo Comunicaciones":
            ["Equipos de telecomunicaciones",
            "Equipos de señalamiento",
            "Equipos de control de tráfico aéreo",
            "Equipos de correo",
            "Otros equipos de comunicaciones y de señalamiento"],
        "Equipo Médico":
            ["Equipos médicos - quirúrgicos, dentales y veterinarios",
            "Otros Equipos médicos - quirúrgicos, dentales y veterinarios"],
        "Equipo Científico Religioso":
            ["Equipos científicos y de laboratorio",
            "Equipos de enseñanza, deporte y recreación",
            "Obras de arte",
            "Libros y revistas",
            "Equipos religiosos",
            "Instrumentos musicales",
            "Otros equipos científicos, religiosos, de enseñanza y recreación"],
        "Equipo Oficina" : 
            ["Mobiliario y equipos de oficina",
            "Equipos de procesamiento de datos",
            "Mobiliario y equipos de alojamiento",
            "Otras máquinas, muebles y demás equipos de oficina y de alojamiento"]};
  var n = 1;
  var x;
  var y = document.getElementById("numRegistro2");
  if (value != ""){
    for (var i in dict[value]){
      x = document.getElementById("Opcion".concat(n.toString()));
      x.innerText = dict[value][i];
      x.style.display= "block";
      $('#Opcion'.concat(n.toString())).html(dict[value][i]);
      $('#Opcion'.concat(n.toString())).show();
      x.value = dict[value][i];
      n = n + 1;  
    }
    while (n <= 9){
      x = document.getElementById("Opcion".concat(n.toString()));
      //x.innerText = "";
      //x.style.display = "none";
      $('#Opcion'.concat(n.toString())).hide();
      $('#Opcion'.concat(n.toString())).html("");
      x.value = "";
      n = n +1;
      
    }
    
  }
}
</script>
<script type="text/javascript">
    $('.tab-link').click( function() {
        
        var tabID = $(this).attr('data-tab');
        
        $(this).addClass('active').siblings().removeClass('active');
        
        $('#tab-'+tabID).addClass('active').siblings().removeClass('active');
    });
      
</script>