<!-- Contiene la seccion del listado de sustancias cuando se visita un espacio fisico especifico -->

  <!-- Estilo del listado de Solicitudes de Servicios -->



<!-- Inicio Boton Agregar BM -->
<!--
<div class="container" id="containerAgregar">
    <div class="row">
        <div class="col-sm-6"></div>
        <div id="columnBotonAgregar" class="col-sm-6">
	        <div class="col-sm-6"></div>
	        <div class="col-sm-6">
	            <button type="button" id="botonAgregar" class="btn botonesListado" data-toggle="modal" data-target="#addbm">Agregar Material</button>
	        </div>
        </div>
    </div>
</div>
-->
<!-- Fin Boton Agregar Sustancia -->
<!-- Inicio Listado de sustancias -->
<div class="container">
<div class="row">

    <div>
        <button class="dt-button btn boton-sigulabPlus" title="Agregar Nueva Herramienta" style="height: 50px; width: 50px; font-size: 13pt;" id='botonModal' data-toggle="modal" data-target="#addbm"><i class="fa fa-plus"></i></button>  
    </div>

    <br><br>

    <br><br>
    <div id="buttons">
      <!-- Filtrado -->
      <!-- Filtrado -->    
    </div>
    <br>

    <div class="table-responsive no-padding no-margin">
      <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
        <thead>
            <tr id="titulosListado">
                <th class="camposTabla linksNombres">Nombre</th>
                <th class="camposTabla linksNombres">Nro de BM</th>
                <th class="camposTabla linksNombres">Presentación</th>
                <th class="camposTabla linksNombres">Número de piezas</th>
                <th class="camposTabla linksNombres">Ubicación interna</th>

                <!--<th class="camposTabla linksNombres">Estatus</th>-->
            </tr>
        </thead>

        <tbody>
          {{for bm in inventario:}}
            <tr>
                <td class="camposTabla"> <a href="{{=URL('detalles_herramientas', vars=dict(espacio=bm['hr_espacio_fisico'], nombreHer = bm['hr_nombre'], ubicacion = bm['hr_ubicacion'], cat = '2'))}}">{{=bm['hr_nombre']}}</a></td>
                <td class="camposTabla">{{=bm['hr_num']}}</td>
                <td class="camposTabla">{{=bm['hr_presentacion']}}</td>
                <td class="camposTabla">{{=bm['hr_numpiezas']}}</td>
                <td class="camposTabla">{{=bm['hr_ubicacion']}}</td>

            </tr>
          {{pass}}           
        </tbody>

        <tfoot id="collapseFiltros">
          <th class="camposTabla linksNombres">Nombre</th>
          <th class="camposTabla linksNombres">Nro de BM</th>
          <th class="camposTabla linksNombres">Presentación</th>
          <th class="camposTabla linksNombres">Número de piezas</th>
          <th class="camposTabla linksNombres">Ubicación interna</th>
          <!--<th class="camposTabla linksNombres">Estatus</th>-->
            </tr>
        </tfoot>

      </table>
    </div>
  </div>
</div>  
<!-- Fin Listado de sustancias --> 

<!-- Ajax abrirFicha para mostrar la informacion de la sustancia seleccionada con un modal -->

<!-- Modal añadir un BM nuevo al inventario -->
<div class="modal fade" id="addbm" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header addHeader">
        <div class="row addRow" id="rowHeader">
          <div class="col-sm-1" id="col1Header">
            <div class="container" id="plus">
              <h1 id="agregar">+</h1>
            </div>
          </div>
          <div class="col-sm-11" id="col11Header">
            <h4 class="modal-title" id="nuevaBien" style="
              text-align: left;
              padding-top: 12px;
              color: white;
            ">Herramienta<button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
          </div>
        </div>
      </div>
      <!-- Fin Modal Header -->
      
      <!-- Modal Body -->
      <div class="modal-body addBody">
        <div class="row addRow">
          <div class="col-md-12 form-box">
              <form id="formularioCarga" class="registration-form" method="post" onsubmit="return validar_campos()">


                
                <!-- Primer paso-->
                <fieldset class="formField">
                  <div class="form-bottom" data-step="1" data-title="Segundo Paso">
                    <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                    <div class="col-sm-1 col1Body"> 
                      <span class="step activePass">1</span>
                      <span class="step">2</span>
                      <span class="step">3</span>
                    </div>
                    <!-- Aqui va la informacion -->
                    <div class="col-sm-11 col11Body">
                      <h4 class="titulosForm">Características de la Herramienta</h4>                
                      <label>Campos marcados con * son obligatorios.</label>

                      <div class="form-group" hidden>
                        <label>Seleccione la clasificación de la Herramienta*</label>
                        <select class="form-control" type="select" id="clasificacion" name="clasificacion" placeholder="Clasificación" required>
                          <option value="">Seleccione una opción</option>
                          <option value="Material de Laboratorio" selected >Herramienta</option>
                          <option value="Herramienta">Herramienta</option>
                        </select>
                        <div class="field-error"> <p id="error-clasificacion"></p></div>
                      </div>

                        <div class="form-group" tag="Formato:">
                            <label>Nombre de la herramienta*</label>
                            <input type="text" class="form-control" id="nombre_her" name="nombre_her" title="Nombre de la herramienta" placeholder="Nombre de la herramienta*" required>
                            <div class="field-error"> <p id="err_nombre_her"> </p> </div>
                        </div>

                        <div class="form-group">
                            <label>Número de Bien Nacional</label>
                            <input type="text" class="form-control" id="num_her" name="num_her" placeholder="Número de Bien Nacional" title="Formato: ###### (6 dígitos)">
                            <font color="red"><div id="err_num_her" hidden></div></font>
                        </div>

                        <div class="form-group">
                            <label>Marca</label>
                            <input type="text" class="form-control"  id="marca_her" name="marca_her" placeholder="Marca">
                            <div class="field-error"> <p id="error-marca_her"> </p> </div>
                        </div>

                        <div class="form-group">
                            <label>Modelo/Código</label>
                            <input type="text" class="form-control" id="modelo_her" name="modelo_her" value="" placeholder="Modelo/Código">
                            <div class="field-error"> <p id="error_modelo_her"> </p> </div>
                        </div>

                        <div class="form-group">
                            <label>Serial</label>
                            <input type="text" class="form-control" id="serial_her" name="serial_her" value="" placeholder="Serial">
                            <div class="field-error"> <p id="error_serial_her"> </p> </div>
                        </div>
                           
                    </div>
                  </div>
                  <button type="button" class="btn btn-next botonForm"><i class="fas fa-arrow-right"></i></button>         
                </fieldset>
                <!-- Fin Segundo Paso -->

                <!-- Tercer paso Parte 3-->
                <fieldset class="formField">
                    <div class="form-bottom" data-step="2" data-title="Tercer Paso">
                      <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                      <div class="col-sm-1 col1Body"> 
                        <span class="step">1</span>
                        <span class="step activePass">2</span>
                        <span class="step">3</span>
                      </div>
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body">
                        <h4 class="titulosForm">Características de la herramienta</h4>                
                        <label>Campos marcados con * son obligatorios.</label>
  
                        
                        <div class="form-group" id="grupo-presentacion">
                                <label>Presentación</label>
                                <select class="form-control" value="" type="select" id="presentacion" name="presentacion" placeholder="Presentación" onchange="display_piezas(this.value)" required >
                                  <option value="">Seleccione una presentación*</option>
                                  {{ for med in presentacion:}}
                                  <option value="{{=med}}">{{=med}}</option>
                                  {{pass}}
                                </select>
                                <div class="field-error"> <p id="error-unidad" > </p> </div>
                        </div>

                        <div class="form-group" id="grupo-piezas" hidden>
                            <label>Número de piezas*</label>
                            <input type="text" class="form-control"  id="numpiezasher" name="numpiezasher" placeholder="Número de piezas*" >
                            <div class="field-error"> <p id="err_numpiezasher"> </p> </div>
                        </div>

                        <div class="form-group" id="grupo-contenido" hidden>
                            <label>Contenido*</label>
                            <input type="text" class="form-control"  id="contenido_her" name="contenido_her" placeholder="Listar piezas que componen el conjunto de herramientas*">
                            <div class="field-error"> <p id="error-contenido_her"> </p> </div>
                        </div>

                        <div class="form-group" id="grupo-descripcion" hidden>
                            <label>Descripción*</label>
                            <input type="text" class="form-control" id="descripcion_her" name="descripcion_her" placeholder="Especificar dónde se encuentran contenidas las piezas*" >
                            <div class="field-error"> <p id="error_descripcion"> </p> </div>
                        </div>
                        
                        <div class="form-group" id="grupo-material">
                              <label>Material</label>
                              <select class="form-control" type="select" id="material_mat" name="material_mat" placeholder="Material predominante" 
                              onchange="agregar_otro('material_mat', 'material_mat', 'otro_material1')" required>
                                <!-- Insertar un for-->
                                <option type="text" value="">Seleccione un material*</option>
                                {{ for material in material_pred: }}
                                <option value="{{=material}}">{{=material}}</option>
                                {{pass}}
                              </select>
                              <div class="field-error"> <p id="error-material"> </p> </div>
                        </div>

                        <div class="form-group">
                            <input type="hidden" class="form-control"  id="otro_material1" placeholder="Material*">
                            <div class="field-error"> <p id="error-material"> </p> </div>
                        </div>

                        </div>
                      </div>
                    <button type="button" class="btn btn-previous botonForm"><i class="fas fa-arrow-left"></i></button>
                    <button type="button" class="btn btn-next botonForm"><i class="fas fa-arrow-right"></i></button>       
                  </fieldset>
                  <!-- Fin tercer Paso -->


                <!--Tercer Paso parte 2-->
                <fieldset class="formField">
                    <div class="form-bottom" data-step="3" data-title="Tercer Paso">
                      <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                      <div class="col-sm-1 col1Body"> 
                        <span class="step">1</span>
                        <span class="step">2</span>
                        <span class="step activePass">3</span>
                      </div>
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body">
                        <h4 class="titulosForm">Características de la herramienta</h4>                
                        <label>Campos marcados con * son obligatorios.</label>

                        

                        <div class="form-group">
                            <label>Dimensiones</label>
                          <select class="form-control" value="" type="select" id="unidad" name="unidad" placeholder="Unidad de medida" onchange="display_units(this.value);">
                            <option value="">Selecione una unidad</option>
                            {{ for med in unidad_med:}}
                            <option value="{{=med}}">{{=med}}</option>
                            {{pass}}
                          </select>
                          <div class="field-error"> <p id="error-unidad" > </p> </div>
                        </div>

                        <div class="form-group" id="grupo-ancho" hidden>
                            <label>Ancho</label>
                          <input type="hidden" class="form-control" id="ancho" name="ancho" title="Formato ##.##" placeholder="Ancho">
                          <font color="red"><div id="errancho" hidden></div></font>
                        </div>


                        <div class="form-group" id="grupo-largo" hidden>
                          <label>Largo</label>
                          <input type="hidden" class="form-control" id="largo_her" name="largo_her" title="Formato ##.##" placeholder="Largo" >
                          <font color="red"><div id="err_largo_her" hidden></div></font>
                        </div>

                        <div class="form-group" id="grupo-alto" hidden>
                          <label>Altura</label>
                          <input type="hidden" class="form-control" id="alto_her" name="alto_her" title="Formato ##.##" placeholder="Altura" >
                          <font color="red"><div id="err_alto_her" hidden></div></font>
                        </div>

                        <div class="form-group" id="grupo-diametro" hidden>
                          <label>Diámetro</label>
                          <input type="hidden" class="form-control" id="diametro_her" name="diametro_her" title="Formato ##.##" placeholder="Diámetro" >
                          <font color="red"><div id="err_diametro_her" hidden></div></font>
                        </div>

                        </div>
                      </div>

                      <button type="button" class="btn btn-previous botonForm"><i class="fas fa-arrow-left"></i></button>
                      <button type="button" class="btn btn-next botonForm"><i class="fas fa-arrow-right"></i></button>
                  </fieldset>
                  <!-- Fin tercer paso-->

                  <!--Tercer Paso parte 2-->
                <fieldset class="formField">
                  <div class="form-bottom" data-step="4" data-title="Tercer Paso">
                    <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                    <div class="col-sm-1 col1Body"> 
                      <span class="step">1</span>
                      <span class="step">2</span>
                      <span class="step activePass">3</span>
                    </div>
                    <!-- Aqui va la informacion -->
                    <div class="col-sm-11 col11Body">
                      <h4 class="titulosForm">Características de la herramienta</h4>                
                      <label>Campos marcados con * son obligatorios.</label>

                      <label>Ubicación interna*</label>
                      <div class="form-group">
                              <input type="text" class="form-control" id="ubicacion_int" name="ubicacion_int" placeholder="Indique estante, anaquel, gaveta, mesón, archivo u otro.*" title="#####.##"   required>
                              <font color="red"><div id="err_ubicacion_int" hidden></div></font>
                      </div>

                      <div class="form-group">
                          <label>Observaciones</label>
                          <input type="text" class="form-control" id="descripcion_herramientas" name="descripcion_herramientas" placeholder="Observaciones">
                          <div class="field-error"> <p id="error-est-descripcion"> </p> </div>
                      </div>

                      </div>
                    </div>

                    <button type="button" class="btn btn-previous botonForm"><i class="fas fa-arrow-left"></i></button>
                    <button type="submit button" form="formularioCarga" id="submit" class="btn btn-submit botonForm"><i class="fas fa-plus"></i></button>                </fieldset>    
                </fieldset>

                <!-- Fin Cuarto Paso -->
              </form>
          </div>
        </div>               
      </div>
    </div>
  </div>
</div>

<!-- Fin Modal Agregar BM -->

<!-- *!* Falta verificar que se esten llenando todos los campos dependiendo 
del concepto y tipo de ingreso o egreso -->

<script type="text/javascript">

  // dada una cantidad selecciona la unidad
  function seleccionar_unidad(value){
    var unidad = document.getElementById("unidad_cap");
    if (value){
      unidad.required = true;
    }else{
      unidad.required = false;
    }
  }

  // Agregar campo de otro material
  function agregar_otro(id, name, otro_id){
    var id = document.getElementById(id)
    var otro_id = document.getElementById(otro_id)
    if ( id.value === "Otro" ){
      id.removeAttribute("name");
      otro_id.setAttribute("name", name);
      otro_id.type =  "text";
      otro_id.required = true;
    }else{
      otro_id.removeAttribute("name");
      otro_id.type = "hidden";
      id.setAttribute("name",name);
    }
  }

  // Funcion para mostrar campos dependendiendo de la categoria
  function elegir_campos(){
  }

  // Mostrar fecha de calibracion
  function display_piezas(value){
    if ( value == "Conjunto" ){
      document.getElementById("grupo-piezas").style.display = 'block';
      document.getElementById("numpiezasher").setAttribute("required", "");
      document.getElementById("grupo-contenido").style.display = 'block';
      document.getElementById("contenido_her").setAttribute("required", "");
      document.getElementById("grupo-descripcion").style.display = 'block';
      document.getElementById("descripcion_her").setAttribute("required", "");
    }else{
      document.getElementById("grupo-piezas").style.display = 'none';
      document.getElementById("numpiezasher").removeAttribute("required", "");
      document.getElementById("grupo-contenido").style.display = 'none';
      document.getElementById("contenido_her").removeAttribute("required", "");
      document.getElementById("grupo-descripcion").style.display = 'none';
      document.getElementById("descripcion_her").removeAttribute("required", "");
    }
  }

    // Mostrar unidades
    function display_units(value){
    if ( value == '' ){
      document.getElementById("unidad").type = 'hidden';
      document.getElementById("ancho").type = 'hidden';
      document.getElementById("largo_her").type = 'hidden';
      document.getElementById("alto_her").type = 'hidden';
      document.getElementById("diametro_her").type = 'hidden';
      $('#grupo-ancho').hide()
      $('#grupo-largo').hide()
      $('#grupo-alto').hide()
      $('#grupo-diametro').hide()
    }else{
      document.getElementById("unidad").type = 'text';
      document.getElementById("ancho").type = 'text';
      document.getElementById("largo_her").type = 'text';
      document.getElementById("alto_her").type = 'text';
      document.getElementById("diametro_her").type = 'text';
      $('#grupo-ancho').show()
      $('#grupo-largo').show()
      $('#grupo-alto').show()
      $('#grupo-diametro').show()
    }
  }
  // Valida los campos de la forma en el modal "addbm"
  function validar_campos(){
    // Buscando divs para ingresar mensajes de error
    var error_total = document.getElementById("error-total");
    var error_uso_interno = document.getElementById("error-uso-interno");
    // Limpiando los mensajes anteriores de validadores
    if (error_total.innerText != ''){
      error_total.innerText = '';
    }
    if (error_uso_interno.innerText != ''){
      error_uso_interno.innerText = '';
    }
     
    // Buscando los valores ingresados por el usuario en cada campo
    var total = document.forms['formularioCarga']['total'].value;
    var uso_interno = document.forms['formularioCarga']['uso_interno'].value;
    // Mensajes de error
    var mensaje_error_tipo = "Por favor ingrese un valor numérico. Por ejemplo \"2.5\"";
    var mensaje_error_negativo = "Por favor ingrese un valor no negativo.";
    var mensaje_error_nulo = "Por favor ingrese un valor mayor a cero.";
    var mensaje_error_uso_interno = "Por favor ingrese un valor inferior o igual a la cantidad en existencia.";
    /* Validando el campo total (cantidad total de la sustancia en el inventario) */
    if (!is_number(total)) {
      error_total.innerText = mensaje_error_tipo;
      return false;
    }
    
    if (is_negative(total)) {
      error_total.innerText = mensaje_error_negativo;
      return false;
    }
    if (is_zero(total)) {
      error_total.innerText = mensaje_error_nulo;
      return false;
    }
    /* Validando el campo uso_interno */
    if (!is_number(uso_interno)) {
      error_uso_interno.innerText = mensaje_error_tipo;
      return false;
    }
    
    if (is_negative(uso_interno)) {
      error_uso_interno.innerText = mensaje_error_negativo;
      return false;
    }
    // La cantidad de sustancia para uso interno no puede ser mayor al total
    if (uso_interno > total) {
      error_uso_interno.innerText = mensaje_error_uso_interno;
      return false;
    }
  }
  // True si "n" es un numero
  function is_number(n){
    return !isNaN(n);
  }
  // True si "n" es negativo
  function is_negative(n){
    return (n < 0)
  }
  // True si "n" es cero
  function is_zero(n){
    return (n == 0)
  }
  function placeholder_total(value){
    var x = document.getElementById("unidades");
    var y = document.getElementById("cantidad_mat");
    var z = document.getElementById("total_mat");
    z.placeholder=y.value*x.value
    z.value=y.value*x.value
  }
  function colocar_subcategoria(value){
    var dict = {
		'Maquinaria Construcción':
			["Maquinaria y equipos de construcción y mantenimiento",
			"Maquinarias y equipos para mantenimiento de automotores",
			"Maquinarias y equipos agrícolas y pecuarios",
			"Maquinarias y equipos de artes gráficas y reproducción",
			"Maquinarias y equipos industriales y de taller",
			"Maquinarias y equipos de energía",
			"Maquinarias y equipos de riego y acueductos",
			"Equipos de almacen",
			"Otras maquinarias y demás equipos de construcción, campo, industria y taller"],
		"Equipo Transporte":
			["Vehículos automotores terrestres",
			"Equipos ferroviarios y de cables aéreos",
			"Equipos marítimos de transporte",
			"Equipos aéreos de transporte",
			"Vehículos de tracción no motorizados",
			"Equipos auxiliares de transporte",
			"Otros equipos de transporte, tracción y elevación"],
		"Equipo Comunicaciones":
			["Equipos de telecomunicaciones",
			"Equipos de señalamiento",
			"Equipos de control de tráfico aéreo",
			"Equipos de correo",
			"Otros equipos de comunicaciones y de señalamiento"],
		"Equipo Médico":
			["Equipos médicos - quirúrgicos, dentales y veterinarios",
			"Otros Equipos médicos - quirúrgicos, dentales y veterinarios"],
		"Equipo Científico Religioso":
			["Equipos científicos y de laboratorio",
			"Equipos de enseñanza, deporte y recreación",
			"Obras de arte",
			"Libros y revistas",
			"Equipos religiosos",
			"Instrumentos musicales",
			"Otros equipos científicos, religiosos, de enseñanza y recreación"],
		"Equipo Oficina" : 
			["Mobiliario y equipos de oficina",
			"Equipos de procesamiento de datos",
			"Mobiliario y equipos de alojamiento",
			"Otras máquinas, muebles y demás equipos de oficina y de alojamiento"]};
  var n = 1;
  var x;
  var y = document.getElementById("numRegistro2");
  if (value != ""){
    for (var i in dict[value]){
      x = document.getElementById("Opcion".concat(n.toString()));
      x.innerText = dict[value][i];
      x.style.display= "block";
      $('#Opcion'.concat(n.toString())).html(dict[value][i]);
      $('#Opcion'.concat(n.toString())).show();
      x.value = dict[value][i];
      n = n + 1;  
    }
    while (n <= 9){
      x = document.getElementById("Opcion".concat(n.toString()));
      //x.innerText = "";
      //x.style.display = "none";
      $('#Opcion'.concat(n.toString())).hide();
      $('#Opcion'.concat(n.toString())).html("");
      x.value = "";
      n = n +1;
      
    }
    
  }
}
</script>