<!-- Contiene la seccion del listado de sustancias cuando se visita una dependencia -->

<!-- Inicio Listado de sustancias -->
<div id="inventario-dependencia" class="container">
<div class="row">
    <br>
    <div id="buttons">
      <!-- Filtrado -->
      <!-- Filtrado -->    
    </div>
    <br>

    <div class="table-responsive no-padding no-margin">
      <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
        <thead>
            <tr id="titulosListado">
                <th class="camposTabla linksNombres">Nombre</th>
                <th class="camposTabla linksNombres">N° BM</th>
                <th class="camposTabla linksNombres">Placa</th>
                <th class="camposTabla linksNombres">Tipo</th>
                <th class="camposTabla linksNombres">Dependencia</th>
                <th class="camposTabla linksNombres">Estatus</th>
                <!-- <th class="camposTabla linksNombres">Estatus</th> -->
            </tr>
        </thead>
        <tbody>
          {{for bm in inventario:}}
            <tr>
                <td class="camposTabla"> <a href="{{=URL('detalles', vars=dict(bm=bm['bm_num']))}}">{{=bm['bm_nombre']}}</a></td>
                <!-- *!* Colocar anchor a la entrada del  bm en el catalogo de bm -->
                <td class="camposTabla">{{=bm['bm_num']}}</td>
                <td class="camposTabla">{{=bm['bm_placa']}}</td>
                <td class="camposTabla">{{=bm['bm_clasificacion']}}</td>
                <td class="camposTabla">{{=db(db.dependencias.id == bm['bm_depedencia']).select().first().nombre}}</td>
                <td class="camposTabla">{{=bm['bm_estatus']}}</td>
            </tr>
          {{pass}}           
        </tbody>

        <tfoot id="collapseFiltros">
            <tr>
              <th class="camposTabla linksNombres">Nombre</th>
              <th class="camposTabla linksNombres">N° BM</th>
              <th class="camposTabla linksNombres">Placa</th>
              <th class="camposTabla linksNombres">Tipo</th>
              <th class="camposTabla linksNombres">Dependencia</th>
              <th class="camposTabla linksNombres">Estatus</th>
              <!-- <th class="camposTabla linksNombres">Estatus</th> -->
            </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>  
<!-- Fin Listado de inventario -->