<!-- Contiene la seccion del listado de sustancias cuando se visita un espacio fisico especifico -->

<!-- Inicio Boton Agregar Sustancia -->
<div class="container" id="containerAgregar">
    <div class="row">
        <div class="col-sm-6"></div>
        <div id="columnBotonAgregar" class="col-sm-6">
	        <div class="col-sm-6"></div>
	        <div class="col-sm-6">
	            <!-- Boton que lleva al modal --> <!-- Cambiar data-target="#addservice por el id de la forma de la sustancia -->
	            <button type="button" id="botonAgregar" class="btn botonesListado" data-toggle="modal" data-target="#addsustancia">Agregar Bien</button>
	        </div>
        </div>
    </div>
</div>
<!-- Fin Boton Agregar Sustancia -->

<!-- Inicio Listado de sustancias -->
<div class="container">
<div class="row">
  <h3> Inventario </h3>

    <div id="buttons">
      <!-- Filtrado -->
        <button type="button" id="filtrar" onclick="mostrarFiltro()" class="btn btn-default buttons-pdf buttons-html5">Filtrado</button>
      <!-- Filtrado -->    
    </div>
    <br>

    <div class="table-responsive no-padding no-margin">
      <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
        <thead>
            <tr id="titulosListado">
                <th class="camposTabla linksNombres">Nombre</th>
                <th class="camposTabla linksNombres">CAS</th>
                <th class="camposTabla linksNombres">Estado</th>
                <th class="camposTabla linksNombres">Uso interno</th>
                <th class="camposTabla linksNombres">Excedente</th>
                <th class="camposTabla linksNombres">Total</th>
                <th class="camposTabla linksNombres">Unidad</th>
            </tr>
        </thead>

        <tbody>
          {{for sustancia in inventario:}}
            {{sust = sustancia['t_Sustancia']}}
            {{inv = sustancia['t_Inventario']}}
            {{unid = sustancia['t_Unidad_de_medida']}}
            <tr>
                <td class="camposTabla">
                  <a href="{{=URL('bitacora',vars=dict(inv=inv.id))}}">{{=sust.f_nombre}}</a>
                </td>
                <!-- Colocar anchor a la entrada de la sustancia en el catalogo de sustancias -->
                <td class="camposTabla">{{=sust.f_cas if sust.f_estado else ''}}</td>
                <td class="camposTabla">{{=sust.f_estado[0] if sust.f_estado else ''}}</td>
                <td class="camposTabla">{{=inv.f_uso_interno}}</td>
                <td class="camposTabla">{{=float(inv.f_existencia) - float(inv.f_uso_interno)}}</td>
                <td class="camposTabla">{{=inv.f_existencia}}</td>
                <td class="camposTabla">{{=unid.f_nombre}}</td>
            </tr>
          {{pass}}           
        </tbody>

        <tfoot id="collapseFiltros">
            <tr>
                <th class="camposTabla linksNombres">Nombre</th>
                <th class="camposTabla linksNombres">CAS</th>
                <th class="camposTabla linksNombres">Estado</th>
                <th class="camposTabla linksNombres">Uso interno</th>
                <th class="camposTabla linksNombres">Excedente</th>
                <th class="camposTabla linksNombres">Total</th>
                <th class="camposTabla linksNombres">Unidad</th>
            </tr>
        </tfoot>

      </table>
    </div>
  </div>
</div>  
<!-- Fin Listado de sustancias --> 

<!-- Ajax abrirFicha para mostrar la informacion de la sustancia seleccionada con un modal -->

<!-- Modal añadir una sustancia nueva al inventario -->
<div class="modal fade" id="addsustancia" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header addHeader">
        <div class="row addRow" id="rowHeader">
          <div class="col-sm-1" id="col1Header">
            <div class="container" id="plus">
              <h1 id="agregar">+</h1>
            </div>
          </div>
          <div class="col-sm-11" id="col11Header">
            <h4 class="modal-title" id="nuevaBien">Bien Mueble <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
          </div>
        </div>
      </div>
      <!-- Fin Modal Header -->
      
      <!-- Modal Body -->
      <div class="modal-body addBody">
        <div class="row addRow">
          <div class="col-md-12 form-box">
              <form id="formularioCarga" class="registration-form" method="post" onsubmit="return validar_campos()">

                <!-- Primer Paso -->
                <fieldset class="formField">
                  <div class="form-bottom">
                    <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                    <div class="col-sm-1 col1Body"> 
                      <span class="step activePass">1</span>
                      <span class="step">2</span>
                      <span class="step">3</span>
                      <span class="step">4</span>
                    </div>
                    <!-- Aqui va la informacion -->
                    <div class="col-sm-11 col11Body">
                      <h4 class="titulosForm">Datos de ingreso</h4>                
                      <label>Campos marcados con * son obligatorios.</label>


                        <div class="form-group">
                          <input type="text" class="form-control" name="nombre" placeholder="Nombre*" required>
                          <div class="field-error"> <p id="error-nombre"> </p> </div>
                        </div>
                        
                        <div class="form-group">
                            <input type="text" class="form-control" name="no_bien" placeholder="Número de Bien Nacional*" required>
                            <div class="field-error"> <p id="error-no_bien"> </p> </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" placeholder="Ubicacion Predeterminada*" value="Ubicacion Predeterminada" required readonly>
                            <div class="field-error"> <p id="error-nombre"> </p> </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="marca" placeholder="Marca" >
                            <div class="field-error"> <p id="error-marca"> </p> </div>
                          </div>

                          <div class="form-group">
                              <input type="text" class="form-control" name="modelo" value="" placeholder="Modelo">
                              <div class="field-error"> <p id="error-modelo"> </p> </div>
                          </div>

                        <div class="form-group">
                          <input type="text" class="form-control" name="serial" placeholder="Serial">
                          <div class="field-error"> <p id="error-serial"> </p> </div>
                        </div>
                        
                        <div class="field-error"> <p id="error-unidad"> </p> </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-next botonForm">Siguiente</button>         
                </fieldset>
                <!-- Fin Primer Paso -->

                <!-- Comienzo Segundo Paso-->
                <fieldset class="formField">
                    <div class="form-bottom" data-step="2" data-title="Segundo Paso">
                      <!-- Aqui va la barra lateral -->
                      <div class="col-sm-1 col1Body">
                        <span class="step">1</span>
                        <span class="step activePass">2</span>
                        <span class="step">3</span>
                          <span class="step">4</span>
                      </div>
  
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body" style="padding-top: 50px">
                      <h4 class="titulosForm">Información sobre el Uso</h4>
                        
                      <div class="form-group">
                          <select class="form-control" type="select" id="estado_uso" name="Estado de Uso" required>
                            <option value="valor0" selected hidden >En uso*</option>
                            <option value="valor1">En Desuso</option>
                            <option value="valor2">Falta manteniento</option>
                          </select>
                          <div class="field-error"> <p id="error-estado-uso"> </p> </div>
                        </div>

                      <div class="form-group">
                          <input type="text" class="form-control" name="est-conservacion" placeholder="Estado de conservación" >
                          <div class="field-error"> <p id="error-est-conservacion"> </p> </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="descripcion" placeholder="Descripción" >
                            <div class="field-error"> <p id="error-est-conservacion"> </p> </div>
                          </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-previous botonForm">Anterior</button>
                    <button type="button" class="btn btn-next botonForm">Siguiente</button>
                </fieldset>
                <!-- Fin Segundo Paso -->

                <!-- Comienzo Tercer Paso-->
                <fieldset class="formField">
                    <div class="form-bottom" data-step="3" data-title="Segundo Paso">
                      <!-- Aqui va la barra lateral -->
                      <div class="col-sm-1 col1Body">
                        <span class="step">1</span>
                        <span class="step">2</span>
                        <span class="step activePass">3</span>
                          <span class="step">4</span>
                      </div>
  
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body" style="padding-top: 50px">
                      <h4 class="titulosForm">Categorización</h4>
                        
                      <div class="form-group">
                          <select class="form-control" type="select" id="estado_uso" name="Material" placeholder="Material predominante" required>
                            <!-- Insertar un for-->
                            <option value="" disabled selected>Selecione un material</option>
                            <option value="plastico">Plastico</option>
                            <option value="vidrio">Vidrio</option>
                            <option value="madera">Madera</option>
                          </select>
                          <div class="field-error"> <p id="error-material"> </p> </div>
                        </div>

                      <div class="form-group">
                          <select class="form-control" type="select" id="color" name="color" placeholder="Color*" required>
                              <!-- Insertar aqui un for-->
                              <option value="" disabled selected>Selecciona un color</option>
                              <option value="Azul">Azul</option>
                              <option value="Verde">Verde</option>
                              <option value="Rojo">Rojo</option>
                            </select>
                          <div class="field-error"> <p id="error-color"> </p> </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="fecha-calibracion" placeholder="Fecha de la Última calibración (dd/mm/aaaa)" >
                            <div class="field-error"> <p id="error-calibracion"> </p> </div>
                          </div>

                          <div class="form-group">
                              <input type="text" class="form-control" name="duracion" placeholder="Duracion (Meses)" >
                              <div class="field-error"> <p id="error-duracion"> </p> </div>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="fecha-vencimiento" placeholder="Fecha vencimiento" >
                                <div class="field-error"> <p id="error-fecha-vencimiento"> </p> </div>
                              </div>

                              <div class="form-group">
                                  <input type="text" class="form-control" name="vida-util" placeholder="Vida útil" >
                                  <div class="field-error"> <p id="error-vida-util"> </p> </div>
                                </div>

                            
                      </div>
                    </div>
                    <button type="button" class="btn btn-previous botonForm">Anterior</button>
                    <button type="button" class="btn btn-next botonForm">Siguiente</button>
                </fieldset>
                <!-- Fin Tercer Paso -->

                <!--
                  ## AQUI VAN LOS CASOS FALTANTES
                //-->
                <fieldset class="formField">
                    <div class="form-bottom" data-step="3" data-title="Segundo Paso">
                      <!-- Aqui va la barra lateral -->
                      <div class="col-sm-1 col1Body">
                        <span class="step">1</span>
                        <span class="step">2</span>
                        <span class="step">3</span>
                          <span class="step activePass">4</span>
                      </div>
  
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body" style="padding-top: 50px">
                      <h4 class="titulosForm"></h4>
                        
                        
                      </div>
                    </div>
                    <button type="button" class="btn btn-previous botonForm">Anterior</button>
                    <button type="submit button" form="formularioCarga" id="submit" class="btn btn-submit botonForm">Agregar</button>
                </fieldset>


              </form>
          </div>
        </div>               
      </div>
    </div>
  </div>
</div>

<!-- Fin Modal Agregar Servicio -->

<!-- *!* Falta verificar que se esten llenando todos los campos dependiendo 
del concepto y tipo de ingreso o egreso -->

<script type="text/javascript">
  // Valida los campos de la forma en el modal "addsustancia"
  function validar_campos(){

    // Buscando divs para ingresar mensajes de error
    var error_total = document.getElementById("error-total");
    var error_uso_interno = document.getElementById("error-uso-interno");

    // Limpiando los mensajes anteriores de validadores
    if (error_total.innerText != ''){
      error_total.innerText = '';
    }
    if (error_uso_interno.innerText != ''){
      error_uso_interno.innerText = '';
    }
     
    // Buscando los valores ingresados por el usuario en cada campo
    var total = document.forms['formularioCarga']['total'].value;
    var uso_interno = document.forms['formularioCarga']['uso_interno'].value;

    // Mensajes de error
    var mensaje_error_tipo = "Por favor ingrese un valor numérico. Por ejemplo \"2.5\"";
    var mensaje_error_negativo = "Por favor ingrese un valor no negativo.";
    var mensaje_error_nulo = "Por favor ingrese un valor mayor a cero.";
    var mensaje_error_uso_interno = "Por favor ingrese un valor inferior o igual a la cantidad en existencia.";

    /* Validando el campo total (cantidad total de la sustancia en el inventario) */
    if (!is_number(total)) {
      error_total.innerText = mensaje_error_tipo;
      return false;
    }
    
    if (is_negative(total)) {
      error_total.innerText = mensaje_error_negativo;
      return false;
    }

    if (is_zero(total)) {
      error_total.innerText = mensaje_error_nulo;
      return false;
    }

    /* Validando el campo uso_interno */
    if (!is_number(uso_interno)) {
      error_uso_interno.innerText = mensaje_error_tipo;
      return false;
    }
    
    if (is_negative(uso_interno)) {
      error_uso_interno.innerText = mensaje_error_negativo;
      return false;
    }
    // La cantidad de sustancia para uso interno no puede ser mayor al total
    if (uso_interno > total) {
      error_uso_interno.innerText = mensaje_error_uso_interno;
      return false;
    }

  }

  // True si "n" es un numero
  function is_number(n){
    return !isNaN(n)
  }

  // True si "n" es negativo
  function is_negative(n){
    return (n < 0)
  }

  // True si "n" es cero
  function is_zero(n){
    return (n == 0)
  }

</script>
