

<!-- Inicio Listado de BM -->
<div class="container">
<div class="row">


    <div>
        <button class="dt-button btn boton-sigulabPlus" title="Agregar un nuevo BM" style="height: 50px; width: 50px; font-size: 13pt;" id='botonModal' data-toggle="modal" data-target="#addbm"><i class="fa fa-plus"></i></button>  
    </div>

    <br><br>

    <br><br>
    <div id="buttons" >
      <!-- Filtrado -->

    </div>
    <br>

    <div class="table-responsive no-padding no-margin">
      <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
        <thead>
            <tr id="titulosListado">
                <th class="camposTabla linksNombres">Nombre</th>
                <th class="camposTabla linksNombres">N° BM</th>
                <th class="camposTabla linksNombres">Placa</th>
                <th class="camposTabla linksNombres">Tipo</th>
                <th class="camposTabla linksNombres">Marca</th>
                <th class="camposTabla linksNombres">Modelo</th>
                <th class="camposTabla linksNombres">Serial</th>
                <th class="camposTabla linksNombres">Estatus</th>
                <!--<th class="camposTabla linksNombres">Estatus</th>-->
            </tr>
        </thead>

        <tbody>
          {{for bm in inventario:}}
            <tr>
                <td class="camposTabla"> <a href="{{=URL('detalles', vars=dict(bm=bm['bm_num']))}}">{{=bm['bm_nombre']}}</a></td>
                <!-- *!* Colocar anchor a la entrada del  bm en el catalogo de bm -->
                <td class="camposTabla">{{=bm['bm_num']}}</td>
                <td class="camposTabla">{{=bm['bm_placa']}}</td>
                <td class="camposTabla">{{=bm['bm_clasificacion']}}</td>
                <td class="camposTabla">{{=bm['bm_marca']}}</td>
                <td class="camposTabla">{{=bm['bm_modelo']}}</td>
                <td class="camposTabla">{{=bm['bm_serial']}}</td>
                <td class="camposTabla">{{=bm['bm_estatus']}}</td>
            </tr>
          {{pass}}           
        </tbody>

        <tfoot id="collapseFiltros">
          <th class="camposTabla linksNombres">Nombre</th>
          <th class="camposTabla linksNombres">N° BM</th>
          <th class="camposTabla linksNombres">Tipo</th>
          <th class="camposTabla linksNombres">Placa</th>
          <th class="camposTabla linksNombres">Marca</th>
          <th class="camposTabla linksNombres">Modelo</th>
          <th class="camposTabla linksNombres">Serial</th>
          <th class="camposTabla linksNombres">Estatus</th>
          <!--<th class="camposTabla linksNombres">Estatus</th>-->
            </tr>
        </tfoot>

      </table>
    </div>
  </div>
</div>  
<!-- Fin Listado de sustancias --> 

<!-- Ajax abrirFicha para mostrar la informacion de la sustancia seleccionada con un modal -->

<!-- Modal añadir un BM nuevo al inventario -->
<div class="modal fade" id="addbm" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header addHeader">
        <div class="row addRow" id="rowHeader">
          <div class="col-sm-1" id="col1Header">
            <div class="container" id="plus">
              <h1 id="agregar">+</h1>
            </div>
          </div>
          <div class="col-sm-11" id="col11Header">
            <h4 class="modal-title" id="nuevaBien" style="
              text-align: left;
              padding-top: 12px;
              color: white;
            ">Bien Mueble<button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
          </div>
        </div>
      </div>
      <!-- Fin Modal Header -->
      
      <!-- Modal Body -->
      <div class="modal-body addBody">
        <div class="row addRow">
          <div class="col-md-12 form-box">
              <form id="formularioCarga" class="registration-form" method="post" onsubmit="return validar_campos()">

            <!-- Primer paso-->
            <fieldset class="formField">
                <div class="form-bottom" data-step="1" data-title="Primer Paso">
                  <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                  <div class="col-sm-1 col1Body"> 
                    <span class="step activePass">1</span>
                    <span class="step">2</span>
                    <span class="step">3</span>
                    <span class="step">4</span>
                  </div>
                  <!-- Aqui va la informacion -->
                  <div class="col-sm-11 col11Body">
                    <h4 class="titulosForm">Características del Bien</h4>                
                    <label>Campos marcados con * son obligatorios.</label>

                    <div class="form-group">
                        <label>Seleccione la clasificación del Bien Mueble*</label>
                        <select class="form-control" type="select" id="clasificacion" name="clasificacion" placeholder="Clasificación" required>
                          <option value="">Seleccione una opción</option>
                          <option value="Equipo">Equipos o Instrumentos de Medición</option>
                          <option value="Mobiliario">Mobiliarios</option>
                        </select>
                        <div class="field-error"> <p id="error-clasificacion"></p></div>
                      </div>
                  </div>
                </div>
                <div style="position:fixed;bottom: 30px; right: 30px">
                  <button type="button" class="btn btn-next botonForm" onclick="elegir_campos(this);"><i class="fas fa-arrow-right"></i></button>    
                </div>
                
              </fieldset>
          
                
                <!-- Segundo paso-->
                <fieldset class="formField">
                  <div class="form-bottom" data-step="2" data-title="Segundo Paso">
                    <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                    <div class="col-sm-1 col1Body"> 
                      <span class="step">1</span>
                      <span class="step activePass">2</span>
                      <span class="step">3</span>
                      <span class="step">4</span>
                    </div>
                    <!-- Aqui va la informacion -->
                    <div class="col-sm-11 col11Body">
                      <h4 class="titulosForm">Características del Bien</h4>                
                      <label>Campos marcados con * son obligatorios.</label>


                        <div class="form-group" tag="Formato:">
                            <label>Nombre*</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" title="Ingrese el nombre del Bien Mueble" placeholder="Nombre*"  required>
                            <div class="field-error"> <p id="error-nombre"> </p> </div>
                        </div>

                        <div class="form-group">
                            <label>Número de Bien Nacional*</label>
                            <input type="text" class="form-control" id="no_bien" name="no_bien" placeholder="Número de Bien Nacional*" title="Formato: ###### (6 dígitos)"   required>
                            <font color="red"><div id="err_no_bien" hidden></div></font>
                        </div>

                        <div class="form-group">
                            <label>N° de placa</label>
                            <input type="text" class="form-control" id="no_placa" name="no_placa" title="Formato: ##### (5 dígitos)" placeholder="N° de placa">
                            <font color="red"><div id="err_placa" hidden></div></font>
                        </div>

                        <div class="form-group" id ='grupo-marca' hidden>
                          <label>Marca*</label>
                          <input type="text" class="form-control"  id="marca" name="marca" placeholder="Marca*" required >
                          <div class="field-error"> <p id="error-marca"> </p> </div>
                      </div>

                    </div>
                  </div>
                  <div style="position:fixed;bottom: 30px; right: 30px">
                    <button type="button" class="btn btn-previous botonForm"><i class="fas fa-arrow-left"></i></button>
                    <button type="button"  class="btn btn-next botonForm"><i class="fas fa-arrow-right"></i></button>         
                  </div>
                  
                </fieldset>
                <!-- Fin Segundo Paso -->

                                
                <!-- Segundo paso 2-->
                <fieldset class="formField" id='segundo-paso' >
                    <div class="form-bottom" id='segundoPaso' data-step="2" data-title="Segundo Paso">
                      <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                      <div class="col-sm-1 col1Body"> 
                        <span class="step">1</span>
                        <span class="step activePass">2</span>
                        <span class="step">3</span>
                        <span class="step">4</span>
                      </div>
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body">
                        <h4 class="titulosForm">Características del Bien</h4>                
                        <label>Campos marcados con * son obligatorios.</label>

                        <div class="form-group" id ='grupo-modelo' hidden>
                          <label>Modelo*</label>
                          <input type="text" class="form-control" id="modelo" name="modelo" value="" placeholder="Modelo*" required>
                          <div class="field-error"> <p id="error-modelo"> </p> </div>
                      </div>
                        

                          <div class="form-group" id ='grupo-serial' hidden>
                              <label>Serial*</label>
                              <input type="text" class="form-control" id="serial" name="serial" placeholder="Serial*" required>
                              <div class="field-error"> <p id="error-serial"> </p> </div>
                            </div>
        
                            <div class="form-group">
                              <label>Material*</label>
                              <select class="form-control" type="select" id="material" name="material" placeholder="Material predominante" onchange="agregar_otro_mat()" required>
                                <!-- Insertar un for-->
                                <option type="text" value="">Selecione un material*</option>
                                {{ for material in material_pred: }}
                                <option value="{{=material}}">{{=material}}</option>
                                {{pass}}
                              </select>
                              <div class="field-error"> <p id="error-material"> </p> </div>
                          </div>

                          <div class="form-group">
                            <input type="hidden" class="form-control" id="otro_material" placeholder="Material*" required>
                            <div class="field-error"> <p id="error-material"> </p> </div>
                          </div>
  
                          <div class="form-group">
                              <label>Color*</label>
                              <select class="form-control" type="select" id="color" name="color" placeholder="Color" onchange="agregar_otro_color()" required>
                                <option value="">Selecione un color*</option>
                                {{ for color in color_list:}}
                                <option value="{{=color}}">{{=color}}</option>
                                {{pass}}
                              </select>
                              <div class="field-error"> <p id="error-color"> </p> </div>
                          </div>

                          <div class="form-group">
                            <input type="hidden" class="form-control" id="otro_color" placeholder="Color*" required>
                            <div class="field-error"> <p id="error-color"> </p> </div>
                          </div>

                      </div>
                    </div>
                    <div style="position:fixed;bottom: 30px; right: 30px">
                      <button type="button" class="btn btn-previous botonForm"><i class="fas fa-arrow-left"></i></button>
                      <button type="button" class="btn btn-next botonForm"><i class="fas fa-arrow-right"></i></button>         
                    </div>
                    
                  </fieldset>
                  <!-- Fin Segundo Paso -->
  
  
                <!-- Tercer paso Parte 3-->
                <fieldset class="formField">
                    <div class="form-bottom" data-step="3" data-title="Tercer Paso">
                      <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                      <div class="col-sm-1 col1Body"> 
                        <span class="step">1</span>
                        <span class="step">2</span>
                        <span class="step activePass">3</span>
                        <span class="step">4</span>
                      </div>
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body">
                        <h4 class="titulosForm">Características del Bien</h4>                
                        <label>Campos marcados con * son obligatorios.</label>

                          <label>Dimensiones</label>

                          <div class="form-group">
                            <select class="form-control" value="" type="select" id="unidad" name="unidad" placeholder="Unidad de medida" onchange="display_units(this.value)">
                              <option value="">Selecione una unidad</option>
                              {{ for med in unidad_med:}}
                              <option value="{{=med}}">{{=med}}</option>
                              {{pass}}
                            </select>
                            <div class="field-error"> <p id="error-unidad" > </p> </div>
                          </div>

                          <div class="form-group" id="grupo-ancho" hidden>
                              <label>Ancho</label>
                            <input type="hidden" class="form-control" id="ancho" name="ancho" title="Formato ##.##" placeholder="Ancho">
                            <font color="red"><div id="err_ancho" hidden></div></font>
                          </div>


                          <div class="form-group" id="grupo-largo" hidden>
                            <label>Largo</label>
                            <input type="hidden" class="form-control" id="largo" name="largo" title="Formato ##.##" placeholder="Largo" >
                            <font color="red"><div id="err_largo" hidden></div></font>
                          </div>

                          <div class="form-group" id="grupo-altura" hidden>
                            <label>Altura</label>
                            <input type="hidden" class="form-control" id="alto" name="alto" title="Formato ##.##" placeholder="Altura" >
                            <font color="red"><div id="err_alto" hidden></div></font>
                          </div>

                          <div class="form-group" id="grupo-diametro" hidden>
                            <label>Diámetro</label>
                            <input type="hidden" class="form-control" id="diametro" name="diametro" title="Formato ##.##" placeholder="Diámetro" >
                            <font color="red"><div id="err_diametro" hidden></div></font>
                          </div>
                          

                          <div class="form-group">
                            <label>Seleccione un tipo de movilidad*</label>
                            <select class="form-control" type="select" id="movilidad" name="movilidad" placeholder="Movilidad" required>
                              <option value="">Seleccione un tipo de movilidad</option>
                              {{ for movilidad in movilidad_list: }}
                              <option value="{{=movilidad}}">{{=movilidad}}</option>
                              {{pass}}
                            </select>
                            <div class="field-error"> <p id="error-movilidad"> </p> </div>
                        </div>

                        </div>
                      </div>
                      <div style="position:fixed;bottom: 30px; right: 30px">
                        <button type="button" class="btn btn-previous botonForm"><i class="fas fa-arrow-left"></i></button>
                        <button type="button" class="btn btn-next botonForm"><i class="fas fa-arrow-right"></i></button>       
                      </div>
                    
                  </fieldset>
                  <!-- Fin Tercer Paso -->


                <!--Tercer Paso parte 2-->
                <fieldset class="formField">
                    <div class="form-bottom" data-step="4" data-title="Tercer Paso">
                      <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                      <div class="col-sm-1 col1Body"> 
                        <span class="step">1</span>
                        <span class="step">2</span>
                        <span class="step activePass">3</span>
                        <span class="step">4</span>
                        
                      </div>
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body">
                        <h4 class="titulosForm">Características del Bien</h4>                
                        <label>Campos marcados con * son obligatorios.</label>
  

                        <label>Tipo de Uso</label>
                        <div class="checkbox-group">
                            {{i=1}}
                            {{ for uso in uso_list: }}
                              <input type="checkbox" name="tipo_uso" id="tipo_uso{{=i}}"   value="{{=uso}}">{{=uso}}
                              {{i = i+1}}
                            <br>
                            {{pass}}
                            <font color="red"><div id="err_tipo_uso" hidden></div></font>
                        </div>

                        <div class="form-group" id="calibrar">
                          <label>Seleccione si el equipo ha sido calibrado*</label>
                          <select class="form-control" id="select-calibrar" type="select" name="calibrar" placeholder="Calibración" onchange="display_date(this.value)">
                            <option value="">Seleccione una opción</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                          </select>
                          <div class="field-error"> <p id="error-calibrar"> </p> </div>
                        </div>
  
                        <div class="form-group" id="fecha_calibracion">
                          <label>Seleccione la fecha de la última calibración del equipo*</label>
                          <input type="date" class="form-control" name="fecha_calibracion">
                          <font color="red"><div id="err-fecha_calibracion" hidden></div></font>
                        </div>
  
                        <div class="form-group">
                          <label>Seleccione el estado del bien mueble*</label>
                          <select class="form-control" type="select" id="estatus" name="estatus" placeholder="Estatus del equipo" required>
                            <option value="">Seleccione una opción</option>
                            {{ form_estatus = ['Operativo','Inoperativo','En desuso','Inservible'] }}
                            {{ for estatus in form_estatus: }}
                            <option value="{{=estatus}}">{{=estatus}}</option>
                            {{pass}}
                          </select>
                          <div class="field-error"> <p id="error-estatus"> </p> </div>
                        </div>
                        <div class="form-group">
                            <label>Observaciones</label>
                            <input type="text" class="form-control" id="Descripcion" name="descripcion" placeholder="Cualquier información adicional que considere pertinente">
                            <div class="field-error"> <p id="error-est-descripcion"> </p> </div>
                        </div>
                        </div>

                      </div>
                      <div style="position:fixed;bottom: 30px; right: 30px">
                        <button type="button" class="btn btn-previous botonForm"><i class="fas fa-arrow-left"></i></button>
                        <button type="button" class="btn btn-next botonForm"><i class="fas fa-arrow-right"></i></button>       
                      </div>
                    
                  </fieldset>
                  <!-- Fin Tercer paso-->

                <!-- Comienzo Cuarto Paso Parte 1-->
                <fieldset class="formField">
                    <div class="form-bottom" data-step="4" data-title="Cuarto Paso">
                      <!-- Aqui va la barra lateral -->
                      <div class="col-sm-1 col1Body">
                        <span class="step">1</span>
                        <span class="step">2</span>
                        <span class="step">3</span>
                        <span class="step activePass">4</span>
                      </div>
  
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body">
                      <h4 class="titulosForm">SUDEBID</h4>
                      <label>Importante: llene según requerimientos de SUDEBID</label>
                        
                      <div class="form-group">
                          <label class="form-group" id="numRegistro" style="margin-bottom: 0px" >Ubicación</label>
                          <select class="form-control" type="select" value="" id="localizacion" onchange="placeholder_localizacion(this.value);"  name="localizacion" required>
                            <option value="" onchange="placeholder_localizacion(this.value);">Seleccione un código de localizacion</option>
                            {{for cod in localizacion:}}
                            <option value="{{=cod}}" onchange="placeholder_localizacion(this.value);">{{=cod}}</option>
                            {{pass}}
                          </select>
                          <div class="field-error"> <p id="error-cod-localizacion"> </p> </div>
                        </div>

                        <div class="form-group">
                            <label class="form-group" id="numRegistro" style="margin-bottom: 0px">Código de localización</label>
                            <input type="text" class="form-control" id="cod_loc" name="cod_loc" placeholder="" readonly >
                            <div class="field-error"> <p id="error-cod_loc"> </p> </div>
                          </div>
                  

                      <div class="form-group">
                          <label class="form-group" id="numRegistro" style="margin-bottom: 0px">Categorias</label>
                          <select class="form-control" type="select" value="" id="categoria" onchange="colocar_subcategoria(this.value);" name="nombre_cat" required>
                            <option value="" onchange="colocar_subcategoria(this.value);" >Seleccione una categorias</option>
                            {{ for categoria in nombre_cat:}}
                            <option value="{{=categoria}}" onchange="colocar_subcategoria(this.value);" >{{=categoria}}</option>
                            {{pass}}
                          </select>
                          <div class="field-error"> <p id="error-categorias"> </p> </div>
                        </div>

                    
                        <div class="form-group">
                            <label class="form-group" id="numRegistro" style="margin-bottom: 0px">Subcategorias</label>
                            <label class="form-group" id="numRegistro2" style="margin-bottom: 0px" ></label>
                            <select class="form-control" type="select" value="" id="Subcategorias"  name="subcategoria" required>
                              <option value="">Seleccione una subcategorias</option>
                              <option value="" id="Opcion1" hidden></option>
                              <option value="" id="Opcion2" hidden ></option>
                              <option value="" id="Opcion3" hidden ></option>
                              <option value="" id="Opcion4" hidden ></option>
                              <option value="" id="Opcion5" hidden ></option>
                              <option value="" id="Opcion6" hidden ></option>
                              <option value="" id="Opcion7" hidden ></option>
                              <option value="" id="Opcion8" hidden ></option>
                              <option value="" id="Opcion9" hidden ></option>
                            </select>
                            <div class="field-error"> <p id="error-categorias"> </p> </div>
                        </div>

                      </div>
                    </div>
                    <div style="position:fixed;bottom: 30px; right: 30px">
                      <button type="button" class="btn btn-previous botonForm"><i class="fas fa-arrow-left"></i></button>
                      <button type="submit button" form="formularioCarga" id="submit" class="btn btn-submit botonForm"><i class="fas fa-plus"></i></button>             
                    </div>
                       </fieldset>
                <!-- Fin Cuarto Paso -->
              </form>
          </div>
        </div>               
      </div>
    </div>
  </div>
</div>

<!-- Fin Modal Agregar BM -->

<!-- *!* Falta verificar que se esten llenando todos los campos dependiendo 
del concepto y tipo de ingreso o egreso -->

<script type="text/javascript">

  // Funcion para agregar otro material
  function agregar_otro_mat(){
    var material = document.getElementById("material")
    var otro_material = document.getElementById("otro_material")
    if ( material.value === "Otro" ){
      material.removeAttribute("name");
      otro_material.setAttribute("name","material");
      otro_material.type =  "text";
    }else{
      otro_material.removeAttribute("name");
      otro_material.type = "hidden";
      material.setAttribute("name","material");
    }
  }

  // Funcion para agregar otro color
  function agregar_otro_color(){
    var color = document.getElementById("color")
    var otro_color = document.getElementById("otro_color")

    if ( color.value === "Otro color" ){
      color.removeAttribute("name");
      otro_color.setAttribute("name","color");
      otro_color.type =  "text";
    }else{
      otro_color.removeAttribute("name");
      otro_color.type = "hidden";
      color.setAttribute("name","color");
    }
  }

  // Funcion para mostrar campos dependendiendo de la categoria
  function elegir_campos(){
    var selecion = document.getElementById("clasificacion");
    if (selecion.value == "Mobiliario"){
      //$('#segundo-paso').hide();
      //$('#segundoPaso').hide();
      document.getElementById("marca").type = 'hidden';
      document.getElementById("modelo").type = 'hidden';
      document.getElementById("serial").type = 'hidden';
      document.getElementById("estatus").type = 'hidden';
      document.getElementById("calibrar").style.display = 'none';
      $('#grupo-marca').hide()
      $('#grupo-modelo').hide()
      $('#grupo-serial').hide()
    }
    else{
      document.getElementById("select-calibrar").setAttribute("required", "");
      document.getElementById("marca").type = 'text';
      document.getElementById("modelo").type = 'text';
      document.getElementById("serial").type = 'text';
      document.getElementById("estatus").type = 'text';
      document.getElementById("calibrar").style.display = 'block';
      $('#grupo-marca').show()
      $('#grupo-modelo').show()
      $('#grupo-serial').show()
    }
    document.getElementById("fecha_calibracion").style.display = 'none';
  }

  // Mostrar fecha de calibracion
  function display_date(value){
    if ( value == "Si" ){
      document.getElementById("fecha_calibracion").style.display = 'block';
      document.getElementById("fecha_calibracion").setAttribute("required", "");
    }else{
      document.getElementById("fecha_calibracion").style.display = 'none';
      document.getElementById("fecha_calibracion").required = false;
    }
  }

  // Mostrar unidades
  function display_units(value){
    if ( value == '' ){
      document.getElementById("unidad").type = 'hidden';
      document.getElementById("ancho").type = 'hidden';
      document.getElementById("largo").type = 'hidden';
      document.getElementById("alto").type = 'hidden';
      document.getElementById("diametro").type = 'hidden';
      $('#grupo-ancho').hide()
      $('#grupo-largo').hide()
      $('#grupo-alto').hide()
      $('#grupo-diametro').hide()
    }else{
      document.getElementById("unidad").type = 'text';
      document.getElementById("ancho").type = 'text';
      document.getElementById("largo").type = 'text';
      document.getElementById("alto").type = 'text';
      document.getElementById("diametro").type = 'text';
      $('#grupo-ancho').show()
      $('#grupo-largo').show()
      $('#grupo-alto').show()
      $('#grupo-diametro').show()
    }
  }


  // Valida los campos de la forma en el modal "addbm"
  function validar_campos(){

    // Buscando divs para ingresar mensajes de error
    var error_total = document.getElementById("error-total");
    var error_uso_interno = document.getElementById("error-uso-interno");
    var fecha_calibracion = document.getElementById("fecha_calibracion")

    // Limpiando los mensajes anteriores de validadores
    if (error_total.innerText != ''){
      error_total.innerText = '';
    }
    if (error_uso_interno.innerText != ''){
      error_uso_interno.innerText = '';
    }
     
    // Buscando los valores ingresados por el usuario en cada campo
    var total = document.forms['formularioCarga']['total'].value;
    var uso_interno = document.forms['formularioCarga']['uso_interno'].value;

    // Mensajes de error
    var mensaje_error_tipo = "Por favor ingrese un valor numérico. Por ejemplo \"2.5\"";
    var mensaje_error_negativo = "Por favor ingrese un valor no negativo.";
    var mensaje_error_nulo = "Por favor ingrese un valor mayor a cero.";
    var mensaje_error_uso_interno = "Por favor ingrese un valor inferior o igual a la cantidad en existencia.";

    /* Validando el campo total (cantidad total de la sustancia en el inventario) */
    if (!is_number(total)) {
      error_total.innerText = mensaje_error_tipo;
      return false;
    }
    
    if (is_negative(total)) {
      error_total.innerText = mensaje_error_negativo;
      return false;
    }

    if (is_zero(total)) {
      error_total.innerText = mensaje_error_nulo;
      return false;
    }

    /* Validando el campo uso_interno */
    if (!is_number(uso_interno)) {
      error_uso_interno.innerText = mensaje_error_tipo;
      return false;
    }
    
    if (is_negative(uso_interno)) {
      error_uso_interno.innerText = mensaje_error_negativo;
      return false;
    }
    // La cantidad de sustancia para uso interno no puede ser mayor al total
    if (uso_interno > total) {
      error_uso_interno.innerText = mensaje_error_uso_interno;
      return false;
    }

  }

  // True si "n" es un numero
  function is_number(n){
    return !isNaN(n);
  }

  // True si "n" es negativo
  function is_negative(n){
    return (n < 0)
  }

  // True si "n" es cero
  function is_zero(n){
    return (n == 0)
  }

  function placeholder_localizacion(value){
    var x = document.getElementById("cod_loc");
    var y = document.getElementById("localizacion");


    if (value  =='Edo Miranda, Municipio Baruta, Parroquia Baruta'){
      x.placeholder = '150301';
      x.value = '150301';
    }else{;
      x.placeholder ='240107';
      x.value = '240107';

    }
  }

  function colocar_subcategoria(value) {
    var dict = {
		'Maquinaria y demás equipos de construcción, campo, industria y taller':
			["Maquinaria y equipos de construcción y mantenimiento",
			"Maquinarias y equipos para mantenimiento de automotores",
			"Maquinarias y equipos agrícolas y pecuarios",
			"Maquinarias y equipos de artes gráficas y reproducción",
			"Maquinarias y equipos industriales y de taller",
			"Maquinarias y equipos de energía",
			"Maquinarias y equipos de riego y acueductos",
			"Equipos de almacen",
			"Otras maquinarias y demás equipos de construcción, campo, industria y taller"],
		"Equipos de transporte, tracción y elevación":
			["Vehículos automotores terrestres",
			"Equipos ferroviarios y de cables aéreos",
			"Equipos marítimos de transporte",
			"Equipos aéreos de transporte",
			"Vehículos de tracción no motorizados",
			"Equipos auxiliares de transporte",
			"Otros equipos de transporte, tracción y elevación"],
		"Equipos de comunicaciones y de señalamiento":
			["Equipos de telecomunicaciones",
			"Equipos de señalamiento",
			"Equipos de control de tráfico aéreo",
			"Equipos de correo",
			"Otros equipos de comunicaciones y de señalamiento"],
		"Equipos médicos - quirúrgicos, dentales y veterinarios":
			["Equipos médicos - quirúrgicos, dentales y veterinarios",
			"Otros Equipos médicos - quirúrgicos, dentales y veterinarios"],
		"Equipos científicos, religiosos, de enseñanza y recreación":
			["Equipos científicos y de laboratorio",
			"Equipos de enseñanza, deporte y recreación",
			"Obras de arte",
			"Libros y revistas",
			"Equipos religiosos",
			"Instrumentos musicales",
			"Otros equipos científicos, religiosos, de enseñanza y recreación"],
		"Máquinas, muebles y demás equipos de oficina y de alojamiento" : 
			["Mobiliario y equipos de oficina",
			"Equipos de procesamiento de datos",
			"Mobiliario y equipos de alojamiento",
			"Otras máquinas, muebles y demás equipos de oficina y de alojamiento"]};
  var n = 1;
  var x;
  var y = document.getElementById("numRegistro2");

  if (value != ""){
    for (var i in dict[value]){
      x = document.getElementById("Opcion".concat(n.toString()));
      x.innerText = dict[value][i];
      x.style.display= "block";
      $('#Opcion'.concat(n.toString())).html(dict[value][i]);
      $('#Opcion'.concat(n.toString())).show();
      x.value = dict[value][i];
      n = n + 1;  
    }
    while (n <= 9){
      x = document.getElementById("Opcion".concat(n.toString()));
      //x.innerText = "";
      //x.style.display = "none";
      $('#Opcion'.concat(n.toString())).hide();
      $('#Opcion'.concat(n.toString())).html("");
      x.value = "";
      n = n +1;
      
    }
    
  }
}


</script>
