<!-- Contiene la seccion del listado de sustancias cuando se visita una dependencia -->

<!-- Inicio Listado de sustancias -->
<div id="inventario-dependencia" class="container">
<div class="row">
    <br>
    <div id="buttons">
      <!-- Filtrado -->    
    </div>
    <br>
    <div class="table-responsive no-padding no-margin">
      <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
        <thead>
            <tr id="titulosListado">
                <th class="camposTabla linksNombres">Placa</th>
                <th class="camposTabla linksNombres">Marca</th>
                <th class="camposTabla linksNombres">Modelo</th>
                <th class="camposTabla linksNombres">Tipo</th>
                <th class="camposTabla linksNombres">Dependencia</th>
                <th class="camposTabla linksNombres">Responsable</th>
                <th class="camposTabla linksNombres">Estatus</th>
                <!-- <th class="camposTabla linksNombres">Estatus</th> -->
            </tr>
        </thead>
        <tbody>
          {{for vehiculo in inventario:}}
            <tr>
                <td class="camposTabla"> <a href="{{=URL('detalles_vehiculo', vars=dict(vh=vehiculo['vh_placa']))}}">{{=vehiculo['vh_placa']}}</a></td>
                <td class="camposTabla">{{=vehiculo['vh_marca']}}</td>
                <td class="camposTabla">{{=vehiculo['vh_modelo']}}</td>
                <td class="camposTabla">
                  {{ if vehiculo['vh_es_particular']: }}
                    PARTICULAR
                  {{ else: }}
                    OFICIAL
                  {{pass}}
                </td>
                <td class="camposTabla">{{=db(db.dependencias.id == vehiculo['vh_depedencia']).select().first().nombre}}</td>
                <td class="camposTabla">{{=vehiculo['vh_responsable']}}</td>
                <td class="camposTabla">{{=vehiculo['vh_estatus']}}</td>
              </tr>
          {{pass}}           
        </tbody>

        <tfoot id="collapseFiltros">
            <tr>
              <th class="camposTabla linksNombres">Modelo</th>
              <th class="camposTabla linksNombres">Placa</th>
              <th class="camposTabla linksNombres">Dependencia</th>
              <th class="camposTabla linksNombres">Responsable</th>
              <!-- <th class="camposTabla linksNombres">Estatus</th> -->
            </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>  
<!-- Fin Listado de inventario -->