<!-- Contiene la seccion del listado de sustancias cuando se visita una dependencia -->

<!-- Inicio Listado de sustancias -->
<div id="inventario-dependencia" class="container">
<div class="row">
  <h3> Inventario </h3>

    <div id="buttons">
      <!-- Filtrado -->
        <button type="button" id="filtrar" onclick="mostrarFiltro()" class="btn btn-default buttons-pdf buttons-html5">Filtrado</button>
      <!-- Filtrado -->    
    </div>
    <br>

    <div class="table-responsive no-padding no-margin">
      <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
        <thead>
            <tr id="titulosListado">
                <th class="camposTabla linksNombres">Nombre</th>
                <th class="camposTabla linksNombres">N° BM</th>
                <th class="camposTabla linksNombres">Placa</th>
                <th class="camposTabla linksNombres">Tipo</th>
                <th class="camposTabla linksNombres">Ubicacion Fisica</th>
                <th class="camposTabla linksNombres">Estatus</th>
            </tr>
        </thead>

        <tbody>
          {{for id_,sust in inventario.iteritems():}}
            <tr>
                <td class="camposTabla">{{=sust['f_nombre']}}</td>
                <!-- *!* Colocar anchor a la entrada de la sustancia en el catalogo de sustancias -->
                <td class="camposTabla">{{=sust['f_cas'] if sust['f_estado'] else ''}}</td>
                <td class="camposTabla">{{=sust['f_estado'][0] if sust['f_estado'] else ''}}</td>
                <td class="camposTabla">{{=sust['f_uso_interno']}}</td>
                <td class="camposTabla">{{=float(sust['f_existencia']) - float(sust['f_uso_interno'])}}</td>
                <td class="camposTabla">{{=sust['f_existencia']}}</td>
            </tr>
          {{pass}}           
        </tbody>

        <tfoot id="collapseFiltros">
            <tr>
              <th class="camposTabla linksNombres">Nombre</th>
              <th class="camposTabla linksNombres">N° BM</th>
              <th class="camposTabla linksNombres">Placa</th>
              <th class="camposTabla linksNombres">Tipo</th>
              <th class="camposTabla linksNombres">Ubicacion Fisica</th>
              <th class="camposTabla linksNombres">Estatus</th>
            </tr>
        </tfoot>

      </table>
    </div>
  </div>
</div>  
<!-- Fin Listado de sustancias -->