{{extend 'layout.html'}}
  
{{block head}}
	<meta charset="UTF-8">

	<!-- Para los mensajes con flash -->
  	<link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3-flash.css')}}"/>

	<!--DATATABLES-->
	<link rel="stylesheet" type="text/css" href="{{=URL('static', 'plugins/datatables2/datatables.min.css')}}"/>
	<script type="text/javascript" src="{{=URL('static', 'plugins/datatables2/datatables.min.js')}}"></script>

	<style type="text/css">
		div.dt-buttons {
		  float: right;
		}
	</style>
 	
	 <!-- Estilos de modales y listados -->
	 <link rel="stylesheet" href="{{=URL('static', 'css/servicios_modal.css')}}">
 	<link rel="stylesheet" href="{{=URL('static', 'inventarios/css/template_modal.css')}}">
  	<link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventarios.css')}}"> 
  	<link rel="stylesheet" href="{{=URL('static', 'inventarios/css/listado.css')}}">
  	<link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventario_dependencia.css')}}">
  	<link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventario_espacio.css')}}">
 	<link rel="stylesheet" href="{{=URL('static', 'inventarios/css/bienes_muebles.css')}}">
 	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">	   
		<script src="{{=URL('static', 'js/inventario_template_modal.js')}}"></script>
		<link rel="stylesheet" href="{{=URL('static', 'css/servicios_ficha.css')}}"/>
 	<!-- Web2py JS - Especialmente para AJAX -->
 	<script src="{{=URL('static', 'js/web2py.js')}}"></script>
 	<style>
   	.row{
     	margin-right:0px!important;
   	}
	 </style>
{{end}}



{{block center}}

<!-- Bloque de navegación secundaria (breadcrumb) -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'inventarios')}}">Inventarios</a>
  <span class="breadcrumb-item active">Validaciones Pendientes</span>
  </div>
</nav>
<!-- Fin del bloque de navegación secundaria (breadcrumb) -->


<!-- Flash message -->
<div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>

<div class="container titulo">
	<h3 class="dep-titulo">VALIDACIONES PENDIENTES</h3>
</div>

<!-- Botón para atrás -->
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-6">
		<button id="boton-retorno" class="btn boton-sigulab" onclick="location.href = '{{=URL('..', 'sigulab2', 'inventarios')}}';">
		    <i class="fas fa-arrow-left"></i>               
		</button>
	</div>
</div>

<div class="tab-wrapper">
		<ul class="tabs">
			<li class="tab-link active" data-tab="1">MODIFICACIÓN</li>
			<li class="tab-link" data-tab="2">ELIMINACIÓN</li>
		</ul>
</div>
<!-- Inicio de la seccion con la lista de validaciones para bienes muebles --> 
<div id="tab-1" class="container tab-content active">
	<div class="row">
			<br>
			<div id="buttons">
			</div>
			<br>
	
		<div class="table-responsive no-padding no-margin">
		  <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
			<thead>
				<tr id="titulosListado">
					<th class="camposTabla linksNombres">NOMBRE</th>
					<th class="camposTabla linksNombres">TIPO</th>
					<th class="camposTabla linksNombres">OBSERVACIONES</th>
				</tr>
			</thead>
	
			<tbody>
			  {{for bm in inventario[0]:}}
				<tr>
					<td class="camposTabla"><a href="{{=URL('detalles_mod', vars=dict(bm=bm['mbn_num']))}}">{{=bm['mbn_nombre'].upper()}}</a></td>
					<!-- *!* Colocar anchor a la entrada del  bm en el catalogo de bm -->
					<td class="camposTabla">{{=db(db.bien_mueble.bm_num == bm['mbn_num']).select().first().bm_clasificacion.upper()}}</td>
					{{ if bm['mbn_desc']: }}
					<td class="camposTabla">{{=bm['mbn_desc'].upper()}}</td>
					{{pass}}
				</tr>
				{{pass}}
				{{for material in inventario[1]:}}
				<tr>
					<td class="camposTabla"> <a href="{{=URL('detalles_mod_mat', vars=dict(espacio=material['msb_espacio'], nombreMat = material['msb_nombre']))}}">{{=material['msb_nombre'].upper()}}</a></td>
					<!-- *!* Colocar anchor a la entrada del  bm en el catalogo de bm -->
					<td class="camposTabla">MATERIAL DE LABORATORIO</td>
					<td class="camposTabla">{{=material['msb_desc'].upper()}}</td>
				</tr>
				{{pass}}
				{{for material in inventario[2]:}}
				<tr>
					<td class="camposTabla"> <a href="{{=URL('detalles_mod_mat', vars=dict(espacio=material['msb_espacio'], nombreMat = material['msb_nombre']))}}">{{=material['msb_nombre'].upper()}}</a></td>
					<!-- *!* Colocar anchor a la entrada del  bm en el catalogo de bm -->
					<td class="camposTabla">CONSUMIBLES</td>
					<td class="camposTabla">{{=material['msb_desc'].upper()}}</td>
				</tr>
			  {{pass}}       
			  {{for herramienta in inventario[3]:}}
			  <tr>
				  <td class="camposTabla"> <a href="{{=URL('detalles_mod_herramientas', vars=dict(espacio=herramienta['mhr_espacio_fisico'], nombreHer = herramienta['mhr_nombre'], ubicacion = herramienta['mhr_ubicacion']))}}">{{=herramienta['mhr_nombre'].upper()}}</a></td>
				  <!-- *!* Colocar anchor a la entrada del  bm en el catalogo de bm -->
				  <td class="camposTabla">HERRAMIENTA</td>
				  <td class="camposTabla">{{=herramienta['mhr_motivo'].upper()}}</td>
			  </tr>
			{{pass}}
			{{for vehi in inventario_vehiculos:}}
				{{ if db(db.modificacion_vehiculo.mvh_id_vehiculo == vehi['id']).select().first() != None: }}
					<tr>
						<td class="camposTabla">
							<a href="{{=URL('detalles_mod_vehiculo', vars=dict(vh=vehi['id']))}}">
								{{=vehi['vh_marca']}} {{=vehi['vh_modelo']}} {{=vehi['vh_placa']}}
							</a>
						</td>
						<!-- *!* Colocar anchor a la entrada del  bm en el catalogo de bm -->
						<td class="camposTabla">VEHÍCULO</td>
						<td class="camposTabla">{{= db(db.modificacion_vehiculo.mvh_id_vehiculo == vehi['id']).select().first().mvh_motivo }}</td>
					</tr>
					{{ pass }}
				{{ pass }}
			</tbody>
	
			<tfoot id="collapseFiltros">
			  <th class="camposTabla linksNombres">NOMBRE</th>
				<th class="camposTabla linksNombres">TIPO</th>
				<th class="camposTabla linksNombres">OBSERVACIONES</th>
				</tr>
			</tfoot>
	
		  </table>
		</div>
	</div>
</div> 

<!-- tabla de eliminacion -->
<div id="tab-2" class="container tab-content">
	<div class="row">
		<br>
		<div id="buttons2">
		</div>
		<br>
		<div class="table-responsive no-padding no-margin">
		  <table id="datatable2" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
			<thead>
				<tr id="titulosListado">
					<th class="camposTabla linksNombres">NOMBRE</th>
					<th class="camposTabla linksNombres">TIPO</th>
					<th class="camposTabla linksNombres">OBSERVACIONES</th>
				</tr>
			</thead>
	
			<tbody>
			  {{for bm in inventario_eliminar[0]:}}
				<tr>
					<td class="camposTabla"><a href="{{=URL('detalles', vars=dict(bm=bm['bm_num'],delete=True))}}">{{=bm['bm_nombre'].upper()}}</a></td>
					<!-- *!* Colocar anchor a la entrada del  bm en el catalogo de bm -->
					<td class="camposTabla">{{=bm['bm_clasificacion'].upper()}}</td>
					<td class="camposTabla">{{=bm['bm_desc_eliminar'].upper()}}</td>
				</tr>
				{{pass}}
				{{for material in inventario_eliminar[1]:}}
				<tr>
					<td class="camposTabla"> <a href="{{=URL('detalles_mat', vars=dict(espacio=material['sb_espacio'], nombreMat = material['sb_nombre'],delete=True))}}">{{=material['sb_nombre'].upper()}}</a></td>
					<!-- *!* Colocar anchor a la entrada del  bm en el catalogo de bm -->
					<td class="camposTabla">MATERIAL DE LABORATORIO</td>
					<td class="camposTabla">{{=material['sb_desc_eliminar'].upper()}}</td>
				</tr>
				{{pass}}
				{{for material in inventario_eliminar[2]:}}
				<tr>
					<td class="camposTabla"> <a href="{{=URL('detalles_mat', vars=dict(espacio=material['sb_espacio'], nombreMat = material['sb_nombre'],delete=True))}}">{{=material['sb_nombre'].upper()}}</a></td>
					<!-- *!* Colocar anchor a la entrada del  bm en el catalogo de bm -->
					<td class="camposTabla">CONSUMIBLES</td>
					<td class="camposTabla">{{=material['sb_desc_eliminar'].upper()}}</td>
				</tr>
			  {{pass}}  
			  {{for herramienta in inventario_eliminar[3]:}}
			  <tr>
				  <td class="camposTabla"> <a href="{{=URL('detalles_herramientas', vars=dict(espacio=herramienta['hr_espacio_fisico'], nombreHer = herramienta['hr_nombre'], ubicacion = herramienta['hr_ubicacion'],delete=True))}}">{{=herramienta['hr_nombre'].upper()}}</a></td>
				  <!-- *!* Colocar anchor a la entrada del  bm en el catalogo de bm -->
				  <td class="camposTabla">HERRAMIENTA</td>
				  <td class="camposTabla">{{=herramienta['hr_desc_eliminar'].upper()}}</td>
			  </tr>
				{{pass}}
				{{for vehi in inventario_eliminar_vehiculos:}}
				<tr>
					<td class="camposTabla">
						<a href="{{=URL('detalles_vehiculo', vars=dict(vh=vehi['vh_placa'], delete=True))}}">
							{{=vehi['vh_marca']}} {{=vehi['vh_modelo']}} {{=vehi['vh_placa']}}
						</a>
					</td>
					<!-- *!* Colocar anchor a la entrada del  bm en el catalogo de bm -->
					<td class="camposTabla">VEHÍCULO</td>
					<td class="camposTabla">{{=vehi['vh_desc_eliminar']}}</td>
				</tr>
				{{pass}}           
			</tbody>
	
			<tfoot id="collapseFiltros">
			  <th class="camposTabla linksNombres">NOMBRE</th>
				<th class="camposTabla linksNombres">TIPO</th>
				<th class="camposTabla linksNombres">OBSERVACIONES</th>
				</tr>
			</tfoot>
	
		  </table>
		</div>
	</div>
</div> 

<!-- Fin de la seccion lista de validaciones para bienes muebles  --> 

<script type="text/javascript">
	// Funcion para que mostrar el grid de espacios fisicos
	function grid_ef(){
		var grid = document.getElementById("secciones");
		grid.classList.remove("grid-container");
		grid.classList.add("grid-container-ef");
	}
</script>
<script type="text/javascript">
	function redirect(dir){
		window.location.href = dir;
	}
	
	function show_seccion() {
		var x = document.getElementById("secciones");
		if (x.style.display === "none") {
			x.style.display = "grid";
			x.style.webkitAnimation = "fadein 2s";
			x.style.marginTop = "20px";
		} else {
			x.style.webkitAnimation = "fadeOut 1s";
			setTimeout(function () {
				x.style.display = "none";
			}, 500);
		}
	}

	function hide_seccion(){
		var x = document.getElementById("secciones");
		x.style.display = "none";
	}
</script>
<script>

  var filtros = false;

  $(document).ready(function() {
      // Setup - add a text input to each footer cell
      $('#datatable tfoot th').each( function () {
          var title = $(this).text();
          $(this).html( '<input type="text" placeholder="Filtro" />' );
      } );
   
      // DataTable
      var table = $('#datatable').DataTable();
   
      // Apply the search
      table.columns().every( function () {
          var that = this;
   
          $( 'input', this.footer() ).on( 'keyup change', function () {
              if ( that.search() !== this.value ) {
                  that
                      .search( this.value )
                      .draw();
              }
          } );
      } );

      $('#datatable tfoot tr').appendTo('#datatable thead');
      $("#datatable thead tr").not("#titulosListado").css("display","none");
  } );

  function mostrarFiltro() {
      if (filtros){
        $("#datatable thead tr").not("#titulosListado").css("display","none");
        filtros = false
      }
      else{
        $("#datatable thead tr").not("#titulosListado").css("display","table-row");
        filtros = true
      }

  }
</script>
 
<script language="javascript">
  
	var table = $('#datatable').DataTable({
	  'sDom' : "<'row'f <'buttons'>>"+"<'row'<'col-md-6'l><'col-md-6'i>>"+"<'row'rt>"+"<'row'<'col-md-12'p>>",
	  //dom: 'Bfrtip',
	  language: {
		url: "{{=URL('static', 'plugins/datatables/l18n/es-ES.json')}}"
	  },
		initComplete: function(){
			var api = this.api();
		
			new $.fn.dataTable.Buttons(api, {
				buttons: [
	
				{
				text:'<i class="fa fa-filter"></i>',
				action: function(){
					mostrarFiltro()
				},
				className: 'boton-sigulabIzq'
				},
		
					{
						extend: 'collection',
						text: '<i class="fas fa-save"></i>',
						className: 'boton-sigulab',
						buttons: [
							{ extend:'copy', text: 'Copiar' } ,
							'excel',
							'csv',
							'pdf'
						]
					},
					{ extend:'print', text: '<i class="fas fa-print"></i>', className: 'boton-sigulabDer'}
				]
			});
			//$('#botonModal').addClass('pull-left')
			$('#filtrar').addClass('pull-left');
			$('#espacioBuscar').addClass('pull-left');
		
		
			$('.dataTables_filter').appendTo('#buttons');
		
			api.buttons().container().appendTo('#buttons');
			//$('.dt-buttons').append($('#botonModal'));
			$('#buttons').append('<br><br>');
			$('.dataTables_info').addClass('pull-right');
			$('.dataTables_filter').addClass('pull-left');
	
			$('#datatable_previous').html('<span class="fa fa-arrow-left"/>');
			$('#datatable_next').html('<span class="fa fa-arrow-right" />');
		
			
		 }
		});
	</script>
	<script type="text/javascript">
    $('.tab-link').click( function() {
        
        var tabID = $(this).attr('data-tab');
        
        $(this).addClass('active').siblings().removeClass('active');
        
        $('#tab-'+tabID).addClass('active').siblings().removeClass('active');
    });
      
	</script>
	<script>

		var filtros = false;
	
		$(document).ready(function() {
				// Setup - add a text input to each footer cell
				$('#datatable2 tfoot th').each( function () {
						var title = $(this).text();
						$(this).html( '<input type="text" placeholder="Filtro" />' );
				} );
		 
				// DataTable
				var table = $('#datatable2').DataTable();
		 
				// Apply the search
				table.columns().every( function () {
						var that = this;
		 
						$( 'input', this.footer() ).on( 'keyup change', function () {
								if ( that.search() !== this.value ) {
										that
												.search( this.value )
												.draw();
								}
						} );
				} );
	
				$('#datatable2 tfoot tr').appendTo('#datatable2 thead');
				$("#datatable2 thead tr").not("#titulosListado").css("display","none");
		} );
	
		function mostrarFiltro2() {
				if (filtros){
					$("#datatable2 thead tr").not("#titulosListado").css("display","none");
					filtros = false
				}
				else{
					$("#datatable2 thead tr").not("#titulosListado").css("display","table-row");
					filtros = true
				}
	
		}
	</script>
	 
	<script language="javascript">
		
		var table = $('#datatable2').DataTable({
			'sDom' : "<'row'f <'buttons'>>"+"<'row'<'col-md-6'l><'col-md-6'i>>"+"<'row'rt>"+"<'row'<'col-md-12'p>>",
			//dom: 'Bfrtip',
			language: {
			url: "{{=URL('static', 'plugins/datatables/l18n/es-ES.json')}}"
			},
			initComplete: function(){
				var api = this.api();
			
				new $.fn.dataTable.Buttons(api, {
					buttons: [
		
					{
					text:'<i class="fa fa-filter"></i>',
					action: function(){
						mostrarFiltro2()
					},
					className: 'boton-sigulabIzq'
					},
			
						{
							extend: 'collection',
							text: '<i class="fas fa-save"></i>',
							className: 'boton-sigulab',
							buttons: [
								{ extend:'copy', text: 'Copiar' } ,
								'excel',
								'csv',
								'pdf'
							]
						},
						{ extend:'print', text: '<i class="fas fa-print"></i>', className: 'boton-sigulabDer'}
					]
				});
			
				$('#datatable2_filter').appendTo('#buttons2');
		
				api.buttons().container().appendTo('#buttons2');
				//$('.dt-buttons').append($('#botonModal'));
				$('#buttons2').append('<br><br>');
				$('#datatable2_info').addClass('pull-right');
				$('#datatable2_filter').addClass('pull-left');
		
				$('#datatable2_previous').html('<span class="fa fa-arrow-left"/>');
				$('#datatable2_next').html('<span class="fa fa-arrow-right" />');
			
				
			 }
			});
		</script>
{{end}}
