{{extend 'layout.html'}}

{{block head}}
	<meta charset="UTF-8">


	<!-- Para los mensajes con flash -->
	<link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3-flash.css')}}"/>

	<!--DATATABLES-->
	<link rel="stylesheet" type="text/css" href="{{=URL('static', 'plugins/datatables2/datatables.min.css')}}"/>
	<script type="text/javascript" src="{{=URL('static', 'plugins/datatables2/datatables.min.js')}}"></script>

	<style type="text/css">
		div.dt-buttons {
		  float: right;
		}

	</style>

 	<!-- Estilos de modales y listados -->
 	<link rel="stylesheet" href="{{=URL('static', 'css/servicios_modal.css')}}">
 	<link rel="stylesheet" href="{{=URL('static', 'inventarios/css/template_modal.css')}}">
  	<link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventarios.css')}}"> 
  	<link rel="stylesheet" href="{{=URL('static', 'inventarios/css/listado.css')}}">
  	<link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventario_dependencia.css')}}">
  	<link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventario_espacio.css')}}">
 	<link rel="stylesheet" href="{{=URL('static', 'inventarios/css/bienes_muebles.css')}}">
 	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">	   
  	<script src="{{=URL('static', 'js/inventario_template_modal.js')}}"></script>
 	<!-- Web2py JS - Especialmente para AJAX -->
 	<script src="{{=URL('static', 'js/web2py.js')}}"></script>


 	<style>
   	.row{
     	margin-right:0px!important;
   	}
	 </style>
{{end}}


{{block center}}

<!-- Bloque de navegación secundaria (breadcrumb) -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'inventarios')}}">Inventarios</a>
  <span class="breadcrumb-item active">Vehiculos</span>
  </div>
</nav>
<!-- Fin del bloque de navegación secundaria (breadcrumb) -->


<!-- Flash message -->
<div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>

<!-- Inicio de la seccion de cajas de dependencias y espacios fisicos --> 
	<div class="container titulo">
	<h3 class="dep-titulo">INVENTARIO DE VEHICULOS</h3>
	{{ if dep_padre_nombre == 'DIRECCIÓN': }}
		{{ dep_padre_nombre = 'ULAB'}}
	{{ pass }}
	{{if es_tecnico:}}
		<!-- Si el usuario es tecnico y se encuentra en la vista de los espacios fisicos
		de alguna seccion que tiene "a cargo" o consultando el inventario de un espacio
		debe poder regresar al nivel superior de la jerarquia -->
		{{ if acceso_direccion: }}
		<div class="col-xs-2">
			<button id="boton-retorno" class="btn boton-sigulab" onclick="redirect('{{=URL('vehiculos')}}')">
				<i class="fas fa-arrow-left"></i>	    		
			</button>
		</div>
		<div class="col-xs-8">
			<h3 class="dep-titulo"> {{=dep_padre_nombre}} </h3>
			<h4 class="dep-titulo"> {{=dep_nombre}} </h4>
		</div>
		<div class="col-xs-2"> </div>
		{{ elif espacios or es_espacio or espacio_visitado:}}
		<div class="col-xs-2">
			<button id="boton-retorno" class="btn boton-sigulab" onclick="redirect('{{=URL('vehiculos', vars=dict(dependencia=dep_padre_id, es_espacio='False'))}}')">
				<i class="fas fa-arrow-left"></i>	    		
			</button>
		</div>
		<div class="col-xs-8">
			<h3 class="dep-titulo"> {{=dep_padre_nombre}} </h3>
			<h4 class="dep-titulo"> {{=dep_nombre}} </h4>
		</div>
		<div class="col-xs-2"> </div>
		<!-- Si el usuario es tecnico y se encuentra en una seccion o un espacio -->
		{{else:}}
		<div class="col-xs-12">
			<h3 class="dep-titulo"> {{=dep_padre_nombre}} </h3>
			<h4 class="dep-titulo"> {{=dep_nombre}} </h4>
		</div>
		{{pass}}

	{{else:}}
		<!-- Si el usuario no es tecnico y hay un nivel superior en la jerarquia, se retrocede al
		siguiente nivel superior de jerarquia -->
		{{if dep_padre_id:}}
		<div class="col-xs-2">
			<!-- Si la flecha debe regresar al inventario de la direccion (en caso de que se tengan
			los permisos) simplemente se redirije a 'inventarios', pues de no hacerlo, se enviaran
			request.vars.dependencia != None lo cual rompe con el flujo de ejecucion programado
			en el controlador-->
			{{if dep_padre_id == direccion_id:}}
			<button id="boton-retorno" class="btn boton-sigulab" onclick="redirect('{{=URL('vehiculos')}}')">
				<i class="fas fa-arrow-left"></i>	
			</button>
			{{else:}}
			<button id="boton-retorno" class="btn boton-sigulab" onclick="redirect('{{=URL('vehiculos', vars=dict(dependencia=dep_padre_id, es_espacio='False'))}}')">
				<i class="fas fa-arrow-left"></i>	    		
			</button>
			{{pass}}
		</div>
		<div class="col-xs-8">
			<h3 class="dep-titulo">{{=dep_padre_nombre}}</h3>
			<h4 class="dep-titulo"> {{=dep_nombre}} </h4>
		</div>
		<div class="col-xs-2"> </div>
		<!-- Si no es tecnico y no hay mas niveles superiores en la jerarquia, se muestra como titulo
		el nombre de la dependecia a la que pertenece el usuario -->
		{{else:}}
		<div class="col-xs-12">
			<h3 class="dep-titulo"> {{=dep_padre_nombre}} </h3>
			{{ if dep_nombre == 'DIRECCIÓN': }}
				<h3 class="dep-titulo"> ULAB</h3>
			{{ else: }}
				<h4 class="dep-titulo"> {{=dep_nombre}} </h4>
			{{ pass }}
		</div>
		{{pass}}
	{{pass}}
	</div>

	<!-- 
		Si se estan consultando los espacios fisicos de una seccion, la variable espacios 
		sera utilizada en lugar de la variable dependencias 
	-->
	<div class="container">
		<div id="fila1" class="row">
		</div>
		{{ if dep_nombre.find("DIRECCIÓN") != -1: }}
			{{ title = "Dependencias" }}
		{{else: }}
			{{ title = "Secciones" }}
		{{ pass }}
		{{ if len(dependencias) > 0: }}
				<button onclick="show_seccion()">
					Seleccionar: {{=title}}
					<span class="caret"></span>
				</button>
		{{ pass }}
		{{ if espacios: }}
			<div class="grid-container-ef" id="secciones" style="display: none">
		{{ else: }}
			<div class="grid-container" id="secciones" style="display: none">
		{{ pass }}	
			{{ for espacio in dependencias: }}
			<div class="grid-item" onclick="redirect('{{=URL('vehiculos',vars=dict(dependencia=espacio.id, es_espacio=es_espacio))}}');">
					{{ =espacio.nombre }}
			</div>
			{{ if espacio.nombre.find("LABORATORIO G") != -1: }}
					{{ if not acceso_direccion and dep_nombre.find("DIRECCIÓN") != -1: }}
						<div class="grid-item" onclick="redirect('{{=URL('vehiculos',vars=dict(dependencia=1, es_espacio=True, acceso_direccion=True))}}');">
							<br/>
							DIRECCIÓN
						</div>
					{{ pass }}
				{{ pass }}
			{{ pass }}
		</div>
	</div>
	

<!-- Fin de la seccion de cajas de dependencias y espacios fisicos --> 


	<!-- Se lista el inventario de una dependencia de apoyo -->
	{{include 'inventarios/inventario_dependencia_v.html'}}

<!-- Fin de la seccion con la lista de sustancias en el inventario --> 


<script type="text/javascript">
	// Funcion para que mostrar el grid de espacios fisicos
	function grid_ef(){
		var grid = document.getElementById("secciones");
		grid.classList.remove("grid-container");
		grid.classList.add("grid-container-ef");
	}
</script>
<script type="text/javascript">
	function redirect(dir){
		window.location.href = dir;
	}
	
	function show_seccion() {
		var x = document.getElementById("secciones");
		if (x.style.display === "none") {
			x.style.display = "grid";
			x.style.webkitAnimation = "fadein 2s";
			x.style.marginTop = "20px";
		} else {
			x.style.webkitAnimation = "fadeOut 1s";
			setTimeout(function () {
				x.style.display = "none";
			}, 500);
		}
	}

	function hide_seccion(){
		var x = document.getElementById("secciones");
		x.style.display = "none";
	}
</script>
<script>

	var filtros = false;
  
	$(document).ready(function() {
		// Setup - add a text input to each footer cell
		$('#datatable tfoot th').each( function () {
			var title = $(this).text();
			$(this).html( '<input type="text" placeholder="Filtro" />' );
		} );
	 
		// DataTable
		var table = $('#datatable').DataTable();
		
		// Apply the search
		table.columns().every( function () {
			var that = this;
	 
			$( 'input', this.footer() ).on( 'keyup change', function () {
				if ( that.search() !== this.value ) {
					that
						.search( this.value )
						.draw();
				}
			} );
		} );
  
		$('#datatable tfoot tr').appendTo('#datatable thead');
		$("#datatable thead tr").not("#titulosListado").css("display","none");
	} );
  
	function mostrarFiltro() {
		if (filtros){
		  $("#datatable thead tr").not("#titulosListado").css("display","none");
		  filtros = false
		}
		else{
		  $("#datatable thead tr").not("#titulosListado").css("display","table-row");
		  filtros = true
		}
  
	}
  </script>
   
  <script language="javascript">
  
	var table = $('#datatable').DataTable({
	  'sDom' : "<'row'f <'buttons'>>"+"<'row'<'col-md-6'l><'col-md-6'i>>"+"<'row'rt>"+"<'row'<'col-md-12'p>>",
	  //dom: 'Bfrtip',
	  language: {
		url: "{{=URL('static', 'plugins/datatables/l18n/es-ES.json')}}"
	  },
	  "columnDefs": [
	  ],
	 initComplete: function(){
		var api = this.api();
  
		new $.fn.dataTable.Buttons(api, {
		  buttons: [

			{
			text:'<i class="fa fa-filter"></i>',
			action: function(){
				mostrarFiltro()
			},
			className: 'boton-sigulabIzq'
			},
  
			  {
				  extend: 'collection',
				  text: '<i class="fas fa-save"></i>',
				  className: 'boton-sigulab',
				  buttons: [
					  { extend:'copy', text: 'Copiar' } ,
					  'excel',
					  'csv',
					  'pdf'
				  ]
			  },
			  { extend:'print', text: '<i class="fas fa-print"></i>', className: 'boton-sigulabDer'}
		  ]
		});
		//$('#botonModal').addClass('pull-left')
		$('#filtrar').addClass('pull-left');
		$('#espacioBuscar').addClass('pull-left');
  
  
		$('.dataTables_filter').appendTo('#buttons');
  
		api.buttons().container().appendTo('#buttons');
		//$('.dt-buttons').append($('#botonModal'));
		$('.dt-buttons').append($('#filtrar'));
		$('#buttons').append('<br><br>');
		$('.dataTables_info').addClass('pull-right');
		$('.dataTables_filter').addClass('pull-left');

		$('#datatable_previous').html('<span class="fa fa-arrow-left"/>');
		$('#datatable_next').html('<span class="fa fa-arrow-right" />');
  
		
	 }
	});



  </script>

{{end}}