<!DOCTYPE html>
<html lang="es">
<head>
	<title>SIGULAB - Seleccionar módulo</title>
	<meta charset="UTF-8" />
	<!-- Avoid search sites from indexing this website -->
	<meta name="robots" content="noindex" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="{{=URL('static', 'css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/servicios_principal.css')}}">
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="login-pages">

		<div class="container">

			<div class="row">
				<h1 id="titulo">SIGULAB</h1>
			</div>

			<div class="row fila">
				
				<a class="links" href="{{=URL('..','SIGULAB') }}">
					<div id="cuadrado1" class="col-sm-5 cuadrados">
						 <h1>SMyDP <span class="glyphicon glyphicon-alert"></span></h1>
					</div>
				</a>

				<div class="col-sm-2"></div>

				<a class="links" href="{{=URL('..','sigulab2', 'modulos') }}">
					<div id="cuadrado2" class="col-sm-5  cuadrados">
						<h1>Otros módulos <span class="glyphicon glyphicon-menu-hamburger"></span></h1>
					</div>
				</a>

			</div> 
		</div>
		
	</div>
</body>
</html>

