<!DOCTYPE html>
<html>
<head>
	<title>modulos</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{=URL('static', 'css/servicios_modulos.css')}}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

	<div class="container">

		<div class="row">
			<h1 id="titulo">SIGULAB</h1>
		</div>

		<div class="row fila">
			<a class="links" href="#">
				<div id="cuadrado1" class="col-sm-5 cuadrados">
					 <h1>SMyDP <span class="glyphicon glyphicon-alert"></span></h1>
				</div>
			</a>

			<div class="col-sm-2"></div>

			<a class="links" href="#">
				<div id="cuadrado2" class="col-sm-5  cuadrados">
					<h1>Otros módulos <span class="glyphicon glyphicon-menu-hamburger"></span></h1>
				</div>
			</a>
		</div> 
	</div>

</body>
</html>