<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="{{=URL('static','css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{=URL('static','css/core.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/components.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/icons.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/pages.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/menu.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/responsive.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/servicios_login.css')}}" rel="stylesheet" type="text/css"/>
    <script src="{{=URL('static','js/modernizr.min.js')}}"></script>
</head>

<body>
<!-- Inicio Wrapper -->
<div class="wrapper-page">
    <!-- Inicio Card Box -->
    <div class="m-t-40 card-box boxes" id="boxLogin">
        
        <div class="text-center cabecera">
            <h4 id="titulo" class="text-uppercase font-bold m-b-0">SIGULAB</h4>
        </div>
        
        <!-- Inicio panel -->
        <div class="panel-body">
            <!-- Inicio form login -->
            <form action="#" class="form-horizontal" enctype="multipart/form-data" method="post">

                <!-- Correo Electronico -->
                <div class="form-group" id="auth_user_email__row">
                    <div class="col-xs-12">
                        <!-- Todavia no sabemos si vamos a usar label o placeholder -->
                        <!-- <label class="control-label col-sm-3" for="auth_user_email__row" id="auth_user_email__label">Correo Electrónico:</label> -->
                        <input class="form-control string" id="auth_user_email" name="email" type="text" placeholder="Correo Electrónico" value="" required>
                        <span class="help-block"></span>
                    </div>
                </div>

                <!-- Contrasena -->
                <div class="form-group" id="auth_user_password__row">
                    <div class="col-xs-12">
                        <!-- Todavia no sabemos si vamos a usar label o placeholder -->
                        <!-- <label class="control-label col-sm-3" for="auth_user_password" id="auth_user_password__label">Contraseña:</label> -->
                        <input class="form-control password" id="auth_user_password" name="password" type="password" placeholder="Contraseña" value="" required>
                        <span class="help-block"></span>
                        <div class="form-group m-t-30 m-b-0">
                        
                        <div class="col-sm-12">
                            <a href="resetpassword" class="text-muted"><p id="mensaje">¿Has olvidado tu contraseña?</p></a>
                        </div>
                    </div>
                    </div></div>

                <!-- Check box Recordar contrasena --> 
                <div class="form-group" id="auth_user_remember_me__row">    
                    <div class="col-xs-12 col-sm-offset-3">
                        <div class="checkbox checkbox-custom">
    <!--                         <label class="" id="auth_user_remember_me__label">
                            <input class="boolean" id="auth_user_remember_me" name="remember_me" type="checkbox" value="on"> Recordar mis datos</label> -->
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>

                <!-- Boton Iniciar Sesion -->
                <div class="form-group text-center m-t-30" id="submit_record__row">
                    <div class="col-xs-12 ">
                        <input id="botonLogin" class="btn btn-primary botones" type="submit" value="Iniciar sesion">
                    </div>
                </div>

                {{=form.custom.begin}}
                {{=form.custom.end}}
                {{if form.errors:}}
                  <ul>
                  {{for fieldname in form.errors:}}
                    <li> error: {{=form.errors[fieldname]}}</li>
                  {{pass}}
                  </ul>
                  {{form.errors.clear()}}
                {{pass}}
            </form>
            <!-- Fin form login -->
        </div>
        <!-- Fin panel -->
    </div>
    <!-- Fin Card Box -->
</div>
<!-- Fin Wrapper -->
</body>
