<!DOCTYPE html>
<html style="background-color:#FFF !important">
<head>
    <meta charset="utf-8">
    <link href="{{=URL('static','css/servicios.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{=URL('static','css/core.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/components.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/icons.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/pages.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/menu.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/responsive.css')}}" rel="stylesheet" type="text/css"/>
    <script src="{{=URL('static','js/modernizr.min.js')}}"></script>
</head>
<body style="background-color:#FFF !important">

<!-- Inicio Wrapper -->
<div class="wrapper-page">
        <div class="text-center cabecera">
            <h4 id="titulo" class="text-uppercase font-bold m-b-0">SIGULAB</h4>
        </div>

    <!-- Inicio Form -->
    <form action="#" class="form-horizontal" enctype="multipart/form-data" method="post">
        

        <div class="form-group" id="no_table_new_password__row">
            <label class="col-xs-12" for="no_table_new_password" id="no_table_new_password__label">Contraseña nueva</label>
            <div class="col-xs-12"><input class="form-control password" id="no_table_new_password" name="new_password" type="password" value="">
                <span class="help-block"></span>
            </div>
        </div>


        <div class="form-group" id="no_table_new_password2__row">
            <label class="col-sm-3" for="no_table_new_password2" id="no_table_new_password2__label">Verificar Contraseña</label>
            <div class="col-xs-12"><input class="form-control password" id="no_table_new_password2" name="new_password2" type="password" value="">
                <span class="help-block"></span>
            </div>
        </div>


        <div class="form-group" id="submit_record__row">
            <div class="col-sm-9 col-sm-offset-3">
                <input class="btn btn-primary" type="submit" value="Solicitar reinicio de contraseña">
            </div>
        </div>
        {{=form.custom.begin}}
        {{=form.custom.end}}
        {{if form.errors:}}
                  <ul>
                  {{for fieldname in form.errors:}}
                    <li>{{=form.errors[fieldname]}}</li>
                  {{pass}}
                  </ul>
                  {{form.errors.clear()}}
                {{pass}}
    </form>
    <!-- Fin form -->
</div>
<!-- Fin Wrapper -->
</body>
</html>