{{extend 'layout.html'}}

{{=BEAUTIFY(response._vars)}}

{{block center}}
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="{{=URL('static', 'css/agregarDoc.css')}}">



<form id="form-wrapper" class="form-wrapper" name="form" action="POST">
    <nav id="progress-bar" class="progress-bar">
        <ul class="progress-bar__container">  
            <li class="progress-bar__item current"><a href="#" class="link">Información General</a></li>
            <li class="progress-bar__item"><a href="#" class="link">Información de Elaboración</a></li>
            <li class="progress-bar__item"><a href="#" class="link">Información de Revisión</a></li>
            <li class="progress-bar__item"><a href="#" class="link">Aprobado (1)</a></li> 
            <li class="progress-bar__item"><a href="#" class="link">Aprobado (2)</a></li>      
        </ul>
    </nav>
   
    <div id="fieldset-container" class="tab-wrapper ">
        <fieldset class="tab-panel">
            <legend>Añadir Documento / Información General</legend>
            <div class="input-group">
                <input type="text" class="input" name="nombre_documento" id="nombre_documento" required>
                <label class="label" for="nombre_documento"><i class="lnr lnr-user"></i> Nombre del Documento</label>
            </div>

            <div class="input-group"> 
                <select name="tipo" id="tipo" class="input">
                	<option value=""></option>
					<option value="referente">Referente Estratégico</option>
					<option value="reglamento">Reglameto</option>
					<option value="manual1">Manual de Organización</option>
					<option value="manual2">Manual de Calidad</option>
					<option value="manual3">Manual de Proceso de Gestión</option>
					<option value="manual4">Manual de Proceso Técnico</option>
					<option value="manual5">Manual de Uso</option>
				</select>
                <label class="label" for="tipo">Tipo del Documento</label>
            </div>

            <div class="input-group"> 
                <select name="estatus" id="estatus" class="input">
                	<option value=""></option>
					<option value="planificación">En planificación</option>
					<option value="elaboracion">En elaboración</option>
					<option value="revision">En revisión</option>
					<option value="aprobado">Aprobado</option>
				</select>
                <label class="label" for="estatus">Estatus</label>
            </div>




        </fieldset>

        <fieldset class="tab-panel">
            <legend>Añadir Documento / Información Elaboración</legend>
            
            <div class="input-group">
                <input type="text" class="input" name="codigo" id="codigo" required> 
                <label class="label" for="codigo"><i class="lnr lnr-code"></i> Código Documento</label>
            </div>
            <div class="input-group">
                <input type="text" class="input" name="objetivos" id="objetivos" required> 
                <label class="label" for="objetivos"><i class="lnr lnr-flag"></i> Objetivos </label>
            </div>

            <div class="input-group">
                <input type="text" class="input" name="elaborado" id="elaborado" required> 
                <label class="label" for="elaborado"><i class="lnr lnr-pencil"></i> Elaborado por </label>
            </div>

            <div class="input-group">
                <input type="text" class="input" name="responsable" id="responsable" required> 
                <label class="label" for="responsable"><i class="lnr lnr-users"></i> Responsable </label>
            </div>

            <div class="input-group">
                <input type="text" class="input" name="anexos" id="anexos" min="0" max="30" required> 
                <label class="label" for="anexos"><i class="lnr lnr-paperclip"></i> Cantidad de Anexos </label>
            </div>


        </fieldset>

        <fieldset class="tab-panel">
            <legend>Añadir Documento / Información Revisión</legend>


            
            <div class="input-group">


                <select name="periodo" id="periodo" class="input">
					<option value=""></option>
					<option value="dia">Día(s)</option>
					<option value="mes">Mes(es)</option>
					<option value="ano">Año(s)</option>
				</select> 


                <label class="label" for="periodo"><i class="lnr lnr-map-marker"></i>Período de Revisión</label>
            </div>

            <div class="input-group">


                <input type="text" class="input" name="periodocant" id="periodocant" required>

                <label class="label" for="periodocant"><i class="lnr lnr-map-redo"></i>Período de Revisión (cantidad)</label>
            </div>




        </fieldset>
        
        <fieldset class="tab-panel">
            <legend>Añadir Documento / Aprobado (1)</legend>


            <div class="input-group">
                <input type="text" class="input" name="aprobado" id="aprobado">
                <label class="label" for="aprobado"><i class="icon-"></i> Aprobado Por:</label>
            </div>
            <div class="input-group focus">
				<input type="date" class="input" name="fechaAprobacion" id="fechaAprobacion" required>
				<label class="label" for="fechaAprobacion"><i class="lnr lnr-calendar-full"></i>Fecha de Aprobación</label>
            <div class="input-group">

                <input type="text" class="input" name="cod_registro" id="cod_registro">
                <label class="label" for="cod_registro"><i class="icon-twitter"></i> Código de Registro de Aprobacion</label>
            </div>
             <div class="input-group">
                <input type="text" class="input" name="cod_controlCambios" id="cod_controlCambios">
                <label class="label" for="cod_controlCambios"><i class="icon-twitter"></i> Código de Registro de Control de cambios</label>
            </div>

            <div class="input-group">
                <input type="date" class="input" name="fechaControlCambios" id="fechaControlCambios">
                <label class="label" for="fechaControlCambios"><i class="icon-instagram"></i> Fecha de registro de control de cambios</label>
            </div>
            <div class="input-group">
                <input type="text" class="input" name="archivo_el" id="archivo_el">
                <label class="label" for="archivo_el"><i class="icon-twitter"></i>Archivo electrónico</label>
            </div>
            <div class="input-group">
                <input type="text" class="input" name="carpeta_el" id="carpeta_el">
                <label class="label" for="carpeta_el"><i class="icon-twitter"></i>Carpeta electrónica</label>
            </div>
            <div class="input-group">
                <input type="text" class="input" name="ubicacion_fisica" id="ubicacion_fisica">
                <label class="label" for="ubicacion_fisica"><i class="icon-twitter"></i>Ubicación física del documento</label>
            </div>  
            <div class="input-group">
                <input type="text" class="input" name="revision_contenido" id="revision_contenido">
                <label class="label" for="revision_contenido"><i class="icon-twitter"></i>Revisión de contenido realizado por:</label>
            </div> 




        </fieldset>

        <fieldset class="tab-panel">
            <legend>Añadir Documento / Aprobado (2)</legend>


            
            <div class="input-group">
                <input type="date" class="input" name="fecha_revision_contenidos" id="fecha_revision_contenidos">
                <label class="label" for="fecha_revision_contenidos"><i class="icon-instagram"></i> Fecha de registro de revisión de contenidos</label>
            </div>           
            <div class="input-group">
                <input type="text" class="input" name="revision_especificaciones" id="revision_especificaciones">
                <label class="label" for="revision_especificaciones"><i class="icon-twitter"></i>Revisión de especificaciones del documento realizado por:</label>
            </div> 
            <div class="input-group">
                <input type="date" class="input" name="fecha_revision_especificaciones" id="fecha_revision_especificaciones">
                <label class="label" for="fecha_revision_especificaciones"><i class="icon-instagram"></i> Fecha de revisión de especificaciones del documento</label>
            </div>     
            <div class="input-group">
                <input type="text" class="input" name="revision_consejo" id="revision_consejo">
                <label class="label" for="revision_consejo"><i class="icon-eyer"></i>Revisión por el Consejo Asesor</label>
            </div> 
            <div class="input-group">
                <input type="date" class="input" name="fecha_revision_consejo" id="fecha_revision_consejo">
                <label class="label" for="fecha_revision_consejo"><i class="icon-instagram"></i> Fecha de revisión por el Consejo Asesor</label>
            </div>     



        </fieldset>

       
    </div>
    <input class="submit-button button" type="submit" value="Register">
    <nav id="tab-nav" class="tab-nav">
        <button class="tab-nav__button nav-button prev lnr lnr-arrow-up"></button>
        <button class="tab-nav__button nav-button next lnr lnr-arrow-down"></button>
    </nav>
    
</form>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="{{=URL('static','js/agregarDoc.js')}}"></script>
{{end}}
