{{extend 'layout.html'}}
<h1>Está es la plantilla informacion_documentada/ficha.html</h1>
{{=BEAUTIFY(response._vars)}}


{{block head}}
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{{=URL('static', 'css/agregarDoc.css')}}">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Poppins:300,400,700'>

  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/servicios_modal.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_listado.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_template_modal.css')}}">
  
  <script src="{{=URL('static', 'js/servicios_template_modal.js')}}"></script>

  <!-- Web2py JS - Especialmente para AJAX -->
  <script src="{{=URL('static', 'js/web2py.js')}}"></script>
  <style>
    .row{
      margin-right:0px!important;
    }
  </style>
  <style type="text/css">
    
    .wrapper {
      max-width: 80%;
      margin: auto;
      margin-top: 10px;
    }

    .tab-wrapper2 {
      text-align: center;
      display: block;
      margin: auto;
      max-width: 1200px;
    }

    .tabs {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    .tab-link {
      margin: 0 1%;
      list-style: none;
      padding: 10px 40px;
      font-size: 25px;
      color: #aaa;
      cursor: pointer;
      font-weight: 700;
      transition: all ease 0.5s;
      border-bottom: solid 3px rgba(255, 255, 255, 0);
      letter-spacing: 1px;
    }

    .tab-link:hover {
      color: #999;
      border-color: #999;
    }

    .tab-link.active {
      color: #333;
      border-color: #333;
    }

    .tab-link:nth-of-type(1).active {
      color: #60e8f2;
      border-color: #60e8f2;
    }

    .tab-link:nth-of-type(2).active {
      color: #60e8f2;
      border-color: #60e8f2;
    }

    .tab-link:nth-of-type(3).active {
      color: #60e8f2;
      border-color: #60e8f2;
    }

    .content-wrapper {
      margin-top: 30px;
      padding: 40px 80px;
    }

    .tab-content {
      display: none;
      text-align: left;
      color: #888;
      font-weight: 300;
      font-size: 15px;
      opacity: 0;
      transform: translateY(15px);
      animation: fadeIn 0.5s ease 1 forwards;
    }

    .tab-content.active {
      display: block;
    }

    @keyframes fadeIn {
      100% {
        opacity: 1;
        transform: none;
      }
    }

  </style>

{{end}}


{{block center}}
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2','informacion_documentada','')}}">Información Documentada</a>
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2','informacion_documentada','')}}">Listado de Documentos</a>
  <span class="breadcrumb-item active">Ficha</span>
  </div>
</nav>
  {{for doc in message:}}



<div class="wrapper">
    
  <div class="tab-wrapper2">
    <ul class="tabs">
        <li class="tab-link active" data-tab="1">Información General</li>
        <li class="tab-link" data-tab="2">Historial de Revisión</li>
        <li class="tab-link" data-tab="3">Ubicación</li>
    </ul>
  </div>

  <div class="content-wrapper">
    <div id="tab-1" class="tab-content active">

      <p><span style="color: #52798c; font-size: 1.2em;">Código:  {{=doc.codigo}}  </span></p>
      <p><span style="color: #52798c; font-size: 1.2em;">Tipo:    {{=doc.tipo_doc}}  </span></p>
      <p><span style="color: #52798c; font-size: 1.2em;">Documento: {{=doc.nombre_doc}}    </span> </p>
      <p><span style="color: #52798c; font-size: 1.2em;">Objetivo: {{=doc.objetivo}}       </span></p>
      <p><span style="color: #52798c; font-size: 1.2em;">Estatus:  {{=doc.estatus}}    </span></p>
      <p><span style="color: #52798c; font-size: 1.2em;">Período de Revisión:  {{=doc.periodo_rev}}   </span></p>

      <div style="margin-top: 50px; float: right;">
        <div class="row container-fluid">
            <form method="POST">
            <p onclick="estatus()">
                <button type="button" id="botonModal" data-toggle="modal" data-target="#adddoc"  class="btn btn-primary btn-lg" style="margin-right: 15px;" >Editar</button>
               </p>
                <button type="button" class="btn btn-info btn-lg" style="margin-right: 15px;">Ocultar</button>
                <button type="submit" class="btn btn-danger btn-lg" name="eliminar" value="eliminar">Eliminar</button>
            </form>
        </div>
      </div>  
    

    </div>



    <div id="tab-2" class="tab-content">



      <table class="container">
        <thead>
          <tr>
            <th>Responsable</th>
            <th>Elaborado por</th>
            <th>Revisión de contenido realizado por</th>
            <th>Fecha de revisión de contenido</th>
            <th>Revisión de especificaciones del documento realizado por</th>
            <th>Fecha de revisión de especificaciones del documento</th>
            <th>Revisión por el Consejo Asesor</th>
            <th>Fecha de revisión por el Consejo Asesor</th>

          </tr>
        </thead>
        <tbody>
          <tr>

            <td>{{=doc.responsable}}</td>
            <td>{{=doc.elaborado_actualizado_por}}</td>
            <td>{{=doc.rev_contenido_realizado_por}}</td>
            <td>{{=doc.fecha_rev_contenido}}</td>
            <td>{{=doc.rev_especficaciones_doc_realizado_por}}</td>
            <td>{{=doc.fecha_rev_especificaciones_doc}}</td>
            <td>{{=doc.rev_por_consejo_asesor}}</td>
            <td>{{=doc.fecha_rev_por_consejo_asesor}}</td>
            
          </tr>

        </tbody>
      </table>



    </div>
    <div id="tab-3" class="tab-content">
  
      <p><span style="color: #52798c; font-size: 1.2em;">Código de registro de Ubicacion: {{=doc.registro}}  </span></p>
      <p><span style="color: #52798c; font-size: 1.2em;">Fecha de registro de Ubicacion:      </span></p>
      <p><span style="color: #52798c; font-size: 1.2em;">Carpeta electrónica:     </span> </p>
      <p><span style="color: #52798c; font-size: 1.2em;">Archivo electrónico:   {{=doc.ubicacion_electronica}}  </span></p>
      <p><span style="color: #52798c; font-size: 1.2em;">Ubicación física del documento: {{=doc.ubicacion_fisica}}     </span></p>
    

    </div>
  </div>
  
</div>    






























  <div class="modal fade" id="adddoc" role="dialog" >
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header addHeader">
          <div class="row addRow" id="rowHeader">
            <div class="col-sm-1" id="col1Header">
              <div class="container" id="plus">
                <h1 id="agregar">+</h1>
              </div>
            </div>
            <div class="col-sm-11" id="col11Header">
              <h4 class="modal-title" id="nuevoServicio">Editar Documento</h4>
            </div>
          </div>
        </div>
        <!-- Fin Modal Header -->
        
        <!-- Modal Body -->
        <div class="modal-body addBody">
          <div class="row addRow">
            <div class="col-md-12 form-box" >
                <form id="formularioEdit" class="registration-form" method="post" >

                    <!-- Primer Paso -->
                    <fieldset class="formField">
                      <div class="form-bottom" data-step="1" data-title="Primer Paso">
                        <!-- Aqui va la barra lateral -->
                        <div class="col-sm-1 col1Body">
                          <span class="step activePass">1</span>
                          <span class="step">2</span>
                          <span class="step">3</span>
                          <span class="step">4</span>             
                          <span class="step">5</span>
              
                        </div>
                        <!-- Aqui va la informacion -->
                        <div class="col-sm-11 col11Body">
                          <h4 class="titulosForm">Información General</h4>

                  <div class="form-group" data-atributo="{{=doc.estatus}}">
                      <input disabled='' type="text" class="input" name="nombre_documento" id="nombre_documento" placeholder="Nombre del Documento" value="{{=doc.nombre_doc}}">
                      
                  </div>

                  <div class="form-group"> 
                    <h5>Tipo del Documento</h5>
                      <select  disabled=''  name="tipo" id="tipo" class="input" required>
                        <option value="{{=doc.tipo_doc}}">{{=doc.tipo_doc}}</option>
                

              </select>
                  </div>

                  <div class="form-group"> 
                    <h5>Responsable</h5>
                      <select disabled='' name="responsable" id="responsable" class="input" required>
                        <option  value="{{=doc.responsable}}"> {{=doc.responsable}}</option>
          
              </select>
                  </div>

            <!--<div class="input-group">
                      <input type="text" class="input" name="responsable" id="responsable"> 
                      <label class="label" for="responsable"><i class="lnr lnr-users"></i> Responsable </label>
                  </div>-->
            
            <div class="form-group">
                      <h5>Fecha de entrega para revisión</h5><input disabled='' type="date" class="input" name="fecha_prox_rev" id="fecha_prox_rev" value="{{=doc.fecha_prox_rev}}" required>
                  </div>


                 <button type="submit" class="btn btn-submit botonForm" id="submit" form="formularioEdit" name="envio" value="edicion" ><i class="fa fa-floppy-o"></i></button>   
                      <button type="button" class="btn btn-next edit botonForm"><i class="fa fa-arrow-right"></i></button>
                    </fieldset>
                    <!-- Fin Primer Paso -->
                    
                    <!-- Segundo Paso -->
                    <fieldset class="formField">
                        <div class="form-bottom" data-step="2" data-title="Segundo Paso">
                          <!-- Aqui va la barra lateral -->
                          <div class="col-sm-1 col1Body">
                            <span class="step">1</span>
                            <span class="step activePass">2</span>
                            <span class="step">3</span>
                            <span class="step">4</span> 
                            <span class="step">5</span>
                          </div>

                          <!-- Aqui va la informacion -->
                          <div class="col-sm-11 col11Body">
                          <h4 class="titulosForm">Información Elaboración</h4>




                  
                  <div class="form-group">
                      <input disabled="" type="text" class="input" name="codigo" id="codigo" placeholder="Código Documento" value="{{=doc.codigo}}" required>
                  </div>

                  <div class="form-group">
                      <input disabled="" type="text" class="input" name="objetivos" id="objetivos" placeholder="Objetivos" value="{{=doc.objetivo}}" required> 
                  </div>
            <div class="form-group">
              <h5>Período de Revisión</h5>

                      <select disabled="" name="periodo" id="periodo" class="input" required>
                <option value="{{=doc.periodo_rev}}"></option>

                <option value="Quincenal">Quincenal</option>
                <option value="Mensual">Mensual</option>
                <option value="Trimestral">Trimestral</option>
                <option value="Semestral">Semestral</option>
                <option value="Anual">Anual</option>
                <option value="Bienal">Bienal</option>
                <option value="Trienal">Trienal</option>

              </select> 
                      
                  </div>
                  <!--<div class="input-group">

                      <input type="number" class="input" name="anexos" id="anexos" min="0" max="30"> 

                      <label class="label" for="anexos"><i class="lnr lnr-paperclip"></i> Cantidad de Anexos </label>
                  </div>-->
                  <div class="form-group">
                      <input disabled="" type="text" class="input" name="elaborado" id="elaborado" placeholder="Elaborado por" required="">  
                  </div>
                            

                        <button type="button" class="btn btn-previous botonForm"><i class="fa fa-arrow-left"></i></button>
                        <button type="submit" class="btn btn-submit botonForm" id="submit" form="formularioEdit" name="envio" value="edicion" ><i class="fa fa-floppy-o"></i></button>  
                        <button type="button" class="btn btn-next botonForm"><i class="fa fa-arrow-right"></i></button>
                    </fieldset>
                    <!-- Fin Segundo Paso -->

                    <!-- Tercer Paso -->
                    <fieldset class="formField">
                      <div class="form-bottom" data-step="3" data-title="Tercer Paso">
                        <!-- Aqui va la barra lateral -->
                        <div class="col-sm-1 col1Body">
                          <span class="step">1</span>
                          <span class="step">2</span>
                          <span class="step activePass">3</span>
                          <span class="step">4</span>
                          <span class="step">5</span> 
                        </div>
                        
                        <!-- Aqui va la informacion -->
                        <div class="col-sm-11 col11Body">
                        <h4 class="titulosForm"> Información Revisión </h4>




            <div class="form-group">
                      <input disabled="" type="text" class="input" name="revision_contenido" id="revision_contenido" placeholder="Revisión de contenido realizado por:" required>
                  </div> 
                  <div class="form-group">
                      <input disabled="" type="date" class="input" name="fecha_revision_contenidos" id="fecha_revision_contenidos" placeholder="Fecha de registro de revisión de contenidos" required> 
                  </div> 
                  
                  <div class="form-group">
                      <input disabled="" type="text" class="input" name="revision_especificaciones" id="revision_especificaciones" placeholder="Revisión de especificaciones del documento realizado por:" required> 
                  </div> 

                  <div class="form-group">
                      <input disabled="" type="date" class="input" name="fecha_revision_especificaciones" id="fecha_revision_especificaciones" placeholder="Fecha de revisión de especificaciones del documento" required> 
                  </div> 
                  <div class="form-group">
                      <input disabled="" type="text" class="input" name="revision_consejo" id="revision_consejo" placeholder="Revisión por el Consejo Asesor" required>
                  </div> 
                  <div class="form-group">
                      <input disabled="" type="date" class="input" name="fecha_revision_consejo" id="fecha_revision_consejo" placeholder="Fecha de revisión por el Consejo Asesor" required>  
                  </div> 

                  <!--<div class="input-group">


                      <input type="text" class="input" name="periodocant" id="periodocant">

                      <label class="label" for="periodocant"><i class="lnr lnr-map-redo"></i>Período de Revisión (cantidad)</label>
                  </div>-->



                      <button type="button" class="btn btn-previous botonForm"><i class="fa fa-arrow-left"></i></button>
                      <button type="submit" class="btn btn-submit botonForm" id="submit" form="formularioEdit" name="envio" value="edicion" ><i class="fa fa-floppy-o"></i></button>  
                      <button type="button" class="btn btn-next botonForm"><i class="fa fa-arrow-right"></i></button>
                    </fieldset>
                    <!-- Fin Tercer Paso -->

                    <!-- Cuarto Paso -->
                    <fieldset class="formField">
                      <div class="form-bottom" data-step="4" data-title="Cuarto Paso">
                      <!-- Aqui va la barra lateral -->
                        <div class="col-sm-1 col1Body">
                          <span class="step">1</span>
                          <span class="step">2</span>
                          <span class="step">3</span>
                          <span class="step activePass">4</span>
                          <span class="step">5</span> 
                        </div>

                      <!-- Aqui va la informacion -->
                        <div class="col-sm-11 col11Body" >
                        <h4 class="titulosForm"> Aprobado </h4>



                  <div class="form-group">
                      <input disabled="" type="text" class="input" name="aprobado" id="aprobado" placeholder="Aprobado Por:"> 
                  </div>
                  <div class="form-group">
              <input disabled="" type="date" class="input" name="fechaAprobacion" id="fechaAprobacion" placeholder="Fecha de Aprobación"> 
            </div>  
                  <div class="form-group">
                      <input disabled="" type="text" class="input" name="cod_registro" id="cod_registro" placeholder="Código de Registro de Aprobacion"> 
                  </div>
                   <div class="form-group">
                      <input disabled="" type="text" class="input" name="cod_controlCambios" id="cod_controlCambios" placeholder="Cod Registro de control de cambios"> 
                  </div>

                  <div class="form-group">
                      <input disabled="" type="date" class="input" name="fechaControlCambios" id="fechaControlCambios" placeholder="Fecha de reg de control de cambios"> 
                  </div>
              
                      
                      <button type="button" class="btn btn-previous botonForm"><i class="fa fa-arrow-left"></i></button>
                      <button type="submit" class="btn btn-submit botonForm" id="submit" form="formularioEdit" name="envio" value="edicion" ><i class="fa fa-floppy-o"></i></button>  
                      <button type="button" class="btn btn-next botonForm"><i class="fa fa-arrow-right"></i></button>

                    </fieldset>
                    <!-- Fin Cuarto Paso -->

                    <!-- Quinto Paso -->
                    <fieldset class="formField">
                      <div class="form-bottom" data-step="5" data-title="Quinto Paso">
                      <!-- Aqui va la barra lateral -->
                        <div class="col-sm-1 col1Body">
                          <span class="step ready">1</span>
                          <span class="step ready">2</span>
                          <span class="step ready">3</span>
                          <span class="step ready">4</span> 
                          <span class="step activePass">5</span>
                        </div>

                      <!-- Aqui va la informacion -->
                        <div class="col-sm-11 col11Body" >

                        <h4 class="titulosForm">Ubicación del Documento</h4>





                  <div class="form-group">
                      <input disabled="" type="text" class="input" name="ubicacion_fisica" id="ubicacion_fisica" placeholder="Ubicación física del documento">
                      
                  </div>  
                  <div class="form-group">
                      <input disabled="" type="text" class="input" name="archivo_el" id="archivo_el" placeholder="Archivo electrónico"> 
                  </div>
                  <div class="form-group">
                      <input disabled="" type="text" class="input" name="carpeta_el" id="carpeta_el" placeholder="Carpeta electrónica"> 
                  </div>





                      <button type="button" class="btn btn-previous botonForm"><i class="fa fa-arrow-left"></i></button>
                      <button type="submit" class="btn btn-submit botonForm" id="submit" form="formularioEdit" name="envio" value="edicion" ><i class="fa fa-floppy-o"></i></button>  
                     
                    </fieldset>
                    <!-- Fin Quinto Paso -->


                </form>
            </div>
          </div>               
        </div>
      </div>
  
    </div>
  </div>









  {{pass}}
  <script>
function estatus(){

      if($('.form-group').data('atributo')=='Planificado'){

        jQuery('#objetivos').removeAttr('disabled');
        jQuery('#periodo').removeAttr('disabled');
        jQuery('#elaborado').removeAttr('disabled');

        jQuery('#revision_contenido').removeAttr('disabled');
        jQuery('#fecha_revision_contenidos').removeAttr('disabled');
        jQuery('#revision_especificaciones').removeAttr('disabled');
        jQuery('#fecha_revision_especificaciones').removeAttr('disabled');
        jQuery('#revision_consejo').removeAttr('disabled');
        jQuery('#fecha_revision_consejo').removeAttr('disabled');

        jQuery('#aprobado').removeAttr('disabled');
        jQuery('#fechaAprobacion').removeAttr('disabled');
        jQuery('#cod_registro').removeAttr('disabled');
        jQuery('#cod_controlCambios').removeAttr('disabled');
        jQuery('#fechaControlCambios').removeAttr('disabled');

      }else if($('#adddoc').data('atributo')=='Elaborado'){
         jQuery('#revision_contenido').removeAttr('disabled');
        jQuery('#fecha_revision_contenidos').removeAttr('disabled');
        jQuery('#revision_especificaciones').removeAttr('disabled');
        jQuery('#fecha_revision_especificaciones').removeAttr('disabled');
        jQuery('#revision_consejo').removeAttr('disabled');
        jQuery('#fecha_revision_consejo').removeAttr('disabled');

        jQuery('#aprobado').removeAttr('disabled');
        jQuery('#fechaAprobacion').removeAttr('disabled');
        jQuery('#cod_registro').removeAttr('disabled');
        jQuery('#cod_controlCambios').removeAttr('disabled');
        jQuery('#fechaControlCambios').removeAttr('disabled');

      }else if($('#adddoc').data('atributo')=='Revisado'){
          jQuery('#aprobado').removeAttr('disabled');
        jQuery('#fechaAprobacion').removeAttr('disabled');
        jQuery('#cod_registro').removeAttr('disabled');
        jQuery('#cod_controlCambios').removeAttr('disabled');
        jQuery('#fechaControlCambios').removeAttr('disabled');
        
      }else if($('.form-group').data('atributo')=='Aprobado'){
        print()
        jQuery('#prueba').removeAttr('disabled')
        
      }
    }

  </script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script type="text/javascript">
    var ficha = "{{=URL('informacion_documentada','ficha',args=[doc.codigo])}}";
    $('.tab-link').click( function() {
    
    var tabID = $(this).attr('data-tab');
    
    $(this).addClass('active').siblings().removeClass('active');
    
    $('#tab-'+tabID).addClass('active').siblings().removeClass('active');
  });
  </script>
  <script type="text/javascript">
    // Get the modal
    var modal = document.getElementById('adddoc');

    // Get the button that opens the modal
    var btn = document.getElementById("botonModal");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    $('#edit_send').click(function(event){
        window.reload();
    });
  </script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="{{=URL('static','js/agregarDoc.js')}}"></script>
{{end}}