{{extend 'layout.html'}}


{{block head}}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{{=URL('static', 'css/agregarDoc.css')}}">
  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/servicios_modal.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_listado.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_template_modal.css')}}">
   <link rel="stylesheet" href="{{=URL('static', 'css/bootstrap-datepicker3.css')}}">
  <script src="{{=URL('static', 'js/servicios_template_modal.js')}}"></script>
  <link rel="stylesheet" href="{{=URL('static', 'css/ficha_personal.css')}}">
  <!-- DataTables -->
  <link href="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />

 
 
  <script src="{{=URL('static', 'js/bootstrap-datepicker.min.js')}}"></script>


  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/servicios_modal.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_listado.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_template_modal.css')}}">
  
  <!-- Web2py JS - Especialmente para AJAX -->
  <script src="{{=URL('static', 'js/web2py.js')}}"></script>



{{end}}


{{block center}}
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2','informacion_documentada','')}}">Información Documentada</a>
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2','informacion_documentada','')}}">Listado de Documentos</a>
  <span class="breadcrumb-item active">Ficha</span>
  </div>
</nav>

  {{for doc in documentos:}}

  <div class="row" style="margin-bottom: 50px;">
    <div class="col-md-1">
    </div>
    <div class="col-md-1">
      <a  href="{{=URL('informacion_documentada', 'lista_documentos')}}"><i class="fa fa-arrow-left fa-2x" style="background-color: #337ab7; color: white; border-radius: 50%; padding: 10px;"></i></h2></a>
    </div>
    <div class="col-md-7">
      <h3 style="text-align: center; margin-left: 25%"> FICHA DE DOCUMENTOS </h3>
    </div>
    <div class="col-md-3">
      <form method="POST">
        {{if doc.estatus!="Aprobado":}}
          <p onclick="estatus()" style="display: inline-block;">
            <button type="button" id="botonModal" data-toggle="modal" data-target="#adddoc"  class="btn btn-primary btn-lg" style="border-radius: 50%; text-align: center; background-color: #337ab7; margin-right: 20px; display: inline-block;"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></button>
          </p>
        {{pass}}  
          <button type="button" class="btn btn-info btn-lg" style="border-radius: 50%; text-align: center; background-color: #337ab7; margin-right: 20px; display: inline-block;"><i class="fa fa-eye-slash fa-2x" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#modalEliminar" value="eliminar" style="border-radius: 50%; text-align: center; background-color: red; margin-right: 20px; display: inline-block;"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
      </form>
          
    </div>
  </div>  

  



<div class="wrapper">
    
  <div class="tab-wrapper2">
    <ul class="tabs">
        <li class="tab-link active" data-tab="1">Información General</li>
        <li class="tab-link" data-tab="2">Historial de Revisión</li>
        <li class="tab-link" data-tab="3">Ubicación</li>
    </ul>
  </div>

  <div class="content-wrapper">
    <div id="tab-1" class="tab-content active" role="tabpanel">
      <table class="table contenidoFicha" id="tabla_inf_general">
        <tbody>
          <td><span style="color: #52798c;">Código</span></td><td>{{=doc.codigo}}</td>
          <td><span style="color: #52798c;">Tipo</span></td><td>{{=doc.tipo_doc}}</td>
          <td><span style="color: #52798c;">Documento</span></td><td>{{=doc.nombre_doc}}</td>
          <td><span style="color: #52798c;">Objetivo</span></td><td>{{=doc.objetivo}}</td>
          <td><span style="color: #52798c;">Estatus</span></td><td>{{=doc.estatus}}</td>
          <td><span style="color: #52798c;">Período de Revisión</span></td><td>{{=doc.periodo_rev}}</td>
        </tbody>
      </table>
    </div>



    <div id="tab-2" class="tab-content">



      <table class="container">
        <thead>
          <tr>
            <th>Responsable</th>
            <th>Elaborado por</th>
            <th>Elaborador de revisión de contenidos</th>
            <th>Fecha de revisión de contenido</th>
            <th>Elaborador de evisión de especificaciones</th>
            <th>Fecha de revisión de especificaciones</th>
            <th>Fecha de revisión por el Consejo Asesor</th>

          </tr>
        </thead>
        <tbody>
          <tr>

            <td>{{=doc.responsable}}</td>
            <td>{{=doc.elaborador0}}, {{=doc.elaborador1}}, {{=doc.elaborador2}}, {{=doc.elaborador3}}, {{=doc.elaborador4}}.</td>
            <td>{{=doc.rev_contenido_realizado_por}}</td>
            <td>{{=doc.fecha_rev_contenido}}</td>
            <td>{{=doc.rev_especficaciones_doc_realizado_por}}</td>
            <td>{{=doc.fecha_rev_especificaciones_doc}}</td>
            <td style="border-right: 8px solid #337ab7;">{{=doc.fecha_rev_por_consejo_asesor}}</td>
            
          </tr>

        </tbody>
      </table>



    </div>
    <div id="tab-3" class="tab-content">
  
      <h3><span style="color: #52798c;">Código de registro de Ubicacion:  {{=doc.cod_control_cambio}}.</span></h3>
      <h3><span style="color: #52798c;">Carpeta electrónica:     {{=doc.registro_electronico}}.</span></h3>
      <h3><span style="color: #52798c;">Archivo electrónico:   {{=doc.ubicacion_electronica}}  </span></h3>
      <h3><span style="color: #52798c;">Ubicación física del documento: {{=doc.ubicacion_fisica}}.</span></h3>
    

    </div>
  </div>
  
</div>    
















<div class="modal fade" id="adddoc" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header addHeader">
      <div class="row addRow" id="rowHeader">
        <div class="col-sm-1" id="col1Header">
          <div class="container" id="plus">
            <h1 id="agregar">+</h1>
          </div>
        </div>
          <div class="col-sm-11" id="col11Header">
          <h4 class="modal-title" id="nuevoServicio">Editar Documento</h4>
        </div>
      </div>
    </div>
    <!-- Fin Modal Header -->
      
    <!-- Modal Body -->
    <div class="modal-body addBody">
    <div class="row addRow">
      <div class="col-md-12 form-box">
        <form id="formularioCarga" class="registration-form" method="post">

          <!-- Primer Paso -->
          <fieldset class="formField">
            <div class="form-bottom" data-step="1" data-title="Primer Paso">
              <!-- Aqui va la barra lateral -->
              <div class="col-sm-1 col1Body">
                <span class="step activePass">1</span>
                <span class="step">2</span>
                <span class="step">3</span>
                <span class="step">4</span>             
                <span class="step">5</span>
                <span class="step">6</span>
                <span class="step">7</span>
              </div>
              <!-- Aqui va la informacion -->
              <div class="col-sm-11 col11Body">
                <h4 class="titulosForm">Fase de Planificación</h4>

                <!-- Campo de Nombre del Documento -->
                <div class="form-group" data-atributo="{{=doc.estatus}}">
                  <h5>Nombre del Documento</h5>
                  <input disabled='' type="text" class="input" name="nombre_documento" id="nombre_documento" placeholder="Nombre del Documento" value="{{=doc.nombre_doc}}" >
                </div>

                <!-- Campo de Tipo del Documento -->
                <div class="form-group"> 
                  <h5>Tipo del Documento</h5>
                  <select disabled="" name="tipo" id="tipo" class="input" >
                    <option value="{{=doc.tipo_doc}}">{{=doc.tipo_doc}}</option>
                  </select>
                </div>

                <!-- Campo de Responsable del Documento -->
                <div class="form-group"> 
                  <h5>Responsable</h5>
                  <select disabled="" name="responsable" id="responsable" class="input" onchange="get_code(this)" >
                    <option value="{{=doc.responsable}}">{{=doc.responsable}}</option>
                    {{for dep in dependencias:}}
                    <option value="{{=dep.codigo_registro}}" id="{{=dep.nombre}}">{{=dep.nombre}}</option>
                    {{pass}}
                  </select>
                </div>
                  <!-- Campo de Código -->
              <div class="form-group">
                <h5>Código del documento</h5>
                <input disabled='' type="text" class="input" name="codigo" id="codigo" placeholder="Código Documento" onchange="codigoDoc()" value="{{=doc.codigo}}" >
              </div>

              <!-- Campo de Objetivos -->
              <div class="form-group">
                <h5>Objetivos del documento</h5>
                <input disabled='' type="text" class="input" name="objetivos" id="objetivos" placeholder="Objetivos" value="{{=doc.objetivo}}"> 
              </div>

              <!-- Campo de Período de Revisión -->
              <div class="form-group">
                <h5>Período de Revisión</h5>
                <select disabled="" name="periodo" id="periodo" class="input" >
                  <option value="{{=doc.periodo_rev}}"></option>
                  <option value="Semestral">Semestral</option>
                  <option value="Anual">Anual</option>
                  <option value="Bienal">Bienal</option>
                  <option value="Trienal">Trienal</option>
                  <option value="Quinquenal">Quinquenal</option>
                </select> 
              </div>



                <div style="position: fixed; bottom: 0; right: 0;">  
                  <button type="button" class="btn btn-next add botonForm"><i class="fa fa-arrow-right"></i></button>
                </div>
              </div>
            </div>  
          </fieldset>
          <!-- Fin Primer Paso -->
                
          <!-- Segundo Paso -->
          <fieldset class="formField">
            <div class="form-bottom" data-step="2" data-title="Segundo Paso">
            <!-- Aqui va la barra lateral -->
            <div class="col-sm-1 col1Body">
              <span class="step">1</span>
              <span class="step activePass">2</span>
              <span class="step">3</span>
              <span class="step">4</span> 
              <span class="step">5</span>
              <span class="step">6</span>
              <span class="step">7</span>
            </div>

            <!-- Aqui va la informacion -->
            <div class="col-sm-11 col11Body">
              
              <h4 class="titulosForm">Fase de Elaboración</h4>


    
                <!-- Campo de Número de Anexos -->
              <div class="form-group">
                <h5>Número de anexos</h5>

                <div id="p_anexo">
                  <p>

                  </p>
                </div>

                <a href="#" id="addAnexo"><span class="fa fa-plus">Agregar Anexo</span></a>
              </div>


              <div style="position: fixed; bottom: 0; right: 0;">
                <button type="button" class="btn btn-previous botonForm"><i class="fa fa-arrow-left"></i></button>
                <button type="button" class="btn btn-next botonForm"><i class="fa fa-arrow-right"></i></button>
              </div>
            </div>
          </fieldset>
          <!-- Fin Segundo Paso -->

          <!-- Tercer Paso -->
          <fieldset class="formField">
            <div class="form-bottom" data-step="3" data-title="Tercer Paso">
            <!-- Aqui va la barra lateral -->
            <div class="col-sm-1 col1Body">
              <span class="step">1</span>
              <span class="step">2</span>
              <span class="step activePass">3</span>
              <span class="step">4</span> 
              <span class="step">5</span>
              <span class="step">6</span>
              <span class="step">7</span>
            </div>

            <!-- Aqui va la informacion -->
            <div class="col-sm-11 col11Body">
              
              <h4 class="titulosForm">Fase de Elaboración   -   Elaboradores</h4>



              <!-- Campo de Elaboradores del Documento -->
              <div class="form-group">
                <h5>Elaboradores del documento</h5>
                
                <div id="p_scents">
                  <p>
                    <input type="text" id="p_scnt" size="20" name="elaborador0" value="" placeholder="Ingrese un elaborador" />
                  </p>
                </div>

                <a href="#" id="addScnt"><span class="fa fa-plus">Agregar Elaborador</span></a>
                                      
              </div>

               <!-- Campo de Fecha de entrega para revisión del Documento -->

            
                <div class="form-group">
                <h5>Fecha de elaboración</h5>
                <input disabled="" class="datepicker" name="fecha_prox_rev" id="fecha_prox_rev" type="text" data-placement="bottom" data-trigger="manual" data-content="Seleccione una fecha" value="{{=doc.fecha_prox_rev}}">
              </div>


          
            
              <div style="position: fixed; bottom: 0; right: 0;">
                <button type="button" class="btn btn-previous botonForm"><i class="fa fa-arrow-left"></i></button>
                <button type="submit" class="btn btn-submit botonForm" id="submit" form="formularioCarga" name="elaborado" value="elaborado" ><i class="fa fa-floppy-o"></i></button>  
                <button type="button" class="btn btn-next botonForm"><i class="fa fa-arrow-right"></i></button>
              </div>
            </div>
          </fieldset>
          <!-- Fin Tercer Paso -->          

          <!-- Cuarto Paso -->
          <fieldset class="formField">
            <div class="form-bottom" data-step="4" data-title="Cuarto Paso">
            <!-- Aqui va la barra lateral -->
              <div class="col-sm-1 col1Body">
                <span class="step">1</span>
                <span class="step">2</span>
                <span class="step">3</span>
                <span class="step activePass">4</span>
                <span class="step">5</span> 
                <span class="step">6</span>
                <span class="step">7</span> 
              </div>
              
              <!-- Aqui va la informacion -->
              <div class="col-sm-11 col11Body">
              <h4 class="titulosForm"> Fase de Revisión </h4>

              <!-- Campo de responsable de la revisión de contenidos -->
              <div class="form-group">
                <h5>Revisión de contenidos</h5>
                <input disabled='' type="text" class="input" name="revision_contenido" id="revision_contenido" placeholder="Revisión de contenido realizado por:" value="{{=doc.rev_contenido_realizado_por}}"  />
              </div> 

              <!-- Campo de fecha de la revisión de contenidos -->
              <div class="form-group">
                <h5>Fecha de revisión de contenidos</h5>
                <input disabled="" class="datepicker" name="fecha_revision_contenidos" id="fecha_revision_contenidos" type="text"  data-trigger="manual" data-content="Seleccione una fecha" value="{{=doc.fecha_rev_contenido}}">
               
              </div>
 
              <!-- Campo de responsable de la revisión de especificaciones -->
              <div class="form-group">
                <h5>Revisión de especificaciones</h5>
                <input disabled='' type="text" class="input" name="revision_especificaciones" id="revision_especificaciones" placeholder="Revisión de especificaciones del documento realizado por:" value="{{=doc.rev_especficaciones_doc_realizado_por}}"  /> 
              </div> 

              <!-- Campo de fecha de la revisión de especificaciones -->
              <div class="form-group">
                <h5>Fecha de revisión de especificaciones</h5>
                <input disabled="" class="datepicker" name="fecha_revision_especificaciones" id="fecha_revision_especificaciones" type="text"  data-trigger="manual" data-content="Seleccione una fecha" value="{{=doc.fecha_rev_especificaciones_doc}}">

              </div> 


              <!-- Campo de confirmación si fué o no revisado por el consejo -->
              <div class="form-group">
                <label>Revisión del Consejo Asesor - ULAB</label>
                <br>
                <input disabled='' type="radio" name="revision_consejo" value="1" onclick="agregarFecha()">Si
                <br>
                <input disabled='' type="radio" name="revision_consejo" value="2" onclick="eliminarFecha()">No
                <div id="containerRevision"/>
              </div> 

              <div style="position: fixed; bottom: 0; right: 0;">
                <button type="button" class="btn btn-previous botonForm"><i class="fa fa-arrow-left"></i></button>
                <button type="submit" class="btn btn-submit botonForm" id="submit" form="formularioCarga" name="revisado" value="revisado" ><i class="fa fa-floppy-o"></i></button>  
                <button type="button" class="btn btn-next botonForm"><i class="fa fa-arrow-right"></i></button>
              </div>
            </div>
          </fieldset>
          <!-- Fin Cuarto Paso -->


          <!-- Quinto Paso -->
          <fieldset class="formField">
              <div class="form-bottom" data-step="5" data-title="Quinto Paso">
              <!-- Aqui va la barra lateral -->
                <div class="col-sm-1 col1Body">
                  <span class="step">1</span>
                  <span class="step">2</span>
                  <span class="step">3</span>
                  <span class="step">4</span>
                  <span class="step activePass">5</span> 
                  <span class="step">6</span>
                  <span class="step">7</span>
                </div>

                <!-- Aqui va la informacion -->
                <div class="col-sm-11 col11Body" >
                <h4 class="titulosForm"> Fase de Aprobación </h4>


                <!-- Campo de responsable de aprobación-->
                <div class="form-group">
                  <h5>Responsable de aprobación</h5>
                  <input disabled='' type="text" class="input" name="aprobado_por" id="aprobado_por" placeholder="Aprobado Por:" /> 
                </div>

                <!-- Campo de fecha de aprobación -->
                <div class="form-group">
                  <h5>Fecha de aprobación</h5>
                  <input disabled="" class="datepicker" name="fechaAprobacion" id="fechaAprobacion" type="text" data-trigger="manual" data-content="Seleccione una fecha" > 
                </div>  
                
                <!-- Campo de código de registro de aprobación -->
                <div class="form-group">
                  <h5>Código de registro de la aprobación</h5>
                  <input disabled='' type="text" class="input" name="cod_registro" id="cod_registro" placeholder="Código de Registro de Aprobacion" /> 
                </div>

        
              <div style="position: fixed; bottom: 0; right: 0;">
                <button type="button" class="btn btn-previous botonForm"><i class="fa fa-arrow-left"></i></button>  
                <button type="button" class="btn btn-next botonForm"><i class="fa fa-arrow-right"></i></button>
              </div>
            </div>
          </fieldset>
          <!-- Fin Quinto Paso -->

          <!-- Sexto Paso -->
          <fieldset class="formField">
              <div class="form-bottom" data-step="6" data-title="Sexto Paso">
              <!-- Aqui va la barra lateral -->
                <div class="col-sm-1 col1Body">
                  <span class="step">1</span>
                  <span class="step">2</span>
                  <span class="step">3</span>
                  <span class="step">4</span> 
                  <span class="step">5</span>
                  <span class="step activePass">6</span>
                  <span class="step">7</span>
                </div>

              <!-- Aqui va la informacion -->
                <div class="col-sm-11 col11Body" >
                <h4 class="titulosForm">Ubicación del Documento</h4>

                <!-- Campo de ubicación física del documento -->
                <div class="form-group">
                  <h5>Ubicación física</h5>
                  <input  disabled="" type="text" class="input" name="ubicacion_fisica" id="ubicacion_fisica" placeholder="Ubicación física del documento" value="{{=doc.ubicacion_fisica}}" />
                  <h6>Indique la carpeta, archivo, estante u otro se puede
                      acceder al documento</h6>
                </div>  

                <!-- Campo de ubicación electrónica del documento -->
                <div class="form-group">
                  <h5>Ubicación electrónica</h5>
                  <input disabled=""  type="text" class="input" name="archivo_el" id="archivo_el" placeholder="Archivo electrónico" vlaue="{{=doc.ubicacion_electronica}}"/> 
                  <h6>Indique la carpeta, archivo, estante u otro se puede
                      acceder al documento</h6>
                </div>

                <!-- Campo de vínculo del documento -->
                <div class="form-group">
                  <label>Vínculo: </label>
                  <input type="text" class="input" name="vinculo" id="vinculo" placeholder="Ingrese el vinculo" /> 
                </div>

              <div style="position: fixed; bottom: 0; right: 0;">
                <button type="button" class="btn btn-previous botonForm"><i class="fa fa-arrow-left"></i></button>  
                <button type="button" class="btn btn-next botonForm"><i class="fa fa-arrow-right"></i></button>
              </div>
           </div>
          </fieldset>
          <!-- Fin Sexto Paso -->



          <!-- Séptimo Paso -->
          <fieldset class="formField">
              <div class="form-bottom" data-step="7" data-title="Septimo Paso">
              <!-- Aqui va la barra lateral -->
                <div class="col-sm-1 col1Body">
                  <span class="step">1</span>
                  <span class="step">2</span>
                  <span class="step">3</span>
                  <span class="step">4</span> 
                  <span class="step">5</span>
                  <span class="step">6</span>
                  <span class="step activePass">7</span>
                </div>

                <!-- Aqui va la informacion -->
                <div class="col-sm-11 col11Body" >
                <h4 class="titulosForm">Registro de Control de Cambios del documento</h4>


                <!-- Campo del control de cambios -->
                <div class="form-group">
                  <h5>Código de registro de control de cambios</h5>
                  <input disabled='' type="text" class="input" name="cod_controlCambios" id="cod_controlCambios" placeholder="Cod Registro de control de cambios" /> 
                </div>

                <!-- Campo de la fecha del control de cambios -->
                <div class="form-group">
                  <h5>Fecha de control de cambios</h5>
                
                   <input disabled="" class="datepicker" name="fechaControlCambios" id="fechaControlCambios" type="text" data-trigger="manual" data-content="Seleccione una fecha">

                </div>

                <!-- Campo de Elaborado por -->
                <div class="form-group">
                  <h5>Elaborador del control de cambios</h5>
                  <input disabled='' type="text" class="input" name="ccelaborado" id="ccelaborado" placeholder="Elaborado por" /> 
                </div>

                <!-- Campo de Ubicación del registro en formato físico -->
                <div class="form-group">
                  <h5>Ubicación del registro en formato físico</h5>
                  <input disabled='' type="text" class="input" name="registro_fisico" id="registro_fisico" placeholder="Ubicación del registro en formato físico" /> 
                  <h6>Indique la carpeta, archivo, estante u otro se puede
                        acceder al documento</h6>
                </div>

                <!-- Campo deUbicación del registro en formato físicoo -->
                <div class="form-group">
                  <h5>Ubicación del registro en formato electrónico</h5>
                  <input disabled='' type="text" class="input" name="registro_electronico" id="registro electronico" placeholder="Ubicación del registro en formato electrónico" /> 
                  <h6>Indique la carpeta, archivo, estante u otro se puede
                        acceder al documento</h6>
                </div>

                <div style="position: fixed; bottom: 0; right: 0;">
                  <button type="button" class="btn btn-previous botonForm"><i class="fa fa-arrow-left"></i></button>  
                  <button type="submit" class="btn btn-submit botonForm" id="submit" form="formularioCarga" name="aprobado" value="aprobado" ><i class="fa fa-floppy-o"></i></button>  
                </div>
            </div>
          </fieldset>
          <!-- Fin Sexto Paso -->

        </form>
      </div>
    </div>               
    </div>
  </div>  
</div>
</div>


<form method="POST">
  <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <i class="fa fa-exclamation-triangle fa-4x" style="color: orange;" aria-hidden="true"></i>
          <h4 class="modal-title" id="exampleModalLabel">Eliminar Documento</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          ¿Está seguro que desea eliminar este documento?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" name="eliminar" value="eliminar" class="btn btn-danger">Si</button>
        </div>
      </div>
    </div>
  </div>
</form>










  {{pass}}

<script type="text/javascript">

  function get_code(i){
    cod = i[i.selectedIndex].id; // get value
    document.getElementById("codigo").value = cod + "-";
  }

</script>

<script type="text/javascript">
  $(function() {
    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd'
      })  
  });

  $(function() {
    
    var scntDiv = $('#p_scents');
    var i = $('#p_scents p').length + 1;
    console.log("elaborador inicial");
    $('.form-group').on('click', '#addScnt', function() {
      console.log(i)
      $('<p><input type="text" id="p_scnt" size="20" name="elaborador' + i +'" value="" placeholder="Ingrese un elaborador" /> <a href="#" id="remScnt"><span class="fa fa-trash-o"></span></a></p>').appendTo(scntDiv);
      i++;
      return false;
    });
    
    $('.form-group').on('click', '#remScnt', function() { 
      if( i > 2 ) {
        $(this).parents('p').remove();
        i--;
      }
      return false;
    });
  });

</script>

<script type="text/javascript">

  
  $(function() {
    console.log("fincion de anexo");
    var scntDiv = $('#p_anexo');
    var i = $('#p_anexo p').length + 1;
    
    var c = codigoDoc();

    $('.form-group').on('click', '#addAnexo', function() {
      console.log("campo de anexo");
      $('<p><input type="text"  name="anexo_code' + i +'" value=" '+ c +' "  /><a href="#" id="remScnt"><span class="fa fa-trash-o"></span></a></p><p><input type="text"  name="anexo_name' + i +'" placeholder="Nombre del anexo"  /> <a href="#" id="remScnt"><span class="fa fa-trash-o"></span></a></p>' ).appendTo(scntDiv);
      i++;
      return false;
    });
    
    $('.form-group').on('click', '#remScnt', function() { 
      if( i > 1 ) {
        $(this).parents('p').remove();
        i--;
      }
      return false;
    });
  });
  function codigoDoc(){
     var codigoDocumento = document.getElementById("codigo").value;
     return codigoDocumento;
  }

</script>

<script type="text/javascript">
  function agregarFecha(){

    var container = document.getElementById("containerRevision");
    var input = document.createElement("input");
    var fecha_revision = document.getElementById("fecha_revision_especificaciones").value;

    input.type = "text";
    input.class = "datepicker"
    input.name = "fecha_revision_consejo";
    input.id = "fecha_revision_consejo";


    var etiqueta = document.createElement("label");
    etiqueta.innerHTML = "Inserte la fecha de revisión por el consejo asesor";

    container.appendChild(document.createElement("br"));
    container.appendChild(etiqueta);
    container.appendChild(input);

    
  }

  function eliminarFecha(){

    var container = document.getElementById("containerRevision");
    while (container.hasChildNodes()) {
      container.removeChild(container.lastChild);
    }

  }


</script>


  <script>
  $(function() {
    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd'
      })  
  });
function estatus(){
      if($('.form-group').data('atributo')=='Planificado'){
     
        jQuery('#objetivos').removeAttr('disabled');
        jQuery('#periodo').removeAttr('disabled');
        jQuery('#fecha_prox_rev').removeAttr('disabled');
        //jQuery('#addAnexo').removeAttr('disabled');

        jQuery('#revision_contenido').removeAttr('disabled');
        jQuery('#fecha_revision_contenidos').removeAttr('disabled');
        jQuery('#revision_especificaciones').removeAttr('disabled');
        jQuery('#fecha_revision_especificaciones').removeAttr('disabled');
        jQuery('#revision_consejo').removeAttr('disabled');
        jQuery('#fecha_revision_consejo').removeAttr('disabled');
        jQuery('#aprobado').removeAttr('disabled');
        jQuery('#fechaAprobacion').removeAttr('disabled');
        jQuery('#cod_registro').removeAttr('disabled');
        jQuery('#cod_controlCambios').removeAttr('disabled');
        jQuery('#fechaControlCambios').removeAttr('disabled');
        jQuery('#ubicacion_fisica').removeAttr('disabled');
        jQuery('#archivo_el').removeAttr('disabled');
        jQuery('#cod_controlCambios').removeAttr('disabled');
        jQuery('#fechaControlCambios').removeAttr('disabled');
      }else if($('.form-group').data('atributo')=='Elaborado'){
        jQuery('#revision_contenido').removeAttr('disabled');
        jQuery('#fecha_revision_contenidos').removeAttr('disabled');
        jQuery('#revision_especificaciones').removeAttr('disabled');
        jQuery('#fecha_revision_especificaciones').removeAttr('disabled');
        jQuery('#revision_consejo').removeAttr('disabled');
        jQuery('#fecha_revision_consejo').removeAttr('disabled');
        jQuery('#aprobado').removeAttr('disabled');
        jQuery('#fechaAprobacion').removeAttr('disabled');
        jQuery('#cod_registro').removeAttr('disabled');
        jQuery('#cod_controlCambios').removeAttr('disabled');
        jQuery('#fechaControlCambios').removeAttr('disabled');
         jQuery('#ubicacion_fisica').removeAttr('disabled');
        jQuery('#archivo_el').removeAttr('disabled');
      }else if($('.form-group').data('atributo')=='Revisado'){
        jQuery('#aprobado_por').removeAttr('disabled');
        jQuery('#fechaAprobacion').removeAttr('disabled');
        jQuery('#cod_registro').removeAttr('disabled');
        jQuery('#cod_controlCambios').removeAttr('disabled');
        jQuery('#fechaControlCambios').removeAttr('disabled');
         jQuery('#ubicacion_fisica').removeAttr('disabled');
        jQuery('#archivo_el').removeAttr('disabled');
        
      }else if($('.form-group').data('atributo')=='Aprobado'){
        jQuery('#ubicacion_fisica').removeAttr('disabled');
        jQuery('#archivo_el').removeAttr('disabled');
        
      }
    }


  </script>
  <script type="text/javascript">
    // Get the modal
    var modal = document.getElementById('adddoc');
    // Get the button that opens the modal
    var btn = document.getElementById("botonModal");
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    // When the user clicks on the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    $('#edit_send').click(function(event){
        window.reload();
    });


  </script>

<script src="{{=URL('static','js/agregarDoc.js')}}"></script>

<script src="{{=URL('static', 'plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/jszip.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.js')}}"></script>


{{end}}