{{extend 'layout.html'}}
{{=BEAUTIFY(response._vars)}}

{{block head}}
    <link rel="stylesheet" href="{{=URL('static', 'css/servicios_modulos.css')}}"> 

{{end}}

{{block center}}
<style>
    #gid_icon{
        width:150px;
        height:120px;
    }
    
</style>

<!-- Breadcrumb de navegación -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
  <span class="breadcrumb-item active">Información Documentada</span>
  </div>
</nav>
<!-- Fin del Breadcrumb de navegación --> 


	<div class="container">
		<div id="fila1" class="row">
		</div>
		<div id="fila2" class="row">
			<div class="col-sm-2">
			</div>

			<div class="col-sm-8">
				
				<h1 style="text-align: center; margin-bottom: 90px;">GESTIÓN DE INFORMACIÓN DOCUMENTADA</h1>
				
				<div class="col-sm-6 columnas">
					<a href="{{=URL('sigulab2', 'informacion_documentada', 'lista_documentos')}}">
					  <img class="iconos" id="gid_icon" src="{{=URL('static', 'images/informacion_documentada/gestion_documentos.png')}}">
					  <h3 class="opciones">Control de Documentos</h3>
					</a>
				</div>

				<div class="col-sm-6 columnas">
					<a href="{{=URL('sigulab2', 'informacion_documentada', 'lista_registros')}}">
					  <img class="iconos" id="gid_icon" src="{{=URL('static', 'images/informacion_documentada/gestion_registros.png')}}">
					  <h3 class="opciones">Control de Registros</h3>
					</a>
				</div>
			  <div class="col-sm-2">
			  </div>

			</div>
	  </div>	
  </div>

{{end}}
