{{extend 'layout.html'}}
{{block head}}
 

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- DataTables -->
	<link href="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/servicios_modal.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/servicios_listado.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/servicios_template_modal.css')}}">

	<script src="{{=URL('static', 'js/servicios_template_modal.js')}}"></script>

	<!-- Web2py JS - Especialmente para AJAX -->
	<script src="{{=URL('static', 'js/web2py.js')}}"></script>

{{end}}
{{block center}}
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2','informacion_documentada')}}">Información Documentada</a>
  <span class="breadcrumb-item active" >Listado de Documentos</span>
  </div>
</nav>

<div class="container-fluid" id="container-body" style="">
	<!--<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Inicio</a></li>
			<li class="breadcrumb-item active" aria-current="page">Documentos</li>
			</ol>

	</nav><-->
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-4 col-xs-12" style="margin-top: 50px;">
			<div class="row" >	
				<div class="col-lg-6 col-xs-6" style="margin-top: 50px;" >
					<div class="text-center pagination-centered">
						<a href="#">
							<button type="button" id="botonAgregar" class="btn botonesListado" data-toggle="modal" data-target="#adddoc" style="border-radius: 50%; text-align: center; background-color: #7472CC;"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></button>
						</a>
					</div>	
				</div>
				<div class="col-lg-6 col-xs-6" style="margin-top: 50px;" >
					<div class="text-center pagination-centered">
						<a href="#">
							<button type="button" class="btn btn-floating btn-info" style="border-radius: 50%; text-align: center; background-color: #7472CC;"><i class="fa fa-bell fa-3x" aria-hidden="true"></i></button>
						</a>
					</div>	
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-xs-12" style="margin-top: 50px;">
			<p style="font-size: 35px; text-align: center;">Gestión de Información Documentada</p>
			<p style="font-size: 20px; text-align: center;">Aquí podras consultar las información de los documentos del sigulab</p>

		</div>
		<div class="col-lg-1"></div>
	</div>


	<div class="row" style="margin-bottom: 100px;">
		<div class="col-md-1">
		</div>	
		<div class="col-md-10">
			<nav class="indicadores" style="background-color: #FAFAFA;">			
				<div class="row">

				  <div style="margin-right: 3%; margin-left: 3%;">
				    <div class="col-lg-3 col-xs-6">

				      <a href="#">
				      <div class="card-box" style="background-color: #7472CC; padding: 20px; margin-top: 40px; box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);">
				        <h4 style="color: white; font-size: 25px; margin-bottom: 8px;">Planificado</h4>

				        <div class="widget-box-2">
				            <div class="widget-detail-2">
				                <i class="fa fa-calendar-check-o fa-4x" style="color: white;"></i>

				                <h2 class="m-b-0" data-plugin="counterup" style="color: white; display: inline-block; font-size: 50px; text-align: right; ">{{=doc_planificacion}} </h2>
				            </div>

				        </div>
				      </div>
				      </a>

				    </div>
				    <!-- ./col -->
				    <div class="col-lg-3 col-xs-6">

				      <a href="#">
				      <div class="card-box" style="background-color: #7472CC; padding: 20px; margin-top: 40px; box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);">
				        <h4 style="color: white; font-size: 25px; margin-bottom: 8px;">Elaborado</h4>

				        <div class="widget-box-2">
				            <div class="widget-detail-2">
				                <i class="fa fa-pencil fa-4x" style="color: white; display: inline-block;"></i> 

				                <h2 class="m-b-0" data-plugin="counterup" style="color: white; display: inline-block; font-size: 50px; text-align: right;"> {{=doc_elaboracion}}</h2>
				            </div>

				        </div>
				      </div>
				      </a>

				    </div>

				    <div class="col-lg-3 col-xs-6">
				      <!-- small box -->
				    
				      <a href="#">
				      <div class="card-box" style="background-color: #7472CC; padding: 20px; margin-top: 40px; box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);">
				        <h4 style="color: white; font-size: 25px; margin-bottom: 8px;">Revisado</h4>

				        <div class="widget-box-2">
				            <div class="widget-detail-2">
				                <i class="fa fa-search fa-4x" style="color: white; display: inline-block;"></i> 
				                <h2 class="m-b-0" data-plugin="counterup" style="color: white; display: inline-block; font-size: 50px;"> {{=doc_revision}} </h2>
				            </div>

				        </div>
				      </div>
				      </a>
				      
				    </div>

				    <div class="col-lg-3 col-xs-6">

				      <a href="#" >
				      <div class="card-box" style="background-color: #7472CC; padding: 20px; margin-top: 40px; box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);">
				        <h4  style="color: white; font-size: 25px; margin-bottom: 8px;">Aprobado</h4>

				        <div class="widget-box-2">
				            <div class="widget-detail-2">
				                <i class="fa fa-check-circle fa-4x" style="color: white; display: inline-block;"></i> 

				                <h2 class="m-b-0" data-plugin="counterup" style="color: white; display: inline-block; font-size: 50px;"> {{=doc_aprobado}} </h2>
				            </div>



				        </div>
				      </div>
				      </a>

				    </div>

				  </div>   	
						
						
					</ul>
					
			</nav>
		</div>
		<div class="col-md-1">
		</div>	
	<div>

	<div class="row">
	</div>	
</div>



<div class="container" style="margin-top: 50px;">
<div class="row">


    <div id="buttons">
      <!-- Filtrado -->
        <button type="button" id="filtrar" onclick="mostrarFiltro()" class="btn btn-default buttons-pdf buttons-html5">Filtrado</button>
      <!-- Filtrado -->    
    </div>
    <br>

    <div class="table-responsive no-padding no-margin">
      <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
        <thead>
            <tr id="titulosListado">
				<th class="camposTabla linksNombres">Documento</th>
				<th class="camposTabla linksNombres">Código</th>
				<th class="camposTabla linksNombres">Tipo</th>
				<th class="camposTabla linksNombres">Responsable</th>
				<th class="camposTabla linksNombres">Periodo de Revisión</th>
				<th class="camposTabla linksNombres">Link de Descarga</th>
				<th class="camposTabla linksNombres">Estatus</th>
            </tr>
        </thead>

        <tbody>
      		{{for doc in documentos:}}
				<tr>
					<td class="camposTabla"><a href="{{=URL('informacion_documentada','ficha',args=[doc.codigo])}}" >
						{{=doc.nombre_doc}}
					</a>
					</td>
					<td class="camposTabla">{{=doc.codigo}}</td>
					<td class="camposTabla">{{=doc.tipo_doc}}</td>
					<td class="camposTabla">{{=doc.responsable}}</td>
					<td class="camposTabla">{{=doc.periodo_rev}}</td>
					<td class="camposTabla">Deshabilitado temporalmente</td>
					<td class="camposTabla">{{=doc.estatus}}</td>
					
				</tr>
			{{pass}}         
        </tbody>


      </table>
    </div>
  </div>




<input type="hidden" id="serv" name="serv" value="">

<!-- Inicio Modal ficha de Servicio -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div id="ficha" class="modal-content">
      </div>

    </div>
  </div>
<!-- Fin Modal ficha de servicio -->

<!-- Modal añadir un servicio -->
  <div class="modal fade" id="adddoc" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header addHeader">
          <div class="row addRow" id="rowHeader">
            <div class="col-sm-1" id="col1Header">
              <div class="container" id="plus">
                <h1 id="agregar">+</h1>
              </div>
            </div>
            <div class="col-sm-10" id="col11Header">
              <h4 class="modal-title" id="nuevoServicio">Nuevo Documento
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </h4>
            </div>
          </div>
        </div>
        <!-- Fin Modal Header -->
        
        <!-- Modal Body -->
        <div class="modal-body addBody">
          <div class="row addRow">
            <div class="col-md-12 form-box">
                <form id="formularioCarga" class="registration-form" method="post">

                    <!-- Primer Paso -->
                    <fieldset class="formField">
                      <div class="form-bottom" data-step="1" data-title="Primer Paso">
                        <!-- Aqui va la barra lateral -->
                            <div class="col-sm-1 col1Body">
                              <span class="step activePass">1</span>
                              <span class="step">2</span>
                              <span class="step">3</span>
                              <span class="step">4</span>             
                              <span class="step">5</span>
                            </div>
                          <!-- Aqui va la informacion -->
                        <div class="col-sm-11 col11Body">
                          <h4 class="titulosForm">Información General</h4>                
                           <input type="hidden" name="indicador" value="agregar">

				            <div class="input-group">
				                <input type="text" class="input" name="nombre_documento" id="nombre_documento" required>
				                <label class="label" for="nombre_documento"><i class="lnr lnr-user"></i> Nombre del Documento</label>
				            </div>

				            <div class="input-group"> 
				                <select name="tipo" id="tipo" class="input">
				                	<option value=""></option>

									<option value="Referente Estrategico">Referente Estratégico</option>
									<option value="Reglamento">Reglameto</option>
									<option value="Manual">Manual de Organización</option>
									<option value="Manual">Manual de Calidad</option>
									<option value="Manual">Manual de Proceso de Gestión</option>
									<option value="Manual">Manual de Proceso Técnico</option>
									<option value="Manual">Manual de Uso</option>
									<option value="Otro">Manual de Uso</option>

								</select>
				                <label class="label" for="tipo">Tipo del Documento</label>
				            </div>

				            <div class="input-group"> 
				                <select name="responsable" id="responsable" class="input">
				                	<option value=""></option>

									<option value="DIRECCIÓN">DIRECCIÓN</option>
									<option value="LABORATORIO A">LABORATORIO A</option>
									<option value="LABORATORIO B">LABORATORIO B</option>
									<option value="LABORATORIO C">LABORATORIO C</option>
									<option value="LABORATORIO D">LABORATORIO D</option>
									<option value="LABORATORIO E">LABORATORIO E</option>
									<option value="LABORATORIO F">LABORATORIO F</option>
									<option value="LABORATORIO G">LABORATORIO H</option>
									<option value="UNIDAD DE ADMINISTRACIÓN">UNIDAD DE ADMINISTRACIÓN</option>
									<option value="COORDINACIÓN DE ADQUISICIONES">COORDINACIÓN DE ADQUISICIONES</option>
									<option value="COORDINACIÓN DE IMPORTACIONES">COORDINACIÓN DE IMPORTACIONES</option>
									<option value="COORDINACIÓN DE LA CALIDAD">COORDINACIÓN DE LA CALIDAD</option>
									<option value="OFICINA DE PROTECCIÓN RADIOLÓGICA">OFICINA DE PROTECCIÓN RADIOLÓGICA</option>
								
								</select>
				                <label class="label" for="responsable">Responsable</label>
				            </div>

							<!--<div class="input-group">
				                <input type="text" class="input" name="responsable" id="responsable"> 
				                <label class="label" for="responsable"><i class="lnr lnr-users"></i> Responsable </label>
				            </div>-->
							
							<div class="input-group focus">
				                <input type="date" class="input" name="fecha_prox_rev" id="fecha_prox_rev">
				                <label class="label" for="fecha_prox_rev"><i class="lnr lnr-calendar-full"></i> Fecha de entrega para revisión</label>
				            </div>
                        </div>
                      </div>
                      <button type="button" class="btn btn-next botonForm">Siguiente</button>
                    </fieldset>
                    <!-- Fin Primer Paso -->
                    
                    <!-- Segundo Paso -->
                    <fieldset class="formField">
                        <div class="form-bottom" data-step="2" data-title="Segundo Paso">
                          <!-- Aqui va la barra lateral -->
                          <div class="col-sm-1 col1Body">
                            <span class="step ready">1</span>
                            <span class="step activePass">2</span>
                            <span class="step">3</span>
                            <span class="step">4</span> 
                            <span class="step">5</span>

                          </div>

                          <!-- Aqui va la informacion -->
                          <div class="col-sm-11 col11Body">
                          <h4 class="titulosForm">Información Elaboración</h4>
				            <div class="input-group">
				                <input type="text" class="input" name="codigo" id="codigo" required> 
				                <label class="label" for="codigo"><i class="lnr lnr-code"></i> Código Documento</label>
				            </div>
				            <div class="input-group">
				                <input type="text" class="input" name="objetivos" id="objetivos"> 
				                <label class="label" for="objetivos"><i class="lnr lnr-flag"></i> Objetivos </label>
				            </div>
							<div class="input-group">


				                <select name="periodo" id="periodo" class="input">
									<option value=""></option>

									<option value="Quincenal">Quincenal</option>
									<option value="Mensual">Mensual</option>
									<option value="Trimestral">Trimestral</option>
									<option value="Semestral">Semestral</option>
									<option value="Anual">Anual</option>
									<option value="Bienal">Bienal</option>
									<option value="Trienal">Trienal</option>

								</select> 


				                <label class="label" for="periodo"><i class="lnr lnr-map-marker"></i>Período de Revisión</label>
				            </div>
				            <!--<div class="input-group">

				                <input type="number" class="input" name="anexos" id="anexos" min="0" max="30"> 

				                <label class="label" for="anexos"><i class="lnr lnr-paperclip"></i> Cantidad de Anexos </label>
				            </div>-->
				            <div class="input-group">
				                <input type="text" class="input" name="elaborado" id="elaborado"> 
				                <label class="label" for="elaborado"><i class="lnr lnr-pencil"></i> Elaborado por </label>
				            </div>

                          </div>
                        </div>
                        <button type="button" class="btn btn-previous botonForm">Anterior</button>
                        <button type="button" class="btn btn-next botonForm">Siguiente</button>
                    </fieldset>
                    <!-- Fin Segundo Paso -->

                    <!-- Tercer Paso -->
                    <fieldset class="formField">
                      <div class="form-bottom" data-step="3" data-title="Tercer Paso">
                        <!-- Aqui va la barra lateral -->
                        <div class="col-sm-1 col1Body">
                          <span class="step ready">1</span>
                          <span class="step ready">2</span>
                          <span class="step activePass">3</span>
                          <span class="step">4</span> 
                          <span class="step">5</span>
                        </div>
                        
                        <!-- Aqui va la informacion -->
                        <div class="col-sm-11 col11Body">
                        <h4 class="titulosForm">Información Revisión</h4>
						<div class="input-group">
			                <input type="text" class="input" name="revision_contenido" id="revision_contenido">
			                <label class="label" for="revision_contenido"><i class="lnr lnr-spell-check"></i>Revisión de contenido realizado por:</label>
			            </div> 
			            <div class="input-group focus">
			                <input type="date" class="input" name="fecha_revision_contenidos" id="fecha_revision_contenidos">
			                <label class="label" for="fecha_revision_contenidos"><i class="lnr lnr-calendar-full"></i> Fecha de registro de revisión de contenidos</label>
			            </div> 
			            
			            <div class="input-group">
			                <input type="text" class="input" name="revision_especificaciones" id="revision_especificaciones">
			                <label class="label" for="revision_especificaciones"><i class="lnr lnr-spell-check"></i>Revisión de especificaciones del documento realizado por:</label>
			            </div> 

			            <div class="input-group focus">
			                <input type="date" class="input" name="fecha_revision_especificaciones" id="fecha_revision_especificaciones">
			                <label class="label" for="fecha_revision_especificaciones"><i class="lnr lnr-calendar-full"></i> Fecha de revisión de especificaciones del documento</label>
			            </div> 
			            <div class="input-group">
			                <input type="text" class="input" name="revision_consejo" id="revision_consejo">
			                <label class="label" for="revision_consejo"><i class="lnr lnr-spell-check"></i>Revisión por el Consejo Asesor</label>
			            </div> 
			            <div class="input-group focus">
			                <input type="date" class="input" name="fecha_revision_consejo" id="fecha_revision_consejo">
			                <label class="label" for="fecha_revision_consejo"><i class="lnr lnr-calendar-full"></i> Fecha de revisión por el Consejo Asesor</label>
			            </div> 

                          

                        </div>
                      </div> 
                      <button type="button" class="btn btn-previous botonForm">Anterior</button>
                      <button type="button" class="btn btn-next botonForm">Siguiente</button>
                    </fieldset>
                    <!-- Fin Tercer Paso -->

                    <!-- Cuarto Paso -->
                    <fieldset class="formField">
                      <div class="form-bottom" data-step="4" data-title="Cuarto Paso">
                      <!-- Aqui va la barra lateral -->
                        <div class="col-sm-1 col1Body">
                          <span class="step ready">1</span>
                          <span class="step ready">2</span>
                          <span class="step ready">3</span>
                          <span class="step activePass">4</span> 
                          <span class="step">5</span>
                        </div>

                      <!-- Aqui va la informacion -->
                        <div class="col-sm-11 col11Body" >
                        <h4 class="titulosForm">Aprobado</h4>
		                <div class="input-group">
			                <input type="text" class="input" name="aprobado" id="aprobado">
			                <label class="label" for="aprobado"><i class="icon-thumbs-up"></i> Aprobado Por:</label>
			            </div>
			            <div class="input-group focus">
							<input type="date" class="input" name="fechaAprobacion" id="fechaAprobacion" >
							<label class="label" for="fechaAprobacion"><i class="lnr lnr-calendar-full"></i>Fecha de Aprobación</label>
						</div>	
			            <div class="input-group">

			                <input type="text" class="input" name="cod_registro" id="cod_registro">
			                <label class="label" for="cod_registro"><i class="lnr lnr-code"></i> Código de Registro de Aprobacion</label>
			            </div>
			             <div class="input-group">
			                <input type="text" class="input" name="cod_controlCambios" id="cod_controlCambios">
			                <label class="label" for="cod_controlCambios"><i class="lnr lnr-code"></i> Cod Registro de control de cambios</label>
			            </div>

			            <div class="input-group focus">
			                <input type="date" class="input" name="fechaControlCambios" id="fechaControlCambios">
			                <label class="label" for="fechaControlCambios"><i class="lnr lnr-calendar-full"></i> Fecha de reg de control de cambios</label>
			            </div>
			            


                          
                        </div>
                      </div>
                    
                      <button type="button" class="btn btn-previous botonForm">Anterior</button>
                      <button type="button" class="btn btn-next botonForm">Siguiente</button>                     
                    </fieldset>
                    <!-- Fin Cuarto Paso -->

                    <!-- Quinto Paso -->
                    <fieldset class="formField">
                      <div class="form-bottom" data-step="5" data-title="Quinto Paso">
                      <!-- Aqui va la barra lateral -->
                        <div class="col-sm-1 col1Body">
                          <span class="step ready">1</span>
                          <span class="step ready">2</span>
                          <span class="step ready">3</span>
                          <span class="step ready">4</span> 
                          <span class="step activePass">5</span>
                        </div>

                      <!-- Aqui va la informacion -->
                        <div class="col-sm-11 col11Body" >

                        <h4 class="titulosForm">Recursos</h4>


                          
                        </div>
                      </div>
                      <button type="button" class="btn btn-previous botonForm">Anterior</button>
                      <button type="button" class="btn btn-next botonForm">Siguiente</button>                     
                    </fieldset>
                    <!-- Fin Quinto Paso -->

                    <!-- Sexto Paso -->
                    <fieldset class="formField">
                      <div class="form-bottom" data-step="6" data-title="Sexto Paso">
                      <!-- Aqui va la barra lateral -->
                        <div class="col-sm-1 col1Body">
                          <span class="step ready">1</span>
                          <span class="step ready">2</span>
                          <span class="step ready">3</span>
                          <span class="step ready">4</span>
                          <span class="step ready">5</span> 
                          <span class="step activePass">6</span>
                        </div>

                      <!-- Aqui va la informacion -->
                        <div class="col-sm-11 col11Body" >

                        <h4 class="titulosForm">Recursos Continuación</h4>



                        </div>
                      </div>
                      <button type="button" class="btn btn-previous botonForm">Anterior</button>
                      <button type="submit" form="formularioCarga" id="submit" class="btn btn-submit botonForm">Agregar</button>                      
                    </fieldset>
                    <!-- Fin Sexto Paso -->

                </form>
            </div>
          </div>               


        </div>
      </div>

    </div>
  </div>

<!-- Fin Modal Agregar Servicio -->





<!-- Datatables-->
<script src="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.bootstrap.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/jszip.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.js')}}"></script>



<!-- Datatable init js -->
<script src="{{=URL('static', 'plugins/datatables/datatables.init.js')}}"></script>
<script>

  var filtros = false;

  $(document).ready(function() {
      // Setup - add a text input to each footer cell
      $('#datatable tfoot th').each( function () {
          var title = $(this).text();
          $(this).html( '<input type="text" placeholder="Filtro" />' );
      } );
   
      // DataTable
      var table = $('#datatable').DataTable();
   
      // Apply the search
      table.columns().every( function () {
          var that = this;
   
          $( 'input', this.footer() ).on( 'keyup change', function () {
              if ( that.search() !== this.value ) {
                  that
                      .search( this.value )
                      .draw();
              }
          } );
      } );

      $('#datatable tfoot tr').appendTo('#datatable thead');
      $("#datatable thead tr").not("#titulosListado").css("display","none");
  } );

  function mostrarFiltro() {
      if (filtros){
        $("#datatable thead tr").not("#titulosListado").css("display","none");
        filtros = false
      }
      else{
        $("#datatable thead tr").not("#titulosListado").css("display","table-row");
        filtros = true
      }

  }
</script>
 
<script language="javascript">
  var table = $('#datatable').DataTable({
    language: {
      url: "{{=URL('static', 'plugins/datatables/l18n/es-ES.json')}}"
    },
   initComplete: function(){
      var api = this.api();

      new $.fn.dataTable.Buttons(api, {
         buttons: [
            'copy', 'pdf', 'excel', 'csv', 'print'
         ]
      });
      api.buttons().container().appendTo('#buttons');  
   }
  });

  var w2p_ajax_confirm_message =
        "{{=T('')}}";
  
  function abrirFicha(servicio) {
    var x = document.getElementById("serv");
      x.value = servicio;
    ajax('ajax_ficha_servicio', ['serv'], "ficha");
  }

  function getAdscripcion(){
    var opcionessede = document.getElementById("sel6");
    var sedeelegida = opcionessede.options[opcionessede.selectedIndex].value;
    var x = document.getElementById("sede");
      x.value = sedeelegida;
    ajax('ajax_obtener_adscripcion', ['sede'], "adscripciondiv");
  }

  function getDependencia(){
      var opcionesads = document.getElementById("sel4");
      var adselegida = opcionesads.options[opcionesads.selectedIndex].value;
      var x = document.getElementById("adscripcion");
        x.value = adselegida;
      ajax('ajax_obtener_dependencia', ['adscripcion'], "dependenciadiv");

   }

  function getUbicacion(){
      var opcionesdep = document.getElementById("sel3");
      var dependenciaelegida = opcionesdep.options[opcionesdep.selectedIndex].value;
      var x = document.getElementById("dependencia");
        x.value = dependenciaelegida;
      ajax('ajax_obtener_ubicacion', ['dependencia'], "ubicaciondiv");

   }

  function getResponsable(){
      var opcionesdep = document.getElementById("sel3");
      var dependenciaelegida = opcionesdep.options[opcionesdep.selectedIndex].value;
      var x = document.getElementById("dependencia");
        x.value = dependenciaelegida;
      ajax('ajax_obtener_responsable', ['dependencia'], "responsablediv");
   }

  // AJAX EDICION
  function getAdscripcionEdit(){
    var opcionessede = document.getElementById("sel6-edit");
    var sedeelegida = opcionessede.options[opcionessede.selectedIndex].value;
    var x = document.getElementById("sede");
      x.value = sedeelegida;
    ajax('ajax_obtener_adscripcion_editar', ['sede'], "adscripciondiv-edit");
  }

  function getDependenciaEdit(){
      var opcionesads = document.getElementById("sel4-edit");
      var adselegida = opcionesads.options[opcionesads.selectedIndex].value;
      var x = document.getElementById("adscripcion");
        x.value = adselegida;
      ajax('ajax_obtener_dependencia_editar', ['adscripcion'], "dependenciadiv-edit");

   }

  function getUbicacionEdit(){
      var opcionesdep = document.getElementById("sel3-edit");
      var dependenciaelegida = opcionesdep.options[opcionesdep.selectedIndex].value;
      var x = document.getElementById("dependencia");
        x.value = dependenciaelegida;
      ajax('ajax_obtener_ubicacion_editar', ['dependencia'], "ubicaciondiv-edit");

   }

  function getResponsableEdit(){
      var opcionesdep = document.getElementById("sel3-edit");
      var dependenciaelegida = opcionesdep.options[opcionesdep.selectedIndex].value;
      var x = document.getElementById("dependencia");
        x.value = dependenciaelegida;
      ajax('ajax_obtener_responsable_editar', ['dependencia'], "responsablediv-edit");
   }

  function cambiar_estado_detalle_ambito(is_otro_checked, id){
    if (id == 'checkbox_ambito_otro'){
      if (is_otro_checked){
        $("#input_ambito_otro_detalle").show();
      }
      else{
        $("#input_ambito_otro_detalle").hide();
        $("#input_ambito_otro_detalle").val(' ');
      }
    }
    else if (id == 'editar_checkbox_ambito_otro'){
      if (is_otro_checked){
        $("#editar_input_ambito_otro_detalle").show();
      }
      else{
        $("#editar_input_ambito_otro_detalle").hide();
        $("#editar_input_ambito_otro_detalle").val(' ');
        $("#editar_input_ambito_otro_detalle").attr("placeholder", "Otro, Especifique:*");
      }   
    }
    else if (id == 'checkbox_per_otro'){
      if (is_otro_checked){
        $("#input_per_otro_detalle").show();
      }
      else{
        $("#input_per_otro_detalle").hide();
        $("#input_per_otro_detalle").val(' ');
      }      
    }
    else if (id == 'editar_checkbox_per_otro'){
      if (is_otro_checked){
        $("#editar_input_per_otro_detalle").show();
      }
      else{
        $("#editar_input_per_otro_detalle").hide();
        $("#editar_input_per_otro_detalle").val(' ');
        $("#editar_input_per_otro_detalle").attr("placeholder", "Otro, Especifique:*");
      }   
    }
  }

  function cambiar_estado_condicion_ambiental(is_otro_checked, id){
    if (id == 'radio_condicion_ambiental'){
      if (is_otro_checked == "True"){
        $("#input_radio_condicion_ambiental").show();
      }
      else{
        $("#input_radio_condicion_ambiental").hide();
        $("#input_radio_condicion_ambiental").val(' ');
      }
    }
    else if (id == 'editar_radio_condicion_ambiental'){
      if (is_otro_checked == "True"){
        $("#editar_input_radio_condicion_ambiental").show();
      }
      else{
        $("#editar_input_radio_condicion_ambiental").hide();
        $("#editar_input_radio_condicion_ambiental").val(' ');
        $("#editar_input_radio_condicion_ambiental").attr("placeholder", "Si requiere, Especifique:*");
      }   
    }
  }
</script>








































<script type="text/javascript">
	// Get the modal
	var modal = document.getElementById('modal');

	// Get the button that opens the modal
	var btn = document.getElementById("botonModal");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on the button, open the modal 
	btn.onclick = function() {
	    modal.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	    modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	    if (event.target == modal) {
	        modal.style.display = "none";
	    }
	}
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="{{=URL('static','js/agregarDoc.js')}}"></script>

{{end}}
