{{extend 'layout.html'}}
{{block head}}
 

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- DataTables -->
  <link href="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{=URL('static', 'css/bootstrap-datepicker3.css')}}">
  <script src="{{=URL('static', 'js/bootstrap-datepicker.min.js')}}"></script>
  <link href="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/servicios_modal.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_listado.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_template_modal.css')}}">

  <script src="{{=URL('static', 'js/servicios_template_modal.js')}}"></script>

  <!-- Web2py JS - Especialmente para AJAX -->
  <script src="{{=URL('static', 'js/web2py.js')}}"></script>
  
  <style>

    #datatable_filter{
      text-align: left;
      margin-top: -55px
    }
  
  </style>

{{end}}
{{block center}}
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2','informacion_documentada')}}">Información Documentada</a>
  <span class="breadcrumb-item active" >Control de Registros</span>
  </div>
</nav>

<div class="container-fluid" id="container-body" style="">

  <div class="row">
    <div class="col-md-10">
      <h3 style="text-align: center; margin-left: 18%"> CONTROL DE REGISTROS </h3>
    </div>
    <div class="col-md-2">
      <a href="#">
        <button type="button" id="botonAgregar" class="btn botonesListado" data-toggle="modal" data-target="#adddoc" style="border-radius: 50%; text-align: center; background-color: #337ab7; margin-right: 20px; border-color: #337ab7;"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></button>
      </a>
     
    </div>
  </div>  


  <div class="row" style="margin-bottom: 100px;">
    <div class="col-md-1">
    </div>  
    <div class="col-md-10">
      <nav class="indicadores" style="background-color: #FAFAFA;">      
        <div class="row">   
          </ul>
          
      </nav>
    </div>
    <div class="col-md-1">
    </div>  
  <div>

  <div class="row">
  </div>  
</div>

<!--UL 04/18-->

<div class="container" style="padding: 0px;">
  <div class="row">

    <br>
    <div class="table-responsive no-padding no-margin">
      <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
        <div id="buttons" style="text-align: right; " >
      

    </div>
    <br>
        <thead>
            <tr id="titulosListado">
          <th class="camposTabla linksNombres">Registro </th>
          <th class="camposTabla linksNombres">Fecha</th>
          <th class="camposTabla linksNombres" style="padding-left: 120px; padding-right: 120px;">Descripción</th>
          <th class="camposTabla linksNombres">Destinatario</th>
          <th class="camposTabla linksNombres">Remitente</th>

            </tr>
        </thead>

        <tbody>
        {{for doc in registros:}}
        <tr>
          <td class="camposTabla"><a href="{{=URL('informacion_documentada','ficha_registro',args=[doc.codigo])}}" >{{=doc.codigo}}</a></td>
          <td class="camposTabla">{{=doc.fecha_creacion}}</td>
          <td class="camposTabla">{{=doc.descripcion.upper()}}</td>
          <td class="camposTabla">{{=doc.destinatario.upper()}}</td>
          <td class="camposTabla">{{=auth.user.first_name}}</td>

        </tr>
        {{pass}}         
        </tbody>


      </table>
    </div>
  </div>
</div>










<input type="hidden" id="reg" name="reg" value="">


<!-- Ajax abrirFicha-->
<input type="hidden" id="reg" name="reg" value="">

<!-- Inicio Modal ficha de Servicio -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div id="ficha" class="modal-content">
      </div>

    </div>
  </div>
<!-- Fin Modal ficha de servicio -->






  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div id="ficha_reg" class="modal-content">
      </div>

    </div>
  </div>

  <div class="modal fade" id="adddoc" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header addHeader">
          <div class="row addRow" id="rowHeader">
            <div class="col-sm-1" id="col1Header">
              <div class="container" id="plus">
                <h1 id="agregar">+</h1>
              </div>
            </div>
            <div class="col-sm-10" id="col11Header">
              <h4 class="modal-title" id="nuevoServicio">Nuevo Registro
                <button type="button" class="close" data-dismiss="modal" onclick="limpiarCampos()">&times;</button>
              </h4>
            </div>
          </div>
        </div>
        <!-- Fin Modal Header -->
        
        <!-- Modal Body -->
        <div class="modal-body addBody">
          <div class="row addRow">
            <div class="col-md-12 form-box">
                <form id="formularioCarga" class="registration-form" method="post">

                    <!-- Primer Paso -->
                    <fieldset class="formField">
                      <div class="form-bottom" data-step="1" data-title="Primer Paso">
                        <!-- Aqui va la barra lateral -->
                            <div class="col-sm-1 col1Body">
                              <span class="step activePass">1</span>
                            </div>
                          <!-- Aqui va la informacion -->
                        <div class="col-sm-11 col11Body">


                          <div class="input-group focus">
                              <h4 class="">Fecha de Creación</h4>
                              <input class="datepicker" type="text" data-placement="bottom" data-trigger="manual" data-content="Seleccione una fecha" name="fecha_creacion" id="fecha_creacion" data-date-end-date="0d"  required/> 
                          </div>

                          <div class="input-group">
                              <h4 class="">Descripción</h4>
                              <input type="text" name="descripcion" id="descripcion" placeholder="Descripción" required/>
                          </div>

                          <div class="input-group">
                              <h4 class="">Destinatario</h4>
                              <input type="text" name="destinatario" id="destinatario" placeholder="Destinatario" required/>
                          </div>
                          
                          <div class="input-group">
                              <h4 class="">Remitente</h4>
                              <select name="remitente" id="remitente" class="input" onchange="get_code(this)" required>
                              <option value=""></option>
                              {{for dep in dependencias:}}
                              <option value="{{=dep.codigo_registro}}" id="{{=dep.nombre}}">{{=dep.nombre}}</option>
                              {{pass}}
                            </select>
                          </div>

                          <div class="input-group">
                              <h4 class="">Archivo electrónico</h4>
                              <input type="text" name="doc_electronico" id="doc_electronico" placeholder="Documento electrónico" required/>
                          </div>

                          <div class="input-group">
                              <h4 class="">Ubicación del archivo electrónico</h4>
                              <input type="text" name="ubicacion_doc_electronico" id="ubicacion_doc_electronico" placeholder="Ubicación del registro electrónico" required/>
                              <h6 style="color: gray;">Indique el nombre del archivo electrónico, carpeta o ruta para acceder al el mismo</h6>
                          </div>
                          
                          <div class="input-group">
                              <h4 class="">Ubicación del registro en formato físico</h4>
                              <input type="text" name="archivo_fisico" id="archivo_fisico" placeholder="Archivo físico" required/>
                              <h6 style="color: gray;">Indique la carpeta, archivo, estante u otro se puede acceder al documento</h6>
                          </div>


                          <div style="position: fixed; bottom: 0; right: 0;">
 
                            <button type="submit" form="formularioCarga" id="submit" class="btn btn-submit botonForm"><i class="fa fa-floppy-o"></i></button>
                          </div>

            
                            
                          </fieldset>
                    <!-- Fin Primer Paso -->
                    
                    

                </form>
            </div>
          </div>               


        </div>
      </div>

    </div>
  </div>












<!-- Datatables-->
<script src="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.bootstrap.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/jszip.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.js')}}"></script>



<!-- Datatable init js -->
<script src="{{=URL('static', 'plugins/datatables/datatables.init.js')}}"></script>
<script type="text/javascript">
  $(function() {
    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd'
    })  
  });
</script>
<script type="text/javascript">
   function limpiarCampos() {    

    $('.registration-form').find('input:text').val('');
    $('.registration-form').find('select').val('');
    location.reload();
  }
</script>
<script>

  var filtros = false;
  const langDT = "{{=URL('static', 'plugins/datatables/l18n/es-ES.json')}}"
  $(document).ready(function() {
      // Setup - add a text input to each footer cell
      $('#datatable tfoot th').each( function () {
          var title = $(this).text();
          $(this).html( '<input type="text" placeholder="Filtro" />' );
      } );
   
      // DataTable
      var table = $('#datatable').DataTable();
   
      // Apply the search
      table.columns().every( function () {
          var that = this;
   
          $( 'input', this.footer() ).on( 'keyup change', function () {
              if ( that.search() !== this.value ) {
                  that
                      .search( this.value )
                      .draw();
              }
          } );
      } );

      $('#datatable tfoot tr').appendTo('#datatable thead');
      $("#datatable thead tr").not("#titulosListado").css("display","none");
  } );

  function mostrarFiltro() {
      if (filtros){
        $("#datatable thead tr").not("#titulosListado").css("display","none");
        filtros = false
      }
      else{
        $("#datatable thead tr").not("#titulosListado").css("display","table-row");
        filtros = true
      }

  }
</script>
<script language="javascript" src="{{=URL('static', 'js/botones_dataTable.js')}}"></script>
 










