<br>
<div class="tab-content">
  <div class="tab-pane active" id="cargos_desempe">
    <table class="table contenidoFicha" id="tabla_historial_laboral" style="padding-top: 5px;">
      <tbody>

        <tr style="color: White;"> 
          <th> Desde </th>
          <th> Hasta </th>
          <th> Cargo </th>
          <th> Institución </th>
        </tr>

        <tr>
            {{for admin in admin_list:}}

              {{if bool(admin.f_fecha_inicio) :}}
              <td>{{=admin.f_fecha_inicio}}</td>
              {{pass}}

              {{if bool(admin.f_fecha_final) :}}
              <td>{{=admin.f_fecha_final}}</td>
              {{pass}}

              {{if bool(admin.f_cargo) :}}
              <td>{{=admin.f_cargo}}</td>
              {{pass}}

              {{if bool(admin.f_institucion) :}}
              <td>{{=admin.f_institucion}}</td>
              {{pass}}
            
            {{pass}}
        </tr>
      </tbody>

    </table>
  </div>
</div>
