        <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<br>
<div class="tab-pane" id="tab2">
  <div class="span8">
    <div class="tabbable">
<body>

<div class="container">
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-primary">Materias</button>
    <br>
    <button type="button" class="btn btn-primary">Trabajos</button>
    <br>
    <button type="button" class="btn btn-primary">Ponencias</button>
  </div>
</div>

</body>
</div>
</div>
</div>