<br>
<div class="tab-pane" id="tab2">
  <div class="span8">
    <div class="tabbable">

      <ul class="nav nav-tabs " id="myTab" role="tablist">
        <li role="presentation" class="nav-item active">
          <a href="#materias" class="nav-link active " data-toggle="tab" role="tab" aria-controls="cargos_desempe"><b>Materias Impartidas</b></a>
        </li>

        <li class="nav-item ">
          <a class="nav-link  " id="tab_datos_personales" href="#trabajos" data-toggle="tab" role="tab" aria-controls="comisiones_comites"><b>Dirección / Tutoría de Trabajos</b></a>
        </li>

        <li class="nav-item disabled">
          <a id="tab_datos_personales" href="#ponencias" ><b>Ponencias en eventos de formación</b></a>
        </li>

      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="materias">
            {{include 'personal/materias.html'}}
        </div>

        <div class="tab-pane" id="trabajos">
            {{include 'personal/trabajos-dirigidos.html'}}
        </div>

        <div class="tab-pane" id="ponencias">
        </div>


      </div>
    </div>
  </div>
</div>

