<br>
<div class="tab-pane" id="tab2">
  <div class="span8">
    <div class="tabbable tabs-left">

      <ul class="nav nav-tabs " id="myTab" role="tablist">

        <li role="presentation" class="nav-item active">
          <a href="#estudios" class="nav-link active " data-toggle="tab" role="tab" aria-controls="cargos_desempe"><b>Estudios formales</b></a>
        </li>

        <li class="nav-item ">
          <a class="nav-link  " id="tab_datos_personales" href="#eventos" data-toggle="tab" role="tab" aria-controls="comisiones_comites"><b>Cursos / Eventos de Formación</b></a>
        </li>

        <li class="nav-item disabled">
          <a href="#reconoc_educ"><b>Reconocimientos</b></a>
        </li>

      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="estudios">
          {{include 'personal/estudios.html'}}
        </div>

        <div class="tab-pane" id="eventos">
          {{include 'personal/eventos-formacion.html'}}
        </div>

        <div class="tab-pane" id="reconoc_educ">
        </div>

      </div>

    </div>

  </div>

</div>

