<br>
<div class="tab-pane" id="tab2">
  <div class="span8">
    <div class="tabbable tabs-left">

      <ul class="nav nav-tabs " id="myTab" role="tablist">

        <li role="presentation" class="nav-item active">
          <a href="#media" class="nav-link active " data-toggle="tab" role="tab" aria-controls="cargos_desempe"><b>Educación Media</b></a>
        </li>

        <li class="nav-item ">
          <a class="nav-link  " id="tab_datos_personales" href="#universitaria" data-toggle="tab" role="tab" aria-controls="comisiones_comites"><b>Educación Universitaria</b></a>
        </li>

      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="media">
          <p>Aqui va la información de educación media</p>
        </div>

        <div class="tab-pane" id="universitaria">
          <p>Aqui las tesis de grado y postgrado</p>
        </div>

      </div>

    </div>

  </div>

</div>