{{extend 'layout.html'}}

{{block head}}

  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/servicios_modal.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/ficha_listado.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/bootstrap-datepicker3.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/ficha_personal.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/fselect.css')}}">

  <script src="{{=URL('static', 'js/personal_template_modal.js')}}"></script>
  <script src="{{=URL('static', 'js/moment.min.js')}}"></script>
  <script src="{{=URL('static', 'js/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{=URL('static', 'js/fselect.js')}}"></script>
  <script src="{{=URL('static', 'js/personal/index.js')}}"></script>
  <script src="{{=URL('static', 'js/cleave.js')}}"></script>

  <script language="javascript" src="{{=URL('static', 'js/web2py.js')}}"></script>


{{end}}

{{block center}}
 <div id="ficha_edicion">
    <div style="width: 85vw; margin-left: auto; margin-right: auto; margin-bottom: 100px;">

      <!-- Modal content-->
        <div class="modal-header">
          <div class="media">

              <div class="media-body fichaMedia text-center">
                <h2 class="modal-title media-heading fichaHeading" id = "field_nombre_completo">{{=personal['nombre']}} {{=personal['apellido']}}</h2>
              </div>
              <div id="editar" class="text-right">
                  <button type="button" class="btn btn-primary boton-sigulab" data-toggle="modal" data-target="#addservice"><i class="fa fa-pencil"></i></button>
                  {{if auth.user.email == 'sigulabusb@gmail.com':}}
                  <button id="eliminar" type="button" class="btn buttons-html5 btn-danger" data-toggle="modal" data-target="#ocultar-usuario-modal" value={{=personal['ci']}}><i class="fa fa-eye-slash" data-toggle="modal" data-ta></i></button>
                  {{pass}}
                  <button type="button" class="btn boton-sigulab btn-primary" onclick="html2pdf(document.getElementById('ficha_print'))"><i class="fa fa-file"></i></button>
              </div>
              
          </div>
        </div>
        <div class="modal-body">

          <ul class="nav nav-tabs " id="myTab" role="tablist">
            <li role="presentation" class="nav-item active">
              <a href="#datos" class="nav-link  active " data-toggle="tab" role="tab" aria-controls="datos_basicos"><b>Datos</b></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#educacion" data-toggle="tab" role="tab" aria-controls="datos_laborales"><b>Educación</b></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#laboral" data-toggle="tab" role="tab" aria-controls="datos_laborales"><b>Laboral</b></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="tab_historia_laboral" href="#academicas" data-toggle="tab" role="tab" aria-controls="historial_laboral" ><b>Actividades Académicas</b></a>
            </li>

            <!-- Si el usuario es administrativo no deben salirle las pestañas de act. admin. -->
            
              <li class="nav-item">
                <a class="nav-link" id="tab_historia_laboral" href="#administrativas" data-toggle="tab" role="tab" aria-controls="historial_laboral"><div id="fingreso"
                              {{if personal['gremio'] == 'Administrativo':}}
                              hidden
                              {{pass}}><b>Actividades Admininistrativas</b></div></a>
              </li>

          </ul>

          <div class="tab-content" id="tabla_">
            
            <div class="tab-pane active" id="datos" role="tabpanel">
              {{include 'personal/datos.html'}}
            </div>

            <div class="tab-pane" id="educacion" role="tabpanel">
              {{include 'personal/educacion.html'}}
            </div>

            <div class="tab-pane" id="laboral" role="tabpanel">
              {{include 'personal/laboral.html'}}
            </div>


            <div class="tab-pane" id="academicas" role="tabpanel">
              {{include 'personal/academicas.html'}}
            </div>

            <div class="tab-pane" id="administrativas" role="tabpanel">
              <div id="fingreso"
                              {{if personal['gremio'] == 'Administrativo':}}
                              hidden
                              {{pass}}>
                {{include 'personal/administrativas.html'}}
              </div>
            </div>
            

            {{if personal['por_validar']:}}

        <div class="modal-footer">
          <div class=" botonesFicha text-center" id="botones_validacion" >
            <button type="submit" class="btn btn-primary boton-sigulab" id = "validar" name = "validar_ficha" value="True"><i class="fa fa-check"></i></button>
            <button type="submit" class="btn btn-danger boton-sigulab" id = "rechazar" name = "rechazar_ficha" ><i class="fa fa-times"></i></button>
          </div>
          <form method="post">
            <div id="razon-input" class="form-group hidden">
              <input id="validacion" name="validacion" hidden value="-1">
              <div class="col-xs-12">
                <label>Razón de Rechazo</label> 
                <textarea type="text" class="form-control" name="razon_add" >
                </textarea>
              </div>
            </div>
            <div id="confirmar-input" class="form-group hidden">
              <div class="col-xs-12">
                <button class="btn btn-default" type='submit'>Confirmar</button>
              </div>
            </div>
          </form>
      </div>
        
        {{pass}}
           </div>
        </div>
  </div>
</div>

<div hidden>
  <div id="ficha_print">
    <div style="width: 75vw; margin-left: auto; margin-right: auto; margin-bottom: 100px;">
      <table>
        <tr>
          <td>
              <img style="width: 275px;" src="{{=URL('static', 'images/logo-ulab.png')}}" alt="Logo ULAB">
          </td>
          <td>
            <h1>
              Ficha de Personal
            </h1>
          </td>
          <td>
              <img style="width: 100px;" src="{{=URL('static', 'images/personal_icono.png')}}" alt="Icono de Modulo de Personal">
          </td>
        </tr>
      </table>
      <!-- Modal content-->
        <div class="modal-header">
          <div class="media">
              <div class="media-body">
                <h3 class="modal-title media-heading fichaHeading">{{=personal['nombre']}} {{=personal['apellido']}}</h3>
              </div>
          </div>
        </div>
        <div class="modal-body">
            <div>
              <table class="table contenidoFicha" id="tabla_print">
                <tbody>
                  <tr>
                    <td>
                      <h4><b>Datos Básicos</b></h4>
                    </td>
                  </tr>
                  <tr>
                    <td>Nombre:</td><td>{{=personal['nombre']}}</td>
                  </tr>
                  <tr>
                    <td>Apellido:</td><td>{{=personal['apellido']}}</td>
                  </tr>
                  <tr>
                    <td>Correo Electrónico:</td><td>{{=personal['email']}}</td>
                  </tr>
                  <tr>
                    <td>Extensión USB:</td><td>{{=personal['extension_USB']}}</td>
                  </tr>
                  <tr>
                    <td>Extensión Interna:</td><td>{{=personal['extension_interna']}}</td>
                  </tr>
                  <tr>
                    <td>Página Web:</td><td>{{=personal['pagina_web']}}</td>
                  </tr>
                  <tr>
                    <td>Rol:</td><td>{{=personal['rol']}}</td>
                  </tr>
                  <tr>
                    <td>Dependencia:</td><td>{{=personal['dependencia']}}</td>
                  </tr>
                    {{if bool(personal['ubicaciones']) :}}
                    <tr>
                        <td>Ubicación(es):</td><td id="field_ubicacion">
                          <ul>
                            {{for ubicacion in personal['ubicaciones']:}}
                            <li>{{=ubicacion.codigo}}</li>
                            {{pass}}
                          </ul>
                        </td>
                    </tr>
                    {{pass}}
                  <tr>
                      <td>Unidad de Adscripción: </td><td>{{=personal['unidad_jerarquica_superior']}}</td>
                  </tr>
                  <tr>

                  </tr>
                  <tr>
                    <td>
                      <h4><b>Datos Laborales</b></h4>
                    </td>
                  </tr>
                    <tr>
                      <td>Cargo:</td><td>{{=personal['cargo']}}</td>
                    </tr>
                    <tr>
                      <td>Gremio:</td><td>{{=personal['gremio']}}</td>
                    </tr>
                    <tr>
                      <td>Categoria:</td><td>{{=personal['categoria']}}</td>
                    </tr>
                    <tr>
                      <td>Estatus:</td><td>{{=personal['estatus']}}</td>
                    </tr>
                    <tr>
                      <td>Condicion:</td><td>{{=personal['condicion']}}</td>
                    </tr>
                    <tr>
                      <td>Fecha Ingreso:</td><td>{{=personal['fecha_ingreso']}}</td>
                    </tr>
                    <tr >
                      <td>Fecha Salida:</td><td>{{=personal['fecha_salida']}}</td>
                    </tr>
                    <tr>
                      <td>Fecha Ingreso USB:</td><td>{{=personal['fecha_ingreso_usb']}}</td>
                    </tr>
                    <tr>
                      <td>Fecha Ingreso ULAB:</td><td >{{=personal['fecha_ingreso_ulab']}}</td>
                    </tr>
                    <tr>
                      <td>Fecha Ingreso Administracion Publica:</td><td>{{=personal['fecha_ingreso_admin_publica']}}</td>
                    </tr>
                    <tr>
                      <td hidden></td><td hidden>{{=personal['jefe']}}</td>
                    </tr>
                    <tr>
                      <td>
                        <h4><b>Datos Personales</b></h4>
                      </td>
                    </tr>
                    <tr>
                      <td>Cédula:</td><td>{{=personal['ci']}}</td>
                    </tr>
                    <tr>
                      <td>Correo Alternativo:</td><td>{{=personal['email_alt']}}</td>
                    </tr>
                    <tr>
                      <td>Celular:</td><td>{{=personal['celular']}}</td>
                    </tr>
                    <tr>
                        <td>Teléfono de Habitación:</td><td>{{=personal['telefono']}}</td>
                    </tr>
                    <tr>
                      <td>Dirección de Habitación:</td><td>{{=personal['direccion']}}</td>
                    </tr>
                    <tr>
                      <td >Persona de contacto:</td><td class = "text-left">{{=personal['persona_contacto']}}</td>
                    </tr>
                    <tr >
                      <td>N° de contacto:</td><td class = "text-left">{{=personal['contacto_emergencia']}}</td>
                    </tr>
                  </tbody>
              </table>
           </div>
        </div>
  </div>
</div>
</div>
<div id='logged_user' hidden>{{=usuario_logged.f_email}}</div>
{{include 'personal/form_agregar.html'}}

<div class="modal fade" id="ocultar-usuario-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header addHeader">
        <div class="row addRow" id="rowHeader">
          <div class="col-sm-1" id="col1Header">
            <div class="container" id="plus">
              <h1 id="agregar">+</h1>
            </div>
          </div>
          <div class="col-sm-11" id="col11Header" style="background-color: #d9534f;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            <h4 class="modal-title" id="nuevoServicio">Ocultar Personal</h4>
          </div>
        </div>
      </div>
      <!-- Fin Modal Header -->

      <!-- Modal Body -->
      <div class="modal-body container-fluid">
        <div class="row">
          <div class="col-md-12 form-box text-center">
            <h4>¿Seguro desea ocultar a este personal?</h4>
              <form id="form_eliminacion" method="post"
              action="{{=URL('personal', 'eliminar')}}">
                <input type="hidden" name="cedula_eliminar"  value="{{=personal['ci']}}">
                <button type="submit" class="btn btn-danger">Ocultar</button>
                <button data-dismiss="modal" aria-label="Cerrar">Cerrar</button>
              </form>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>


<script>
    $('.nav-link').on('click', function(){
    $('.nav-link').removeClass('active');
    $(this).addClass('active');
}); 
</script>
<script>
    var superusuario = 'sigulabusb@gmail.com';
    var gestor = 'asis-ulab@usb.ve';
    var director = 'ulab@usb.ve';
    var jefe  = document.getElementById("field_jefe").innerHTML;
    var email = document.getElementById("field_email").innerHTML;
    var currentlyLogged = document.getElementById('logged_user').innerHTML;

    console.log(currentlyLogged !== email && currentlyLogged != superusuario && currentlyLogged != gestor && currentlyLogged != jefe);
    console.log(email);

    if( currentlyLogged !== email && currentlyLogged != superusuario && currentlyLogged != gestor){
        $('#editar').hide();
    }else{
        $('#editar').show();
    }

    if( currentlyLogged !== email && currentlyLogged != superusuario && currentlyLogged != gestor && currentlyLogged != jefe){
         $('#tab_datos_personales').hide();
         $("#validar").hide();
         $("#rechazar").hide();
        
    }else{
        $('#tab_datos_personales').show();
        $("#validar").show();
        $("#rechazar").show();
    }

    $(function () {
      $('#rechazar').on('click', function(e) {
        $('#validacion').val(false)
        $('[name="razon_add"]').attr('required', 'required')
        $('#razon-input').removeClass('hidden')
        $('#confirmar-input').removeClass('hidden')
      })

      $('#validar').on('click', function(e) {
        $('#validacion').val(true)
        $('[name="razon_add"]').attr('required', '')
        $('#confirmar-input').removeClass('hidden')
        $('#razon-input').addClass('hidden')
      })
    })

     function confirmar_validacion(){
         var answer=confirm('Confirme validacion de la ficha');
          if(answer){
            alert('Ficha Validada');
            $("#validacion").val(true);
          }
          else{
            f.preventDefault();
          }
     }

    
     function confirmar_rechazo(){
     var answer=confirm('¿Quiere rechazar esta ficha?');
        if(answer){
            alert('Ficha Rechazada');
            $("#validacion").val(false);
        }
        else{
        f.preventDefault();
        }
     }
</script>

<script src="{{=URL('static', 'js/personal/index.js')}}"></script>
<script src="{{=URL('static', 'js/personal/html2pdf.bundle.min.js')}}"></script>
<script src="{{=URL('static', 'js/personal/table2csv.js')}}"></script>
<script src="{{=URL('static', 'js/personal/competencias.js')}}"></script>

{{end}}
