{{extend 'layout.html'}}

{{block head}}
	<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/servicios_modal.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/servicios_listado.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/bootstrap-datepicker3.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/servicios_template_modal.css')}}">
	<script src="{{=URL('static', 'js/personal_template_modal.js')}}"></script>
	<script src="{{=URL('static', 'js/moment.min.js')}}"></script>
	<script src="{{=URL('static', 'js/bootstrap-datepicker.min.js')}}"></script>
	<script src="{{=URL('static', 'js/personal/index.js')}}"></script>
	<script language="javascript" src="{{=URL('static', 'js/web2py.js')}}"></script>
    <link rel="stylesheet" href="{{=URL('static', 'css/servicios_ficha.css')}}"/>




{{end}}

{{block center}}
 <div id="ficha_edicion">
    <div style="width: 75vw; margin-left: auto; margin-right: auto; margin-bottom: 100px;">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header fichaHeader">
          <div class="media">
            <div class="media-left media-middle">
                <img id="iconoFicha" src="{{=URL('static', 'images/servicios/folder.png')}}" class="media-object">
              </div>
              <div class="media-body fichaMedia">
                <h4 class="modal-title media-heading fichaHeading" id = "field_nombre_completo">{{=personal['nombre']}} {{=personal['apellido']}}</h4>
              </div>
              <div id="editar" class="media-right fichaMedia">
                  <button type="button" class="btn btn-default buttons-html5" data-toggle="modal" data-target="#addservice"><i class="fa fa-pencil"></i></button>
              
              </div>
          </div>
        </div>

        <div class="modal-body">

          <ul class="nav nav-tabs " id="myTab" role="tablist">
            <li role="presentation" class="nav-item active">
              <a href="#datos_basicos" class="nav-link" data-toggle="tab" role="tab" aria-controls="datos_basicos">Datos Básicos</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#datos_laborales" data-toggle="tab" role="tab" aria-controls="datos_laborales">Datos Laborales</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" id="tab_datos_personales" href="#datos_personales" data-toggle="tab" role="tab" aria-controls="datos_personales">Datos Personales</a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active " id="datos_basicos" role="tabpanel">
              <table class="table contenidoFicha" id="tabla_datos_personales">
                <tbody>
                  <tr>
                    <td>Nombre:</td><td id="field_nombre">{{=personal['nombre']}}</td>
                  </tr>
                  <tr>
                    <td>Apellido:</td><td id="field_apellido">{{=personal['apellido']}}</td>
                  </tr>
                  <tr>
                    <td>Correo Electrónico:</td><td id="field_email" value={{=personal['email']}}>{{=personal['email']}}</td>
                  </tr>
                  <tr>
                    <td>Extensión USB:</td><td id="field_extension_USB">{{=personal['extension_USB']}}</td>
                  </tr>
                  <tr>
                    <td>Extensión Interna:</td><td id="field_extension_interna">{{=personal['extension_interna']}}</td>
                  </tr>
                  <tr>
                    <td>Página Web:</td><td id="field_pagina_web">{{=personal['pagina_web']}}</td>
                  </tr>
                  <tr>
                    <td>Rol:</td><td id="field_rol">{{=personal['rol']}}</td>
                  </tr>
                  <tr>
                    <td>Dependencia:</td><td id="field_dependencia">{{=personal['dependencia']}}</td>
                  </tr>
                    <tr>
                        <td>Ubicación:</td><td id="field_ubicacion">{{=personal['ubicacion']}}</td>
                    </tr>
                  <tr>
                      <td>Unidad de Adscripción: </td><td id="field_unidad_jerarquica_superior">{{=personal['unidad_jerarquica_superior']}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="tab-pane " id="datos_laborales" role="tabpanel">
              <table class="table contenidoFicha">
                <tbody>
                    <tr>
                      <td>Cargo:</td><td id="field_cargo">{{=personal['cargo']}}</td>
                    </tr>
                    <tr>
                      <td>Gremio:</td><td id="field_gremio">{{=personal['gremio']}}</td>
                    </tr>
                    <tr>
                      <td>Categoria:</td><td id="field_categoria">{{=personal['categoria']}}</td>
                    </tr>
                    <tr>
                      <td>Estatus:</td><td id="field_estatus">{{=personal['estatus']}}</td>
                    </tr>
                    <tr>
                      <td>Condicion:</td><td id="field_condicion">{{=personal['condicion']}}</td>
                    </tr>
                    <tr>
                      <td>Fecha Ingreso:</td><td id="field_fecha_ingreso">{{=personal['fecha_ingreso']}}</td>
                    </tr>
                    <tr >
                      <td>Fecha Salida:</td><td id="field_fecha_salida">{{=personal['fecha_salida']}}</td>
                    </tr>
                    <tr>
                      <td>Fecha Ingreso USB:</td><td id="field_fecha_ingreso_usb">{{=personal['fecha_ingreso_usb']}}</td>
                    </tr>
                    <tr>
                      <td>Fecha Ingreso ULAB:</td><td id="field_fecha_ingreso_ulab">{{=personal['fecha_ingreso_ulab']}}</td>
                    </tr>
                    <tr>
                      <td>Fecha Ingreso Administracion Publica:</td><td id="field_fecha_ingreso_admin_publica">{{=personal['fecha_ingreso_admin_publica']}}</td>
                    </tr>
                    <tr>
                      <td hidden></td><td hidden id = "field_jefe" >{{=personal['jefe']}}</td>
                    </tr>
                </tbody>
              </table>
            </div>

             <div class="tab-pane" id="datos_personales" role="tabpanel">
              <table class="table contenidoFicha">
                <tbody>
                    <tr>
                      <td>Cédula:</td><td id="field_ci">{{=personal['ci']}}</td>
                    </tr>
                    <tr>
                      <td>Correo Alternativo:</td><td id="field_email_alt">{{=personal['email_alt']}}</td>
                    </tr>
                    <tr>
                      <td>Celular:</td><td id="field_celular">{{=personal['celular']}}</td>
                    </tr>
                    <tr>
                        <td>Teléfono de Habitación:</td><td id="field_telefono">{{=personal['telefono']}}</td>
                    </tr>
                    <tr>
                      <td>Dirección de Habitación:</td><td id="field_direccion">{{=personal['direccion']}}</td>
                    </tr>
                  </tbody>
                 </table>
                    
                 <h5 class=" text-center"><b>Persona de Contacto</b></h5></br>
                    
                 <table class="table contenidoFicha">
                     <tbody>
                    <tr>
                      <td>Nombre:</td><td id="field_persona_contacto">{{=personal['persona_contacto']}}</td>
                    </tr>
                    <tr>
                      <td>Contacto de Emergencia:</td><td id="field_contacto_emergencia">{{=personal['contacto_emergencia']}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
        {{if personal['por_validar']:}}
        <div class="modal-footer">
          <form method="post">

            <div class="btn-group botonesFicha" id="botones_validacion" >
                <input id="validacion" name="validacion" hidden value="-1">
                <button type="submit" class="btn btn-primary" id = "validar" name = "validar_ficha" onclick=confirmar_validacion() value="True">Validar</button>
                <button type="submit" class="btn btn-primary" id = "rechazar" name = "rechazar_ficha" onclick=confirmar_rechazo()>Rechazar</button>
            </div>
          </form>
      </div>
        
        {{pass}}
           </div>
        </div>
    </div>
  </div>
</div>
<div id='logged_user' hidden>{{=usuario_logged.f_email}}</div>

{{include 'personal/form_agregar.html'}}

<script>
    var superusuario = 'sigulabusb@gmail.com';
    var gestor = 'asis-ulab@usb.ve';
    var director = 'ulab@usb.ve';
    var jefe  = document.getElementById("field_jefe").innerHTML;
    var email = document.getElementById("field_email").innerHTML;
    var currentlyLogged = document.getElementById('logged_user').innerHTML;

    console.log(currentlyLogged !== email && currentlyLogged != superusuario && currentlyLogged != gestor && currentlyLogged != jefe);
    console.log(email);

    if( currentlyLogged !== email && currentlyLogged != superusuario && currentlyLogged != gestor){
        $('#editar').hide();
    }else{
        $('#editar').show();
    }

    if( currentlyLogged !== email && currentlyLogged != superusuario && currentlyLogged != gestor && currentlyLogged != jefe){
         $('#tab_datos_personales').hide();
         $("#validar").hide();
         $("#rechazar").hide();
        
    }else{
        $('#tab_datos_personales').show();
        $("#validar").show();
        $("#rechazar").show();
    }
</script>
<script>
    
     function confirmar_validacion(){
         var answer=confirm('Confirme validacion de la ficha');
          if(answer){
            alert('Ficha Validada');
            $("#validacion").val(true);
          }
          else{
            f.preventDefault();
          }
     }

    
     function confirmar_rechazo(){
     var answer=confirm('¿Quiere rechazar esta ficha?');
        if(answer){
            alert('Ficha Rechazada');
            $("#validacion").val(false);
        }
        else{
        f.preventDefault();
        }
     }
</script>

{{end}}
