
<h3>Actividades administrativas</h3>
<h5>Los campos con * son obligatorios</h5>

{{for i in range(1,6):}}
<div class="administrativas-container" id="administrativa{{=i}}_container"
    {{if len(admin_list)<i and 1!=i:}} hidden {{pass}}>
    <h4>Actividad ({{=i}})</h4>
    <div class="form-row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="administrativa{{=i}}-desde">Desde: *</label>
                <input {{if len(admin_list)<i and 1!=i:}}
                       disabled {{pass}}
                       value="{{='' if len(admin_list)<i else admin_list[i-1].f_fecha_inicio.strftime('%d-%m-%Y')}}"
                       class="datepicker"
                       name="administrativa{{=i}}_desde" type="text" 
                       id="administrativa{{=i}}_desde"
                       data-placement="bottom" data-trigger="manual"
                       data-content="Seleccione una fecha"/>
                <span class="help-block"></span>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Hasta: *</label>
                <input {{if len(admin_list)<i and 1!=i:}}
                       disabled {{pass}}
                       value="{{='' if len(admin_list)<i else admin_list[i-1].f_fecha_final.strftime('%d-%m-%Y')}}"
                       class="datepicker"
                       name="administrativa{{=i}}_hasta" type="text"
                       id="administrativa{{=i}}_hasta"
                       data-placement="bottom" data-trigger="manual"
                       data-content="Seleccione una fecha">
                <span class="help-block"></span>
            </div>
        </div>

    </div>
    <div class="form-row">

        <div class="col-sm-6">
            <div class="form-group">
                <label>Cargo: *</label>
                <input {{if len(admin_list)<i and 1!=i:}}
                       disabled {{pass}}
                       value="{{='' if len(admin_list)<i else admin_list[i-1].f_cargo}}"
                       type="text" class="form-control"
                       name="administrativa{{=i}}_cargo"
                       id="administrativa{{=i}}_cargo"
                       data-toggle="popover" data-placement="bottom"
                       data-trigger="manual" data-content="Este campo es requerido">
                <span class="help-block"></span>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label>Institucion: *</label>
                <input {{if len(admin_list)<i and 1!=i:}}
                       disabled {{pass}}
                       value="{{='' if len(admin_list)<i else admin_list[i-1].f_institucion}}"
                       type="text" class="form-control"
                       name="administrativa{{=i}}_institucion"
                       id="administrativa{{=i}}_institucion"
                       placeholder="Institucion" data-toggle="popover"
                       data-placement="bottom" data-trigger="manual">
                <span class="help-block"></span>
            </div>
        </div>

    </div>
</div>
{{pass}}

<a href="#" id="add_field_admin" onclick="add_field_admin()">Agregar Actividad</a>


<script charset="utf-8">
    var num = 2
    function add_field_admin(){
        if(num < 11){
            $('#administrativa'+num+'_container').show();
            $('#administrativa'+num+'_desde').prop('disabled', false);
            $('#administrativa'+num+'_hasta').prop('disabled', false);
            $('#administrativa'+num+'_cargo').prop('disabled', false);
            $('#administrativa'+num+'_institucion').prop('disabled', false);
        num = num+1;
        if (num >10){
            $('#add_field_admin').remove();
            }
        }
    }
</script>
