
<h4 class="titulosForm">Estudios Formales</h4>

{{ for i in range(1,6): }}
<div class="estudios-container" id="estudios-container{{=i}}"
     {{if len(estudio_list)<i:}}hidden{{pass}}>
  
  <h5>Estudio {{=i-1}}</h5>
  
  <div class="col-sm-11 col11Body">

    <div class="form-row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Título obtenido:</label>
          <input
                 value="{{='' if len(estudio_list)<i else estudio_list[i-1].f_titulo_trabajo}}"
                 type="text" class="form-control" name="estudio{{=i}}_titulo_estudio" id="estudio{{=i}}_titulo_estudio" placeholder="Ingrese titulo obtenido"/>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-6">
        <div class="form-group">
            <label for="estudiantes">Área:</label>
            <input
                value="{{='' if len(estudio_list)<i else estudio_list[i-1].f_estudiantes}}"
                type="text" class="form-control" name="estudio{{=i}}_area" id="estudio{{=i}}_area" placeholder="Ingrese el area"/>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
            <label for="anio">Año:</label>
            <input value="{{='' if len(estudio_list)<i else estudio_list[i-1].f_anio}}"
                   type="text" class="form-control" name="estudio{{=i}}_anio" id="estudio{{=i}}_anio" placeholder="Ingrese año"/>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="institucion">Institución:</label>
          <input
              value="{{='' if len(estudio_list)<i else estudio_list[i-1].f_institucion}}"
              type="text" class="form-control" name="estudio{{=i}}_institucion" id="estudio{{=i}}_institucion" placeholder="Ingrese nombre de la institución"/>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="institucion">Ubicación/Sede:</label>
          <input
              value="{{='' if len(estudio_list)<i else estudio_list[i-1].f_institucion}}"
              type="text" class="form-control" name="estudio{{=i}}_ubicacion" id="estudio{{=i}}_ubicacion" placeholder="Ingrese ubicación de la institución"/>
        </div>
      </div>
    </div>

    <div class="form-row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="trabajo{{=i}}_nivel">Nivel:</label>
            <select
                class="form-control seleccion-competencia"
                type="select" name="estudio{{=i}}_nivel" id="estudio{{=i}}_nivel"
                data-placeholder="Seleccione nivel de educación">
                <option value=""> Seleccione una opcion</option>
                {{ for niv in nivel: }}
                <option 
                      {{ if len(estudio_list)>=i and (niv in (estudio_list[i-1].f_nivel)): }}
                        selected
                        {{pass}}
                    value="{{=niv}}">{{=niv}}</option>
                {{pass}}
            </select>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="estudio{{=i}}_categoria">Categoría:</label>
            <select class="form-control seleccion-competencia" type="select"
                    name="estudio{{=i}}_categoria" id="estudio{{=i}}_categoria" multiple required
                    data-placeholder="Seleccione las categorías que apliquen" data-toggle="popover"
                    placeholder="Introduzca el años" data-placement="bottom"
                    data-trigger="manual" data-content="Este campo es requerido" required>
                    <option value=""> Seleccione al menos una opcion</option>
                    {{ for comp in competencias: }}
                      <option 
                        {{ if i<=len(evento_list):}}
                        {{= 'selected' if comp in evento_list[i-1].f_categorias else '' }}
                        {{pass}}
                        value="{{=comp}}">{{=comp}}
                      </option>
                    {{pass}}
            </select>
          </div>

        </div>

    </div>
  </div>

</div>

{{ pass }}

<a href="#"  id="add_est" onclick="add_est()">Agregar Estudio</a>
<a href="#"  id="remove_est" onclick="remove_est()">Quitar Estudio</a>

<script charset="utf-8">
    var num_est = {{=len(estudio_list) or 1}}
    function add_est(){
        if(num_est < 6){
            num_est++;
            $('#estudios-container'+num_est).show();
        }
    }
    function remove_est() {
        if(num_est > 1){
            $('#estudio'+num_est+'_categoria').val(['']).trigger("chosen:updated");
            $('#estudio'+num_est+'_nivel').val(['']).trigger("chosen:updated");
            $('#estudio'+num_est+'_anio').val('');
            $('#estudio'+num_est+'_titulo_estudio').val('');
            $('#estudio'+num_est+'_ubicacion').val('');
            $('#estudio'+num_est+'_institucion').val('');
            $('#estudio'+num_est+'_categoria').val('');
            $('#estudio'+num_est+'_area').val('');
            $('#estudios-container'+num_est).hide();
            num_est--;
        }
    }
</script>
