<h3>Proyectos de Investigación (Máximo 10)</h3>

{{ for i in range(1,11): }}
<div class="proyecto-container" id="proyecto{{=i}}_cointaner"{{if len(proy_list)<i and 1!=i: }}hidden{{pass}}>
    <h5>Proyecto {{=i}}</h5>
    <div class="form-row">
        <div class="form-group">
            <label for="proyecto{{=i}}_categoria">Categoría:</label>
            <select class="form-control seleccion-competencia"
                    type="select" name="proyecto{{=i}}_categoria"
                    id="proyecto{{=i}}_categoria" multiple required
                    data-placeholder="Seleccione las categorías que apliquen">
                    <option value""> Seleccione una opcion</option>
                    {{ for comp in competencias: }}
                    <option
                        {{ if i<=len(proy_list):}}
                        {{= 'selected' if comp in proy_list[i-1].f_categoria else '' }}
                        {{pass}}
                    value"{{=comp}}">{{=comp}}</option>
                    {{pass}}
            </select>
        </div>
</div>

    <div class="form-row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="proyecto{{=i}}_desde">Desde:</label>
                <input 
                       value="{{='' if len(proy_list)<i else proy_list[i-1].f_fecha_inicio.strftime('%d-%m-%Y')}}"
                       class="datepicker"
                       name="proyecto{{=i}}_desde" type="text"
                       id="proyecto{{=i}}_desde"
                       data-placement="bottom" data-trigger="manual"
                       data-content="Seleccione una fecha"/>
                <span class="help-block"></span>
            </div>
    </div>


    <div class="col-sm-6">
            <div class="form-group">
                <label>Hasta:</label>
                <input 
                       value="{{='' if len(proy_list)<i else proy_list[i-1].f_fecha_fin.strftime('%d-%m-%Y')}}"
                       class="datepicker"
                       name="proyecto{{=i}}_hasta" type="text"
                       id="proyecto{{=i}}_hasta"
                       data-placement="bottom" data-trigger="manual"
                       data-content="Seleccione una fecha">
                <span class="help-block"></span>
            </div>
    </div>
</div>

 <div class="form-row">
    <div class="col-sm-6">
        <div class="form-group">
        <label>Titulo:</label>
         <input
                value="{{='' if len(proy_list)<i else proy_list[i-1].f_titulo}}"
                type="text" class="form-control"
                name="proyecto{{=i}}_titulo"
                id="proyecto{{=i}}_titulo"
                data-toggle="popover" data-placement="bottom"
                data-trigger="manual" data-content="Este campo es requerido">
                <span class="help-block"></span>
            </div>
        </div>

    <div class="col-sm-6">
        <div class="form-group">
        <label>Responsabilidad:</label>
         <input
                       value="{{='' if len(proy_list)<i else proy_list[i-1].f_responsabilidad}}"
                       type="text" class="form-control"
                       name="proyecto{{=i}}_responsabilidad"
                       id="proyecto{{=i}}_responsabilidad"
                       data-toggle="popover" data-placement="bottom"
                       data-trigger="manual" data-content="Este campo es requerido">
                <span class="help-block"></span>
            </div>
        </div>
 </div>

  <div class="form-row">
    <div class="col-sm-6">
        <div class="form-group">
        <label>Resultados: </label>
         <input
                value="{{='' if len(proy_list)<i else proy_list[i-1].f_resultados}}"
                type="text" class="form-control"
                name="proyecto{{=i}}_resultados"
                id="proyecto{{=i}}_resultados"
                data-toggle="popover" data-placement="bottom"
                data-trigger="manual" data-content="Este campo es requerido">
                <span class="help-block"></span>
            </div>
        </div>

    <div class="col-sm-6">
        <div class="form-group">
        <label>Institución:</label>
         <input
                value="{{='' if len(proy_list)<i else proy_list[i-1].f_institucion}}"
                type="text" class="form-control"
                name="proyecto{{=i}}_institucion"
                id="proyecto{{=i}}_institucion"
                data-toggle="popover" data-placement="bottom"
                data-trigger="manual" data-content="Este campo es requerido">
                <span class="help-block"></span>
            </div>
        </div>
    </div>
</div>
{{pass}}

<a href="#"  id="add_proy" onclick="add_proy()">Agregar proyetencia</a>
<a href="#"  id="remove_proy" onclick="remove_proy()">Quitar proyetencia</a>

<script charset="utf-8">
    var nump = {{=len(proy_list) or 1}};
    function add_proy(){
        if(nump < 11){
            nump++;
            $('#proyecto'+nump+'_cointaner').show();
        if (nump >10){
            $('#add_field_p').remove();
            }
        }
    }
    function remove_proy(){
        if(nump > 1){
            $('#proyecto'+nump+'_categoria').val(['']).trigger("chosen:updated");
            $('#proyecto'+nump+'_desde').val('');
            $('#proyecto'+nump+'_hasta').val('');
            $('#proyecto'+nump+'_titulo').val('');
            $('#proyecto'+nump+'_responsabilidad').val('');
            $('#proyecto'+nump+'_resultados').val('');
            $('#proyecto'+nump+'_institucion').val('');
            $('#proyecto'+nump+'_cointaner').hide();
            nump--;
        }
    }
</script>
