
<br>
<table class="table contenidoFicha" id="tabla_historial_laboral">
    <tbody>

        <tr style="color: White;"> 
          <th> Desde </th>
          <th> Hasta </th>
          <th> Dependencia/Departamento </th>
          <th> Cargo </th>
          <th> Organización </th>
          <th> Rol </th>
        </tr>

        <tr>
          {{if bool(historial['f_fecha_inicio_1']) :}}
            <td id="field_desde">{{=historial['f_fecha_inicio_1']}}</td>
          {{pass}}
          {{if bool(historial['f_fecha_final_1']) :}}
            <td id="field_hasta">{{=historial['f_fecha_final_1']}}</td>
          {{pass}}
          {{if bool(historial['f_dependencia_hist_1']) :}}
            <td id="field_hasta">{{=historial['f_dependencia_hist_1']}}</td>
          {{pass}}
          {{if bool(historial['f_cargo_hist_1']) :}}
            <td id="field_hasta">{{=historial['f_cargo_hist_1']}}</td>
          {{pass}}
          {{if bool(historial['f_organizacion_1']) :}}
            <td id="field_hasta">{{=historial['f_organizacion_1']}}</td>
          {{pass}}
          {{if bool(historial['f_rol_hist_1']) :}}
            <td id="field_hasta">{{=historial['f_rol_hist_1']}}</td>
          {{pass}}
        </tr>

        <tr>
          {{if bool(historial['f_fecha_inicio_2']) :}}
            <td id="field_desde">{{=historial['f_fecha_inicio_2']}}</td>
          {{pass}}
          {{if bool(historial['f_fecha_final_2']) :}}
            <td id="field_hasta">{{=historial['f_fecha_final_2']}}</td>
          {{pass}}
          {{if bool(historial['f_dependencia_hist_2']) :}}
            <td id="field_hasta">{{=historial['f_dependencia_hist_2']}}</td>
          {{pass}}
          {{if bool(historial['f_cargo_hist_2']) :}}
            <td id="field_hasta">{{=historial['f_cargo_hist_2']}}</td>
          {{pass}}
          {{if bool(historial['f_organizacion_2']) :}}
            <td id="field_hasta">{{=historial['f_organizacion_2']}}</td>
          {{pass}}
          {{if bool(historial['f_rol_hist_2']) :}}
            <td id="field_hasta">{{=historial['f_rol_hist_2']}}</td>
          {{pass}}
        </tr>

        <tr>
          {{if bool(historial['f_fecha_inicio_3']) :}}
            <td id="field_desde">{{=historial['f_fecha_inicio_3']}}</td>
          {{pass}}
          {{if bool(historial['f_fecha_final_3']) :}}
            <td id="field_hasta">{{=historial['f_fecha_final_3']}}</td>
          {{pass}}
          {{if bool(historial['f_dependencia_hist_3']) :}}
            <td id="field_hasta">{{=historial['f_dependencia_hist_3']}}</td>
          {{pass}}
          {{if bool(historial['f_cargo_hist_3']) :}}
            <td id="field_hasta">{{=historial['f_cargo_hist_3']}}</td>
          {{pass}}
          {{if bool(historial['f_organizacion_3']) :}}
            <td id="field_hasta">{{=historial['f_organizacion_3']}}</td>
          {{pass}}
          {{if bool(historial['f_rol_hist_3']) :}}
            <td id="field_hasta">{{=historial['f_rol_hist_3']}}</td>
          {{pass}}
        </tr>

        <tr>
          {{if bool(historial['f_fecha_inicio_4']) :}}
            <td id="field_desde">{{=historial['f_fecha_inicio_4']}}</td>
          {{pass}}
          {{if bool(historial['f_fecha_final_4']) :}}
            <td id="field_hasta">{{=historial['f_fecha_final_4']}}</td>
          {{pass}}
          {{if bool(historial['f_dependencia_hist_4']) :}}
            <td id="field_hasta">{{=historial['f_dependencia_hist_4']}}</td>
          {{pass}}
          {{if bool(historial['f_cargo_hist_4']) :}}
            <td id="field_hasta">{{=historial['f_cargo_hist_4']}}</td>
          {{pass}}
          {{if bool(historial['f_organizacion_4']) :}}
            <td id="field_hasta">{{=historial['f_organizacion_4']}}</td>
          {{pass}}
          {{if bool(historial['f_rol_hist_4']) :}}
            <td id="field_hasta">{{=historial['f_rol_hist_4']}}</td>
          {{pass}}
        </tr>

        <tr>
          {{if bool(historial['f_fecha_inicio_5']) :}}
            <td id="field_desde">{{=historial['f_fecha_inicio_5']}}</td>
          {{pass}}
          {{if bool(historial['f_fecha_final_5']) :}}
            <td id="field_hasta">{{=historial['f_fecha_final_5']}}</td>
          {{pass}}
          {{if bool(historial['f_dependencia_hist_5']) :}}
            <td id="field_hasta">{{=historial['f_dependencia_hist_5']}}</td>
          {{pass}}
          {{if bool(historial['f_cargo_hist_5']) :}}
            <td id="field_hasta">{{=historial['f_cargo_hist_5']}}</td>
          {{pass}}
          {{if bool(historial['f_organizacion_5']) :}}
            <td id="field_hasta">{{=historial['f_organizacion_5']}}</td>
          {{pass}}
          {{if bool(historial['f_rol_hist_5']) :}}
            <td id="field_hasta">{{=historial['f_rol_hist_5']}}</td>
          {{pass}}
        </tr>
    </tbody>

</table>

