{{extend 'layout.html'}}

{{block head}}
  <!-- Hoja de estilos específica para la página de gestión de servicios -->
  <link rel="stylesheet" href="{{=URL('static','css/servicios_index.css')}}"> 
  <link rel="stylesheet" href="{{=URL('static','css/servicios_modulos.css')}}">  

{{end}}

{{block center}}

<!-- Breadcrumb de navegación -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
  <span class="breadcrumb-item active">Personal</span>
  </div>
</nav>
<!-- Fin del Breadcrum de navegación --> 

<!-- Contenido principal de la página de gestión de servicios -->
<div id="main" class="container">
    <div id="fila1" class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 id="tituloBienvenida">Gestión de Personal</h2>
      </div>
    </div>

    <div id="fila2" class="row">

      <div class="col-sm-3">
      </div>

      <div class="col-sm-6">

        <div class="col-sm-6 columnas">
          <a href="{{=URL('listado_estilo')}}">
            <img class="iconos" src="{{=URL('static','images/gen.png')}}">
            <h4 class="opciones">Listado General</h4>
          </a>
        </div>

        <div class="col-sm-6 columnas">
          <a href="{{=URL('busqueda')}}">
            <img class="iconos" src="{{=URL('static','images/serv.png')}}">
            <h4 class="opciones">Búsqueda</h4>
          </a>
        </div>

      </div>

      <div class="col-sm-3">
      </div>

    </div>
</div>
<!-- Fin del contenido principal de la página de gestión de servicios -->

{{end}}

{{end}}