<br>
<div class="tab-pane" id="tab2">
  <div class="span8">
    <div class="tabbable">

      <ul class="nav nav-tabs " id="myTab" role="tablist">
        <li role="presentation" class="nav-item active">
          <a href="#proyectos" class="nav-link active " data-toggle="tab" role="tab" aria-controls="cargos_desempe"><b>Proyectos</b></a>
        </li>

        <li class="nav-item ">
          <a class="nav-link  " id="tab_datos_personales" href="#pubArb" data-toggle="tab" role="tab" aria-controls="comisiones_comites"><b>Publicaciones Arbitradas</b></a>
        </li>

        <li class="nav-item ">
          <a class="nav-link  " id="tab_datos_personales" href="#pubNoArb" data-toggle="tab" role="tab" aria-controls="comisiones_comites"><b>Publicaciones No Arbitradas</b></a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="proyectos">
          <p>Aqui van los proyectos</p>
        </div>

        <div class="tab-pane" id="pubArb">
          <p>Aqui van las publicaciones arbitradas</p>
        </div>

        <div class="tab-pane" id="pubNoArb">
          <p>Aqui van las publicaciones no arbitradas</p>
        </div>

      </div>
    </div>
  </div>
</div>

