<br>
<div class="tab-pane" id="tab2">
  <div class="span8">
    <div class="tabbable tabs-left">

      <ul class="nav nav-tabs " id="myTab" role="tablist">

        <li role="presentation" class="nav-item active">
          <a href="#datos_laborales" class="nav-link active " data-toggle="tab" role="tab" aria-controls="cargos_desempe"><b>Datos Laborales</b></a>
        </li>

        <li class="nav-item ">
          <a class="nav-link  " id="tab_datos_personales" href="#historial_laboral" data-toggle="tab" role="tab" aria-controls="comisiones_comites"><b>Historial Laboral</b></a>
        </li>

        <li class="nav-item ">
          <a class="nav-link  " id="tab_datos_personales" href="#competencias" data-toggle="tab" role="tab" aria-controls="comisiones_comites"><b>Competencias</b></a>
        </li>

        <li class="nav-item ">
          <a class="nav-link  " id="tab_datos_personales" href="#comisiones_comites" data-toggle="tab" role="tab" aria-controls="comisiones_comites"><b>Comités / Comisiones</b></a>
        </li>

        <li class="nav-item ">
          <a class="nav-link  " id="tab_datos_personales" href="#reconoc_lab" data-toggle="tab" role="tab" aria-controls="comisiones_comites"><b>Reconocimientos</b></a>
        </li>

      </ul>

      <div class="tab-content">

        <div class="tab-pane active" id="datos_laborales" role="tabpanel">
              <table class="table contenidoFicha" id="tabla_datos_laborales">
                <tbody>
                    {{if bool(personal['cargo']) :}}
                    <tr>
                      <td>Cargo:</td><td id="field_cargo">{{=personal['cargo']}}</td>
                    </tr>
                    {{pass}}
                    {{if bool(personal['gremio']) :}}

                    <tr>
                      <td>Gremio:</td><td id="field_gremio">{{=personal['gremio']}}</td>
                    </tr>
                    {{pass}}
                    {{if bool(personal['estatus']) :}}
                    <tr>
                      <td>Estatus:</td><td id="field_estatus">{{=personal['estatus']}}</td>
                    </tr>
                    {{pass}}
                    {{if bool(personal['condicion']) :}}
                    <tr>
                      <td>Condicion:</td><td id="field_condicion">{{=personal['condicion']}}</td>
                    </tr>
                    {{pass}}
                    {{if bool(personal['categoria']) :}}
                    <tr>
                      <td>Categoria:</td><td id="field_categoria">{{=personal['categoria']}}</td>
                    </tr>
                    {{pass}}

                    {{if bool(personal['fecha_ingreso']) :}}
                    <tr>
                      <td>Fecha Ingreso:</td><td id="field_fecha_ingreso">{{=personal['fecha_ingreso']}}</td>
                    </tr>
                    {{pass}}
                    {{if bool(personal['fecha_salida']) :}}
                    <tr >
                      <td>Fecha Salida:</td><td id="field_fecha_salida">{{=personal['fecha_salida']}}</td>
                    </tr>
                    {{pass}}
                    {{if bool(personal['fecha_ingreso_usb']) :}}
                    <tr>
                      <td>Fecha Ingreso USB:</td><td id="field_fecha_ingreso_usb">{{=personal['fecha_ingreso_usb']}}</td>
                    </tr>
                    {{pass}}
                    {{if bool(personal['fecha_ingreso_ulab']) :}}
                    <tr>
                      <td>Fecha Ingreso ULAB:</td><td id="field_fecha_ingreso_ulab">{{=personal['fecha_ingreso_ulab']}}</td>
                    </tr>
                    {{pass}}
                    {{if bool(personal['fecha_ingreso_admin_publica']) :}}
                    <tr>
                      <td>Fecha Ingreso Administracion Publica:</td><td id="field_fecha_ingreso_admin_publica">{{=personal['fecha_ingreso_admin_publica']}}</td>
                    </tr>
                    {{pass}}
                    
                    <tr>
                      <td hidden></td><td hidden id = "field_jefe" >{{=personal['jefe']}}</td>
                    </tr>
                </tbody>
              </table>
        </div>

        <div class="tab-pane" id="historial_laboral" role="tabpanel">
          {{include 'personal/historial.html'}}
        </div>

        <div class="tab-pane " id="competencias" role="tabpanel">
          <table class="table contenidoFicha" id="tabla_datos_laborales">
            <br>
            <tbody>
              <tr style="color: White;">
                <th><b>Competencia</b></th>
                <th><b>Categorías</b></th>
                <th><b>Observaciones</b></th>
              </tr>
              {{for comp in comp_list:}}
              <tr>
                <td>{{=BEAUTIFY(comp.f_nombre)}}</td>
                <td>{{=BEAUTIFY(", ".join(comp.f_categorias))}}</td>
                <td>{{=BEAUTIFY(comp.f_observaciones)}}</td>
              </tr>
              {{pass}}
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="comisiones_comites">
          <p>Aqui van las comisiones</p>
        </div>

        <div class="tab-pane" id="reconoc_lab">
          <p>Aqui van los reconocimientos</p>
        </div>

      </div>

    </div>

  </div>

</div>

