<div class="container" style="padding-top:25px">
		<div class="table-responsive" >
			<table class="table table-hover" style="border: 1.5px !important; border-style: solid !important; border-color: #ddd !important;">
				<thead>
					<tr>
							<th><button class="btn-link" name="order" value="nombre" 	id="f_nombre">Nombre</button></th>
							<th><button class="btn-link" name="order" value="email" 	id="f_email">Correo Electrónico</button></th>
							<th><button class="btn-link" name="order" value="seccion" 	id="f_dependencia">Unidad de Adscripción</button></th>
							<th><button class="btn-link" name="order" value="extension" 	id="f_extension">Extensión</button></th>
					</tr>
				</thead>

			    <tbody id="dummyID">
					{{for item in grid:}}
			          	{{if not item["nombre"] == "Ninguno": }}
                            {{if  not item['es_supervisor'] :}}

                            <tr id="{{=item['dependencia']}}_{{=item['categoria']}}">
                                <td><a href="/sigulab2/personal/ficha/{{=item['ci']}}">
                                    {{=item["nombre"]}} {{=item["apellido"]}}
                                </a></td>

                                <td>{{= item["email"]}}</td>
                                <td>{{= item["dependencia"]}}</td>
                                <td>{{= item["extension_USB"]}}</td>
                            </tr>
                            {{pass}}
			          	{{pass}}
					{{pass}}
				</tbody>
				
				<tfooter>
					<tr>
						<th>
						<div id="number">1</div>
						</th>
					</tr>
				</tfooter>
			</table>
		</div>
	</div>
