{{extend 'layout.html'}}

{{block head}}
  <!--DATATABLES-->
  <link href="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" type="text/css" href="{{=URL('static', 'plugins/datatables2/datatables.min.css')}}"/>
	<script type="text/javascript" src="{{=URL('static', 'plugins/datatables2/datatables.min.js')}}"></script>

	<style type="text/css">
		div.dt-buttons {
		  float: right;
		  padding-right: 10ex;
		}
		
  </style>
  
  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/servicios_modal.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/bootstrap-datepicker3.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/ficha_listado.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_template_modal.css')}}">

  <script src="{{=URL('static', 'js/personal_template_modal.js')}}"></script>
  <script src="{{=URL('static', 'js/moment.min.js')}}"></script>
  <script src="{{=URL('static', 'js/cleave.js')}}"></script>
  <script src="{{=URL('static', 'js/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{=URL('static', 'js/personal/index.js')}}"></script>
  <script language="javascript" src="{{=URL('static', 'js/web2py.js')}}"></script>
  <!-- Web2py JS - Especialmente para AJAX -->
  <script src="{{=URL('static', 'js/web2py.js')}}"></script>
  <style>
    .row{
      margin-right:0px!important;
    }
    .boton-sigulab, .buttons-print {
    background-color: #337ab7;
    }
  </style>

{{end}}

{{block center}}

<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
	  <div class="breadcrumb">
	  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
	  <a class="breadcrumb-item" >Personal</a>
	  </div>
  </nav>
{{if session.ficha_negada :}}
<div class="jumbotron">
  <p>{{=session.ficha_negada}}</p>
</div>
{{pass}}
<div class="row">
  <h3 class=" text-center"> GESTIÓN DE PERSONAL</h3>
    <div class="col-sm-2">
            <!-- Boton que lleva al modal -->
            {{ if not usuario.f_es_supervisor :}}
            <button type="button" class="btn btn-default boton-sigulab" data-toggle="modal" data-target="#addservice" style="background-color:#337ab7"><i class="fa fa-pencil"></i></button>
            {{pass}}
    </div>
    <div id="buttons" class="text-right">
      <!-- Filtrado -->
      .
      <!-- Filtrado -->    
    </div>
    <br>

    <div class="table-responsive no-padding no-margin">
      <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
        <thead>
            <tr id="titulosListado">
                <th class="camposTabla linksNombres">NOMBRE</th>
                <th class="camposTabla linksNombres">CORREO</th>
                <th class="camposTabla linksNombres">UNIDA DE ADSCRIPCIÓN</th>
                <th class="camposTabla linksNombres">EXTENSIÓN INTERNA</th>
            </tr>
        </thead>

        <tbody>
          {{for item in grid:}}
            <tr>
                <td class="camposTabla"><a href="/sigulab2/personal/ficha/{{=item['ci']}}" type="button"
                                    data-nombre="{{=item['nombre']}}"
                                    data-apellido="{{=item['apellido']}}"
                                    data-ci="{{=item['ci']}}"
                                    data-categoria="{{=item['categoria']}}"
                                    data-email="{{=item['email']}}"
                                    data-email_alt="{{=item['email_alt']}}"
                                    data-fecha_ingreso="{{=item['fecha_ingreso']}}"
                                    data-fecha_salida="{{=item['fecha_salida']}}"
                                    data-estatus="{{=item['estatus']}}"
                                    data-telefono="{{=item['telefono']}}"
                                    data-pagina_web="{{=item['pagina_web']}}"
                                    data-cargo="{{=item['cargo']}}"
                                    data-dep-name="{{=item['dependencia']}}"
                                    data-gremio="{{=item['gremio']}}"
                                    data-unidad_jerarquica_superior="{{=item['unidad_jerarquica_superior']}}"
                                    data-ubicacion="{{=item['ubicacion']}}"
                                    data-celular="{{=item['celular']}}"
                                    data-contacto_emergencia="{{=item['contacto_emergencia']}}"
                                    data-direccion="{{=item['direccion']}}"
                                    data-fecha_ingreso_usb="{{=item['fecha_ingreso_usb']}}"
                                    data-fecha_ingreso_ulab="{{=item['fecha_ingreso_ulab']}}"
                                    data-fecha_ingreso_admin_publica="{{=item['fecha_ingreso_admin_publica']}}"
                                    data-condicion="{{=item['condicion']}}"
                                    data-rol="{{=item['rol']}}"
                                    data-extension_usb="{{= item['extension_USB']}}"
                                    data-extension_interna="{{=item['extension_interna']}}"
                                    data-jefe = "{{=item['jefe']}}"
                                    value="{{=item['ci']}}">{{=item["nombre"].upper()}} {{=item["apellido"].upper()}}</a></td>
                <td class="camposTabla">{{=item['email'].upper()}}</td>
                <td class="camposTabla">{{=item['dependencia']}}</td>
                <td class="camposTabla">{{=item['extension_interna'].upper()}}</td>
            </tr>
          {{pass}}           
        </tbody>
          <tfoot id="collapseFiltros">
            <tr>
                <th class="camposTabla linksNombres">Nombre</th>
                <th class="camposTabla linksNombres">Correo</th>
                <th class="camposTabla linksNombres">Unidad de Adscripcion</th>
                <th class="camposTabla linksNombres">Extension Interna</th>
            </tr>
        </tfoot>

      </table>
    </div>
</div>
</div>

<!-- Fin Listado --> 
{{include 'personal/ficha_edicion.html'}}
{{include 'personal/form_agregar.html'}}

<!-- Datatables-->


<script src="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.bootstrap.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/jszip.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.js')}}"></script>



<!-- Datatable init js -->
<script src="{{=URL('static', 'plugins/datatables/datatables.init.js')}}"></script>
<script>

  var filtros = false;
  const langDT = "{{=URL('static', 'plugins/datatables/l18n/es-ES.json')}}"
  $(document).ready(function() {
      // Setup - add a text input to each footer cell
      $('#datatable tfoot th').each( function () {
          var title = $(this).text();
          $(this).html( '<input type="text" placeholder="Filtro" />' );
      } );
   
      // DataTable
      var table = $('#datatable').DataTable();
   
      // Apply the search
      table.columns().every( function () {
          var that = this;
   
          $( 'input', this.footer() ).on( 'keyup change', function () {
              if ( that.search() !== this.value ) {
                  that
                      .search( this.value )
                      .draw();
              }
          } );
      } );

      $('#datatable tfoot tr').appendTo('#datatable thead');
      $("#datatable thead tr").not("#titulosListado").css("display","none");
  } );

  function mostrarFiltro() {
      if (filtros){
        $("#datatable thead tr").not("#titulosListado").css("display","none");
        filtros = false
      }
      else{
        $("#datatable thead tr").not("#titulosListado").css("display","table-row");
        filtros = true
      }

  }
</script>
 <script language="javascript" src="{{=URL('static', 'js/botones_dataTable.js')}}"></script>

{{end}}
