{{extend 'layout.html'}}

{{block head}}
  <!--DATATABLES-->
  <link href="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'css/pdf_personal.css')}}" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" type="text/css" href="{{=URL('static', 'plugins/datatables2/datatables.min.css')}}"/>
	<script type="text/javascript" src="{{=URL('static', 'plugins/datatables2/datatables.min.js')}}"></script>

  
  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/servicios_modal.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/bootstrap-datepicker3.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/fselect.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/ficha_listado.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_template_modal.css')}}">

  <script src="{{=URL('static', 'js/personal_template_modal.js')}}"></script>
  <script src="{{=URL('static', 'js/moment.min.js')}}"></script>
  <script src="{{=URL('static', 'js/fselect.js')}}"></script>
  <script src="{{=URL('static', 'js/cleave.js')}}"></script>
  <script src="{{=URL('static', 'js/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{=URL('static', 'js/personal/index.js')}}"></script>
  <script language="javascript" src="{{=URL('static', 'js/web2py.js')}}"></script>
  <!-- Web2py JS - Especialmente para AJAX -->
  <style>
    .row {
      margin-right: 0 !important;
    }

    .boton-sigulab, .buttons-print {
    background-color: #337ab7;
    }
  </style>

{{end}}

{{block center}}

<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
	  <div class="breadcrumb">
	  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
	  <a class="breadcrumb-item" >Personal</a>
	  </div>
  </nav>
  <div class="row">
    <div class="text-center">
      {{ if not usuario.f_es_supervisor :}}  
      <button type="button" class="btn btn-default boton-sigulab" data-toggle="modal" data-target="#addservice" style="background-color:#337ab7; display:inline; float:left"><i class="fa fa-pencil"></i></button>
      {{pass}}
      <h3 class=" text-center" id="titulo_modulo" style="display:inline"> GESTIÓN DE PERSONAL</h3>
      {{if session.ficha_negada :}}
      <br>
    </div>
  </div>
  <div id="mensaje_notificacion" class="row text-center">
    <h4><i id="icono_mensaje_notificacion" class="fa fa-bell-o"></i>  {{=session.ficha_negada}}</h4>
  </div>
  {{pass}}
  
    <!-- Inicio lista de validacion -->
    {{if session.validaciones_pendientes>0:}}
    <div class = "container">
      <div class="row">
        <h3 onclick="change_status_list('#lista-por-validar')" title="Ocultar/Mostrar" class="text-left"> Fichas por Validar <i class="fa fa-caret-up" id="lista-por-validar-caret"></i></h3>
        <div id="lista-por-validar">
      
            <div class="table-responsive no-padding no-margin">
              <table id="datatable2" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
                <thead>
                    <tr id="titulosListado2">
                        <th class="camposTabla linksNombres">NOMBRE</th>
                        <th class="camposTabla linksNombres">CORREO</th>
                        <th class="camposTabla linksNombres">UNIDAD DE ADSCRIPCIÓN</th>
                        <th class="camposTabla linksNombres">EXTENSIÓN</th>
                        <th class="camposTabla linksNombres">EXTENSIÓN INTERNA</th>
                    </tr>
                </thead>
        
                <tbody>
                  {{for item in empleados:}}
                    <tr>
                        <td class="camposTabla"><a href="/sigulab2/personal/ficha/{{=item['ci']}}" type="button"
                                            data-nombre="{{=item['nombre']}}"
                                            data-apellido="{{=item['apellido']}}"
                                            data-ci="{{=item['ci']}}"
                                            data-categoria="{{=item['categoria']}}"
                                            data-email="{{=item['email']}}"
                                            data-email_alt="{{=item['email_alt']}}"
                                            data-fecha_ingreso="{{=item['fecha_ingreso']}}"
                                            data-fecha_salida="{{=item['fecha_salida']}}"
                                            data-estatus="{{=item['estatus']}}"
                                            data-telefono="{{=item['telefono']}}"
                                            data-pagina_web="{{=item['pagina_web']}}"
                                            data-cargo="{{=item['cargo']}}"
                                            data-dep-name="{{=item['dependencia']}}"
                                            data-gremio="{{=item['gremio']}}"
                                            data-unidad_jerarquica_superior="{{=item['unidad_jerarquica_superior']}}"
                                            data-ubicacion="{{=item['ubicacion']}}"
                                            data-celular="{{=item['celular']}}"
                                            data-contacto_emergencia="{{=item['contacto_emergencia']}}"
                                            data-direccion="{{=item['direccion']}}"
                                            data-fecha_ingreso_usb="{{=item['fecha_ingreso_usb']}}"
                                            data-fecha_ingreso_ulab="{{=item['fecha_ingreso_ulab']}}"
                                            data-fecha_ingreso_admin_publica="{{=item['fecha_ingreso_admin_publica']}}"
                                            data-condicion="{{=item['condicion']}}"
                                            data-rol="{{=item['rol']}}"
                                            data-jefe = "{{=item['jefe']}}"
                                            value="{{=item['ci']}}">{{=item['nombre'].upper()}} {{=item['apellido'].upper()}}</a></td>
                        <td class="camposTabla">{{=item['email'].upper()}}</td>
                        <td class="camposTabla">{{=item['dependencia'].upper()}}</td>
                        <td class="camposTabla">{{=item['extensiones_usb']}}</td>
                        <td class="camposTabla">{{=item['extensiones_int']}}</td>
                    </tr>
                  {{pass}}           
                </tbody>
                  <tfoot id="collapseFiltros2">
                    <tr>
                      <th class="camposTabla linksNombres">NOMBRE</th>
                      <th class="camposTabla linksNombres">CORREO</th>
                      <th class="camposTabla linksNombres">UNIDAD DE ADSCRIPCIÓN</th>
                      <th class="camposTabla linksNombres">EXTENSIÓN</th>
                      <th class="camposTabla linksNombres">EXTENSIÓN INTERNA</th>
                    </tr>
                </tfoot>
        
              </table>
            </div>
        </div>
      </div>
    </div>    
    {{pass}}
    <!-- Fin lista validacion -->    

    <div class="container">

    <div class="row" >
    <h3 onclick="change_status_list('#lista-validados')" title="Ocultar/Mostrar" class="text-left"> Lista de Personal <i class="fa fa-caret-up" id="lista-validados-caret"></i></h3>
    <div class="row" id="lista-validados">
      <div class="table-responsive no-padding no-margin">
        <table id="datatable1" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
          <thead>
              <tr id="titulosListado1">
                <th class="camposTabla linksNombres">NOMBRE</th>
                <th class="camposTabla linksNombres">CORREO</th>
                <th class="camposTabla linksNombres">UNIDAD DE ADSCRIPCIÓN</th>
                <th class="camposTabla linksNombres">EXTENSIÓN</th>
                <th class="camposTabla linksNombres">EXTENSIÓN INTERNA</th>
              </tr>
          </thead>

          <tbody>
            {{for item in grid:}}
              <tr>
                  <td class="camposTabla"><a href="/sigulab2/personal/ficha/{{=item['ci']}}" type="button"
                                      data-nombre="{{=item['nombre']}}"
                                      data-apellido="{{=item['apellido']}}"
                                      data-ci="{{=item['ci']}}"
                                      data-categoria="{{=item['categoria']}}"
                                      data-email="{{=item['email']}}"
                                      data-email_alt="{{=item['email_alt']}}"
                                      data-fecha_ingreso="{{=item['fecha_ingreso']}}"
                                      data-fecha_salida="{{=item['fecha_salida']}}"
                                      data-estatus="{{=item['estatus']}}"
                                      data-telefono="{{=item['telefono']}}"
                                      data-pagina_web="{{=item['pagina_web']}}"
                                      data-cargo="{{=item['cargo']}}"
                                      data-dep-name="{{=item['dependencia']}}"
                                      data-gremio="{{=item['gremio']}}"
                                      data-unidad_jerarquica_superior="{{=item['unidad_jerarquica_superior']}}"
                                      data-ubicacion="{{=item['ubicacion']}}"
                                      data-celular="{{=item['celular']}}"
                                      data-contacto_emergencia="{{=item['contacto_emergencia']}}"
                                      data-direccion="{{=item['direccion']}}"
                                      data-fecha_ingreso_usb="{{=item['fecha_ingreso_usb']}}"
                                      data-fecha_ingreso_ulab="{{=item['fecha_ingreso_ulab']}}"
                                      data-fecha_ingreso_admin_publica="{{=item['fecha_ingreso_admin_publica']}}"
                                      data-condicion="{{=item['condicion']}}"
                                      data-rol="{{=item['rol']}}"
                                      data-jefe = "{{=item['jefe']}}"
                                      value="{{=item['ci']}}">{{=item["nombre"].upper()}} {{=item["apellido"].upper()}}</a></td>
                  <td class="camposTabla">{{=item['email'].upper()}}</td>
                  <td class="camposTabla">{{=item['dependencia']}}</td>
                  <td class="camposTabla">{{=item['extensiones_usb']}}</td>
                  <td class="camposTabla">{{=item['extensiones_int']}}</td>
              </tr>
            {{pass}}           
          </tbody>
            <tfoot id="collapseFiltros">
              <tr>
                <th class="camposTabla linksNombres">NOMBRE</th>
                <th class="camposTabla linksNombres">CORREO</th>
                <th class="camposTabla linksNombres">UNIDAD DE ADSCRIPCIÓN</th>
                <th class="camposTabla linksNombres">EXTENSIÓN</th>
                <th class="camposTabla linksNombres">EXTENSIÓN INTERNA</th>
              </tr>
          </tfoot>

        </table>
      </div>
    </div>

  
  
  
    
  </div>
  </div>
</div>
</div>

<!-- Fin Listado --> 
{{include 'personal/ficha_edicion.html'}}
{{include 'personal/form_agregar.html'}}
{{include 'personal/pdf_tabla.html'}}

<!-- Datatables-->


<script src="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.bootstrap.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/jszip.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/jspdf.min.js')}}"></script>
<script src="{{=URL('static', 'js/personal/html2pdf.bundle.min.js')}}"></script>
<script>const url = '{{=URL("reporte_listado")}}'</script>
<script src="{{=URL('static', 'js/personal/generar_pdf.js')}}"></script>



<!-- Datatable init js -->
<script src="{{=URL('static', 'plugins/datatables/datatables.init.js')}}"></script>

<!-- Datatable1 init - Listado Personal -->
<script>

  var filtros = false;
  const langDT = "{{=URL('static', 'plugins/datatables/l18n/es-ES.json')}}"
  $(document).ready(function() {
      // Setup - add a text input to each footer cell
      $('#datatable1 tfoot th').each( function () {
          var title = $(this).text();
          $(this).html( '<input type="text" placeholder="Filtro" />' );
      } );
   
      // DataTable
      var table = $('#datatable1').DataTable();
   
      // Apply the search
      table.columns().every( function () {
          var that = this;
   
          $( 'input', this.footer() ).on( 'keyup change', function () {
              if ( that.search() !== this.value ) {
                  that
                      .search( this.value )
                      .draw();
              }
          } );
      } );

      $('#datatable1 tfoot tr').appendTo('#datatable1 thead');
      $("#datatable1 thead tr").not("#titulosListado1").css("display","none");
  } );

  function mostrarFiltro1() {
      if (filtros){
        $("#datatable1 thead tr").not("#titulosListado1").css("display","none");
        filtros = false
      }
      else{
        $("#datatable1 thead tr").not("#titulosListado1").css("display","table-row");
        filtros = true
      }

  }
</script>
<script>

  var filtros2 = false;
  $(document).ready(function() {
      // Setup - add a text input to each footer cell
      $('#datatable2 tfoot th').each( function () {
          var title = $(this).text();
          $(this).html( '<input type="text" placeholder="Filtro" />' );
      } );
   
      // DataTable
      var table = $('#datatable2').DataTable();
   
      // Apply the search
      table.columns().every( function () {
          var that = this;
   
          $( 'input', this.footer() ).on( 'keyup change', function () {
              if ( that.search() !== this.value ) {
                  that
                      .search( this.value )
                      .draw();
              }
          } );
      } );

      $('#datatable2 tfoot tr').appendTo('#datatable2 thead');
      $("#datatable2 thead tr").not("#titulosListado2").css("display","none");
  } );

  function mostrarFiltro2() {
      if (filtros2){
        $("#datatable2 thead tr").not("#titulosListado2").css("display","none");
        filtros2 = false
      }
      else{
        $("#datatable2 thead tr").not("#titulosListado2").css("display","table-row");
        filtros2 = true
      }

  }
</script>


<script language = "javascript">
  mostrar_lista = 1;
  mostrar_validados = 1;

  function change_status_list(list){
      if (list == '#lista-por-validar'){
        if (mostrar_lista == 1){
            $('#lista-por-validar').hide();
            mostrar_lista = 0;
            $('#lista-por-validar-caret').removeClass('fa-caret-up');
            $('#lista-por-validar-caret').addClass('fa-caret-down');
          }
        else {
          $('#lista-por-validar').show();
          mostrar_lista = 1;
          $('#lista-por-validar-caret').removeClass('fa-caret-down');
          $('#lista-por-validar-caret').addClass('fa-caret-up');
        }
      }
      if (list == '#lista-validados'){
        if (mostrar_validados == 1){
            $('#lista-validados').hide();
            mostrar_validados = 0;
            $('#lista-validados-caret').removeClass('fa-caret-up');
            $('#lista-validados-caret').addClass('fa-caret-down');
          }
        else {
          $('#lista-validados').show();
          mostrar_validados = 1;
          $('#lista-validados-caret').removeClass('fa-caret-down');
          $('#lista-validados-caret').addClass('fa-caret-up');
        }
      }
  }
    

</script>

<!-- Datatable1 init - Fichas Por Validar -->
 <script language="javascript" src="{{=URL('static', 'js/botones_dataTable.js')}}"></script>
 <script src="{{=URL('static', 'js/personal/competencias.js')}}"></script>

{{end}}
