	<div class="container" style="padding-top:25px">
		<div class="table-responsive" >
			<table class="table table-hover" style="border: 1.5px !important; border-style: solid !important; border-color: #ddd !important;">
				<thead>
					<tr>
							<th><button class="btn-link" name="order" value="nombre" 	id="f_nombre">Nombre</button></th>
							<th><button class="btn-link" name="order" value="email" 	id="f_email">Correo Electrónico</button></th>
							<th><button class="btn-link" name="order" value="seccion" 	id="f_dependencia">Cédula</button></th>
							<th><button class="btn-link" name="order" value="telefono" 	id="f_telefono">Extensión</button></th>
					</tr>
				</thead>
			    
			    <tbody>
					{{for item in grid:}}
			          	{{if not item["nombre"] == "Ninguno":}}
						<tr>
							<form id="formularioDummy" class="registration-form" method="post">
					            <th><button data-toggle="modal" data-target="#ficha_edicion" type="button" 
					            	data-ci="{{=item['ci']}}" 
					            	data-categoria="{{=item['categoria']}}" 
					            	data-email="{{=item['email']}}" 
					            	data-nombre="{{=item['nombre']}}" 
					            	data-fecha_i="{{=item['fecha_ingreso']}}" 
					            	data-fecha_s="{{=item['fecha_salida']}}" 
					            	data-estatus="{{=item['estatus']}}" 
					            	data-telefono="{{=item['telefono']}}" 
					            	data-pagina_web="{{=item['pagina_web']}}" 
					            	data-cargo="{{=item['cargo']}}" 
					            	value="{{=item['ci']}}">{{=item["nombre"]}}</button></th>
				              	
				              	<th>{{= item["email"]}}</th>
				              	<th>{{= item["ci"]}}</th>
				              	<th>{{= item["telefono"]}}</th>
							</form>
						</tr>
			          	{{pass}}
					{{pass}}
				</tbody>
				
				<tfooter>
					<tr>
						<th>
						<div id="number">1</div>
						</th>
					</tr>
				</tfooter>
			</table>
		</div>
	</div>