<!--Este es el html para imprimir el listado de personal-->
<div hidden>
    <div id="imprimir_listado">
        <div id="header-pdf">
            <div class="row">
                <div class="col-md-6">
                    <img id="logo-usb" src="{{=URL('static', 'images/logo-usb.jpg')}}" alt="Logo USB">
                </div>           
                <div class="col-md-6">
                    <img id="logo-ulab" src="{{=URL('static', 'images/logo-ulab.png')}}" alt="Logo Ulab">
                </div>     
            </div>
            <div id="titulo-tabla">
                <div class="row" id="encabezado-titulo">
                    <div id="pdf-generado" class="col-md-9 encabezado">
                        <p id="titulo-pdf">LISTADO DE PERSONAL - ULAB</p>
                    </div>
                    <div id="fecha-generacion" class="col-md-2 encabezado">
                        <div id="label-fecha">
                            <p>Fecha</p>
                        </div>
                        <div id="fecha-creacion">
                            <p>{{import datetime}}
                                {{=datetime.date.today().strftime('%d-%m-%Y')}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabla-personal">
            <table id="datatabla">
                <thead>
                    <tr>
                        <th class="casillas-pdf" style="background-color:#bfbfbf;">Nombre</th>
                        <th class="casillas-pdf" style="background-color:#bfbfbf;">Dependencia</th> 
                        <th class="casillas-pdf" style="background-color:#bfbfbf;">Correo</th>
                        <th class="casillas-pdf" style="background-color:#bfbfbf;">Gremio</th>
                        <th class="casillas-pdf" style="background-color:#bfbfbf;">Años Serv.</th>
                    </tr>
                </thead>
                <tbody>
                    {{for item in grid:}}
                    <tr>
                        <td class="casillas-pdf">{{=item["nombre"]}} {{=item["apellido"]}}</td>
                        <td class="casillas-pdf">{{=item['dependencia']}}</td> 
                        <td class="casillas-pdf">{{=item['email']}}</td>
                        <td class="casillas-pdf">{{=item['gremio']}}</td>
                        <td class="casillas-pdf">10</td>
                    </tr>
                    {{pass}}
                </tbody>
            </table>
        </div>
        <div id="footer-pdf">
            <p id="info-usuario">Reporte generado por: {{=usuario.f_nombre}} {{=usuario.f_apellido}}</p>
            <h4 class="footer-info">Universidad Simón Bolívar, Unidad de Laboratorios, {{=usuario.f_dependencia}}, </h4>
            {{for dependencia in dependencias:}}
                {{if dependencia.nombre == usuario.f_dependencia :}}
                    <h4 class="footer-info">Telef.: 58 212 906-“ext1” / “ext2” / “ext3”,  {{=dependencia.pagina_web}}, {{=dependencia.email}}</h4>
                {{pass}}
            {{pass}}
        </div>
    </div>
</div>