<!--Este es el html para imprimir el listado de personal-->
<div >
    <div id="imprimir_listado">
        <div id="header-pdf">
            <div class="row">
                <div class="col-md-6">
                    <img id="logo-usb" src="{{=URL('static', 'images/logo-usb.jpg')}}" alt="Logo USB">
                </div>           
                <div class="col-md-6">
                    <img id="logo-ulab" src="{{=URL('static', 'images/logo-ulab.png')}}" alt="Logo Ulab">
                </div>     
            </div>
            
        </div>
    </div>
</div>