<link rel="stylesheet" href="{{=URL('static', 'css/servicios_ficha.css')}}"/>

  <div class="modal-header fichaHeader">
  	<div class="media">
  		<div class="media-left media-middle">
      		<img id="iconoFicha" src="{{=URL('static', 'images/servicios/folder.png')}}" class="media-object">
      	</div>
      	<div class="media-body fichaMedia">
      		<h4 class="modal-title media-heading fichaHeading"><b>Ficha de Solicitud</b></h4>
      		<button type="button" class="close" data-dismiss="modal">&times;</button>
      	</div>
    </div>
  </div> 

  <!-- Inicio Modal -->
  <div class="modal-body">

	<ul class="nav nav-tabs" id="myTab" role="tablist">
	  <li class="nav-item active">
	    <a class="nav-link" data-toggle="tab" href="#datosSolicitante" role="tab" aria-controls="">Datos Básicos</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#datosServicio" role="tab" aria-controls="">Servicio Solicitado</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#datosEjecutora" role="tab" aria-controls="">Datos Dependencia Ejecutora</a>
	  </li>
	  {{if tipo_solicitud == "Ejecutante":}}
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#cambiarEstado" role="tab" aria-controls="">Cambiar Estado</a>
		  </li>	
	  {{pass}}
	</ul>

	<!-- Inicio contenidos tab -->
	<div class="tab-content">

		<!-- Paso 1 Datos Basicos -->
		<div class="tab-pane active" id="datosSolicitante" role="tabpanel">
			<table class="table contenidoFicha">
				<tbody>
					<tr>
		  			<td>Registro:</td><td>{{=ficha.registro}}</td>
		  		</tr>
					<tr>
		  			<td>Dependencia Solicitante:</td><td>{{=ficha.nombre_dependencia_solicitante}}</td>
		  		</tr>
		  		<tr>
		  			<td>Jefe Dependencia Solicitante:</td><td>{{=ficha.nombre_jefe_dependencia_solicitante}}</td>
		  		</tr>
		  		<tr>
		  			<td>Responsable Solicitud:</td><td>{{=ficha.nombre_responsable_solicitud}}</td>
		  		</tr>
		  	</tbody>
			</table>
		</div>


		<!-- Paso 2 y 3 Servicio Solicitado -->
		<div class="tab-pane" id="datosServicio" role="tabpanel">
			<table class="table contenidoFicha">
		  	<tbody>
		  		<tr>
		  			<td>Categoria:</td><td>{{=ficha.categoria_servicio}}</td>
		  		</tr>
		  		<tr>
		  			<td>Tipo:</td><td>{{=ficha.tipo_servicio}}</td>
		  		</tr>
		  		<tr>
		  			<td>Nombre Servicio:</td><td>{{=ficha.nombre_servicio}}</td>
		  		</tr>
		  		<tr>
		  			<td>Propósito:</td><td>{{=ficha.nombre_proposito}}</td>
		  		</tr>
		  		<tr>
		  			<td>Descripción Propósito:</td><td>{{=ficha.proposito_descripcion}}</td>
		  		</tr>
		  		<tr>
		  			<td>Descripción:</td><td>{{=ficha.descripcion_servicio}}</td>
		  		</tr>
		  	</tbody>
			</table>	  	
		</div>

		<div class="tab-pane" id="datosEjecutora" role="tabpanel">
		  	<table class="table contenidoFicha">
		  		<tbody>
		  			<tr>
			  			<td>Nombre Dependencia Ejecutora:</td><td>{{=ficha.nombre_dependencia_ejecutora}}</td>
			  		</tr>
			  		<tr>
			  			<td>Jefe Dependencia Ejecutora:</td><td>{{=ficha.jefe_dependencia_ejecutora}}</td>
			  		</tr>
			  		<tr>
			  			<td>Observaciones:</td><td>{{=ficha.observaciones}}</td>
			  		</tr>
			  		<tr>
			  			<td>Elaborado por:</td><td></td>
			  		</tr>
			  		<tr>
			  			<td>Fecha Elaboración:</td><td>{{=ficha.fecha_elaboracion}}</td>
			  		</tr>
			  		<tr>
			  			<td>Aprobado por:</td><td>{{=ficha.aprobada_por}}</td>
			  		</tr>
			  		<tr>
			  			<td>Fecha Aprobación:</td><td>{{=ficha.fecha_aprobacion}}</td>
			  		</tr>
			  	</tbody>
		  	</table>	  	
		</div>

		{{if tipo_solicitud == "Ejecutante":}}
			<div class="tab-pane" id="cambiarEstado" role="tabpanel">
				<form method="post">
	  				<input type="hidden" name="idFicha" value="{{=ficha.id}}">
				{{if ficha.estado_solicitud == 0:}}
					<button type="submit" class="btn botonesFichita botonAprobar" name="estado" value="1">Aprobar Solicitud</button>
					<button type="button" class="btn botonesFichita botonEliminar botonRechazar" data-toggle="modal" data-target="#modalRechazar">Rechazar Solicitud</button>

					<!-- Modal del boton rechazar-->
					<div class="modal fade" id="modalRechazar" role="dialog">
					    <div class="modal-dialog">
					    
					      <!-- Modal content-->
					      <div class="modal-content">
					        <div class="modal-header">
					          <h4 id="tituloModalElim" class="modal-title">¿Está seguro de que desea rechazar la solicitud?</h4>
					        </div>
					        <div id="cuerpoModalElim" class="modal-body">
					          <button type="submit" class="btn botonesFichita botonEliminar" name="estado" value="-1">Rechazar</button>
					          <button type="button" class="btn botonesFichita" data-dismiss="modal" onclick="cerrar();">Cancelar</button>				
					        </div>
					      </div>
					  
					    </div>
					</div>

				{{elif ficha.estado_solicitud == 1:}}
					<br>
					<label class="form-group" id="" style="margin-bottom: 8px">Observaciones</label>
					<br>
					<textarea type="text" class="form-control" id="" name="observaciones" value=""></textarea>
					<br>
					<button type="submit" class="btn botonesFichita botonAprobar" name="estado" value="2">Finalizar Ejecución</button>
				{{pass}}
				</form>
			</div>
		{{pass}}
	</div>
	<!-- Fin tab contenidos -->
  </div>
  <!-- Fin Modal -->

  <div class="modal-footer">
	  <form method="post">
	  	<input type="hidden" name="idFicha_eliminar" value="{{=ficha.id}}">

	    {{if tipo_solicitud == "Solicitante" and ficha.estado_solicitud == 0:}}

				<div id="botonEliminarFichaSolicitud" class="botonEliminarImprimir">
					<button type="button" class="btn botonesFichita botonEliminar" data-toggle="collapse" data-target="#collapseSolicitud">Eliminar</button>


					<div class="collapse" id="collapseSolicitud">
						<div class="card card-body">
							¿Seguro que deseas eliminar la solicitud?
							<button type="submit" class="btn botonesFichita botonEliminar" name="eliminar" value="True">Si</button>
						<button type="button" class="btn botonesFichita " data-toggle="collapse" data-target="#collapseSolicitud">No</button>
						</div>
					</div>
	

					{{pass}}

			</form>
				<button type="button" id="botonCerrarFichaSolicitud" class="btn botonesFichita" data-dismiss="modal">Cerrar</button>
			</div>
  </div>


<script type="text/javascript">
	function cerrar() {
		$("#modalEliminar").modal("hide")
	}
</script>