<link rel="stylesheet" href="{{=URL('static', 'css/servicios_ficha.css')}}"/>

  <div class="modal-header fichaHeader">
  	<div class="media">
  		<div class="media-left media-middle">
      		<img id="iconoFicha" src="{{=URL('static', 'images/servicios/folder.png')}}" class="media-object">
      	</div>
      	<div class="media-body fichaMedia">
      		<h4 class="modal-title media-heading fichaHeading"><b>Ficha de Historial</b></h4>
      		<button type="button" class="close" data-dismiss="modal">&times;</button>
      	</div>
    </div>
  </div> 

  <!-- Inicio Modal -->
  <div class="modal-body">

	<ul class="nav nav-tabs" id="myTab" role="tablist">
	  <li class="nav-item active">
	    <a class="nav-link" data-toggle="tab" href="#datosSolicitante" role="tab" aria-controls="">Datos Básicos</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#datosServicio" role="tab" aria-controls="">Servicio Solicitado</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#datosEjecutora" role="tab" aria-controls="">Datos Dependencia Ejecutora</a>
	  </li>
	</ul>

	<!-- Inicio contenidos tab -->
	<div class="tab-content">

		<!-- Paso 1 Datos Basicos -->
		<div class="tab-pane active" id="datosSolicitante" role="tabpanel">
			<table class="table contenidoFicha">
				<tbody>
					<tr>
		  			<td>Registro:</td><td>{{=ficha.registro}}</td>
		  		</tr>
					<tr>
		  			<td>Dependencia Solicitante:</td><td>{{=ficha.nombre_dependencia_solicitante.decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Jefe Dependencia Solicitante:</td><td>{{=ficha.nombre_jefe_dependencia_solicitante.decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Responsable Solicitud:</td><td>{{=ficha.nombre_responsable_solicitud.decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Cargo de Responsable:</td><td>{{=ficha.cargo_responsable_solicitud.decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Fecha de Solicitud:</td><td>{{=ficha.fecha_solicitud}}</td>
		  		</tr>
		  	</tbody>
			</table>
		</div>


		<!-- Paso 2 y 3 Servicio Solicitado -->
		<div class="tab-pane" id="datosServicio" role="tabpanel">
			<table class="table contenidoFicha">
		  	<tbody>
		  		<tr>
		  			<td>Categoria:</td><td>{{=ficha.categoria_servicio.decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Tipo:</td><td>{{=ficha.tipo_servicio.decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Nombre Servicio:</td><td>{{=ficha.nombre_servicio.decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Propósito:</td><td>{{=ficha.nombre_proposito.decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Descripción Propósito:</td><td>{{=ficha.proposito_descripcion.decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Descripción:</td><td>{{=ficha.descripcion_servicio.decode('utf-8').upper()}}</td>
		  		</tr>
		  	</tbody>
			</table>	  	
		</div>

		<div class="tab-pane" id="datosEjecutora" role="tabpanel">
		  	<table class="table contenidoFicha">
		  		<tbody>
		  			<tr>
			  			<td>Nombre Dependencia Ejecutora:</td><td>{{=ficha.nombre_dependencia_ejecutora.decode('utf-8').upper()}}</td>
			  		</tr>
			  		<tr>
			  			<td>Jefe Dependencia Ejecutora:</td><td>{{=ficha.jefe_dependencia_ejecutora.decode('utf-8').upper()}}</td>
			  		</tr>
			  		<tr>
			  			<td>Observaciones:</td><td>{{=ficha.observaciones.decode('utf-8').upper()}}</td>
			  		</tr>
			  		<tr>
			  			<td>Elaborado por:</td><td>{{=ficha.elaborada_por.decode('utf-8').upper()}}</td>
			  		</tr>
			  		<tr>
			  			<td>Fecha Elaboración:</td><td>{{=ficha.fecha_elaboracion}}</td>
			  		</tr>
			  		<tr>
			  			<td>Aprobado por:</td><td>{{=ficha.aprobada_por.decode('utf-8').upper()}}</td>
			  		</tr>
			  		<tr>
			  			<td>Fecha Aprobación:</td><td>{{=ficha.fecha_aprobacion}}</td>
			  		</tr>
			  	</tbody>
		  	</table>	  	
		</div>
	</div>
	<!-- Fin tab contenidos -->
  </div>
  <!-- Fin Modal -->

  <div class="modal-footer">
		<div class="botonesFicha botonEliminarImprimir">
			<a target="_blank" id="botonImprimir" href="{{=URL('servicios','pdf_certificado', vars=dict(solicitud=ficha.id))}}"><button type="button" class="btn botonesFichita botonEliminarImprimir">Imprimir Certificado</button></a>

			<a target="_blank" id="botonImprimir" href="{{=URL('servicios','pdf_solicitud', vars=dict(historial=ficha.id))}}"><button type="button" class="btn botonesFichita botonEliminarImprimir">Imprimir Reporte Solicitud</button></a>

			<button type="button" id="botonCerrarFichaSolicitud" class="btn botonesFichita" data-dismiss="modal">Cerrar</button>
		</div>
  </div>


<script type="text/javascript">
	function cerrar() {
		$("#modalEliminar").modal("hide")
	}
</script>