<h4 class="titulosForm">Datos de la Dependencia Ejecutora</h4>
<!-- Dependencia Ejecutora del Servicio -->
<div class="form-group">
    <label class="form-group" id="numRegistro" style="margin-bottom: 0px; padding-right: 450px;">Nombre</label>
    <input type="text" class="form-control" id="" name="dependenciaEjecutoraServicio" value="{{=nombreDepenEjecutora}}" required readonly>
</div>

<div class="form-group">
    <label class="form-group" id="numRegistro" style="margin-bottom: 0px; padding-right: 345px;">Unidad de Adscripción</label>
    <input type="text" class="form-control" id="" name="jefeDependenciaEjecutoraServicio" value="{{=unidad_de_adscripcion}}" required readonly>
</div>

<!-- Jefe Dependencia Ejecutora del Servicio -->
<div class="form-group">
	<label class="form-group" id="numRegistro" style="margin-bottom: 0px; padding-right: 218px;" style="">Responsable de la Dependencia Ejecutora</label>
    <input type="text" class="form-control" id="" name="jefeDependenciaEjecutoraServicio" value="{{=jefeDepenEjecutora[0]}} {{=jefeDepenEjecutora[1]}} | {{=jefeDepenEjecutora[2]}}" required readonly>
</div>

