  <h3> Solicitudes Recibidas </h3>
  <div class="row">
    <div class="table-responsive" >
      <table id="tablaListado" class="table table-hover">
       <form>
          <!-- Titulos Tabla Solicitudes -->
          <thead>
            <tr id="titulosListado">
              <th class="camposTabla"><button class="btn-link linksNombres" name="columna_ejecutante" value="registro">Numero de Registro</button></th>
              <th class="camposTabla"><button class="btn-link linksNombres" name="columna_ejecutante" value="nombre_dependencia_solicitante">Dependencia Solicitante</button></th>
              <th class="camposTabla"><button class="btn-link linksNombres" name="columna_ejecutante" value="nombre_dependencia_ejecutora">Dependencia Ejecutora</button></th>
              <th class="camposTabla"><button class="btn-link linksNombres" name="columna_ejecutante" value="nombre_servicio">Servicio</button></th>
              <th class="camposTabla"><button class="btn-link linksNombres" name="columna_ejecutante" value="fecha_solicitud">Fecha de Solicitud</button></th>
              <th class="camposTabla"><button class="btn-link linksNombres" name="columna_ejecutante" value="estado_solicitud">Estado</button></th>
            </tr>
          </thead>

          <!-- Contenido Tabla Solicitudes -->
          <tbody>
            {{for item in grid:}}
              <tr>
                <th class="camposTabla">{{=item.registro}}</th>
                <th class="camposTabla">{{=item.nombre_dependencia_solicitante}}</th>
                <th class="camposTabla">{{=item.nombre_dependencia_ejecutora}}</th>
                <th class="camposTabla"><a data-toggle="modal" data-target="#myModal" onclick="abrirFicha({{=item.id}}, 'Ejecutante');" >{{=item.nombre_servicio}}</a></th>
                <th class="camposTabla">{{=item.fecha_solicitud}}</th>
                <th class="camposTabla">{{=item.estado_solicitud_str}}</th>
              </tr>
            {{pass}}
          </tbody>
       </form>
      </table>
    </div>
  </div>

  <!-- Inicio botones pagina -->
  <div class="row">
    {{if firstpage:}}
      <button name="primera_pagina" value="{{=firstpage}}" onclick="cambiarPagina(this.value)"> << </button>
    {{pass}}
    {{if prevpage:}}
      <button name="pagina_anterior" value="{{=prevpage}}" onclick="cambiarPagina(this.value)"> < </button>
    {{pass}}
    {{for page in pages:}}
      <button type="button" name="pagina" value="{{=page}}" {{if page == actualpage:}} class="btn active" {{pass}} onclick="cambiarPagina(this.value)"> {{=page}} </button>
    {{pass}}
    {{if nextpage:}}
      <button name="pagina_siguiente" value="{{=nextpage}}" onclick="cambiarPagina(this.value)"> > </button>
    {{pass}}
    {{if lastpage:}}
      <button name="ultima_pagina" value="{{=lastpage}}" onclick="cambiarPagina(this.value)"> >> </button>
    {{pass}}
  </div>
   <!-- Fin botones pagina -->
