	<link rel="stylesheet" href="{{=URL('static', 'css/servicios_ficha.css')}}"/>

  <div class="modal-header fichaHeader">
  	<div class="media">
  		<div class="media-left media-middle">
      		<img id="iconoFicha" src="{{=URL('static', 'images/servicios/folder.png')}}" class="media-object">
      	</div>
      	<div class="media-body fichaMedia">
      		<h4 class="modal-title media-heading fichaHeading"><b>Ficha de Servicio</b></h4>
      		<button type="button" class="close" data-dismiss="modal">&times;</button>
      	</div>
    </div>
  </div> 

  <div class="modal-body">

	<ul class="nav nav-tabs" id="myTab" role="tablist">
	  <li class="nav-item active">
	    <a class="nav-link" data-toggle="tab" href="#datos" role="tab" aria-controls="datos">Servicio</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#responsable" role="tab" aria-controls="responsable">Responsable</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#especificaciones" role="tab" aria-controls="especificaciones">Especificaciones</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#recursos" role="tab" aria-controls="recursos">Recursos</a>
	  </li>
	</ul>

	<div class="tab-content">

	  <div class="tab-pane active" id="datos" role="tabpanel">	
	  	<table class="table contenidoFicha">
	  		<tbody>
	  			<tr>
		  			<td>Nombre:</td><td>{{=ficha['entrada'][0].nombre.upper()}}</td>
		  		</tr>
	  			<tr>
		  			<td>Categoría:</td><td>{{=ficha['categoria'].upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Tipo de Servicio:</td><td>{{=ficha['tipo'].decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Función:</td><td>{{for fun in ficha['funcion']:}}{{=fun.decode('utf-8').upper()}}{{pass}}</td>
		  		</tr>
		  		<tr>
		  			<td>Objetivo:</td><td>{{=ficha['entrada'][0].objetivo.decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Alcance:</td><td>{{=ficha['entrada'][0].alcance.decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Método:</td><td>{{=ficha['entrada'][0].metodo.decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Rango:</td><td>{{=ficha['entrada'][0].rango.decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Incertidumbre:</td><td>{{=ficha['entrada'][0].incertidumbre.decode('utf-8').upper()}}</td>		  			
		  		</tr>
		  		<tr>
		  			<td>Ámbito de Aplicación:</td>
		  			<td>
		  				<p><i {{if ficha['ambito_in_situ']:}} class="fa fa-check-square text-success"{{else:}} class="fa fa-square"{{pass}} aria-hidden="true"></i> In Situ</p>

		  				<p><i {{if ficha['ambito_en_campo']:}}class="fa fa-check-square text-success"{{else:}} class="fa fa-square"{{pass}} aria-hidden="true"></i> En Campo</p>

		  				<p><i {{if ficha['ambito_otro']:}} class="fa fa-check-square text-success"{{else:}} class="fa fa-square"{{pass}} aria-hidden="true"></i> Otro{{if ficha['ambito_otro']:}}: {{=ficha['ambito_otro_detalle'].upper()}}{{pass}}</p>
		  			</td>
		  		</tr>		  		
		  	</tbody>
	  	</table>
	  </div>

	  <div class="tab-pane" id="responsable" role="tabpanel">
	  	<table class="table contenidoFicha">
		  	<tbody>
		  		<tr>
		  			<td>Responsable:</td><td>{{=ficha['responsable'].decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Teléfonos(extensiones):</td><td>{{=ficha['telefono']}}</td>
		  		</tr>
		  		<tr>
		  			<td>Correo electrónico:</td><td>{{=ficha['email']}}</td>
		  		</tr>
		  		<tr>
		  			<td>Dependencia:</td><td>{{=ficha['dependencia'].decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Unidad de Adscripción:</td><td>{{=ficha['adscripcion'].decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Ubicación Física:</td><td>{{=ficha['ubicacion'].decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Sede:</td><td>{{=ficha['sede'].decode('utf-8').upper()}}</td>
		  		</tr>
		  	</tbody>
	  	</table>	  	
	  </div>

	  <div class="tab-pane" id="especificaciones" role="tabpanel">
	  	<table class="table contenidoFicha">
	  		<tbody>
	  			<tr>
		  			<td>Ítem a ensayar:</td><td>{{=ficha['entrada'][0].item_ensayar.decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Requisitos:</td><td>{{=ficha['entrada'][0].requisitos.decode('utf-8').upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Producto:</td><td>{{=ficha['producto'].decode('utf-8').upper()}}</td>
		  		</tr>
		  	
		  	</tbody>
	  	</table>	  	
	  </div>

	  <div class="tab-pane" id="recursos" role="tabpanel">
	  	<table class="table contenidoFicha">
	  		<tbody>
	  			<tr>
		  			<td>Personal Requerido:</td>
		  			<td>
		  				<p><i {{if ficha['per_tecnico']:}} class="fa fa-check-square text-success"{{else:}} class="fa fa-square"{{pass}} aria-hidden="true"></i> Técnico</p>

		  				<p><i {{if ficha['per_supervisor']:}}class="fa fa-check-square text-success"{{else:}} class="fa fa-square"{{pass}} aria-hidden="true"></i> Supervisor</p>

		  				<p><i {{if ficha['per_tesista']:}}class="fa fa-check-square text-success"{{else:}} class="fa fa-square"{{pass}} aria-hidden="true"></i> Tesista</p>

		  				<p><i {{if ficha['per_pasante']:}}class="fa fa-check-square text-success"{{else:}} class="fa fa-square"{{pass}} aria-hidden="true"></i> Pasante</p>

		  				<p><i {{if ficha['per_preparador']:}}class="fa fa-check-square text-success"{{else:}} class="fa fa-square"{{pass}} aria-hidden="true"></i> Preparador</p>

		  				<p><i {{if ficha['per_obrero']:}}class="fa fa-check-square text-success"{{else:}} class="fa fa-square"{{pass}} aria-hidden="true"></i> Obrero</p>

		  				<p><i {{if ficha['per_otro']:}}class="fa fa-check-square text-success"{{else:}} class="fa fa-square"{{pass}} aria-hidden="true"></i> Otro{{if ficha['per_otro']:}}:{{=ficha['per_otro_detalle'].upper()}}{{pass}}</p>
		  			</td>
		  		</tr>	
		  		
		  		<tr>
		  			<td>Equipos Requeridos:</td><td>{{=ficha['entrada'][0].equipo_presta_servicio.upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Insumos:</td><td>{{=ficha['entrada'][0].insumos_servicio.upper()}}</td>
		  		</tr>
		  		<tr>
		  			<td>Condicion Ambiental:</td>

		  			<td>
		  				<p><i {{if ficha['condicion_ambiental']:}}class="fa fa-check-square text-success"{{else:}}class="fa fa-square"{{pass}} aria-hidden="true"></i>{{if ficha['condicion_ambiental']:}} Si requiere{{else:}} No requiere{{pass}}{{if ficha['condicion_ambiental']:}}: {{=ficha['condicion_ambiental_detalle'].upper()}}{{pass}}</p>
		  			</td>

		  		</tr>
		  	</tbody>
	  	</table>	  	
	  </div>

	</div>
  </div>

  <div class="modal-footer">
	  <form method="post" id="formularioModificar">
	  	<input type="hidden" name="idFicha" value="{{=ficha['entrada'][0].id}}">
	  	<input type="hidden" name="dependenciaFicha" value="{{=ficha['dependencia']}}">
        <input type="hidden" name="dependenciaIdFicha" value="{{=ficha['dependenciaid']}}">
	  	<input type="hidden" name="adscripcionFicha" value="{{=ficha['adscripcion']}}">
        <input type="hidden" name="adscripcionIdFicha" value="{{=ficha['adscripcionid']}}">
	  	<input type="hidden" name="ubicacionFicha" value="{{=ficha['ubicacion']}}">
        <input type="hidden" name="ubicacionIdFicha" value="{{=ficha['ubicacionid']}}">
	  	<input type="hidden" name="sedeFicha" value="{{=ficha['sede']}}">
        <input type="hidden" name="sedeIdFicha" value="{{=ficha['sedeid']}}">
        <input type="hidden" name="responsableIdFicha" value="{{=ficha['respid']}}">
        <input type="hidden" name="responsableNombreFicha" value="{{=ficha['responsable']}}">
        <input type="hidden" name="responsableEmailFicha" value="{{=ficha['email']}}">
      </form>
      <form method="POST" id="formularioSolicitar" action="{{=URL('solicitudes')}}">
        <input type="hidden" name="idServicio" value="{{=ficha['entrada'][0].id}}">
        <input type="hidden" name="fuenteListado" value="1">
      </form>


        <div class="btn-group botonesFicha">
            {{if auth.has_membership("WEBMASTER") or (auth.user.email == "ulab-calidad@usb.ve"):}}
					<button type="button" class="btn botonesFichita botonEliminar botonEliminarImprimir" data-toggle="collapse" data-target="#collapseServicio">Eliminar</button>
            {{pass}}

            {{if edicion:}}
		        <button type="submit" form="formularioModificar" class="btn botonesFichita" name="edit" value="True">Editar</button>
		        {{if ficha['entrada'][0].visibilidad: }}
		        <button type="submit" form="formularioModificar" class="btn botonesFichita" name="visibilidad" value="False">Ocultar</button>
		        {{else: }}
		        <button type="submit" form="formularioModificar" class="btn botonesFichita" name="visibilidad" value="True">Mostrar</button>
		        {{pass}}
            {{pass}}

	  	  <button type="submit" form="formularioSolicitar" class="btn botonesFichita" name="solicitar" value="{{=ficha['entrada'][0].id}}">Solicitar</button>
		</div>

		</form>
	<button type="button" class="btn botonesFichita" data-dismiss="modal">Cerrar</button>
	<br><br>
	<div class="collapse botonEliminarImprimir " id="collapseServicio">
		<div class="card card-body">
			¿Seguro que deseas eliminar el servicio?
			<button type="submit" form="formularioModificar" class="btn botonesFichita botonEliminar" name="eliminar" value="True">Si</button>									
			<button type="button" class="btn botonesFichita " data-toggle="collapse" data-target="#collapseServicio">No</button>
		</div>
	</div>
  </div>


<script type="text/javascript">
	function cerrar() {
		$("#modalEliminar").modal("hide")
	}
</script>