<link rel="stylesheet" href="{{=URL('static', 'css/servicios_ficha.css')}}"/>

<div class="modal-header fichaHeader">
    <div class="media">
  		<div class="media-left media-middle">
      		<img id="iconoFicha" src="{{=URL('static', 'images/servicios/folder.png')}}" class="media-object">
      	</div>
      	<div class="media-body fichaMedia">
      		<h4 class="modal-title media-heading fichaHeading"><b>Ficha de Solicitud</b></h4>
      		<button type="button" class="close" data-dismiss="modal">&times;</button>
      	</div>
    </div>
</div>

<!-- Inicio Modal -->
<div class="modal-body">

    <!-- Tabs -->
	<ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
            <a class="nav-link" data-toggle="tab" href="#datosCertificacion" role="tab" aria-controls="">Datos Básicos</a>
        </li>
    </ul>

    <!-- Inicio contenidos tab -->
	<div class="tab-content">

		<!-- Paso 1 Datos Basicos -->
		<div class="tab-pane active" id="datosSolicitante" role="tabpanel">
			<table class="table contenidoFicha">
				<tbody>
					<tr>
                        <td>Registro:</td><td>{{=ficha.registro}}</td>
                    </tr>
                        <tr>
                        <td>Dependencia Solicitante:</td><td>{{=ficha.nombre_dependencia_solicitante}}</td>
                    </tr>
                    <tr>
                        <td>Jefe Dependencia Solicitante:</td><td>{{=ficha.nombre_jefe_dependencia_solicitante}}</td>
                    </tr>
                    <tr>
                        <td>Responsable Solicitud:</td><td>{{=ficha.nombre_responsable_solicitud}}</td>
                    </tr>
		  	    </tbody>
			</table>
		</div>



<script type="text/javascript">
	function cerrar() {
		$("#modalEliminar").modal("hide")
	}
</script>