<div class="row">
  <h3> Listado de Servicios </h3>


  <button type="button" class="btn botonesFichita botonEliminar botonEliminarImprimir" data-toggle="collapse" data-target="#collapseFiltros">Filtrado</button>
  <div class="collapse row" id="collapseFiltros">

    <div class="col-sm-2">
      <select class="form-control" type="select" name="categoriaServicio" required>
        <option value="" selected hidden >Categoria</option>
        <option value="a">Categoria a</option>
        <option value="b">Categoria b</option>
        <option value="c">Categoria c</option>
        <option value="d">Categoria d</option>
      </select>
    </div>

    <div class="col-sm-2">
      <select class="form-control" type="select" name="tipoServicio" required>
        <option value="" selected hidden >Tipo</option>
        <option value="a">Tipo a</option>
        <option value="b">Tipo b</option>
        <option value="c">Tipo c</option>
        <option value="d">Tipo d</option>
      </select>
    </div>

    <div class="col-sm-2">
      <select class="form-control" type="select" name="tipoServicio" required>
        <option value="" selected hidden >Dependencia</option>
        <option value="a">Dependencia a</option>
        <option value="b">Dependencia b</option>
        <option value="c">Dependencia c</option>
        <option value="d">Dependencia d</option>
      </select>
    </div>

    <div class="col-sm-2">
      <select class="form-control" type="select" name="tipoServicio" required>
        <option value="" selected hidden >Sede</option>
        <option value="SARTENEJAS">Sartenejas</option>
        <option value="LITORAL">Litoral</option>
      </select>
    </div>

    {{if rol == 2:}}
    <div class="col-sm-2">
      <select class="form-control" type="select" name="tipoServicio" required>
        <option value="" selected hidden >Visibilidad</option>
        <option value="FALSE">Oculto</option>
        <option value="TRUE">Visible</option>
      </select>
    </div>
    {{pass}}

  </div>

  <div class="table-responsive" >
    <table id="tablaListado" class="table table-hover">
        <!-- Titulos Listado -->
        <thead>
          <tr id="titulosListado">
            <th class="camposTabla">
              <button class="btn-link linksNombres" name="columna" value="nombre_categoria" id="f_categoria_servicio" onClick="ordenarServicios('nombre_categoria');">Categoría</button>
            </th>
            <th class="camposTabla">
              <button class="btn-link linksNombres" name="columna" value="nombre_tipo" id="f_tipo_servicio" onClick="ordenarServicios('nombre_tipo');">Tipo de Servicio</button>
            </th>
            <th class="camposTabla"><button class="btn-link linksNombres" name="columna" value="nombre" id="f_nombre_servicio" onClick="ordenarServicios('nombre');">Nombre del Servicio</button></th>
            <th class="camposTabla"><button class="btn-link linksNombres" name="columna" value="seccion" id="f_seccion_servicio" onClick="ordenarServicios('seccion');">Dependencia</button></th>
            <th class="camposTabla"><button class="btn-link linksNombres" name="columna" value="laboratorio" id="f_laboratorio_servicio" onClick="ordenarServicios('laboratorio');">U. de Adscripción</button></th>
            <th class="camposTabla"><button class="btn-link linksNombres" name="columna" value="sede" id="f_sede_servicio" onClick="ordenarServicios('sede');">Sede</button></th>
            {{if rol == 2:}}
              <th class="camposTabla"><button class="btn-link linksNombres" name="columna" value="visibilidad" id="visibilidad" onClick="ordenarServicios('visibilidad');">Visibilidad</button></th>
            {{pass}}
          </tr>
        </thead>
          <!-- Contenido Listado -->
        {{for item in grid:}}
					<tr>
						<th class="camposTabla">{{=item.nombre_categoria.decode('utf-8').upper()}}</th>
						<th class="camposTabla">{{=item.nombre_tipo.decode('utf-8').upper()}}</th>
						<th class="camposTabla"><a data-toggle="modal" data-target="#myModal" onclick="abrirFicha({{=item.id}});" >{{=item.nombre.decode('utf-8').upper()}}</a></th>
						<th class="camposTabla">{{=item.seccion.decode('utf-8').upper()}}</th>
						<th class="camposTabla">{{=item.laboratorio.decode('utf-8').upper()}}</th>
						<th class="camposTabla">{{=item.sede.decode('utf-8').upper()}}</th>
            {{if rol == 2:}}
              <th class="camposTabla">{{if item.visibilidad:}}VISIBLE{{else:}}OCULTO{{pass}}</th>
            {{pass}}
					</tr>
				{{pass}}
        <tbody>

        </tbody>

        <!-- Fin Contenido del Listado -->
    </table>
  </div>
</div>  
				
<!-- Inicio botones pagina -->
<div class="row">
  {{if firstpage:}}
    <button class="btn" name="primera_pagina" value="{{=firstpage}}" onclick="cambiarPagina(this.value)"> << </button>
  {{pass}}
  {{if prevpage:}}
    <button class="btn" name="pagina_anterior" value="{{=prevpage}}" onclick="cambiarPagina(this.value)"> < </button>
  {{pass}}
	{{for page in pages:}}
		<button class="btn" type="button" name="pagina" value="{{=page}}" {{if page == actualpage:}} class="btn active" {{pass}} onclick="cambiarPagina(this.value)"> {{=page}} </button>
	{{pass}}
  {{if nextpage:}}
    <button class="btn" name="pagina_siguiente" value="{{=nextpage}}" onclick="cambiarPagina(this.value)"> > </button>
  {{pass}}
  {{if lastpage:}}
    <button class="btn" name="ultima_pagina" value="{{=lastpage}}" onclick="cambiarPagina(this.value)"> >> </button>
  {{pass}}
</div>
 <!-- Fin botones pagina -->
