{{extend 'layout.html'}}

{{block head}}
	<script src="{{=URL('static', 'js/modal-steps.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/servicios_modal.css')}}">
  	<link rel="stylesheet" href="{{=URL('static', 'css/servicios_listado.css')}}">
  	<link rel="stylesheet" href="{{=URL('static', 'css/servicios_solicitud.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/servicios_template_modal.css')}}">
	<script src="{{=URL('static', 'js/servicios_template_modal.js')}}"></script>
  <script src="{{=URL('static', 'js/modal-steps.js')}}"></script>
{{end}}

{{block center}}
<!-- Bloque de navegación secundaria (breadcrumb) -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
  <a class="breadcrumb-item" href="{{=URL('..')}}">Servicios</a>
  <span class="breadcrumb-item active">Certificar un Servicio</span>
  </div>
</nav>
<!-- Fin del bloque de navegación secundaria (breadcrumb) -->

<!-- Inicio Listado Certificaciones que debo certificar -->
<div id="listado_certif_solicitante_container" class="container">
</div>
<!-- Ajax Listado Certificaciones que debo certificar --> 
<input type="hidden" id="ordenar_certificaciones_a_generar_por" name="ordenar_certificaciones_a_generar_por" value="">
<input type="hidden" id="ordenar_certificaciones_a_generar_alfabeticamente" name="ordenar_certificaciones_a_generar_alfabeticamente" value="">
<input type="hidden" id="cambiar_pagina_certificaciones_a_generar" name="cambiar_pagina_certificaciones_a_generar" value="">
<!-- Fin Listado Certificaciones que debo certificar -->

<!-- Inicio Listado Certificaciones que me deben certificar -->
<div id="listado_certif_ejecutante_container" class="container">
</div>
<!-- Ajax Listado Certificaciones que me deben certificar --> 
<input type="hidden" id="ordenar_certificaciones_a_recibir_por" name="ordenar_certificaciones_a_recibir_por" value="">
<input type="hidden" id="ordenar_certificaciones_a_recibir_alfabeticamente" name="ordenar_certificaciones_a_recibir_alfabeticamente" value="">
<input type="hidden" id="cambiar_pagina_certificaciones_a_recibir" name="cambiar_pagina_certificaciones_a_recibir" value="">
<!-- Fin Listado Certificaciones que me deben certificar -->

<!-- Field Escondido para el modal-->
<input type="hidden" id="solicitud" name="solicitud" value="">
<input type="hidden" id="tipoSolicitud" name="tipoSolicitud" value="">

<!-- Inicio Modal Ficha de Certificacion -->
<div class="modal fade" id="modalServiceCertification" role="dialog">
  <div class="modal-dialog">
    <div id="formcert" class="modal-content">
    </div>
  </div>
</div>

<script language="javascript">
  function abrirForm(solicitud, tipo_solicitud) {
		var x = document.getElementById("solicitud");
			x.value = solicitud;

    var y = document.getElementById("tipoSolicitud");
      y.value = tipo_solicitud;

		ajax('ajax_certificar_servicio', ['solicitud', 'tipoSolicitud'], "formcert");
	}

  // Valores por defecto para el listado de certificaciones como solicitante 
  // al cargar el listado de certificaciones. Además estos valores permiten 
  // guardar los parametros de ordenamiento para utilizarlos al cambiar de pagina
  order_by_col_certificaciones_a_generar= null;
  order_by_asc_certificaciones_a_generar = null;
  order_by_pag_certificaciones_a_generar = 1;
  function cambiar_pagina_certificaciones_a_generar(page){
    order_by_pag_certificaciones_a_generar = page

    var x = document.getElementById("ordenar_certificaciones_a_generar_por");
      x.value = order_by_col_certificaciones_a_generar;

    var y = document.getElementById("ordenar_certificaciones_a_generar_alfabeticamente");
      y.value = order_by_asc_certificaciones_a_generar

    var z = document.getElementById("cambiar_pagina_certificaciones_a_generar")
      z.value = order_by_pag_certificaciones_a_generar

    ajax('ajax_listado_certificaciones_a_generar', ['ordenar_certificaciones_a_generar_por', 'ordenar_certificaciones_a_generar_alfabeticamente', 'cambiar_pagina_certificaciones_a_generar'], "listado_certif_solicitante_container");
  }

  function ordenar_certificaciones_a_generar(order_by){

    if (order_by_col_certificaciones_a_generar == order_by){
      order_by_asc_certificaciones_a_generar = !order_by_asc_certificaciones_a_generar
    }
    else{
      order_by_col_certificaciones_a_generar = order_by
      order_by_asc_certificaciones_a_generar = false
    }

    var x = document.getElementById("ordenar_certificaciones_a_generar_por");
      x.value = order_by_col_certificaciones_a_generar;

    var y = document.getElementById("ordenar_certificaciones_a_generar_alfabeticamente");
      y.value = order_by_asc_certificaciones_a_generar

    var z = document.getElementById("cambiar_pagina_certificaciones_a_generar")
      z.value = order_by_pag_certificaciones_a_generar

    ajax('ajax_listado_certificaciones_a_generar', ['ordenar_certificaciones_a_generar_por', 'ordenar_certificaciones_a_generar_alfabeticamente', 'cambiar_pagina_certificaciones_a_generar'], "listado_solic_recibidas_container");
  }

  // Valores por defecto para el listado de certificaciones como ejecutante 
  // al cargar el listado de certificaciones. Además estos valores permiten 
  // guardar los parametros de ordenamiento para utilizarlos al cambiar de pagina
  order_by_col_certificaciones_a_recibir = null;
  order_by_asc_certificaciones_a_recibir = null;
  order_by_pag_certificaciones_a_recibir = 1;
  function cambiar_pagina_certificaciones_a_recibir(page){
    order_by_pag_certificaciones_a_recibir = page

    var x = document.getElementById("ordenar_certificaciones_a_recibir_por");
      x.value = order_by_col_certificaciones_a_recibir;

    var y = document.getElementById("ordenar_certificaciones_a_recibir_alfabeticamente");
      y.value = order_by_asc_certificaciones_a_recibir

    var z = document.getElementById("cambiar_pagina_certificaciones_a_recibir")
      z.value = order_by_pag_certificaciones_a_recibir

    ajax('ajax_listado_certificaciones_a_recibir', ['ordenar_certificaciones_a_recibir_por', 'ordenar_certificaciones_a_recibir_alfabeticamente', 'cambiar_pagina_certificaciones_a_recibir'], "listado_solic_generadas_container");
  }

  function ordenar_certificaciones_a_recibir(order_by){
    
    if (order_by_col_certificaciones_a_recibir == order_by){
      order_by_asc_certificaciones_a_recibir = !order_by_asc_certificaciones_a_recibir
    }
    else{
      order_by_col_certificaciones_a_recibir = order_by
      order_by_asc_certificaciones_a_recibir = false
    }

    var x = document.getElementById("ordenar_certificaciones_a_recibir_por");
      x.value = order_by_col_certificaciones_a_recibir;

    var y = document.getElementById("ordenar_certificaciones_a_recibir_alfabeticamente");
      y.value = order_by_asc_certificaciones_a_recibir

    var z = document.getElementById("cambiar_pagina_certificaciones_a_recibir")
      z.value = order_by_pag_certificaciones_a_recibir

    ajax('ajax_listado_certificaciones_a_recibir', ['ordenar_certificaciones_a_recibir_por', 'ordenar_certificaciones_a_recibir_alfabeticamente', 'cambiar_pagina_certificaciones_a_recibir'], "listado_certif_ejecutante_container");
  }

  window.onload = function(){
    ordenar_certificaciones_a_generar("id");
    ordenar_certificaciones_a_recibir("id");
  }
</script>

{{end}}
