{{extend 'layout.html'}}

{{block head}}
	<script src="{{=URL('static', 'js/modal-steps.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/servicios_modal.css')}}">
  	<link rel="stylesheet" href="{{=URL('static', 'css/servicios_listado.css')}}">
  	<link rel="stylesheet" href="{{=URL('static', 'css/servicios_solicitud.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/servicios_template_modal.css')}}">
	<script src="{{=URL('static', 'js/servicios_template_modal.js')}}"></script>
  <script src="{{=URL('static', 'js/modal-steps.js')}}"></script>
{{end}}

{{block center}}
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab')}}">Inicio</a>
  <a class="breadcrumb-item" href="{{=URL('..')}}">Servicios</a>
  <span class="breadcrumb-item active">Certicaciones de Servicios</span>
  </div>
</nav>
<!--
<div class="container">
    <div class="row">
        <div class="col-sm-6"></div>
        <div id="columnBotonAgregar" class="col-sm-6">
             Boton que lleva al modal
          <button type="button" id="botonCertificar" class="btn btn-info" data-toggle="modal" data-target="#modalServiceCertification">Certificar Servicio</button>
        </div>
    </div>
</div>
-->
<div id="listadoContainer" class="container">
  <div class="row">
  	<div class="table-responsive" >
  		<table id="tablaListado" class="table table-hover">
          <thead>
            <tr id="titulosListado">
				<th class="camposTabla"><button class="btn-link linksNombres" name="order" value="registro" id="registro">Numero de Registro</button></th>
                <th class="camposTabla"><button class="btn-link linksNombres" name="order" value="nombre_solicitante" id="dependencia">Solicitante</button></th>
                <th class="camposTabla"><button class="btn-link linksNombres" name="order" value="nombre_dependencia_ejecutora" id="id_dependencia_ejecutora_solicitud">Dependencia Ejecutora</button></th>
                <th class="camposTabla"><button class="btn-link linksNombres" name="order" value="nombre_servicio" id="servicio">Servicio</button></th>
                <th class="camposTabla"><button class="btn-link linksNombres" name="order" value="fecha_aprobacion" id="fecha_aprobacion">Fecha de Aprobación</button></th>
  			</tr>
  		  </thead>
  	     <tbody>
            {{for item in grid:}}
              <tr>
                  <th class="camposTabla"><a data-toggle="modal" data-target="#modalServiceCertification" onclick="abrirForm({{=item.id}});">{{=item.registro}}</a></th>
                  <th class="camposTabla">{{=item.nombre_servicio}}</th>
                  <th class="camposTabla">{{=item.nombre_dependencia_solicitante}}</th>
				  <th class="camposTabla">{{=item.nombre_dependencia_ejecutora}}</th>
                  <th class="camposTabla">{{=item.fecha_aprobacion}}</th>
              </tr>
			{{pass}}
  		  </tbody>
             <tfoot>
             <th>
                <form>
                    {{for page in pages:}}
                    <button name="pagina" value="{{=page}}" {{if page == actualpage:}}class="active"{{pass}}> {{=page}} </button>
                    {{pass}}
                </form>
             </th><th></th><th></th><th></th><th></th>
             </tfoot>
  		</table>
  	</div>
  </div>
</div>

<!-- Field Escondido para el modal-->
<input type="hidden" id="solicitud" name="solicitud" value="">
<!-- Inicio Modal ficha de Servicio -->
<div class="modal fade" id="modalServiceCertification" role="dialog">
    <div class="modal-dialog">
        <div id="formcert" class="modal-content">

    </div></div>
</div>

<script language="javascript">

  function abrirForm(solicitud) {
		var x = document.getElementById("solicitud");
			x.value = solicitud;
		ajax('ajax_certificar_servicio', ['solicitud'], "formcert");
	}
</script>

{{end}}