<!DOCTYPE html>
<html lang="es">
<head>
	<title>detalles</title>
	
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">  
	<!-- Custom styles for this template -->
  <link href="{{=URL('static', 'css/servicios_catalogo.css')}}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <!-- Web2py JS - Especialmente para AJAX -->
  <script src="{{=URL('static', 'js/web2py.js')}}"></script>
</head>
<body>

<header id="up">
	<h2 id="titulo2" class="featurette-heading" align="center">{{=nombre_categoria}}</h2>
</header>

<!-- Inicio Modal ficha de Servicio -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div id="ficha" class="modal-content">
      </div>

    </div>
  </div>
<!-- Fin Modal ficha de servicio -->

<div id="contenedor" class="container">

  <div class="filas">
    <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7 columnasIzq">
            <h2 class="featurette-heading titulosBlancos">Ensayo</h2>
          </div>
          <div class="col-md-5">
            <ul>
                {{for servicio in ensayo:}}
                    <li class="nombreServicio letrasBlancas">
                      <a data-toggle="modal" data-target="#myModal" onclick="abrirFichaCatalogo({{=servicio.id}});">
                        {{=servicio.nombre}} 
                      </a>
                    </li>
                {{pass}}
            </ul>
          </div>
        </div>
        <hr class="featurette-divider">
    </div>

      <div class="row featurette">
        <div class="col-md-7 columnasIzq">
          <h2 class="featurette-heading">Inspección</h2>
        </div>
        <div class="col-md-5">
            <ul>
                {{for servicio in inspeccion:}}
                    <li class="nombreServicio">{{=servicio.nombre}}</li>
                {{pass}}
            </ul>
        </div>
      </div>

      <div class="filas">
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7 columnasIzq">
            <h2 class="featurette-heading titulosBlancos">Calibración</h2>
          </div>
          <div class="col-md-5">
            <ul>
                {{for servicio in calibracion:}}
                    <li class="nombreServicio letrasBlancas">{{=servicio.nombre}}</li>
                {{pass}}
            </ul>
          </div>
        </div>
        <hr class="featurette-divider">
      </div>

      <div class="row featurette">
        <div class="col-md-7 columnasIzq">
          <h2 class="featurette-heading" style="font-size: 35px;">Desarrollo de prototipos y piezas</h2>
        </div>
        <div class="col-md-5">
            <ul>
                {{for servicio in desarrollo_prototipo_piezas:}}
                    <li class="nombreServicio">{{=servicio.nombre}}</li>
                {{pass}}
            </ul>
        </div>
      </div>

      <div class="filas">
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7 columnasIzq">
            <h2 class="featurette-heading big">Consultoría <br> Asesoría Técnica <br> Proyectos</h2>
          </div>
          <div class="col-md-5">
            <ul>
                {{for servicio in consultoria_asesoria:}}
                    <li class="nombreServicio letrasBlancas">{{=servicio.nombre}}</li>
                {{pass}}
            </ul>
          </div>
        </div>
        <hr class="featurette-divider">
      </div>

      <div class="row featurette">
        <div class="col-md-7 columnasIzq">
          <h2 class="featurette-heading big">Formación <br> Capacitación <br> Transferencia tecnológica</h2>
        </div>
        <div class="col-md-5">
            <ul>
                {{for servicio in formacion_capacitacion_transferencia:}}
                    <li class="nombreServicio">{{=servicio.nombre}}</li>
                {{pass}}
            </ul>
        </div>
      </div>

      <div class="filas">
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7 columnasIzq">
            <h2 class="featurette-heading">Sala de Computadoras</h2>
          </div>
          <div class="col-md-5">
            <ul>
                {{for servicio in sala_computadoras:}}
                    <li class="nombreServicio letrasBlancas">{{=servicio.nombre}}</li>
                {{pass}}
            </ul>
          </div>
        </div>
        <hr class="featurette-divider">
      </div>

      <div class="row featurette">
        <div class="col-md-7 columnasIzq">
          <h2 class="featurette-heading">Sala de Videos</h2>
        </div>
        <div class="col-md-5">
            <ul>
                {{for servicio in sala_videos:}}
                    <li class="nombreServicio">{{=servicio.nombre}}</li>
                {{pass}}
            </ul>
        </div>
      </div>

      <div class="filas">
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7 columnasIzq">
            <h2 class="featurette-heading">Verificación</h2>
          </div>
          <div class="col-md-5">
            <ul>
                {{for servicio in verificacion:}}
                    <li class="nombreServicio letrasBlancas">{{=servicio.nombre}}</li>
                {{pass}}
            </ul>
          </div>
        </div>
        <hr class="featurette-divider">
      </div>
</div>

 <!-- FOOTER -->
<footer class="container">
  <p class="float-right"><a href="#up">Volver arriba</a></p>
  <p>Para solicitar un servicio debe contactar a FUNINDES · <a href="http://funindes.usb.ve/contact/">  Página web</a></p>
</footer>

<input type="hidden" name="servicio" id="servicio" value="">
<script language="javascript" >
    function abrirFichaCatalogo(servicio) {
      var x = document.getElementById("servicio");
        x.value = servicio;
      ajax('ajax_ficha_servicio_catalogo', ['servicio'], "ficha");
  }
</script>
</body>
</html>


