{{extend "layout.html"}}

{{block head}}  

  <!-- DataTables -->
  <link href="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />


  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/servicios_modal.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_listado.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_template_modal.css')}}">
  
  <script src="{{=URL('static', 'js/servicios_template_modal.js')}}"></script>

  <!-- Web2py JS - Especialmente para AJAX -->
  <script src="{{=URL('static', 'js/web2py.js')}}"></script>
  <style>
    .row{
      margin-right:0px!important;
    }
  </style>
{{end}}

{{block center}}
<!-- Breadcrumb de navegación -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'servicios')}}">Servicios</a>
  <span class="breadcrumb-item active">Historial de Servicios</span>
  </div>
</nav>
<!-- Fin del Breadcrumb de navegación --> 

<!-- Inicio Listado -->
<div class="container">
  <!-- Inicio Tabla Historial Servicios -->
  <div class="row">
    <h3> Historial de Servicios </h3>

    <div id="buttons">
      <!-- Filtrado -->
        <button type="button" id="filtrar" onclick="mostrarFiltro()" class="btn btn-default buttons-pdf buttons-html5">Filtrado</button>
      <!-- Filtrado -->    
    </div>
    <br>

    <div class="table-responsive no-padding no-margin" >
      <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
          <!-- Titulos Listado -->
          <thead>
            <tr id="titulosListado">
              <th class="camposTabla linksNombres">Número de Registro</th>
              <th class="camposTabla linksNombres">Fecha de Certificación</th>
              <th class="camposTabla linksNombres">Nombre del Servicio</th>
              <th class="camposTabla linksNombres">Nombre del Solicitante</th>
              <th class="camposTabla linksNombres">Dependencia Ejecutora</th>
              <th class="camposTabla linksNombres">Unidad de Adscripción</th>
            </tr>
          </thead>

          <tbody>
            <!-- Contenido Listado -->
            {{for solicitud in listado_de_solicitudes:}}
            <tr>
              <th class="camposTabla"><a data-toggle="modal" data-target="#myModal" onclick="abrirFicha({{=solicitud.id}});" >{{=solicitud.registro_solicitud}}</a></th>
              <th class="camposTabla">{{=solicitud.fecha_certificacion}}</th>
              <th class="camposTabla">{{=solicitud.nombre_servicio}}</th>
              <th class="camposTabla">{{=solicitud.responsable_solicitud}}</th>
              <th class="camposTabla">{{=solicitud.nombre_dependencia_ejecutora}}</th>
              <th class="camposTabla">{{=solicitud.adscripcion_dependencia_ejecutora}}</th>
            </tr>
          {{pass}}
          
          </tbody>
          <!-- Fin Contenido del Listado -->
          <tfoot id="collapseFiltros">
            <tr>
              <th class="camposTabla">Número de Registro</th>
              <th class="camposTabla">Fecha de Certificación</th>
              <th class="camposTabla">Nombre del Servicio</th>
              <th class="camposTabla">Nombre del Solicitante</th>
              <th class="camposTabla">Dependencia Ejecutora</th>
              <th class="camposTabla">Unidad de Adscripción</th>
            </tr>
          </tfoot>

      </table>
    </div>
  </div>  
  <!-- Fin Tabla Historial Servicios -->
</div>
<!-- Fin Listado --> 

<!-- Inicio Modal ficha de Servicio -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div id="ficha" class="modal-content">
      </div>

    </div>
  </div>
<!-- Fin Modal ficha de servicio -->


<!-- Ajax ficha historial--> 
<input type="hidden" id="solicitud" name="solicitud" value="">

<script language="javascript">
  function abrirFicha(solicitud) {
    var x = document.getElementById("solicitud");
      x.value = solicitud;

    ajax('ajax_ficha_historial', ['solicitud'], "ficha");
  }
</script>

<!-- Datatables-->
<script src="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.bootstrap.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/jszip.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.js')}}"></script>

<!-- Datatable init js -->
<script src="{{=URL('static', 'plugins/datatables/datatables.init.js')}}"></script>
<script>

  var filtros = false;

  $(document).ready(function() {
      // Setup - add a text input to each footer cell
      $('#datatable tfoot th').each( function () {
          var title = $(this).text();
          $(this).html( '<input type="text" placeholder="Filtro" />' );
      } );
   
      // DataTable
      var table = $('#datatable').DataTable();
   
      // Apply the search
      table.columns().every( function () {
          var that = this;
   
          $( 'input', this.footer() ).on( 'keyup change', function () {
              if ( that.search() !== this.value ) {
                  that
                      .search( this.value )
                      .draw();
              }
          } );
      } );

      $('#datatable tfoot tr').appendTo('#datatable thead');
      $("#datatable thead tr").not("#titulosListado").css("display","none");
  } );

  function mostrarFiltro() {
      if (filtros){
        $("#datatable thead tr").not("#titulosListado").css("display","none");
        filtros = false
      }
      else{
        $("#datatable thead tr").not("#titulosListado").css("display","table-row");
        filtros = true
      }

  }
</script>
<script language="javascript">
  var table = $('#datatable').DataTable({
    language: {
      url: "{{=URL('static', 'plugins/datatables/l18n/es-ES.json')}}"
    },
   initComplete: function(){
      var api = this.api();

      new $.fn.dataTable.Buttons(api, {
         buttons: [
            'copy', 'pdf', 'excel', 'csv', 'print'
         ]
      });
      api.buttons().container().appendTo('#buttons');  
   }
  });

  var w2p_ajax_confirm_message =
        "{{=T('')}}";
</script>