{{extend "layout.html"}}

{{block head}}
	<script src="{{=URL('static', 'js/modal-steps.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/nuevo.css')}}">
  	<link rel="stylesheet" href="{{=URL('static', 'css/servicios_listado.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/prueba.css')}}">
	<script src="{{=URL('static', 'js/prueba.js')}}"></script>
{{end}}

{{block center}}

<!-- Breadcrumb de navegación -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'modulos')}}">Inicio</a>
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'servicios')}}">Servicios</a>
  <span class="breadcrumb-item active">Listado</span>
  </div>
</nav>
<!-- Fin del Breadcrum de navegación --> 

<div class="container" style="padding-top:25px">
	<div class="table-responsive" >
		<table class="table table-hover" style="border: 1.5px !important; border-style: solid !important; border-color: #ddd !important;">
		 <thead>
				<tr>
					<form>
						<th><button class="btn-link" name="columna" value="nombre_categoria" id="f_categoria_servicio">Categoría</button></th>
						<th><button class="btn-link" name="columna" value="nombre_tipo" id="f_tipo_servicio">Tipo de Servicio</button></th>
						<th><button class="btn-link" name="columna" value="nombre" id="f_nombre_servicio">Nombre del Servicio</button></th>
						<th><button class="btn-link" name="columna" value="seccion" id="f_seccion_servicio">Sección</button></th>
						<th><button class="btn-link" name="columna" value="laboratorio" id="f_laboratorio_servicio">Laboratorio</button></th>
						<th><button class="btn-link" name="columna" value="sede" id="f_sede_servicio">Sede</button></th>
				</tr>
			</thead>
	    <tbody>
				{{for item in grid:}}
					<tr>
						<th>{{=item.nombre_categoria}}</th>
						<th>{{=item.nombre_tipo}}</th>
						<th>{{=item.nombre}}</a></th>
						<th>{{=item.seccion}}</th>
						<th>{{=item.laboratorio}}</th>
						<th>{{=item.sede}}</th>
					</tr>
				{{pass}}
			</tbody>
			<tfoot>
				<tr>
					<th>
						{{if firstpage:}}
							<button name="pagina" value="{{=firstpage}}"> << </button>
						{{pass}}
						{{if prevpage:}}
							<button name="pagina" value="{{=prevpage}}"> < </button>
						{{pass}}
						{{for page in pages:}}
							<button name="pagina" value="{{=page}}"{{if page == actualpage:}}class="active"{{pass}}> {{=page}} </button>
						{{pass}}
						{{if nextpage:}}
							<button name="pagina" value="{{=nextpage}}"> > </button>
						{{pass}}
						{{if lastpage:}}
							<button name="pagina" value="{{=lastpage}}"> >> </button>
						{{pass}}
					</th><th></th><th></th><th></th><th></th><th></th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>



<input type="hidden" id="sede" name="sede" value="">
<input type="hidden" id="labo" name="labo" value="">
<input type="hidden" id="seccion" name="seccion" value="">
<input type="hidden" id="ubicacion" name="ubicacion" value="">

<script language="javascript" src="{{=URL('static', 'js/jQuery.js')}}"></script>
<script language="javascript" src="{{=URL('static', 'js/web2py.js')}}"></script>

<script language="javascript">
	
  function changeTabs(servicio) {
		var x = document.getElementById("serv");
			x.value = servicio;
		ajax('ficha_modal', ['serv'], "ficha");
	}

	function getLabs(){
    var opcionessede = document.getElementById("sel6");
    var sedeelegida = opcionessede.options[opcionessede.selectedIndex].value;
    var x = document.getElementById("sede");
      x.value = sedeelegida;
    ajax('laboratorios', ['sede'], "laboratoriosdiv");
  }

  function getSecc(){
      var opcioneslab = document.getElementById("sel4");
      var labelegido = opcioneslab.options[opcioneslab.selectedIndex].value;
      var x = document.getElementById("labo");
        x.value = labelegido;
      ajax('secciones', ['labo'], "seccionsdiv");

   }

  function getUbic(){
      var opcionessecc = document.getElementById("sel3");
      var seccionelegida = opcionessecc.options[opcionessecc.selectedIndex].value;
      var x = document.getElementById("seccion");
        x.value = seccionelegida;
      ajax('ubicaciones', ['seccion'], "ubicaciondiv");

   }

  function getResp(){
      var opcionesubic = document.getElementById("sel5");
      var ubicacionelegida =  opcionesubic.options[opcionesubic.selectedIndex].value;
      var x = document.getElementById("ubicacion");
        x.value = ubicacionelegida;
      ajax('responsables', ['ubicacion'], "responsablediv");
   }

  function getLabs1(){
    var opcionessede = document.getElementById("sel6.1");
    var sedeelegida = opcionessede.options[opcionessede.selectedIndex].value;
      var x = document.getElementById("sede");
      x.value = sedeelegida;
    ajax('laboratoriosEdi', ['sede'], "laboratoriosdiv1");
    getSecc1();
  }

  function getSecc1(){
      var opcioneslab = document.getElementById("sel4.1");
      var labelegido = opcioneslab.options[opcioneslab.selectedIndex].value;
      var x = document.getElementById("labo");
        x.value = labelegido;
      ajax('seccionesEdi', ['labo'], "seccionsdiv1");
      getUbic1();
   }

  function getUbic1(){
      var opcionessecc = document.getElementById("sel3.1");
      var seccionelegida = opcionessecc.options[opcionessecc.selectedIndex].value;
      var x = document.getElementById("seccion");
        x.value = seccionelegida;
      ajax('ubicacionesEdi', ['seccion'], "ubicaciondiv1");
      getResp1();
   }

  function getResp1(){
      var opcionesubic = document.getElementById("sel5.1");
      var ubicacionelegida =  opcionesubic.options[opcionesubic.selectedIndex].value;
      var x = document.getElementById("ubicacion");
        x.value = ubicacionelegida;
      ajax('responsablesEdi', ['ubicacion'], "responsablediv1");
   }

	$('#addservice').modalSteps();

</script>
{{end}}

