{{extend 'layout.html'}}

{{block head}}
  <!-- DataTables -->
  <link href="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />

  <!-- Estilo del listado de Solicitudes de Servicios -->
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_listado.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_solicitud.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_modal.css')}}">
	<link rel="stylesheet" href="{{=URL('static', 'css/servicios_template_modal.css')}}">

  <!-- Web2py JS - Especialmente para AJAX -->
  <script src="{{=URL('static', 'js/web2py.js')}}"></script>
  <style>
    .row{
      margin-right:0px!important;
    }
  </style>
{{end}}

{{block center}}
<!-- Bloque de navegación secundaria (breadcrumb) -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
  <a class="breadcrumb-item" href="{{=URL('..')}}">Servicios</a>
  <span class="breadcrumb-item active">Solicitudes de Servicios</span>
  </div>
</nav>
<!-- Fin del bloque de navegación secundaria (breadcrumb) -->

<!-- Boton que lleva al modal de Solicitud de un Servicio -->
<div class="container">
    <div class="row">
        <div class="col-sm-6"></div>
        <div id="columnBotonAgregar" class="col-sm-6">
          <button type="button" id="botonAgregar" class="btn botonesListado" data-toggle="modal" data-target="#modalServiceRequest">Solicitar Servicio</button>
        </div>
    </div>
</div>
<!-- Fin del boton que lleva al modal de Solicitud de un Servicio -->

<!-- Inicio Listado Solicitudes para ejecutante-->
<div class="container">
  <div class="row">
    <h3 onclick="change_status_list('#solic-recibidas')" title="Ocultar/Mostrar"> Solicitudes Recibidas <i class="fa fa-caret-up" id="solic-recibidas-caret"></i> </h3>

    <div id="solic-recibidas">
    <div id="buttons2">
      <!-- Filtrado -->
       <button type="button" id="filtrar" onclick="mostrarFiltro2()" class="btn btn-default buttons-pdf buttons-html5">Filtrado</button>
      <!-- Filtrado -->
    </div>

    <div class="table-responsive no-padding no-margin" >
      <table id="datatable2" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
       <form>
          <!-- Titulos Tabla Solicitudes -->
          <thead>
            <tr id="titulosListado">
              <th class="camposTabla linksNombres">Número de Registro</th>
              <th class="camposTabla linksNombres">Dependencia Solicitante</th>
              <th class="camposTabla linksNombres">Dependencia Ejecutora</th>
              <th class="camposTabla linksNombres">Servicio</th>
              <th class="camposTabla linksNombres">Fecha de Solicitud</th>
              <th class="camposTabla linksNombres">Estado</th>
            </tr>
          </thead>

          <!-- Contenido Tabla Solicitudes -->
          <tbody>
            {{for solicitud in solicitudes_recibidas:}}
              <tr>
                <th class="camposTabla"><a data-toggle="modal" data-target="#myModal" onclick="abrirFicha({{=solicitud.id}}, 'Ejecutante');" >{{=solicitud.registro.decode('utf-8').upper()}}</a></th>
                <th class="camposTabla">{{=solicitud.nombre_dependencia_solicitante.decode('utf-8').upper()}}</th>
                <th class="camposTabla">{{=solicitud.nombre_dependencia_ejecutora.decode('utf-8').upper()}}</th>
                <th class="camposTabla">{{=solicitud.nombre_servicio.decode('utf-8').upper()}}</th>
                <th class="camposTabla">{{=solicitud.fecha_solicitud}}</th>
                <th class="camposTabla">{{=solicitud.estado_solicitud_str.decode('utf-8').upper()}}</th>
              </tr>
            {{pass}}
          </tbody>

          <tfoot id="collapseFiltros">
            <tr>
              <th class="camposTabla linksNombres">Número de Registro</th>
              <th class="camposTabla linksNombres">Dependencia Solicitante</th>
              <th class="camposTabla linksNombres">Dependencia Ejecutora</th>
              <th class="camposTabla linksNombres">Servicio</th>
              <th class="camposTabla linksNombres">Fecha de Solicitud</th>
              <th class="camposTabla linksNombres">Estado</th>
            </tr>
          </tfoot>

       </form>
      </table>
    </div>
  </div>
</div>
</div>
<!-- Fin Listado Solicitudes para ejecutante-->

<!-- Inicio Listado Solicitudes para solicitante -->
<div class="container">
  <div class="row">
    <h3 onclick="change_status_list('#solic-generadas')" title="Ocultar/Mostrar"> Solicitudes Generadas <i class="fa fa-caret-up" id="solic-generadas-caret"></i> </h3>

    <div id="solic-generadas">
    <div id="buttons1">
      <!-- Filtrado -->
        <button type="button" id="filtrar" onclick="mostrarFiltro1()" class="btn btn-default buttons-pdf buttons-html5">Filtrado</button>
      <!-- Filtrado -->   
    </div>

    <div class="table-responsive no-padding no-margin" >
      <table id="datatable1" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
       <form>
          <!-- Titulos Tabla Solicitudes -->
          <thead>
            <tr id="titulosListado">
              <th class="camposTabla linksNombres">Número de Registro</th>
              <th class="camposTabla linksNombres">Dependencia Solicitante</th>
              <th class="camposTabla linksNombres">Dependencia Ejecutora</th>
              <th class="camposTabla linksNombres">Servicio</th>
              <th class="camposTabla linksNombres">Fecha de Solicitud</th>
              <th class="camposTabla linksNombres">Estado</th>
            </tr>
          </thead>

          <!-- Contenido Tabla Solicitudes -->
          <tbody>
            {{for solicitud in solicitudes_generadas:}}
              <tr>
                <th class="camposTabla"><a data-toggle="modal" data-target="#myModal" onclick="abrirFicha({{=solicitud.id}}, 'Solicitante');" >{{=solicitud.registro}}</a></th>
                <th class="camposTabla">{{=solicitud.nombre_dependencia_solicitante.decode('utf-8').upper()}}</th>
                <th class="camposTabla">{{=solicitud.nombre_dependencia_ejecutora.decode('utf-8').upper()}}</th>
                <th class="camposTabla">{{=solicitud.nombre_servicio.decode('utf-8').upper()}}</th>
                <th class="camposTabla">{{=solicitud.fecha_solicitud}}</th>
                <th class="camposTabla">{{=solicitud.estado_solicitud_str.decode('utf-8').upper()}}</th>
              </tr>
            {{pass}}
          </tbody>
          <tfoot id="collapseFiltros">
            <tr>
              <th class="camposTabla linksNombres">Número de Registro</th>
              <th class="camposTabla linksNombres">Dependencia Solicitante</th>
              <th class="camposTabla linksNombres">Dependencia Ejecutora</th>
              <th class="camposTabla linksNombres">Servicio</th>
              <th class="camposTabla linksNombres">Fecha de Solicitud</th>
              <th class="camposTabla linksNombres">Estado</th>
            </tr>
          </tfoot>

       </form>
      </table>
    </div>
  </div>
  </div>
</div>

<!-- Fin Listado Solicitudes para Solicitante-->

<!-- Inicio Modal Solicitar Servicio -->
<div class="modal fade" id="modalServiceRequest" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header addHeader">
        <div class="row addRow" id="rowHeader">
          <div class="col-sm-1" id="col1Header">
            <div class="container" id="plus">
              <h1 id="agregar">+</h1>
            </div>
          </div>
          <div class="col-sm-11" id="col11Header">
            <h4 class="modal-title" id="nuevoServicio">Solicitud de Servicio de Laboratorio
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
          </div>
        </div>
      </div>
      <!-- Fin Modal Header -->
      
      <!-- Modal Body -->
      <div class="modal-body addBody">
        <div class="row addRow">
          <div class="col-md-12 form-box">
            <!-- Inicio Form -->
            <form id="formularioCarga" class="registration-form" method="post">

              <!-- Primer Paso -->
              <fieldset class="formField">
                <div class="form-bottom" data-step="1" data-title="Primer Paso">
                  <!-- Aqui va la barra lateral -->
                  <div class="col-sm-1 col1Body">
                    <span class="step activePass">1</span>
                    <span class="step">2</span>
                    <span class="step">3</span>
                     <span class="step">4</span>
                  </div>
                  <!-- Aqui va la informacion -->
                  <div class="col-sm-11 col11Body">
                    <h4 class="titulosForm">Datos de la Solicitud</h4>                
                     	
                      <!-- Numero Registro -->
                     	<div class="mover">
                     	<label class="form-group" id="numRegistro" style="margin-bottom: 0px">Registro</label>
                      <div class="form-group">
                        <input type="text" class="form-control" name="numRegistro" id="numRegistro" placeholder="{{=datos_solicitud[6]}}" value="{{=datos_solicitud[6]}}" required readonly>
                      </div>
                      </div>

                      <!-- Dependencia Solicitante -->
                      <label class="form-group" id="dependenciaSolicitante" style="margin-bottom: 0px">Dependencia Solicitante</label>
                      <div class="form-group">
                        <input type="text" class="form-control" id="dependenciaSolicitante" name="dependenciaSolicitante" placeholder="Dependencia Solicitante" value="{{=datos_solicitud[0]}}" required readonly>
                      </div>

                      <!-- Jefe Dependencia Solicitante -->
                      <label class="form-group" id="jefeDependencia" style="margin-bottom: 0px">Jefe de la Dependencia Solicitante</label>
                      <div class="form-group">
                        <input type="text" class="form-control" id="jefeDependencia" name="jefeDependenciaSolicitante" placeholder="Jefe de la Dependencia Solicitante" value="{{=datos_solicitud[1]}} {{=datos_solicitud[2]}} | {{=datos_solicitud[3]}}" required readonly>
                      </div>

                      <!-- Responsable Solicitud -->
                      <label class="form-group" id="respSolicitud" style="margin-bottom: 0px">Responsable de la Solicitud</label>
                      <div class="form-group">
                        <input type="text" class="form-control" id="respSolicitud" name="responsableSolicitud" placeholder="Persona Responsable de la Solicitud" value="{{=datos_solicitud[4]}} | {{=datos_solicitud[5]}}" required readonly>
                      </div>                         
                  </div>
                </div>
                <button type="button" class="btn btn-next botonForm">Siguiente</button>
              </fieldset>
              <!-- Fin Primer Paso -->
              
              <!-- Segundo Paso -->
              <fieldset class="formField">
                  <div class="form-bottom" data-step="2" data-title="Segundo Paso">
                    <!-- Aqui va la barra lateral -->
                    <div class="col-sm-1 col1Body">
                      <span class="step">1</span>
                      <span class="step activePass">2</span>
                      <span class="step">3</span>
                       <span class="step">4</span>
                    </div>

                    <!-- Aqui va la informacion -->
                    <div class="col-sm-11 col11Body" style="padding-top: 50px">
                    <h4 class="titulosForm">Servicio a Solicitar</h4>
                      
                      <!-- Categoria -->
                      <div class="form-group">
                        <label class="form-group" id="numRegistro" style="margin-bottom: 0px">Categoria&#42;</label>
                        <select type="select" class="form-control" id="sel1" name="categoriaServicio" onchange="getServicio();" required>
                          <option value="" selected hidden >Categoria</option>
                          {{for categoria in categorias:}}
                        	<option value="{{=categoria.id}}">{{=categoria.nombre}}</option>
                          {{pass}} 
                        </select>
                      </div>

                      <!-- Tipo Servicio -->
                      <div class="form-group">
                        <label class="form-group" id="numRegistro" style="margin-bottom: 0px">Tipo*</label>
                        <select type="select" class="form-control" id="sel2" name="tipoServicio" onchange="getServicio();" required>
                          <option value="" selected hidden >Tipo</option>
                          {{for tipo in tipos:}}
                          <option value="{{=tipo.id}}">{{=tipo.nombre}}</option>
                          {{pass}}
                        </select>
                      </div>

                      <!-- Nombre Servicio-->
                      <div class="form-group" id="obtenerNombreServicio">
                        <!-- Ajax obtener nombre servicio -->
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-previous botonForm">Anterior</button>
                  <button type="button" class="btn btn-next botonForm">Siguiente</button>
              </fieldset>
              <!-- Fin Segundo Paso -->

              <!-- Tercer Paso -->
              <fieldset class="formField">
                <div class="form-bottom" data-step="3" data-title="Tercer Paso">
                  <!-- Aqui va la barra lateral -->
                  <div class="col-sm-1 col1Body">
                    <span class="step">1</span>
                    <span class="step">2</span>
                    <span class="step activePass">3</span>
                     <span class="step">4</span>
                  </div>
                  
                  <!-- Aqui va la informacion -->
                  <div class="col-sm-11 col11Body" style="padding-top: 50px">
                    <h4 class="titulosForm">Servicio a Solicitar</h4>
                    <!-- Propósito -->
                    <div class="form-group" id="obtenerPropositoServicio">
                      <!-- Ajax obtener proposito del servicio -->
                    </div>

                    <!-- Descripcion propósito -->
                    <div class="form-group">
                        <label class="form-group" id="numRegistro" style="margin-bottom: 8px">Descripción del Propósito del Servicio</label>
                        <textarea rows="1" cols="5" id="descripcionProposito" class="form-control" name="propositoDescripcion" placeholder="" required></textarea>
                    </div>

                    <!-- Descripción -->
                    <div class="form-group">
                      <label class="form-group" id="numRegistro" style="margin-bottom: 8px">Observaciones</label>
                      <textarea rows="1" cols="5" class="form-control" type="textarea" id="descrip" name="descripcionSolicitud" placeholder="Fecha-Hora para ejecutar el servicio y cualquier otra información relevante"></textarea>
                    </div>
                  </div>
                </div> 
                <button type="button" class="btn btn-previous botonForm">Anterior</button>
                <button type="button" class="btn btn-next botonForm">Siguiente</button>
              </fieldset>
              <!-- Fin Tercer Paso -->

              <!-- Cuarto Paso -->
              <fieldset class="formField">
                <div class="form-row" data-step="4" data-title="Cuarto Paso">
                  <!-- Aqui va la barra lateral -->
                  <div class="col-sm-1 col1Body">
                    <span class="step">1</span>
                    <span class="step">2</span>
                    <span class="step">3</span>
                    <span class="step activePass">4</span> 
                  </div>

                  <!-- Aqui va la informacion -->
                  <div class="col-sm-11 col11Body col11Body3" id="obtenerDependenciaEjecutora">
                    <!-- Ajax obtener datos dependencia ejecutora -->
                  </div>
                </div>
                <button type="button" class="btn btn-previous botonForm">Anterior</button>
                <button type="submit button" form="formularioCarga" id="submit" class="btn btn-submit botonForm">Agregar</button>                      
              </fieldset>
              <!-- Fin Cuarto Paso -->
            </form>
            <!-- Fin Form -->
          </div>
        </div>               
      </div>
      <!-- Fin Modal Body -->
    </div>
    <!-- Fin Modal content-->
  </div>
</div>
<!-- Fin Modal Solicitar Servicio -->

{{if servicio_solicitud:}}
<button class="hidden" type="hidden" id="solicito" data-toggle="modal" data-target="#modalServiceRequestSelected"></button>

<!-- Inicio Modal Solicitar Servicio Seleccionado-->
<div class="modal fade" id="modalServiceRequestSelected" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header addHeader">
        <div class="row addRow" id="rowHeader">
          <div class="col-sm-1" id="col1Header">
            <div class="container" id="plus">
              <h1 id="agregar">+</h1>
            </div>
          </div>
          <div class="col-sm-11" id="col11Header">
            <h4 class="modal-title" id="nuevoServicio">Solicitud de Servicio de Laboratorio</h4>
          </div>
        </div>
      </div>
      <!-- Fin Modal Header -->
      
      <!-- Modal Body -->
      <div class="modal-body addBody">
        <div class="row addRow">
          <div class="col-md-12 form-box">
            <!-- Inicio Form -->
            <form id="formularioEdit" class="registration-form" method="post">

              <!-- Primer Paso -->
              <fieldset class="formField">
                <div class="form-bottom" data-step="1" data-title="Primer Paso">
                  <!-- Aqui va la barra lateral -->
                  <div class="col-sm-1 col1Body">
                    <span class="step activePass">1</span>
                    <span class="step">2</span>
                    <span class="step">3</span>
                     <span class="step">4</span>
                  </div>
                  <!-- Aqui va la informacion -->
                  <div class="col-sm-11 col11Body">
                    <h4 class="titulosForm">Datos de la Solicitud</h4>                
                      
                      <!-- Numero Registro -->
                      <div class="mover">
                      <label class="form-group" id="numRegistro" style="margin-bottom: 0px">Registro</label>
                      <div class="form-group">
                        <input type="text" class="form-control" name="numRegistro" id="numRegistro" placeholder="{{=datos_solicitud[6]}}" value="{{=datos_solicitud[6]}}" required readonly>
                      </div>
                      </div>

                      <!-- Dependencia Solicitante -->
                      <label class="form-group" id="dependenciaSolicitante" style="margin-bottom: 0px">Dependencia Solicitante</label>
                      <div class="form-group">
                        <input type="text" class="form-control" id="dependenciaSolicitante" name="dependenciaSolicitante" placeholder="Dependencia Solicitante" value="{{=datos_solicitud[0]}}" required readonly>
                      </div>

                      <!-- Jefe Dependencia Solicitante -->
                      <label class="form-group" id="jefeDependencia" style="margin-bottom: 0px">Jefe Dependencia Solicitante</label>
                      <div class="form-group">
                        <input type="text" class="form-control" id="jefeDependencia" name="jefeDependenciaSolicitante" placeholder="Jefe de la Dependencia Solicitante" value="{{=datos_solicitud[1]}} {{=datos_solicitud[2]}} | {{=datos_solicitud[3]}}" required readonly>
                      </div>

                      <!-- Responsable Solicitud -->
                      <label class="form-group" id="respSolicitud" style="margin-bottom: 0px">Responsable Solicitud</label>  
                      <div class="form-group">
                        <input type="text" class="form-control" id="respSolicitud" name="responsableSolicitud" placeholder="Persona Responsable de la Solicitud" value="{{=datos_solicitud[4]}} | {{=datos_solicitud[5]}}" required readonly>
                      </div>                         
                  </div>
                </div>
                <button type="button" class="btn btn-next botonForm">Siguiente</button>
              </fieldset>
              <!-- Fin Primer Paso -->
              
              <!-- Segundo Paso -->
              <fieldset class="formField">
                  <div class="form-bottom" data-step="2" data-title="Segundo Paso">
                    <!-- Aqui va la barra lateral -->
                    <div class="col-sm-1 col1Body">
                      <span class="step">1</span>
                      <span class="step activePass">2</span>
                      <span class="step">3</span>
                       <span class="step">4</span>
                    </div>
                    <!-- Aqui va la informacion -->
                    <div class="col-sm-11 col11Body" style="padding-top: 50px">
                    <h4 class="titulosForm">Servicio Solicitado</h4>
                      
                      <!-- Categoria -->
                      <div class="form-group">
                        <label class="form-group" id="numRegistro" style="margin-bottom: 0px">Categoria*</label>

                        <select type="select" class="form-control" id="sel1.1" name="categoriaServicio2"  required readonly>
                          <option value="{{=servicio_solicitud.categoria}}" selected >{{=servicio_solicitud.nombre_categoria}}</option>
                        </select>
                      </div>

                      <!-- Tipo Servicio -->
                      <div class="form-group">
                        <label class="form-group" id="numRegistro" style="margin-bottom: 0px">Tipo*</label>

                        <select type="select" class="form-control" id="sel2.1" name="tipoServicio"  required >
                          <option value="{{=servicio_solicitud.tipo}}" selected >{{=servicio_solicitud.nombre_tipo}}</option>
                        </select>
                      </div>

                      <!-- Nombre Servicio-->
                      <div class="form-group" id="obtenerNombreServicio2">
                        <label class="form-group" id="numRegistro" style="margin-bottom: 0px" style="">Nombre Servicio*</label>
                        <select class="form-control" type="select" id="sel3.1" name="nombreServicio" required readonly>
                          <option selected value="{{=servicio_solicitud.id}}">{{=servicio_solicitud.nombre}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-previous botonForm">Anterior</button>
                  <button type="button" class="btn btn-next botonForm">Siguiente</button>
              </fieldset>
              <!-- Fin Segundo Paso -->

              <!-- Tercer Paso -->
              <fieldset class="formField">
                <div class="form-bottom" data-step="3" data-title="Tercer Paso">
                  <!-- Aqui va la barra lateral -->
                  <div class="col-sm-1 col1Body">
                    <span class="step">1</span>
                    <span class="step">2</span>
                    <span class="step activePass">3</span>
                     <span class="step">4</span>
                  </div>
                  
                  <!-- Aqui va la informacion -->
                  <div class="col-sm-11 col11Body" style="padding-top: 50px">
                    <h4 class="titulosForm">Servicio Solicitado</h4>
                    <!-- Propósito -->
                    <div class="form-group" id="obtenerPropositoServicio">
                      <label class="form-group" id="numRegistro" style="margin-bottom: 0px" style="">Propósito del Servicio</label>
                      <select type="select" class="form-control" id="propositoServicio" name="propositoServicio" onchange="placeholder_descripcion_proposito(this.value, 'Seleccionado')" required>
                          <option selected value="" hidden>Propósito</option>
                            {{for proposito in servicio_solicitud.propositos_a_mostrar:}}
                              <option value="{{=proposito.id}}">{{=proposito.tipo}}</option>
                            {{pass}}
                      </select>
                    </div>

                    <!-- Descripcion propósito -->
                    <div class="form-group">
                        <label class="form-group" id="numRegistro" style="margin-bottom: 0px">Descripción del Propósito del Servicio</label>
                        <textarea rows="1" cols="5" id="descripcionPropositoSeleccionado" class="form-control" name="propositoDescripcion" placeholder="" required></textarea>
                    </div>


                    <!-- Observ -->
                    <div class="form-group">
                      <label class="form-group" id="numRegistro" style="margin-bottom: 8px">Observaciones</label>
                      <textarea rows="1" cols="5" class="form-control" type="textarea" id="descrip" name="descripcionSolicitud" placeholder="Fecha y Hora para Ejecutar el Servicio"></textarea>
                    </div>
                  </div>
                </div> 
                <button type="button" class="btn btn-previous botonForm">Anterior</button>
                <button type="button" class="btn btn-next botonForm">Siguiente</button>
              </fieldset>
              <!-- Fin Tercer Paso -->

              <!-- Cuarto Paso -->
              <fieldset class="formField">
                <div class="form-row" data-step="4" data-title="Cuarto Paso">
                  <!-- Aqui va la barra lateral -->
                  <div class="col-sm-1 col1Body">
                    <span class="step">1</span>
                    <span class="step">2</span>
                    <span class="step">3</span>
                    <span class="step activePass">4</span> 
                  </div>

                  <!-- Aqui va la informacion -->
                  <div class="col-sm-11 col11Body col11Body3" id="obtenerDependenciaEjecutora">
                    <h4 class="titulosForm">Datos de la Dependencia Ejecutora</h4>
                    <!-- Dependencia Ejecutora del Servicio -->
                    <div class="form-group">
                        <label class="form-group" id="numRegistro" style="margin-bottom: 0px; float:left;">Nombre</label>
                        <input type="text" class="form-control" id="" name="dependenciaEjecutoraServicio" value="{{=servicio_solicitud.seccion}}" required readonly>
                    </div>
                    <div class="form-group">
                        <label class="form-group" id="numRegistro" style="margin-bottom: 0px; padding-right: 345px;">Unidad de Adscripción</label>
                        <input type="text" class="form-control" id="" name="jefeDependenciaEjecutoraServicio" value="{{=servicio_solicitud.laboratorio}}" required readonly>
                    </div>

                    <!-- Jefe Dependencia Ejecutora del Servicio -->
                    <div class="form-group">
                      <label class="form-group" id="numRegistro" style="margin-bottom: 0px; float:left;" style="">Responsable de la Dependencia Ejecutora</label>
                        <input type="text" class="form-control" id="" name="jefeDependenciaEjecutoraServicio" value="{{=servicio_solicitud.jefe_dependencia}} | {{=servicio_solicitud.email_jefe_dependencia}}" required readonly>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-previous botonForm">Anterior</button>
                <button type="submit button" form="formularioEdit" id="submit" class="btn btn-submit botonForm">Agregar</button>                      
              </fieldset>
              <!-- Fin Cuarto Paso -->
            </form>
            <!-- Fin Form -->
          </div>
        </div>               
      </div>
      <!-- Fin Modal Body -->
    </div>
    <!-- Fin Modal content-->
  </div>
</div>
<!-- Fin Modal Solicitar Servicio Seleccionado-->


<script>
    $(document).ready(function(){
        document.getElementById("solicito").click();
    });

</script>

{{pass}}


<!-- Ajax abrirFicha -->
<input type="hidden" id="solicitud" name="solicitud" value="">
<input type="hidden" id="tipoSolicitud" name="tipoSolicitud" value="">

<!-- Inicio Modal ficha de Servicio -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div id="ficha" class="modal-content">
      </div>

    </div>
  </div>
<!-- Fin Modal ficha de servicio -->

<!-- Ajax obtenerServicio -->
<input type="hidden" id="envioCategoria" name="categoria" value="">
<input type="hidden" id="envioTipo" name="tipo" value="">

<!-- Ajax obtener proposito servicio -->
<input type="hidden" id="envioNombreServicio" name="idServicio" value="">

<!-- Ajax obtener datos servicio -->
<input type="hidden" id="envioNombreServicio2" name="idServicio2" value="">

<!-- Ajax JavaScript-->
<script type="text/javascript">

  function abrirFicha(solicitud, tipo_solicitud) {
    var x = document.getElementById("solicitud");
      x.value = solicitud;

    var y = document.getElementById("tipoSolicitud");
      y.value = tipo_solicitud;

    ajax('ajax_ficha_solicitud', ['solicitud', 'tipoSolicitud'], "ficha");
  }

  function getServicio(){
    var opciones_categoria = document.getElementById("sel1");
    var opciones_tipo = document.getElementById("sel2");
    var categoria_elegida = opciones_categoria.options[opciones_categoria.selectedIndex].value;
    var tipo_elegido = opciones_tipo.options[opciones_tipo.selectedIndex].value;

    if (categoria_elegida == ""){
      return;
    }

    if (tipo_elegido == "") {
      return;
    }

    var x = document.getElementById("envioCategoria");
      x.value = categoria_elegida;

    var y = document.getElementById("envioTipo");
      y.value = tipo_elegido;  

    ajax('ajax_obtener_nombre_servicio', ['categoria', 'tipo'], "obtenerNombreServicio");
  }

  function getProposito(){
    var opcion_servicio = document.getElementById("sel3");
    var servicio_seleccionado = opcion_servicio.options[opcion_servicio.selectedIndex].value;

    var x = document.getElementById("envioNombreServicio");
    x.value = servicio_seleccionado;

    ajax('ajax_obtener_proposito_servicio', ['idServicio'], "obtenerPropositoServicio")
  }

  function getDatosDepenEjecutora(){
    var opcion_servicio = document.getElementById("sel3");
    var servicio_seleccionado = opcion_servicio.options[opcion_servicio.selectedIndex].value;

    var x = document.getElementById("envioNombreServicio2");
    x.value = servicio_seleccionado;

    ajax('ajax_obtener_datos_depen_ejecutora', ['idServicio2'], "obtenerDependenciaEjecutora")
  }

  function placeholder_descripcion_proposito(value, seleccionado) {

    if (seleccionado == "Ninguno") {
      var x = document.getElementById("descripcionProposito")
    } else {
      var x = document.getElementById("descripcionPropositoSeleccionado")
    }

    if (value == "1") {
      x.placeholder = "Código de la Materia"

    }else if (value == "2") {
      x.placeholder = "Código del Proyecto"

    }else if (value == "3") {
      x.placeholder = "Código de Solicitud / Orden de Servicio y Cliente Final"

    }else if (value == "4") {
      x.placeholder = "Operatividad de la Dependencia"

    }
  }

  st_solic_generadas = 1;
  st_solic_recibidas = 1;
  function change_status_list(list){
    if (list == '#solic-generadas'){
      if (st_solic_generadas == 1){
          $('#solic-generadas').hide();
          st_solic_generadas = 0;
          $('#solic-generadas-caret').removeClass('fa-caret-up');
          $('#solic-generadas-caret').addClass('fa-caret-down');
        }
      else {
        $('#solic-generadas').show();
        st_solic_generadas = 1;
        $('#solic-generadas-caret').removeClass('fa-caret-down');
        $('#solic-generadas-caret').addClass('fa-caret-up');
      }
    }
    else if (list == '#solic-recibidas'){
      if (st_solic_recibidas == 1){
        $('#solic-recibidas').hide();
        st_solic_recibidas = 0;
          $('#solic-recibidas-caret').removeClass('fa-caret-up');
          $('#solic-recibidas-caret').addClass('fa-caret-down');

      }
      else{
        $('#solic-recibidas').show();
        st_solic_recibidas = 1;
        $('#solic-recibidas-caret').removeClass('fa-caret-down');
        $('#solic-recibidas-caret').addClass('fa-caret-up');
      }
    }
  }
</script>

<!-- Validador de inputs del modal de Solicitud de un Servicio -->
<script src="{{=URL('static', 'js/servicios_template_modal.js')}}"></script>

<!-- Datatables-->
<script src="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.bootstrap.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/jszip.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.js')}}"></script>



<!-- Datatable init js -->
<script src="{{=URL('static', 'plugins/datatables/datatables.init.js')}}"></script>

<!-- Script Datatable Solicitudes Generadas-->
<script>

  var filtros1 = false;

  $(document).ready(function() {
      // Setup - add a text input to each footer cell
      $('#datatable1 tfoot th').each( function () {
          var title = $(this).text();
          $(this).html( '<input type="text" placeholder="Filtro" />' );
      } );
   
      // DataTable
      var table = $('#datatable1').DataTable();
   
      // Apply the search
      table.columns().every( function () {
          var that = this;
   
          $( 'input', this.footer() ).on( 'keyup change', function () {
              if ( that.search() !== this.value ) {
                  that
                      .search( this.value )
                      .draw();
              }
          } );
      } );

      $('#datatable1 tfoot tr').appendTo('#datatable1 thead');
      $("#datatable1 thead tr").not("#titulosListado").css("display","none");
  } );

  function mostrarFiltro1() {
      if (filtros1){
        $("#datatable1 thead tr").not("#titulosListado").css("display","none");
        filtros1 = false
      }
      else{
        $("#datatable1 thead tr").not("#titulosListado").css("display","table-row");
        filtros1 = true
      }

  }

  var table = $('#datatable1').DataTable({
    language: {
      url: "{{=URL('static', 'plugins/datatables/l18n/es-ES.json')}}"
    },
   initComplete: function(){
      var api = this.api();

      new $.fn.dataTable.Buttons(api, {
         buttons: [
            'copy', 'pdf', 'excel', 'csv', 'print'
         ]
      });
      api.buttons().container().appendTo('#buttons1');  
   }
  });

  var w2p_ajax_confirm_message =
        "{{=T('')}}";
</script>

<!-- Fin Script Datatable Solicitudes Generadas-->

<!-- Script Datatable Solicitudes Recibidas-->
<script>

  var filtros2 = false;

  $(document).ready(function() {
      // Setup - add a text input to each footer cell
      $('#datatable2 tfoot th').each( function () {
          var title = $(this).text();
          $(this).html( '<input type="text" placeholder="Filtro" />' );
      } );
   
      // DataTable
      var table = $('#datatable2').DataTable();
   
      // Apply the search
      table.columns().every( function () {
          var that = this;
   
          $( 'input', this.footer() ).on( 'keyup change', function () {
              if ( that.search() !== this.value ) {
                  that
                      .search( this.value )
                      .draw();
              }
          } );
      } );

      $('#datatable2 tfoot tr').appendTo('#datatable2 thead');
      $("#datatable2 thead tr").not("#titulosListado").css("display","none");
  } );

  function mostrarFiltro2() {
      if (filtros2){
        $("#datatable2 thead tr").not("#titulosListado").css("display","none");
        filtros2 = false
      }
      else{
        $("#datatable2 thead tr").not("#titulosListado").css("display","table-row");
        filtros2 = true
      }

  }

  var table = $('#datatable2').DataTable({
    language: {
      url: "{{=URL('static', 'plugins/datatables/l18n/es-ES.json')}}"
    },
   initComplete: function(){
      var api = this.api();

      new $.fn.dataTable.Buttons(api, {
         buttons: [
            'copy', 'pdf', 'excel', 'csv', 'print'
         ]
      });
      api.buttons().container().appendTo('#buttons2');  
   }
  });

  var w2p_ajax_confirm_message =
        "{{=T('')}}";
</script>

<!-- Fin Script Datatable Solicitudes Recibidas-->


{{end}}
