<!DOCTYPE html>
<html lang="es">
<head>
  <title>SIGULAB</title>    
  
  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="SIGULAB">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Avoid search sites from indexing this website -->
  <meta name="robots" content="noindex" />

  <link rel="icon" type="image/png" sizes="16x16" href="{{=URL('static', 'favicon.ico')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{=URL('static','css/servicios.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/loading.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/loading-btn.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/chosen.min.css')}}">
  <link rel="stylesheet" href="{{=URL('static','font-awesome-4.7.0/css/font-awesome.min.css')}}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


  <script src="{{=URL('static','js/jquery.min.js')}}"></script>
  <script src="{{=URL('static','js/jquery.mask.js')}}"></script>
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static', 'js/chosen.jquery.min.js')}}"></script>

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  {{block head}}
  {{end}} 
</head>
<body>

<!-- Barra de navegación principal -->
<div class="container" id="logo">
<a class="navbar-brand" href="{{=URL('..', 'sigulab2')}}"><div class="logotext">SIGULAB</div></a>
</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" id="hide" href="#"><div class="logotext">SIGULAB</div></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav">
            
            <li class="dropdown active-item" id="inicio">
              <a class="dropdown-toggle" href="{{=URL('..', 'sigulab2')}}">INICIO</a>
            </li>


            <li class="dropdown active-item" id="inf_doc">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">INFORMACIÓN DOCUMENTADA<span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="{{=URL('informacion_documentada', 'index')}}">Página Principal</a></li>
                  <li><a href="{{=URL('informacion_documentada', 'lista_documentos')}}">Control de Documentos</a></li>
                  <li><a href="{{=URL('informacion_documentada', 'lista_registros')}}">Control de Registros</a></li>
                 </ul>
            </li> 

            <li class="dropdown active-item" id="inventario">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">INVENTARIOS<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{=URL('inventarios', 'index')}}">Página Principal</a></li>
                  <li><a href="{{=URL('inventarios', 'bienes_muebles')}}">Bienes Muebles</a></li>
                  <li><a href="{{=URL('inventarios', 'material_lab')}}">Material de laboratorio</a></li>
                  <li><a href="{{=URL('inventarios', 'consumibles')}}">Consumibles</a></li>
                  <li><a href="{{=URL('inventarios', 'herramientas')}}">Herramientas</a></li>
                  <li><a href="{{=URL('inventarios', 'mantenimiento')}}">Mantenimiento</a></li>
                  <li><a href="{{=URL('inventarios', 'vehiculos')}}">Vehículos</a></li>
                  {{ if auth.has_membership("JEFE DE SECCIÓN") or auth.has_membership("JEFE DE LABORATORIO") \
                  or auth.has_membership("COORDINADOR") or auth.has_membership("DIRECTOR") or \
                  auth.has_membership("WEBMASTER"): }}
                  <li><a href="{{=URL('inventarios', 'validaciones')}}">Validaciones</a></li>
                  {{pass}}
                </ul>
              </li> 

            <li class="dropdown active-item" id="personal">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PERSONAL<span class="caret"></span></a>
              <ul class=" dropdown-menu">
                <li><a href="{{=URL('personal','index')}}">Página Principal</a></li>
                {{_personal = db(db.t_Personal.f_usuario == auth.user.id).select(db.t_Personal.ALL).first()}}
                <li><a href="{{=URL('personal','listado_estilo')}}">Listado General</a></li>
                <li><a href="{{=URL('personal','busqueda')}}">Búsqueda</a></li>
              </ul>
            </li>
            
            <li class="dropdown active-item" id="servicios">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICIOS<span class="caret"></span></a>
                <ul class=" dropdown-menu">
                <li><a href="{{=URL('servicios','index')}}">Página Principal</a></li>
                <li><a href="{{=URL('servicios','listado')}}">Listado de Servicios</a></li>
                <li><a href="{{=URL('servicios','solicitudes')}}">Solicitudes de Servicios</a></li>
                <li><a href="{{=URL('servicios','certificaciones')}}">Certificar un servicio</a></li>
                <li><a href="{{=URL('servicios','historial')}}">Historial de servicios</a></li>
                <li><a href="{{=URL('servicios','catalogoServicios')}}">Catálogo de Servicios</a></li>
              </ul>
            </li>

            <li class="dropdown active-item" id="smydp">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SMyDP<span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="{{=URL('smydp', 'index')}}">Página Principal</a></li>
                <li><a href="{{=URL('smydp', 'inventarios')}}">Inventario de sustancias</a></li>
                  <li><a href="{{=URL('smydp', 'catalogo')}}">Listado de Sustancias</a></li>
                  <li><a href="{{=URL('smydp', 'inventarios')}}">Inventario</a></li>
                  <li><a href="{{=URL('smydp', 'solicitudes')}}">Solicitudes</a></li>
                 </ul>
            </li> 
            
        </ul>

      <ul class="nav navbar-nav navbar-right">
       {{if session.validaciones_pendientes>0:}}
       <li class="dropdown">
          <div class="dropdown">
                <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="{{=session.validaciones_pendientes}} Fichas por Validar"><span id="iconoNotificacion" class=" btn btn-primary dropdown-toggle"><i class="fa fa-bell-o"></i></span></a>
          </div>
        </li>
       {{pass}}
       {{if session.ficha_negada: }}

        <li class="dropdown">
            <div class="dropdown">
                  <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Ficha Negada, revise su ficha"><span id="iconoNotificacion" class=" btn btn-primary dropdown-toggle"><i class="fa fa-bell-o"></i></span></a>
            </div>
          </li>
        {{pass}}

          
      {{if auth.has_membership('ADMINISTRADOR PERSONAL') \
        or auth.has_membership('WEBMASTER')\
        or auth.has_membership('DIRECTOR'): }}
        <li class="dropdown">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              <i id="iconoInfo" class="fa fa-cog" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a href="{{=URL('modulos','register')}}">Registrar Usuario</a></li>
              <li><a href="{{=URL('gestion','usuarios')}}">Usuarios Autorizados</a></li>
              <li><a href="{{=URL('gestion','dependencias')}}">Dependencias</a></li>
              <li><a href="{{=URL('gestion','espacios_fisicos')}}">Espacios Físicos</a></li>
              <li><a href="{{=URL('gestion','bitacora_general')}}">Bitácora</a></li>
            </ul>
          </div>
        </li>
        {{pass}}

        <li class="dropdown">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              <span id="iconoUser" class="glyphicon glyphicon-user dropdown-toggle"></span>
            </button>
            <ul class="dropdown-menu">
              <li>{{if auth.is_logged_in():}}<a href="{{=URL('modulos', 'editprofile', args='profile')}}">{{=auth.user.first_name}}  {{=auth.user.last_name}}</a>{{pass}}</li>
              <li><a href="{{=URL('modulos','logout')}}">Salir</a></li>
            </ul>
          </div>
        </li>
      </ul> 
     </div>
  </div>
</nav>
<!-- Fin de la barra de navegación principal -->
<div class="fondoblanco"></div> 
<div class="separador"></div>

{{block center}}
{{end}}

<script type="text/javascript">
  $(".seleccion-escrita").chosen({
    disable_search_threshold: 5, 
    width: '100%' 
  });
</script>

<script type="text/javascript">
  if(window.location.pathname.includes('personal')){
    $('li#personal').addClass("active");
  }
  else if (window.location.pathname.includes('servicios')){
    $('li#servicios').addClass("active");
  }
</script>
<script>
    $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
    $("#iconoNotificacion").popover

</script>
</body>
</html>
