<!DOCTYPE html>
<html lang="en">
<head>
  <title>SIGULAB</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{=URL('static','css/servicios.css')}}">
  <link rel="stylesheet" href="{{=URL('static','font-awesome-4.7.0/css/font-awesome.min.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{=URL('static', 'js/web2py.js')}}"></script>
    {{block head}}
    {{end}} 
</head>
<body>

<!-- Barra de navegación principal -->
<div class="container" id="logo">
<a class="navbar-brand" href="{{=URL('..', 'sigulab2')}}"><div class="logotext">SIGULAB</div></a>
</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" id="hide" href="#"><div class="logotext">SIGULAB</div></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav">
            <li class="dropdown"><a href="{{=URL('..', 'sigulab2', 'modulos')}}">INICIO</a></li>


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PERSONAL<span class="caret"></span></a>
              <ul class=" dropdown-menu">
                <li><a href="#">Vacio</a></li>
                <li><a href="#">Vacio</a></li>
                <li><a href="#">Vacio</a></li>
              </ul>
            </li>
            

            <li class="dropdown servici active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICIOS<span class="caret"></span></a>
                <ul class=" dropdown-menu">
                <li><a href="{{=URL('servicios','index')}}">Pagina Principal</a></li>
                <li><a href="{{=URL('servicios','listado')}}">Listado de Servicios</a></li>
                <li><a href="{{=URL('servicios','solicitudes')}}">Solicitudes de Servicios</a></li>
                <li><a href="#">Certificar un servicio</a></li>
                <li><a href="#">Historial de servicios</a></li>
              </ul>
            </li>
        </ul>


      <ul class="nav navbar-nav navbar-right">
      {{if auth.has_membership('Administrador Personal') \
        or auth.has_membership('WebMaster')\
        or auth.has_membership('Director'): }}
        <li class="dropdown">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              <i id="iconoInfo" class="fa fa-info-circle" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a href="{{=URL('gestion','usuarios')}}">Usuarios</a></li>
              <li><a href="{{=URL('gestion','dependencias')}}">Dependencias</a></li>
            </ul>
          </div>
        </li>
        {{pass}}

        <li class="dropdown">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              <span id="iconoUser" class="glyphicon glyphicon-user dropdown-toggle"></span>
            </button>
            <ul class="dropdown-menu">
              <li>{{if auth.is_logged_in():}}<a href="{{=URL('modulos', 'editprofile', args='profile')}}">{{=auth.user.first_name}}  {{=auth.user.last_name}}</a>{{pass}}</li>
              <li><a href="{{=URL('modulos','logout')}}">Salir</a></li>
            </ul>
          </div>
        </li>
      </ul> 
     </div>
  </div>
</nav>
<!-- Fin de la barra de navegación principal -->

<div class="fondoblanco"></div> 
<div class="separador"></div>

    {{block center}}
    {{end}}
</body>
</html>