select{ 
	border-top: 0px !important;
	border-left: 0px !important;
	border-right: 0px !important;
	box-shadow: none !important;
	border-radius: 0px !important;
	border-bottom-width: 2px !important;
	background-color: transparent !important;

}



th input[type=text]{ 
	border-top: 0px !important;
	border-left: 0px !important;
	border-right: 0px !important;
	box-shadow: none !important;
	border-bottom-width: 2px !important;
	border-radius: 0px;
	background-color: transparent;
	height: 35px !important;
	width: 100%;
}

th {
	width: 150px;
}

#datatable_length select {
	height: 30px;
}

#collapseFiltros, #collapseFiltros2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

#columnBotonAgregar {
	text-align: right;
}

.botonesListado {
	background-color: #337ab7; 
	border-color: #337ab7;
	color: white;
	border-radius: 50%;
}

.botonesListado:hover {
	color: white;
	border-radius: 50%;
}

#containerAgregar{
	margin-top: -30px;
}

#listadoContainer {
	padding-top: 25px;
}

.tablaListado {
 border: 1.5px !important; 
 border-style: solid !important; 
 border-color: #ddd !important;
}

#titulosListado {
	background-color: #505050;
}

.camposTabla {
	text-align: center;
}

.linksNombres {
	color: white;
}

.linksNombres:hover {
	color: rgba(6, 164, 252, 1);
	text-decoration: none;
}

.filtros {
	width: 200px;
}

#filtroInput {
	margin-left: 100px;
}

#input-apellido {
	margin-bottom: 10px;
}

#input-email{
	margin-bottom: 10px;
}


#input-telefono{
	margin-bottom: 10px;
}

#input-pagina{
	margin-bottom: 10px;
}

.botones-form{
	float: right;
}

#sel1, #sel2, #sel3 {
	margin-bottom: 10px;
}

#input-egreso, #input-ingreso{
	padding-right:0px;
}

th {
	background: #337ab7;
}

.datepicker th {
	background: transparent;
}

#datatable1_filter, #datatable2_filter{
	text-align: left !important;
	float: left !important;
	margin: 15px;
	border-collapse: collapse;
}

.dt-buttons {
	float: right !important;
	padding-right: 0 !important;
	bottom: 0 !important;
	margin-top: 1.8%;

}

.dataTables_info{
	border-collapse: collapse;
	float: right !important;
	text-align: right;
}

.paginate_button{
	padding: 0 !important;
	margin: 0 !important;
}


#icono_mensaje_notificacion{
	background-color: transparent !important;
}

#mensaje_notificacion{
	border: red;
	border-width: 3px;
	border-style: solid;
	padding: 1%;
	margin: 1%;
}

.fs-wrap {
	display: block;
	font-size: 16px;
}

.fs-label-wrap, .fs-wrap {
	height: 50px;
	position: relative;
	width: 100%;
	border: none;
	border-bottom: 3px solid #ddd;
}

.fs-label {
	position: absolute;
	color: #888;
	margin: auto;
	top: 50%;
    transform: translateY(-50%);
}

.boton-sigulab {
    background-color: #337ab7 !important;
    margin: 0 !important;
}

#example_filter {
	float: left;
	text-align: left;
}

#dt-button{
	padding-bottom: 5px;

}
