body {
	background: linear-gradient(
	rgba(20,20,20, 0.5), 
	rgba(20,20,20, 0.5)), url("../images/background.jpg") center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
	padding-bottom:0px !important;
} 

.cabecera {
	margin-top: 20px;
}

.boxes {
	background-color: #606060;
}

#boxLogin {
	margin-top: 50px !important;
	opacity: 0.9;
}

#boxRegister {
	margin-top: 40px !important;
}

#boxResetPassword {
	margin-top: 120px !important;
}

#titulo {
	color: white;
}

#mensaje {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
}

#instruccion {
	margin-top: 0px;
	color: white;
}

.botones {
	width: 100%;
	border-radius: 7px;
	margin-right: 50px;
}


.pagina {
	margin-top: 20px !important; 
	margin-bottom: 0px !important;
}

.authdiv{
	color:white;
	padding-left:0px;
}
