@media only screen and (min-width: 767px) { 

	#titulo {
		text-align: center;
		color:white;
	}

	.links {
		text-decoration: none;
		color: white;
	}

	.links:hover {
		color: lightgrey;
	}

	.cuadrados {
		padding: 110px 90px 110px 90px;
		background-color: blue;
		text-align: center;
		margin-top: 120px;
		border-radius: 7px;
	}

	#cuadrado1 {
		background-color: #808080;
		opacity: 0.9;
	}

	#cuadrado2 {
		background-color: #303f9f;
		opacity: 0.9;
	}

}

@media only screen and (max-width: 767px) { 

	#titulo {
		text-align: center;
		color:white;
	}

	.links {
		text-decoration: none;
		color: white;
	}

	.links:hover {
		color: lightgrey;
	}

	.cuadrados {
		padding: 110px 90px 110px 90px;
		background-color: blue;
		text-align: center;
		margin-top: 15px;
		border-radius: 7px;
	}

	#cuadrado1 {
		background-color: #808080;
	}

	#cuadrado2 {
		background-color: #303f9f;
	}
}

.login-pages {
background: linear-gradient(
	rgba(20,20,20, 0.5), 
	rgba(20,20,20, 0.5)), url("../images/background.jpg") center;;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
}

