.columnas {
	text-align: center;
}

#tituloBienvenida {
	text-align: center;
}

.iconos {
	width: 65px;
}

.opciones {
	text-align: center;
}

#fila2 {
	padding: 30px 0 60px 0;
}

.columnas>a:hover {
	color: #0300d7;
	text-decoration: none;
}

.columnas>a {
	color: black;
}


@media only screen and (max-width: 767px) {

	#main {
		margin-top: 0;
	}

	#fila1 {
		padding: 0 0 20px 0;
	}

	#fila2 {
		padding: 30px 0 10px 0;
	}

}

