/* Estilos del inventario de sustancias */

.icono_regresar {
	width: 40px;
}

@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}

button{
	border-radius: 50% !important;
}

#datatable_length{
	text-align: left;
}

.buttons-html5, .buttons-print{
    border-radius: 50%;
	background-color: #337ab7;
    border-color: #2e6da4;
    color:#fff;
}

.buttons-html5, .buttons-copy{
    border-radius: 50% 50%;
    background-color: #337ab7;
    border-color: #2e6da4;
    color:#fff;
}

div.row.pull-left.boton-retroceder{
	padding: 0px 15px;
}

div.col-lg-1.boton-retroceder{
	border-radius: 50%;
	color: white;
	background-color: #337ab7;
}

div.col-lg-1.boton-retroceder > a, div.col-lg-1.boton-retroceder > a.boton {
	color: white;
	text-decoration: none;
	padding: 5px;
}

th.camposTabla, td.camposTabla{
	text-align: center;
}

h3{
    font-size: 2em;
}       

/* Para subir el titulo y la flecha de retorno */
.separador{
	height: 100px;
}

.titulo{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.inicio-titulo{
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #464646;
	font-size: 22px;
}

.dep-titulo{
	text-transform: uppercase;
	text-align: center;
	color: #464646;
}

.iconos {
	text-align: center;
	height: 64px;
	width: 64px;
}

.boton-retorno{
	text-align: center;
	border-color: #464646;
	padding-left: 20px;
}

.columnas {
	text-align: center;
	padding-bottom: 20px;
}

.dependencia{
	padding: 50px 2px;
	margin: 0 5px 0 5px;
	background-color: #03A5FE;
	color: #F0F0F0;
	box-shadow: 10px 10px 10px #B1B1B1;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.dependencia:hover{
	background-color: #E1E1E1;
	color: #606060;
	transition-timing-function: linear;
	transition-duration: 0.25s;
}

a[class="dependencia"]{
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none !important;
}

.opciones {
	text-align: center;
	color: #606060;
}

div.col-sm-9 {
	padding: 0px auto;
	width: 50%;
}

.form-control-static {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.control-label {
	padding: 0px !important;
}

.form-horizontal.web2py_form {
	width: 80%;
	margin: 0px auto;
}

.botones-edicion {
	margin: 30px;
}

select.select-envases {
	width: 100%;
}

div.row.opciones-modal-footer{
	display: flex !important;
	flex-flow: row !important;
	align-content: center !important;
	justify-content: space-between;
}

div.modal-envases-footer {
	margin: 15px auto;
}

div.row.fila-detalle-envase {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	width: 50%;
	padding: 5px 0px;
}

div.row.contenedor-filas-detalle-envase {
	display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}