
.columnas {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.caja{
	padding: 50px 0 50px 0;
	margin: 0 5px 0 5px;
	background-color: #03A5FE;
	box-shadow: 10px 10px 10px #B1B1B1;
}

.caja:hover {
	background-color: #E1E1E1;
	color: #606060;
	transition-timing-function: linear;
	transition-duration: 0.25s;
}

.dependencia{
	margin: 0;
	font-weight: bold;
    text-transform: uppercase;
}

.opciones {
	text-align: center;
	color: #606060;
}

a {
	color: #F0F0F0;
	display: block !important;
    height: 100% !important;
    width: 100% !important;
	text-decoration: inherit !important;
}

a:hover
{
    color: #606060;
}