/* Estilos del inventario de sustancias */

.icono_regresar {
	width: 40px;
}

@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}

h3{
    font-size: 2em;
}       

/* Para subir el titulo y la flecha de retorno */
.separador{
	height: 100px;
}

.titulo{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.dep-titulo{
	text-transform: uppercase;
	text-align: center;
	color: #464646;
}

.boton-retorno{
	text-align: center;
	border-color: #464646;
	padding-left: 20px;
	border-radius: 50%;
}

.columnas {
	text-align: center;
	padding-bottom: 20px;
}

.dependencia{
	padding: 50px 2px;
	margin: 0 5px 0 5px;
	background-color: #03A5FE;
	color: #F0F0F0;
	box-shadow: 10px 10px 10px #B1B1B1;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.dependencia:hover{
	background-color: #E1E1E1;
	color: #606060;
	transition-timing-function: linear;
	transition-duration: 0.25s;
}

a[class="dependencia"]{
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none !important;
}

.opciones {
	text-align: center;
	color: #606060;
}