/* Estilos del inventario de sustancias */

.icono_regresar {
	width: 40px;
}

@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}

div.col-xs-2.boton-retorno2 {
	padding: 0px;
}

a.boton-retorno {
	text-align: center;
	color: white;
	margin-top: 20px;
	padding: 9.5px 12px;
	background-color: #337ab7;
	border-radius: 100%;	
	font-size: 20px;
}

a.boton-retorno2 {
	text-align: center;
	color: white;
	padding: 9.5px 12px;
	background-color: #337ab7;
	border-radius: 100%;	
	font-size: 20px;
	float:left;
	margin-top:0px;
}

th.camposTabla.linksNombres.sorting_asc{
	width: 100px !important;
}

.buttons-html5, .buttons-print{
    border-radius: 50%;
	background-color: #337ab7;
    border-color: #337ab7;
    color:#fff;
}

a.btn.btn-default.boton-sigulab{
    border-radius: 50%;
    background-color:#337ab7;
    color:#fff;
}

.buttons-html5, .buttons-copy, .boton-sigulab.dropDown{
    border-radius: 50%;
	background-color: #337ab7;
    border-color: #337ab7;
	color:#fff;
}

ul.dt-button-collection.dropdown-menu > li {
	background-color: white;
}

.titulo-modal-desecho{
	color: white !important;
	padding-left: 12px;
    padding-top: 12px;
	text-align: left;
}


h3{
    font-size: 2em;
}       

/* Para subir el titulo y la flecha de retorno */
.separador{
	height: 100px;
}

.titulo{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	padding-left: 0px;
}

.titulo2{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.inicio-titulo{
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #464646;
	font-size: 22px;
}

.subtitulo {
	text-align: center; 
	font-weight: bold; 
	font-size: 20px;
}

.dep-titulo{
	text-transform: uppercase;
	text-align: center;
	color: #464646;
	font-size: 16px;
}

.iconos {
	text-align: center;
	height: 80px;
	width: 80px;
}

.boton-retorno{
	text-align: center;
	border-color: #464646;
	margin: -7px auto;
}

.boton-retorno2{
	text-align: center;
	border-color: #464646;
	margin: 22px auto;
}

.columnas {
	text-align: center;
	padding-bottom: 10px;
	padding-right: 0px;
}

.dependencia{
	padding: 20px;
	margin: 0 2px 0 2px;
	background-color: #337AB7;
	color: #F0F0F0;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 13px;
}

.dependencia:hover{
	background-color: #E1E1E1;
	color: #606060;
	transition-timing-function: linear;
	transition-duration: 0.25s;
}

a[class="dependencia"]{
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none !important;
}

.opciones {
	text-align: center;
	color: #606060;
}

.agregar {
	border-radius: 100%;	
	float: right;
	font-size: 20px;
	margin: 22px 20px 0px 0px;
	color: white;
	text-align: center;
}

.grid-container-ef {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 20px;
    justify-content: center;
}

.grid-container {
    display: grid;
    width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px;
    justify-content: center;
  }
  .grid-item {
    color: white;
    font-size: 13px;
    padding: 20px;
    background: #337ab7;
    text-align: center;
  }

  .grid-item:hover{
	background-color: #E1E1E1;
	color: #606060;
	transition-timing-function: linear;
    transition-duration: 0.25s;
    cursor: pointer;
    }

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    @keyframes fadeOut {
        0% {opacity: 1;}
        100% {opacity: 0;} 
	}

	div.row.fila-detalle-envase {
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
		width: 50%;
		padding: 5px 0px;
	}
	
	div.row.contenedor-filas-detalle-envase {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
