/* Permite agregar estilos especificos del listado de sustancias en el inventario de un espacio fisico */


/* Estilos de inventario_espacio.html */ 

.field-error{
	color:#B70101;
}

.buttons-html5, .buttons-print{
    border-radius: 50%;
	background-color: #337ab7;
    border-color: #337ab7;
    color:#fff;
}

.buttons-html5, .buttons-copy{
    border-radius: 50%;
	background-color: #337ab7;
    border-color: #337ab7;
	color:#fff;
}