/* Permite agregar estilos especificos del listado de sustancias en el inventario de una dependencia */
@media only screen and (min-width: 768px){ 
	#inventario-dependencia{
		padding-bottom: 270px;
	}
}

@media only screen and (max-width: 767px){ 

	#inventario-dependencia{
		padding-bottom: 100px;
	}

}

.buttons-html5, .buttons-print{
    border-radius: 50%;
	background-color: #337ab7;
    border-color: #337ab7;
    color:#fff;
}

.buttons-html5, .buttons-copy{
    border-radius: 50%;
	background-color: #337ab7;
    border-color: #337ab7;
	color:#fff;
}