.buttons-html5, .buttons-print{
    border-radius: 50%;
	background-color: #337ab7;
    border-color: #337ab7;
    color:#fff;
}

.buttons-html5, .buttons-copy{
    border-radius: 50%;
	background-color: #337ab7;
    border-color: #337ab7;
	color:#fff;
}

.columnas {
	text-align: center;
}

#tituloBienvenida {
	text-align: center;
}

.iconos {
	height: 50%;
	width: 50%;
}

.opciones {
	text-align: center;
	color: #606060;
}

.opciones:hover {
	color: #909090;
}

#fila2 {
	padding: 30px 0 60px 0;
	margin-top: 50px;
}

.columnas>a:hover {
	color: #0300d7;
	text-decoration: none;
}

.columnas>a {
	color: black;
}


@media only screen and (max-width: 767px) {

	#main {
		margin-top: 0;
	}

	#fila1 {
		padding: 0 0 20px 0;
	}

	#fila2 {
		padding: 30px 0 10px 0;
	}

}
