{{extend 'layout.html'}}
{{block head}}
  <link rel="stylesheet" href="{{=URL('static', 'css/web2py-bootstrap3.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/main.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/web2py.css')}}">
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static', 'js/modernizr-2.8.3.min.js')}}"></script>
{{end block}}

{{block center}}
<body>
<!-- Bloque de navegación secundaria (breadcrumb) -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('default','index')}}">Inicio</a>
  <a class="breadcrumb-item" href="#">Gestión</a>
  <span class="breadcrumb-item active">Dependencias</span>
  </div>
</nav>
<!-- Fin del bloque de navegación secundaria (breadcrumb) -->
<!-- Inicio Listado -->
{{=table}}
</body>
{{end block}}