input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.grid-container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
  }
  .grid-item {
    color: white;
    font-size: 15px;
    padding: 20px;
    background: #337ab7;
    text-align: center;
  }

  .grid-item:hover{
	background-color: #E1E1E1;
	color: #606060;
	transition-timing-function: linear;
    transition-duration: 0.25s;
    cursor: pointer;
    }