
.grid-container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 30% 70%;
    justify-content: center;
}
  .grid-item {
    font-size: 18px;
    text-align: left;
    border-bottom: 1px solid grey;  
  }

  .boton-sigulab{
    background-color: #337ab7 !important;
    color: white !important;
    background-image: none !important;
}

.boton-sigulab:hover{
    color: black !important;
    background-color: #e9e9e9 !important;
  }