{{extend "layout.html"}}

{{block head}}
  
  <!-- DataTables -->
  <link href="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/servicios_modal.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_listado.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/smydp_bitacora.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_template_modal.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventarios_desechos.css')}}">
  
  <script src="{{=URL('static', 'js/servicios_template_modal.js')}}"></script>

  <!-- Web2py JS - Especialmente para AJAX -->
  <script src="{{=URL('static', 'js/web2py.js')}}"></script>
  <style>
    .row{
      margin-right:0px!important;
    }
  </style>
{{end}}

{{block center}}

<!-- Breadcrumb de navegación -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
    <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
    <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp')}}">SMyDP</a>
    <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp/desechos')}}">DP</a>
    <a class="breadcrumb-item active" href="{{=URL('..', 'sigulab2', 'smydp/inventarios_desechos')}}">Inventarios</a>
    <a class="breadcrumb-item active" href="{{=URL('..', 'sigulab2', 'smydp/inventarios_desechos', vars=dict(dependencia=espacio_id, es_espacio='True'))}}">{{=espacio_nombre}}</a>
    <span class="breadcrumb-item active">Bitácora</span>
  </div>
</nav>
<!-- Fin del Breadcrumb de navegación --> 

<!-- Inicio Listado -->
<div id="inventario-dependencia" class="container titulo">
		<div class="col-xs-2 boton-retorno">
        <p class="padre dep-titulo"> {{=espacio_nombre}} </p>
        <a class="boton" href="{{=URL('inventarios_desechos', vars=dict(dependencia=espacio_id, retroceder=retroceder))}}">
		    		<i class="fa fa-arrow-left"></i>
        </a>
      </div>
<div class="row">
  <div>
    <div class="row text-center">
              <img class="iconos" src="{{=URL('static', 'images/bitacora_desechos.jpeg')}}">
    </div>
    <div class="row">
      <h3 id="titulo" class="titulos">{{=espacio_nombre}} - Bitácora</h3>
       <h3 id="subtitulo" class="titulos"> {{=composicion}} ({{=espacio_nombre}})</h3>
      </div>
    </div>

    <div class="row">
      <div id="buttons" class="pull-right">
        <button type="button" id="botonAgregar" class="btn btn-primary buttons-html5" data-toggle="modal" data-target="#addregister">
          <i class="fa fa-plus-circle"></i>
        </button>
        <!-- Filtrado -->
        <button type="button" id="filtrar" onclick="mostrarFiltro()" class="btn btn-default buttons-html5">
          <i class="fa fa-filter"></i>
        </button>
        <!-- Filtrado -->
      </div>
    </div>
    <br>

    <div class="table-responsive no-padding no-margin">
      <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
        <thead>
            <tr id="titulosListado">
                <th class="camposTabla linksNombres">Fecha</th>
                <th class="camposTabla linksNombres">Descripción</th>
                <th class="camposTabla linksNombres">Cantidad generada ({{=unidad_medida}})</th>
                <th class="camposTabla linksNombres">Cantidad retirada ({{=unidad_medida}})</th>
                <th class="camposTabla linksNombres">Saldo ({{=unidad_medida}})</th>
                <th class="camposTabla linksNombres">Responsable</th>
            </tr>
        </thead>

        <tbody>
          {{for registro in bitacora:}}
          
            {{fecha = registro.t_Bitacora_desechos.created_on.strftime("%d/%m/%Y %H:%M:%S").split(" ")}}
            <tr>
              <td class="camposTabla">{{=fecha[0]}}</td>
              <td class="camposTabla">{{=registro['t_Bitacora_desechos']['descripcion']}}</td>
              <td class="camposTabla">{{=registro['t_Bitacora_desechos']['cantidad_generada']}} {{=unidad_medida}}</td>
              <td class="camposTabla">{{=registro['t_Bitacora_desechos']['cantidad_retirada']}} {{=unidad_medida}}</td>
              <td class="camposTabla">{{=registro['t_Bitacora_desechos']['saldo']}} {{=unidad_medida}}</td>
              <td class="camposTabla">{{=registro['auth_user']['first_name']}} {{=registro['auth_user']['last_name']}}</td>
            </tr>
          {{pass}}
        </tbody>

        <tfoot id="collapseFiltros">
            <tr>
                <th class="camposTabla linksNombres">Fecha</th>
                <th class="camposTabla linksNombres">Descripción</th>
                <th class="camposTabla linksNombres">Cantidad generada ({{=unidad_medida}})</th>
                <th class="camposTabla linksNombres">Cantidad retirada ({{=unidad_medida}})</th>
                <th class="camposTabla linksNombres">Saldo ({{=unidad_medida}})</th>
                <th class="camposTabla linksNombres">Responsable</th>
            </tr>
        </tfoot>

      </table>
    </div>
  </div>
</div>  
<!-- Fin Listado --> 

<!-- Modal para agregar un registro a la bitacora --> 

<!-- Datatables-->
<script src="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.bootstrap.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/jszip.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.js')}}"></script>



<!-- Datatable init js -->
<script src="{{=URL('static', 'plugins/datatables/datatables.init.js')}}"></script>
<script>

  var filtros = false;

  $(document).ready(function() {
      // Setup - add a text input to each footer cell
      $('#datatable tfoot th').each( function () {
          var title = $(this).text();
          $(this).html( '<input type="text" placeholder="Filtro" />' );
      } );
   
      // DataTable
      var table = $('#datatable').DataTable();
   
      // Apply the search
      table.columns().every( function () {
          var that = this;
   
          $( 'input', this.footer() ).on( 'keyup change', function () {
              if ( that.search() !== this.value ) {
                  that
                      .search( this.value )
                      .draw();
              }
          } );
      } );

      $('#datatable tfoot tr').appendTo('#datatable thead');
      $("#datatable thead tr").not("#titulosListado").css("display","none");
  } );

  function mostrarFiltro() {
      if (filtros){
        $("#datatable thead tr").not("#titulosListado").css("display","none");
        filtros = false
      }
      else{
        $("#datatable thead tr").not("#titulosListado").css("display","table-row");
        filtros = true
      }

  }
</script>
 
<script language="javascript">
  var table = $('#datatable').DataTable({
    "dom": "<'row buscar'<'col-md-1'f>>" + "<'row'<'col-md-8'l><'col-md-4'i>>" + "<'row'rt>" + "<'row'<'col-md-12'p>>",
    language: {
      url: "{{=URL('static', 'plugins/datatables/l18n/es-ES.json')}}"
    },
    initComplete: function () {
      var api = this.api();

      new $.fn.dataTable.Buttons(api, {
        buttons: [
          { extend: 'copy', text: "Copiar" }, 'pdf', 'excel', 'print'
        ]
      });
      api.buttons().container().appendTo('#buttons');
      $('.buttons-pdf').html('<span class="glyphicon glyphicon-file" data-toggle="tooltip" title="Export To PDF"/>');
      $('.buttons-print').html('<span class="glyphicon glyphicon-print" data-toggle="tooltip" title="Print"/>');
      $('.buttons-copy').html('<span class="glyphicon glyphicon-copy" data-toggle="tooltip" title="Copy"/>');
      $('.buttons-excel').html('<span class="glyphicon glyphicon-floppy-disk" data-toggle="tooltip" title="Copy"/>');
      $('#datatable_previous').html('<span class="fa fa-arrow-left" title="Anterior"/>');
      $('#datatable_next').html('<span class="fa fa-arrow-right" title="Siguiente"/>');
      $('#buttons').style.textAlign = "right";
    }

  });
  var w2p_ajax_confirm_message =
    "{{=T('')}}";

</script>
{{end}}

