  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel="stylesheet" href="{{=URL('static', 'css/smydp_bitacora_modal.css')}}">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $( function() {
      var d1=$( "#datepicker" ).datepicker({maxDate:'0'});
      $( "#datepicker2" ).datepicker({maxDate:'0'});
    } );
  </script>

<script>
  $( function() {
    var d1=$( "#datepickerUso" ).datepicker({maxDate:'0'});
    $( "#datepicker2Uso" ).datepicker({maxDate:'0'});
  } );
</script>

  <div class="modal fade" id="addregister" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header addHeader">
          <div class="row addRow" id="rowHeader">
            <div class="col-sm-1" id="col1Header">
              <div class="container" id="plus">
                <h1 id="agregar">+</h1>
              </div>
            </div>
            <div class="col-sm-11" id="col11Header">
              <h4 class="modal-title" id="nuevoServicio">Nuevo Registro</h4>
            </div>
          </div>
        </div>
        <!-- Fin Modal Header -->
        
        <!-- Modal Body -->
        <div class="modal-body addBody">
          <div class="row addRow">
            <div class="col-md-12 form-box">
                <form id="formularioCarga" class="registration-form" method="post" onsubmit="return validar_campos()">

                    <!-- Primer Paso -->
                    <fieldset class="formField">
                      <div class="form-bottom">
                        <!-- Aqui va la barra lateral -->
                        <div class="col-sm-1 col1Body"></div>
                        <!-- Aqui va la informacion -->
                        <div class="col-sm-11 col11Body">
                          <h4 class="titulosForm">Datos del registro</h4>
                          <label>Campos marcados con * son obligatorios.</label>
                          
                            <div class="form-group">
                              <input type="text" class="form-control" name="cantidad" placeholder="Cantidad a modificar*" required>
                              <div class="field-error"> <p id="error-cantidad"> </p> </div>
                            </div>

                            <div class="form-group">
                              <select class="form-control" type="select" id="unidad" name="unidad" required>
                                <option value="" selected hidden >Unidad de medida*</option>
                                {{for u in unidades_de_medida:}}
                                <option value="{{=u.id}}">{{=u.f_nombre}}</option>
                                {{pass}}
                              </select>
                            </div>

                            <!-- Concepto: ingreso o egreso -->
                            <div class="form-group">
                              <select class="form-control" type="select" id="concepto" name="concepto" onclick="activarTipos(this.value)">
                                <option value="" selected hidden >Concepto*</option>
                                {{for c in conceptos:}}
                                <option value="{{=c}}">{{=c}}</option>
                                {{pass}}
                              </select>
                            </div>

                            <!-- Tipo de ingreso -->
                            <div id="tipo_ingreso_div" class="form-group esconder">
                              <select class="form-control" type="select" id="tipo_ingreso" name="tipo_ingreso" onclick="activarCamposIngreso(this.value)">
                                <option value="" selected hidden >Tipo de ingreso*</option>
                                {{for t in tipos_ingreso:}}
                                <option value="{{=t}}">{{=t}}</option>
                                {{pass}}
                              </select>
                            </div>

                            <!-- Tipo de egreso -->
                            <div id="tipo_egreso_div" class="form-group esconder">
                              <select class="form-control" type="select" id="tipo_egreso" name="tipo_egreso" onclick="activarCamposEgreso(this.value)">
                                <option value="" selected hidden >Tipo de consumo*</option>
                                {{for t in tipos_egreso:}}
                                <option value="{{=t}}">{{=t}}</option>
                                {{pass}}
                              </select>
                            </div>

                            <!-- Si es un ingreso por compra: Datos de compra -->
                            <div id="nro_factura_div" class="form-group esconder">
                              <input type="text" class="form-control" name="nro_factura" placeholder="Nro. de factura*">
                              <font color="red"><div id="err_nro_factura" hidden></div></font>
                            </div>

                            <div id="institucion_div" class="form-group esconder">
                              <input type="text" class="form-control" name="institucion" placeholder="Institución*">
                              <font color="red"><div id="err_institucion" hidden></div></font>
                            </div>

                            <div id="rif_div" class="form-group esconder">
                              <input type="text" class="form-control" name="rif" placeholder="RIF">
                              <font color="red"><div id="err_rif" hidden></div></font>
                            </div>
                            <div id="fecha_compra_div" class="esconder">
                              <p>Fecha de Compra: <input name = "fecha_compra" type="date" data-date-format="YYYY MM DD"></p>
                              <font color="red"><div id="err_fecha_compra" hidden></div></font>
                            </div>

                           <!-- Fin datos de la compra -->

                           <!-- para usar el suministro con fecha  -->
                            <div id="fecha_sumi_div" class="esconder">
                              <p>Fecha de Suministro: <input name = "fecha_sumi" type="date" data-date-format="YYYY MM DD"></p>
                              <font color="red"><div id="err_fecha_sumi" hidden></div></font>
                            </div>

                            <!-- para usar el suministro con fecha  -->

                            <!-- Si es un ingreso por almacen, se listan los espacios fisicos para seleccionar el almacen -->                            
                            <div id="almacen_div" class="form-group esconder">
                              <select class="form-control" type="select" id="almacen" name="almacen">
                                <option value="" selected hidden >Almacén*</option>
                                {{for a in almacenes:}}
                                <option value="{{=a.id}}">{{=a.codigo}}</option>
                                {{pass}}
                              </select>
                            </div>

                            <!-- Si es un egreso, se listan los servicios -->                            
                            <div id="servicio_div" class="form-group esconder">
                              <select class="form-control" type="select" id="servicio" name="servicio" onclick="activarFecha()">
                                <option value="" selected hidden >Servicio*</option>
                                {{for s in servicios:}}
                                <option value="{{=s.id}}">{{=s.nombre}}</option>
                                {{pass}}
                              </select>
                            </div>

                            <div id="fecha_uso_div" class="form-group esconder">
                              <p>Fecha de uso: <input name = "fecha_uso" type="date"  data-date-format="YYYY MM DD"></p>
                              <font color="red"><div id="err_fecha_uso" hidden></div></font>
                            </div>

                        </div>
                      </div>
                      <button type="submit" form="formularioCarga" id="submit" class="btn btn-submit botonForm">Agregar</button>        
                    </fieldset>
                    <!-- Fin Primer Paso -->
                    
                </form>
            </div>
          </div>               


        </div>
      </div>

    </div>
  </div>


<!-- *!* Falta verificar que se esten llenando todos los campos dependiendo 
del concepto y tipo de ingreso o egreso -->
<script type="text/javascript">
  
  // Obteniendo elementos a ser mostrados o escondidos
  var tipo_ingreso_div = document.getElementById("tipo_ingreso_div");
  var tipo_egreso_div = document.getElementById("tipo_egreso_div");
  var nro_factura_div = document.getElementById("nro_factura_div");
  var institucion_div = document.getElementById("institucion_div");
  var rif_div = document.getElementById("rif_div");
  var fecha_uso_div = document.getElementById("fecha_uso_div");
  var fecha_compra_div = document.getElementById("fecha_compra_div");
  var fecha_sumi_div = document.getElementById("fecha_sumi_div");
  var almacen_div = document.getElementById("almacen_div");
  var servicio_div = document.getElementById("servicio_div");
  // Muestra los elementos a llenar de acuerdo al concepto y tipo 
  // de ingreso o consumo
  function activarTipos(concepto){

    if (concepto == 'Ingreso'){
      tipo_ingreso_div.style.display = "block";
      tipo_egreso_div.style.display = "none";

      // Todos los campos de egresos que estuvieran activados son
      // desactivados
      servicio_div.style.display = "none"
      fecha_uso_div.style.display = "none";
      fecha_sumi_div.style.display="none";
      
    }
    else{
      tipo_egreso_div.style.display = "block";
      tipo_ingreso_div.style.display = "none";
      
      // Todos los campos de ingresos que estuvieran activados son
      // desactivados
      almacen_div.style.display = "none";
      nro_factura_div.style.display = "none";
      institucion_div.style.display = "none";
      rif_div.style.display = "none";
      fecha_compra_div.style.display = "none";
      fecha_sumi_div.style.display="none";
    }

  }
  // Muestra o esconde elementos una vez se ha seleccionado ingreso como concepto
  function activarCamposIngreso(valor){

    if (valor == "Compra"){
      nro_factura_div.style.display = "block";
      institucion_div.style.display = "block";
      rif_div.style.display = "block";
      fecha_compra_div.style.display = "block";
      almacen_div.style.display = "none";
      fecha_sumi_div.style.display="none";

    }else if (valor == "Prestamo"){
      nro_factura_div.style.display = "none";
      institucion_div.style.display = "none";
      rif_div.style.display = "none";
      fecha_compra_div.style.display = "none";
      almacen_div.style.display = "none";
      fecha_sumi_div.style.display="block";

    }else if (valor == "Cesion"){
      nro_factura_div.style.display = "none";
      institucion_div.style.display = "none";
      rif_div.style.display = "none";
      fecha_compra_div.style.display = "none";
      almacen_div.style.display = "none";
      fecha_sumi_div.style.display="block";
    }
    // Si fue por envio desde el almacen
    else{
      almacen_div.style.display = "block";
      fecha_sumi_div.style.display="block";
      nro_factura_div.style.display = "none";
      institucion_div.style.display = "none";
      rif_div.style.display = "none";
      fecha_compra_div.style.display = "none";
    }
  }

  function activarCamposEgreso(valor){
    // En cualquier caso, se activa el div servicio_div y se
    // desactivan los demas
    if (valor== 'Prestamo'){
      servicio_div.style.display = "none";
      fecha_uso_div.style.display = "block";
    }else{
      servicio_div.style.display = "block";
      fecha_uso_div.style.display = "block";
    }
    


  }

  function validar_campos(){
    var err_cantidad = document.getElementById("error-cantidad");

    // Limpiando los mensajes anteriores de validadores
    if (err_cantidad.innerText != ''){
      err_cantidad.innerText = '';
    }
    // Buscando los valores ingresados por el usuario en cada campo
    var cantidad = document.forms['formularioCarga']['cantidad'].value;

    // Mensajes de error
    var mensaje_error_tipo = "Por favor ingrese un valor numérico. Por ejemplo \"2.5\"";
    var mensaje_error_negativo = "Por favor ingrese un valor no negativo.";
    var mensaje_error_nulo = "Por favor ingrese un valor mayor a cero.";
  
    // Validando el campo cantidad
    if (!is_number(cantidad)) {
      err_cantidad.innerText = mensaje_error_tipo;
      return false;
    }
    
    if (is_negative(cantidad)) {
      err_cantidad.innerText = mensaje_error_negativo;
      return false;
    }

    if (is_zero(cantidad)) {
      err_cantidad.innerText = mensaje_error_nulo;
      return false;
    }
  
  }

  // True si "n" es un numero
  function is_number(n){
    return !isNaN(n);
  }

  // True si "n" es negativo
  function is_negative(n){
    return (n < 0);
  }

  // True si "n" es cero
  function is_zero(n){
    return (n == 0);
  }

</script>
