{{extend "layout.html"}}

{{block head}}

  <!-- Para los mensajes con flash -->
  <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3-flash.css')}}" />
  
  <!-- DataTables -->
  <link href="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
  <link href="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/servicios_modal.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_listado.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/smydp_bitacora.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/smydp_bitacora_desechos.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/servicios_template_modal.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventarios_desechos.css')}}">
  
  <script src="{{=URL('static', 'js/servicios_template_modal.js')}}"></script>

  <!-- Web2py JS - Especialmente para AJAX -->
  <script src="{{=URL('static', 'js/web2py.js')}}"></script>
  <style>
    .row{
      margin-right:0px!important;
    }
  </style>
{{end}}

{{block center}}

<!-- Breadcrumb de navegación -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
    <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
    <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp')}}">SMyDP</a>
    <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp/desechos')}}">DP</a>
    <a class="breadcrumb-item active" href="{{=URL('..', 'sigulab2', 'smydp/inventarios_desechos')}}">Inventarios</a>
    <a class="breadcrumb-item active" href="{{=URL('..', 'sigulab2', 'smydp/inventarios_desechos', vars=dict(dependencia=espacio_id, es_espacio='True'))}}">{{=espacio_nombre}}</a>
    <span class="breadcrumb-item active">Bitácora</span>
  </div>
</nav>
<!-- Fin del Breadcrumb de navegación --> 

{{if response.flash:}}
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{=response.flash}}
  </div>
{{pass}}

<!-- Inicio Listado -->
<div id="inventario-dependencia" class="container titulo">
  <div class="row">
    <div class="col-xs-2 boton-retorno2">
      <!-- <p class="padre dep-titulo"> {{=espacio_nombre}} </p> -->
      <a class="boton boton-retorno2" href="{{=URL('..', 'sigulab2', 'smydp/inventarios_desechos', vars=dict(dependencia=espacio_id, es_espacio='True'))}}">
          <i class="fa fa-arrow-left"></i>
      </a>

    </div>
    <div class="col-xs-8 text-center">
      <h3 id="titulo" class="titulos">BALANCE {{=composicion}}</h3>
      <h3 id="subtitulo" class="titulos"> ({{=espacio_nombre}})</h3>
    </div>

    <div class="col-xs-2">
      {{if (not(auth.has_membership('PERSONAL INTERNO'))) & (not(auth.has_membership('DIRECTOR'))) & (not(auth.has_membership('ASISTENTE DEL DIRECTOR'))):}}
      <button  type="button" id="botonAgregar" class="btn btn-primary buttons-html5 agregar" title="Agregar un nuevo registro a la bitácora"data-toggle="modal" data-target="#agregarEntrada">
        <i class="fa fa-plus"></i>
      </button>
      {{pass}}
    </div>

    <div class="col-lg-12">
      <img class="iconos" src="{{=URL('static', 'images/bitacora_desechos.jpeg')}}">
    </div>
  </div>  

    <div class="row">
    <div class="row">
      <div id="buttons" class="pull-right" style="margin-bottom: -55px;">
      </div>
    </div>

    <div class="table-responsive">
      <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
        <thead>
            <tr id="titulosListado">
                <th style="display: none" class="camposTabla linksNombres">ID</th>
                <th style="width: none !important" class="camposTabla linksNombres">FECHA</th>
                <th class="camposTabla linksNombres">DESCRIPCIÓN</th>
                <th class="camposTabla linksNombres">CANTIDAD GENERADA ({{=unidad_medida}})</th>
                <th class="camposTabla linksNombres">CANTIDAD RETIRADA ({{=unidad_medida}})</th>
                <th class="camposTabla linksNombres">SALDO ({{=unidad_medida}})</th>
                <th class="camposTabla linksNombres">CONTENEDOR</th>
                <th class="camposTabla linksNombres">RESPONSABLE</th>
            </tr>
        </thead>

        <tbody>
          {{for registro in bitacora:}}
            {{fecha = registro['t_Bitacora_desechos']['fecha'].split(" ")}}
            {{hora = fecha[1].split(".")}}
            <tr>
              <td style="display: none" class="camposTabla">{{=registro['t_Bitacora_desechos']['id']}}</td>
              <td class="camposTabla">{{=fecha[0]}}</td>
              <td class="camposTabla">{{=registro['t_Bitacora_desechos']['descripcion'].upper()}}</td>
              {{cantidad_generada = str(registro['t_Bitacora_desechos']['cantidad_generada']).replace(".", ",")}}
              <td class="camposTabla">{{=cantidad_generada}} {{=unidad_medida}}</td>
              {{cantidad_retirada = str(registro['t_Bitacora_desechos']['cantidad_retirada']).replace(".", ",")}}
              <td class="camposTabla">{{=cantidad_retirada}} {{=unidad_medida}}</td>
              {{saldo = str(registro['t_Bitacora_desechos']['saldo']).replace(".", ",")}}
              <td class="camposTabla">{{=saldo}} {{=unidad_medida}}</td>
              <td class="camposTabla">{{=registro['t_Bitacora_desechos']['envase']['identificacion']}}</td>
              <td class="camposTabla">{{=registro['auth_user']['first_name'].upper()}} {{=registro['auth_user']['last_name'].upper()}}</td>
            </tr>
          {{pass}}
        </tbody>

        <tfoot id="collapseFiltros">
            <tr>
                <th style="display: none" class="camposTabla linksNombres">ID</th>
                <th class="camposTabla linksNombres">FECHA</th>
                <th class="camposTabla linksNombres">DESCRIPCIÓN</th>
                <th class="camposTabla linksNombres">CANTIDAD GENERADA ({{=unidad_medida}})</th>
                <th class="camposTabla linksNombres">CANTIDAD RETIRADA ({{=unidad_medida}})</th>
                <th class="camposTabla linksNombres">SALDO ({{=unidad_medida}})</th>
                <th class="camposTabla linksNombres">CONTENEDOR</th>
                <th class="camposTabla linksNombres">RESPONSABLE</th>
            </tr>
        </tfoot>

      </table>
    </div>
  </div>
</div>  
<!-- Fin Listado --> 

<!-- Modal para agregar un registro a la bitacora --> 

<!-- Modal editar envase -->
    <div class="modal fade" id="agregarEntrada" role="dialog">
        <div class="modal-dialog modal-md">
    
            <!-- Modal content-->
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header addHeader">
                    <div class="row addRow" id="rowHeader">
                        <div class="col-sm-1" id="col1Header">
                            <div class="container" id="plus">
                                <h1 id="agregar">+</h1>
                            </div>
                        </div>
                        <div class="col-sm-10" id="col11Header">
                            <h4 class="modal-title titulo-modal-categoria" id="nuevaCategoria" style="color: white; padding-top: 10px;">Añadir registro a la bitácora
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- Fin Modal Header -->
    
                <!-- Modal Body -->
                <div class="modal-body addBody">
                    <div class="row addRow">
                        <div class="col-lg-12 form-box">
                            <form id="formularioCarga" class="registration-form" method="post" onsubmit="return validar_campos()">
                                <fieldset class="formField">
                                    <div class="form-bottom">
                                        <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                                        <div class="col-sm-1 col1Body"> </div>
                                        <!-- Aqui va la informacion -->
                                        <div class="col-sm-11 col11Body">
                                            <h4 class="titulosForm">Datos de ingreso</h4>
                                            <label>Campos marcados con * son obligatorios.</label>
                                            <div class="form-group">                                                
                                                <label for="fecha_entrada">Fecha de creación del desecho:</label>
                                                <br>
                                                <input class="form-control" type="date" id="fecha_entrada" name="fecha_entrada" required onchange="validar_fecha_entrada()" max="{{=fecha_actual}}"/>
                                                <div class="field-error">
                                                  <p id="error-fecha"> </p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                              <label for="descripcion">Descripción del proceso:</label>
                                              <br>
                                              <input class="form-control" type="text" id="descripcion" name="descripcion" onfocusout="return validar_descripcion()"/>
                                              <div class="field-error">
                                                <p id="error-descripcion"> </p>
                                              </div>
                                            </div>  

                                            <div class="form-group">
                                              <label for="envase">Envase utilizado:</label>
                                              <br>
                                              <select class="form-control" name="envase" id="envase" required>
                                                <option value="" selected hidden disabled>Seleccione un contenedor*</option>
                                                {{for envase in envases:}}
                                                  <option value="{{=envase.id}}">{{=envase.identificacion}}</option>
                                                {{pass}}
                                              </select>
                                              <div class="field-error">
                                                <p id="error-envase"> </p>
                                              </div>
                                            </div>

                                            <div class="form-group">
                                              <label for="seleccionar_tipo_movimiento">Seleccione un tipo de movimiento*:</label>
                                              <select class="form-control" name="seleccionar_tipo_movimiento" id="seleccionar_tipo_movimiento" onchange="mostrar_tipo_movimiento()">
                                                <option value="" selected hidden disabled>Seleccionar</option>
                                                <option value="Generación">Generación de desecho</option>
                                                <option value="Retiro">Retiro de desecho</option>
                                              </select>
                                              <div class="field-error">
                                                <p id="error-tipo-movimiento"> </p>
                                              </div>
                                            </div>
                                            
                                            <div class="form-group" id="div_generacion" style="display: none;">
                                              <label for="cantidad_generada">Cantidad generada:</label>
                                              <br>
                                              <input class="form-control" type="text" id="cantidad_generada" name="cantidad_generada" value="0" onfocusout="validar_cantidad_generada()"/>
                                              <div class="field-error">
                                                <p id="error-cantidad-generada"> </p>
                                              </div>
                                            </div>

                                            <div class="form-group" id="div_retiro" style="display: none;">
                                              <label for="cantidad_retirada">Cantidad retirada:</label>
                                              <br>
                                              <input class="form-control" type="text" id="cantidad_retirada" name="cantidad_retirada" value="0" onfocusout="validar_cantidad_retirada()"/>
                                              <div class="field-error">
                                                <p id="error-cantidad-retirada"> </p>
                                              </div>
                                            </div>
                                        <button type="submit" form="formularioCarga" style="border-radius: 100% !important; min-width: 0px;" class="btn btn-submit btn-primary boton-modal pull-right">
                                          <li class="fa fa-plus-circle"/>
                                        </button>
                                      </div>
                                    </div>
                                    </div>                                        
                                      </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Fin Modal Body-->
            </div>
        </div>
    </div>

<!-- Datatables-->
<script src="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.bootstrap.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/jszip.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.js')}}"></script>



<!-- Datatable init js -->
<script src="{{=URL('static', 'plugins/datatables/datatables.init.js')}}"></script>
<script>

  var filtros = false;

  $(document).ready(function() {
      // DataTable
      var table = $('#datatable').DataTable();

      table
      .order([0, 'desc'])
      .draw();

      table.column(0).visible(false);

      // Setup - add a text input to each footer cell
      $('#datatable tfoot th').each( function () {
          var title = $(this).text();
          $(this).html( '<input type="text" placeholder="Filtro" />' );
      } );
   
   
      // Apply the search
      table.columns().every( function () {
          var that = this;
   
          $( 'input', this.footer() ).on( 'keyup change', function () {
              if ( that.search() !== this.value ) {
                  that
                      .search( this.value )
                      .draw();
              }
          } );
      } );

      $('#datatable tfoot tr').appendTo('#datatable thead');
      $("#datatable thead tr").not("#titulosListado").css("display","none");
  } );

  function mostrarFiltro() {
      if (filtros){
        $("#datatable thead tr").not("#titulosListado").css("display","none");
        filtros = false
      }
      else{
        $("#datatable thead tr").not("#titulosListado").css("display","table-row");
        filtros = true
      }

  }

  function mostrar_tipo_movimiento() {
    tipo_movimiento = document.getElementById("seleccionar_tipo_movimiento").value;

    if(tipo_movimiento == "Generación"){
      document.getElementById("div_generacion").style.display = "block";
      document.getElementById("div_retiro").style.display = "none";
      document.getElementById("cantidad_generada").value = 0;
      document.getElementById("cantidad_retirada").value = 0;
    }
    if (tipo_movimiento == "Retiro") {
      document.getElementById("div_generacion").style.display = "none";
      document.getElementById("div_retiro").style.display = "block";
      document.getElementById("cantidad_generada").value = 0;
      document.getElementById("cantidad_retirada").value = 0;
    }
  }

  function validar_fecha_entrada(){
    // Se seleccionan los campos con los valores del formulario
    fecha_entrada = document.getElementById("fecha_entrada");
    // Se seleccionan los campos de los errores
    error_fecha_entrada = document.getElementById("error-fecha");
    // Se limpian los errores pasados, si es que habían

    error_fecha_entrada.innerHTML = "";
    error_fecha_entrada.style.color = "none";
    fecha_entrada.style.border = "3px solid #ddd";

    fecha_ingresada = new Date(fecha_entrada.value);
    fecha_actual = new Date();



    if (fecha_entrada.value == undefined || fecha_entrada.value == '' || fecha_ingresada > fecha_actual) {
      error_fecha_entrada.innerHTML = "Ingrese una fecha válida, no mayor a la fecha actual";
      error_fecha_entrada.style.color = "red";
      fecha_entrada.style.border = "1px solid red";
      return false;
    }
  }

  function validar_descripcion(){
    // Se seleccionan los campos con los valores del formulario

    descripcion = document.getElementById("descripcion");

    // Se seleccionan los campos de los errores

    error_descripcion = document.getElementById("error-descripcion");

    // Se limpian los errores pasados, si es que habían

    error_descripcion.innerHTML = "";
    error_descripcion.style.color = "";
    descripcion.style.border = "3px solid #ddd";
    if (descripcion.value == '' || descripcion.value == undefined) {
      error_descripcion.innerHTML = "Ingrese una descripción válida";
      error_descripcion.style.color = "red";
      descripcion.style.border = "1px solid red";
      return false;
    }
  }

  function validar_cantidad_generada(){
    // Se seleccionan los campos con los valores del formulario

    cantidad_generada = document.getElementById("cantidad_generada");

    // Se seleccionan los campos de los errores

    error_cantidad_generada = document.getElementById("error-cantidad-generada");

    // Se limpian los errores pasados, si es que habían

    error_cantidad_generada.innerHTML = "";
    error_cantidad_generada.style.color = "";
    cantidad_generada.style.border = "3px solid #ddd";

    cantidad_generada_value = parseFloat(cantidad_generada.value.replace(",", "."));

    if (isNaN(cantidad_generada_value) || cantidad_generada_value < 0) {
      error_cantidad_generada.innerHTML = "Ingrese una cantidad válida y no negativa";
      error_cantidad_generada.style.color = "red";
      cantidad_generada.style.border = "1px solid red";
      return false;
    }
  }

  function validar_cantidad_retirada(){
    // Se seleccionan los campos con los valores del formulario

    cantidad_retirada = document.getElementById("cantidad_retirada");

    // Se seleccionan los campos de los errores

    error_cantidad_retirada = document.getElementById("error-cantidad-retirada");

    // Se limpian los errores pasados, si es que habían

    error_cantidad_retirada.innerHTML = "";
    error_cantidad_retirada.style.color = "";
    cantidad_retirada.style.border = "3px solid #ddd";
    cantidad_retirada_value = parseFloat(cantidad_retirada.value.replace(",", "."));

    if (isNaN(cantidad_retirada_value) || cantidad_retirada_value < 0) {
      error_cantidad_retirada.innerHTML = "Ingrese una cantidad válida y no negativa";
      error_cantidad_retirada.style.color = "red";
      cantidad_retirada.style.border = "1px solid red";
      return false;
    }
  }


  function validar_campos() {
    // Se seleccionan los campos con los valores del formulario
    fecha_entrada = document.getElementById("fecha_entrada");
    descripcion = document.getElementById("descripcion");
    envase = document.getElementById("envase");
    cantidad_generada = document.getElementById("cantidad_generada");
    cantidad_retirada = document.getElementById("cantidad_retirada");
    tipo_movimiento = document.getElementById("seleccionar_tipo_movimiento");

    // Se seleccionan los campos de los errores
    error_fecha_entrada = document.getElementById("error-fecha");
    error_descripcion = document.getElementById("error-descripcion");
    error_envase = document.getElementById("error-envase");
    error_cantidad_generada = document.getElementById("error-cantidad-generada");
    error_cantidad_retirada = document.getElementById("error-cantidad-retirada");
    error_tipo_movimiento = document.getElementById("error-tipo-movimiento");

    // Se limpian los errores pasados, si es que habían
    error_fecha_entrada.innerHTML = "";
    error_fecha_entrada.style.color = "none";
    fecha_entrada.style.border = "3px solid #ddd";

    error_descripcion.innerHTML = "";
    error_descripcion.style.color = "";
    descripcion.style.border = "3px solid #ddd";

    error_cantidad_generada.innerHTML = "";
    error_cantidad_generada.style.color = "";
    cantidad_generada.style.border = "3px solid #ddd";

    error_cantidad_retirada.innerHTML = "";
    error_cantidad_retirada.style.color = "";
    cantidad_retirada.style.border = "3px solid #ddd";

    error_tipo_movimiento.innerHTML = "";
    error_tipo_movimiento.style.color = "";
    tipo_movimiento.style.border = "3px solid #ddd";

    fecha_ingresada = new Date(fecha_entrada.value);
    fecha_actual = new Date();

    if(fecha_entrada.value == undefined || fecha_entrada.value == ''|| fecha_ingresada > fecha_actual){
      error_fecha_entrada.innerHTML = "Ingrese una fecha válida, no mayor a la fecha actual";
      error_fecha_entrada.style.color = "red";
      fecha_entrada.style.border = "1px solid red";
      return false;
    }

    if(descripcion.value == '' || descripcion.value == undefined){
      error_descripcion.innerHTML = "Ingrese una descripción válida";
      error_descripcion.style.color = "red";
      descripcion.style.border = "1px solid red";
      return false;
    }

    if(envase.value == '' || envase.value == undefined){
      error_envase.innerHTML = "Seleccione un envase válido";
      error_envase.style.color = "red";
      envase.style.border = "1px solid red";
      return false;
    }


    if(tipo_movimiento.value == "Generación"){
      cantidad_generada_value = parseFloat(cantidad_generada.value.replace(",", "."));
      if (isNaN(cantidad_generada_value) || cantidad_generada_value <= 0) {
        error_cantidad_generada.innerHTML = "Ingrese una cantidad válida mayor que cero.";
        error_cantidad_generada.style.color = "red";
        cantidad_generada.style.border = "1px solid red";
        return false;
      }
    }
    else if( tipo_movimiento.value == "Retiro"){
      cantidad_retirada_value = parseFloat(cantidad_retirada.value.replace(",", "."));
      if (isNaN(cantidad_retirada_value) || cantidad_retirada_value <= 0) {
        error_cantidad_retirada.innerHTML = "Ingrese una cantidad válida mayor que cero.";
        error_cantidad_retirada.style.color = "red";
        cantidad_retirada.style.border = "1px solid red";
        return false;
      }      
    }
    else{
      error_tipo_movimiento.innerHTML = "Seleccione un tipo de movimiento";
      error_tipo_movimiento.style.color = "red";
      tipo_movimiento.style.border = "1px solid red";
      return false;
    }
  }
</script>
 
<script language="javascript">
  var table = $('#datatable').DataTable({
      "dom": "<'row buscar'<'col-md-1'f>>" + "<'row'<'col-md-8'l><'col-md-4'i>>" + "<'row'rt>" + "<'row'<'col-md-12'p>>",
      language: {
        url: "{{=URL('static', 'plugins/datatables/l18n/es-ES-custom.json')}}"
      },
      initComplete: function () {
        var api = this.api();

        new $.fn.dataTable.Buttons(api, {
          buttons: [
            {
              text: '<i class="fa fa-filter"></i>',
              action: function () {
                mostrarFiltro()
              },
              className: 'boton-sigulab'
            },
            {
              extend: 'collection',
              text: '<i class="fa fa-save"></i>',
              className: 'boton-sigulab dropDown',
              background: false,
              fade: true,
              buttons: [
                { extend: 'copy', text: "Copiar" },
                'pdf',
                'excel'
              ]
            },
            {
              extend: 'print',
              text: '<i class="fa fa-print"></i>'
            }
          ]
        });
        api.buttons().container().appendTo('#buttons');
        $('.buttons-pdf').html('<span class="glyphicon glyphicon-file" data-toggle="tooltip" title="Export To PDF"/>');
        $('.buttons-print').html('<span class="glyphicon glyphicon-print" data-toggle="tooltip" title="Print"/>');
        $('.buttons-copy').html('<span class="glyphicon glyphicon-copy" data-toggle="tooltip" title="Copy"/>');
        $('.buttons-excel').html('<span class="glyphicon glyphicon-floppy-disk" data-toggle="tooltip" title="Copy"/>');
      }
    });

  $(document).ready(function () {
    $('#datatable_previous').html('<span class="fa fa-arrow-left" title="Anterior"/>');
    $('#datatable_next').html('<span class="fa fa-arrow-right" title="Siguiente"/>');
  });
  var w2p_ajax_confirm_message =
    "{{=T('')}}";
    
  window.onclick = function(event) {
    if (!event.target.matches('#buttons')) {
      $(".dt-button-collection").hide();
    }
  }
</script>

{{end}}

