{{extend 'layout.html'}}
  
{{block head}}
	<link rel="stylesheet" href="{{=URL('static', 'css/smydp_catalogo.css')}}"> 
{{end}}

{{block center}}

<!-- Breadcrumb de navegación -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'modulos')}}">Inicio</a>
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'servicios')}}">Servicios</a>
  <span class="breadcrumb-item active">Historial de Servicios</span>
  </div>
</nav>
<!-- Fin del Breadcrumb de navegación --> 


	<div class="container"> 
		<div class="row">
			<p>{{=table}}</p>
		</div>
	</div>

<script>
	// Eliminando el breadcrumb que trae la forma SQL por defecto
	document.getElementsByClassName("web2py_breadcrumbs")[0].style.display='none';
</script>

{{end}}