{{extend 'layout.html'}} 
    {{block head}}
        <link rel="stylesheet" href="{{=URL('static', 'css/smydp_contenedores_desechos.css')}}"> 
    {{end}} 

{{block center}}

<!-- Breadcrumb de navegación -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
    <div class="breadcrumb">
        <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
        <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp')}}">SMyDP</a>
        <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp/desechos')}}">Desechos peligrosos</a>
        <a class="breadcrumb-item active" href="{{=URL('..', 'sigulab2', 'smydp/envases')}}">Listado de Contenedores</a>
    </div>
</nav>
<!-- Fin del Breadcrumb de navegación -->

<div class="container titulo">

    
    {{if ('edit' in request.args) or ('view' in request.args):}}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="inicio-titulo">DETALLE DEL CONTENEDOR</h3>
                <img class="iconos" src="{{=URL('static', 'images/detallecontenedor.png')}}">
            </div>
        </div>
    {{elif ('new' in request.args):}}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="inicio-titulo">NUEVO CONTENEDOR</h3>
                <img class="iconos" src="{{=URL('static', 'images/nuevocontenedor.png')}}">
            </div>
        </div>
    {{else:}}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="inicio-titulo">LISTADO DE CONTENEDORES - ULAB</h3>
                <img class="iconos" src="{{=URL('static', 'images/listadocontenedores.png')}}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-right">
                <a href="{{=URL('..', 'sigulab2', 'smydp/envases/t_envases/new/t_envases')}}">
                    <button class="btn btn-primary">Agregar contenedor</button>
                </a>
            </div>
        </div>
        {{pass}} 
    {{pass}}
</div>



{{if table.create_form:}} 
    {{=table.create_form}} 
    <script>
        let form = document.querySelector("form");
        console.log(form);
        var div_node = document.createElement("div");
        div_node.className += " col-lg-12 text-center";
        var button_node = document.createElement("button");
        var textnode = document.createTextNode("Crear");
        button_node.appendChild(textnode);
        button_node.className += " btn btn-primary";  
        div_node.appendChild(button_node);      
        form.appendChild(div_node);

        let campo_descripcion = document.getElementById("t_envases_descripcion").placeholder = "Si marcó otro en alguna opción, especifique características en este campo.";

        let campo_mezcla = document.getElementById("t_envases_mezcla").placeholder = "Mezcla de X + Y";
    </script>
{{elif table.update_form:}} 
    {{=table.update_form}} 
{{elif table.view_form:}}
    {{=table.view_form}} 
{{else:}}
    <div class="container">
        {{=table}}
    </div>
{{pass}}

{{if ('view' in request.args):}}
<div class="row">
    <div class="col-lg-12 text-center">
        <a href="{{=URL('..', 'sigulab2', 'smydp/envases/t_envases/edit/t_envases/' + request.args[3])}}">
            <button class="btn btn-warning botones-edicion">Editar</button>
        </a>
        <a href="{{=URL('..', 'sigulab2', 'smydp/envases/t_envases/delete/t_envases/' + request.args[3])}}">
            <button class="btn btn-danger botones-edicion">Eliminar</button>
        </a>
    </div>
</div>
<script>
    let ids = ["#t_envases_id__row","#t_envases_identificacion__row", "#t_envases_capacidad__row", "#t_envases_unidad_medida__row", "#t_envases_forma__row", "#t_envases_material__row", "#t_envases_descripcion__row", "#t_envases_tipo_boca__row", "#t_envases_espacio_fisico__row", "#t_envases_categoria__row"];
    for (let index = 0; index < ids.length; index++) {
        const element = document.querySelector(ids[index]);
        element.children[0].className = "readonly control-label col-sm-2 col-sm-offset-4";
        element.children[1].className = "readonly control-label col-sm-2";        
        element.children[0].style.textAlign = "center";
        element.children[1].style.textAlign = "center";
        element.style.marginBottom = "0px";
    }

    let campo_descripcion = document.getElementById("t_envases_descripcion").placeholder = "Si marcó otro en alguna opción, especifique características en este campo.";

    let campo_mezcla = document.getElementById("t_envases_mezcla").placeholder = "Mezcla de X + Y";

</script>
{{pass}}

{{if ('edit' in request.args):}}
    <script>
        let check_to_delete_label = document.getElementById("delete_record__label");
        check_to_delete_label.style.display = "none";
        let inputs = document.querySelectorAll('input[type=submit]');
        inputs[0].value = "Guardar cambios";

        let campo_descripcion = document.getElementById("t_envases_descripcion").placeholder = "Si marcó otro en alguna opción, especifique características en este campo.";

        let campo_mezcla = document.getElementById("t_envases_mezcla").placeholder = "Mezcla de X + Y";
    </script>
{{pass}}

<script>
    // Eliminando el breadcrumb que trae la forma SQL por defecto
    document.getElementsByClassName("web2py_breadcrumbs")[0].style.display = 'none';
    // Set blue bar below INICIO text.
    document.getElementById("smydp").className += " active";
</script> 

<script>
    
    let inputs = document.querySelectorAll('input[type=submit]');
    inputs[0].style.display = "none";
    inputs[1].value = 'Limpiar';
    inputs[1].className += " btn btn-primary";
    inputs[1].style.margin = "15px 0px";   



    // Oculta el boton de 'Add record' que trae la tabla por defecto
    let web2py_console_elements = document.getElementsByClassName('web2py_console');
    web2py_console_elements[0].children[0].style.display = 'none';

    // Coloca en español el botón de New Search y Close del panel de búsqueda de la tabla y
    // oculta los botones de and y or.
    document.getElementById("w2p_keywords").addEventListener('click', function() {
        const campos = ['id', 'identificacion', 'capacidad', 'unidad_medida', 'forma', 'material', 'tipo_boca', 'descripcion', 'espacio_fisico', 'categoria'];

        campos.forEach(campo => {
            let parent = document.getElementById("w2p_field_t_envases-" + campo);
            let children = parent.getElementsByClassName('btn-default');

            children[0].value = "Buscar";
            children[1].style.display = "none";
            children[2].style.display = "none";
            children[3].value = "Cerrar";
        });
    });

    // Se coloca en español el mensaje que dice "XXX rows founds"
    let row_counter = document.getElementsByClassName("web2py_counter");
    let row_content = row_counter[0].innerText.split(" ");
    row_counter[0].innerText = row_content[0] + " entrada(s) encontrada(s)";
    row_counter[0].style.marginBottom = "15px";

    // Se colocan en español los botones de la columna de opciones de la tabla
    let row_buttons = document.getElementsByClassName("row_buttons");

    for (let index = 0; index < row_buttons.length; index++) {
        
        let children = row_buttons[index].getElementsByClassName("button btn btn-default");
        children[0].innerText = "Ver";
        children[0].className += " btn btn-primary";
        children[1].style.display = "none";
        children[2].style.display = "none";
    }
</script>
{{end}}