{{extend 'layout.html'}} 
    {{block head}}

        <!-- Para los mensajes con flash -->
        <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3-flash.css')}}" />

        <link rel="stylesheet" href="{{=URL('static', 'css/smydp_contenedores_desechos.css')}}"> 
        <!-- DataTables -->
        <link href="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- Estilos de modales y listados -->
        <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/smydp_modal.css')}}">
        <link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventarios_desechos.css')}}">
        <link rel="stylesheet" href="{{=URL('static', 'css/smydp_listado.css')}}">
        <link rel="stylesheet" href="{{=URL('static', 'css/smydp_template_modal.css')}}">
        <script src="{{=URL('static', 'js/smydp_template_modal.js')}}"></script>
        <link rel="stylesheet" href="{{=URL('static', 'css/smydp_categorias_desechos.css')}}">
    {{end}} 

{{block center}}

<!-- Breadcrumb de navegación -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
    <div class="breadcrumb">
        <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
        <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp')}}">SMyDP</a>
        <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp/desechos')}}">Desechos peligrosos</a>
        <a class="breadcrumb-item active" href="{{=URL('..', 'sigulab2', 'smydp/envases')}}">Inventario de Contenedores</a>
    </div>
</nav>
<!-- Fin del Breadcrumb de navegación -->

<!-- Flash message -->
{{if response.flash:}}
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{=response.flash}}
    </div>
{{pass}}



{{if ('edit' in request.args) or ('view' in request.args):}}
    {{cont = ''}}
    <div class="container titulo">
        <div  class="row pull-left boton-retroceder">
            
        </div>
        <div class="row">
            <div style="display: flex; flex-flow: row; justify-content: space-around; align-items: center;" class="col-lg-12 text-center">
                <div class="col-xs-2 boton-retorno2">
                    <a class="boton boton-retorno2" href="{{=URL('..', 'sigulab2', 'smydp/envases')}}">
                            <i class="fa fa-arrow-left"></i>
                    </a>
                </div>
                <div class="col-xs-8">
                    <h3 class="inicio-titulo" style="margin-top: 30px">DETALLE DEL CONTENEDOR</h3>
                    <img class="iconos" src="{{=URL('static', 'images/detallecontenedor.png')}}">
                    
                </div>
                <div class="col-xs-2">
                    {{if (not(auth.has_membership('DIRECTOR'))) & (not(auth.has_membership('ASISTENTE DEL DIRECTOR'))):}}                    
                    <button type="button" id="botonEditar" class="btn btn-primary agregar" data-toggle="modal" data-target="#editContenedor" style="margin-top: -30px;">
                        <i class="fa fa-pencil"></i>
                    </button>
                    {{pass}}
                </div>
            </div>

        </div>
        <div class="row">
            <div id="columnBotonAgregar">
                <div class="col-lg-12 text-right">
                </div>
            </div>
        </div>
        <div class="row contenedor-filas-detalle-envase">
             {{for contenedor in contenedores:}}
                {{if contenedor.id == int(request.args[1]):}}
                    {{cont = contenedor}}
                    <div class="row fila-detalle-envase">
                        <div class="col-sm-5 ">
                            <label for="">Identificación:</label>
                        </div>
                        <div class="col-sm-6">
                            <span>{{=contenedor.identificacion}}</span>
                        </div>
                    </div>
                    <div class="row fila-detalle-envase">
                        <div class="col-sm-5 ">
                            <label for="">Capacidad:</label>
                        </div>
                        <div class="col-sm-6">
                            {{capacidad = str(contenedor.capacidad).replace(".", ",")}}
                            <span>{{=capacidad}} {{=contenedor.unidad_medida.f_abreviatura}}</span>
                        </div>
                    </div>
                    <div class="row fila-detalle-envase">
                        <div class="col-sm-5 ">
                            <label for="">Forma:</label>
                        </div>
                        <div class="col-sm-6">
                            <span>{{=contenedor.forma.upper()}}</span>
                        </div>
                    </div>
                    <div class="row fila-detalle-envase">
                        <div class="col-sm-5 ">
                            <label for="">Material:</label>
                        </div>
                        <div class="col-sm-6">
                            <span>{{=contenedor.material.upper()}}</span>
                        </div>
                    </div>
                    <div class="row fila-detalle-envase">
                        <div class="col-sm-5 ">
                            <label for="">Tipo de boca:</label>
                        </div>
                        <div class="col-sm-6">
                            <span>{{=contenedor.tipo_boca.upper()}}</span>
                        </div>
                    </div>
                    <div class="row fila-detalle-envase">
                        <div class="col-sm-5 ">
                            <label for="">Descripción:</label>
                        </div>
                        <div class="col-sm-6">
                            <span>{{=contenedor.descripcion.upper()}}</span>
                        </div>
                    </div>
                    <div class="row fila-detalle-envase">
                        <div class="col-sm-5 ">
                            <label for="">Composición:</label>
                        </div>
                        <div class="col-sm-6">
                            <span>{{=contenedor.composicion}}</span>
                        </div>
                    </div>
                    <div class="row fila-detalle-envase">
                        <div class="col-sm-5 ">
                            <label for="">Categoría de desecho:</label>
                        </div>
                        <div class="col-sm-6">
                            <span>{{=contenedor.categoria.categoria.upper()}}</span>
                        </div>
                        
                    </div>
                    <div class="row fila-detalle-envase">
                        <div class="col-sm-5 ">
                            <label for="">Espacio físico:</label>
                        </div>
                        <div class="col-sm-6">
                            <span>{{=contenedor.espacio_fisico.codigo}}</span>
                        </div>
                    </div>
                {{pass}}
            {{pass}}
        </div>
    </div>
    <!-- Modal editar envase -->
    <div class="modal fade" id="editContenedor" role="dialog">
        <div class="modal-dialog modal-md">
    
            <!-- Modal content-->
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header addHeader">
                    <div class="row addRow" id="rowHeader">
                        <div class="col-sm-1" id="col1Header">
                            <div class="container" id="plus">
                                <h1 id="agregar">+</h1>
                            </div>
                        </div>
                        <div class="col-sm-10" id="col11Header">
                            <h4 class="modal-title titulo-modal-categoria" id="nuevaCategoria" style="color: white">Editar contenedor
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- Fin Modal Header -->
    
                <!-- Modal Body -->
                <div class="modal-body addBody">
                    <div class="row addRow">
                        <div class="col-md-12 form-box">
                            <form id="formularioCarga" class="registration-form" method="post" onsubmit="return validar_campos()">
                                <fieldset class="formField">
                                    <div class="form-bottom">
                                        <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                                        <div class="col-sm-1 col1Body"> </div>
                                        <!-- Aqui va la informacion -->
                                        <div class="col-sm-11 col11Body2">
                                            <h4 class="titulosForm">Datos de ingreso</h4>
                                            <label>Campos marcados con * son obligatorios.</label>
                                            
                                            <div class="form-group">
                                                <input type="hidden" class="form-control" name="id_envase" id="id_envase" value='{{=cont.id}}'>
                                                <input type="hidden" class="form-control" name="borrar_envase" id="borrar_envase" value="False">
                                            </div>
                                            
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="identificacion" id="identificacion" onfocusout="validar_identificacion()" placeholder="Identificación del contenedor*. Use el formato: CCCC-EEEFFFL-AA-R###" value='{{=cont.identificacion}}'>
                                                <span>Use el formato: CCCC-EEEFFFL-AA-R###</span>                                                
                                                <div class="field-error">
                                                    <p id="error-identificacion"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="capacidad" id="capacidad" onfocusout="validad_capacidad()" placeholder="Capacidad del envase*" value='{{=cont.capacidad}}'>
                                                <div class="field-error">
                                                    <p id="error-capacidad"> </p>
                                                </div>
                                            </div>
    
                                            <div class="form-group">
                                                <label for="unidad_medida">Unidad de medida*</label>
                                                <br>
                                                <select class="select-envases" name="unidad_medida" id="unidad_medida" placeholder="Unidad de medida*" value='{{=cont.unidad_medida.id}}'>
                                                    {{for unidad in unidades_de_medida:}}
                                                        {{if unidad.id == cont.unidad_medida.id:}}
                                                            <option selected value="{{=unidad.id}}">{{=unidad.f_abreviatura}}</option>
                                                        {{else:}}
                                                            <option value="{{=unidad.id}}">{{=unidad.f_abreviatura}}</option>
                                                        {{pass}}
                                                    {{pass}}
                                                </select>
                                                <div class="field-error">
                                                    <p id="error-editar-unidad-medida"> </p>
                                                </div>
                                            </div>
    
                                            <div class="form-group">
                                                <label for="forma">Forma*</label>
                                                <br>
                                                <select class="select-envases" name="forma" id="forma" value='{{=cont.forma}}'>
                                                    {{for forma in formas:}}
                                                        {{if forma == cont.forma:}}
                                                            <option selected value="{{=forma}}">{{=forma}}</option>
                                                        {{else:}}
                                                            <option value="{{=forma}}">{{=forma}}</option>
                                                        {{pass}}
                                                    {{pass}}
                                                </select>
                                                <div class="field-error">
                                                    <p id="error-forma"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="material">Material*</label>
                                                <br>
                                                <select class="select-envases" name="material" id="material" value='{{=cont.material}}'>
                                                    {{for material in materiales:}}
                                                        {{if material == cont.material:}}
                                                            <option selected value="{{=material}}">{{=material}}</option>
                                                        {{else:}}
                                                            <option value="{{=material}}">{{=material}}</option>
                                                        {{pass}}                                                        
                                                    {{pass}}
                                                </select>
                                                <div class="field-error">
                                                    <p id="error-material"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="tipo_boca">Tipo de boca*</label>
                                                <br>
                                                <select class="select-envases" name="tipo_boca" id="tipo_boca" value='{{=cont.tipo_boca}}'>
                                                    {{for tipo_boca in tipos_de_boca:}}
                                                        {{if tipo_boca == cont.tipo_boca:}}
                                                            <option selected value="{{=tipo_boca}}">{{=tipo_boca}}</option>
                                                        {{else:}}
                                                            <option value="{{=tipo_boca}}">{{=tipo_boca}}</option>    
                                                        {{pass}}                                                    
                                                    {{pass}}
                                                </select>
                                                <div class="field-error">
                                                    <p id="error-tipo-boca"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Especifique descripción si marcó otro en algún campo." value='{{=cont.descripcion}}'>
                                                <div class="field-error">
                                                    <p id="error-descripcion"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="composicion" id="composicion" onfocusout="validar_composicion()" placeholder="Composición del desecho peligroso*: mezcla de X + Y" value='{{=cont.composicion}}'>
                                                <div class="field-error">
                                                    <p id="error-composicion"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="espacio_fisico">Espacio físico*</label>
                                                <br>
                                                <select class="select-envases" name="espacio_fisico" id="espacio_fisico" value='{{=cont.espacio_fisico.id}}'>
                                                    {{for espacio_fisico in espacios_fisicos_adscritos:}}
                                                        {{if espacio_fisico.id == cont.espacio_fisico.id:}}
                                                            <option selected value="{{=espacio_fisico.id}}">{{=espacio_fisico.codigo}}</option>
                                                        {{else:}}
                                                            <option value="{{=espacio_fisico.id}}">{{=espacio_fisico.codigo}}</option>                                                        
                                                        {{pass}}
                                                    {{pass}}
                                                </select>
                                                <div class="field-error">
                                                    <p id="error-espacio-fisico"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="categoria">Categoría de desecho*</label>
                                                <br>
                                                <select class="select-envases" name="categoria" id="categoria" value='{{=cont.categoria.id}}'>
                                                    {{for categoria in categorias_de_desecho:}}
                                                        {{if categoria.id == cont.categoria.id:}}
                                                            <option selected value="{{=categoria.id}}">{{=categoria.categoria}}</option>
                                                        {{else:}}
                                                            <option value="{{=categoria.id}}">{{=categoria.categoria}}</option>
                                                        {{pass}}                                                        
                                                    {{pass}}
                                                </select>
                                                <div class="field-error">
                                                    <p id="error-categoria"> </p>
                                                </div>
                                                </div>
                                    <div class="row modal-envases-footer pull-right">
                                            <button type="submit" form="formularioCarga" id="submit" class="btn btn-submit btn-primary"><li class="fa fa-floppy-o"/></button>
                                            <button class="btn btn-danger" type="submit" form="formularioCarga" onclick="return dialogoAdvertencia();"><i class="fa fa-trash-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>                                    
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Fin Modal Body-->
            </div>
        </div>
    </div>


{{elif ('new' in request.args):}}
    <div class="container titulo">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="inicio-titulo">NUEVO CONTENEDOR</h3>
                <img class="iconos" src="{{=URL('static', 'images/nuevocontenedor.png')}}">
            </div>
        </div>
    </div>
{{else:}}
    <div class="container titulo">
        <div class="row boton-retorno2" style="padding-left: 15px;">
            <div class="col-xs-2 boton-retorno2">
                <a class="boton boton-retorno2" href="{{=URL('..', 'sigulab2', 'smydp/desechos')}}">
                    <i class="fa fa-arrow-left"></i>
                </a>
            </div>
            <div class="col-lg-8 text-center">
                <h3 class="inicio-titulo">GESTIÓN DE CONTENEDORES - ULAB</h3>
                <img class="iconos" src="{{=URL('static', 'images/listadocontenedores.png')}}">
            </div>
            <div class="col-lg-2 text-center">
                {{if (not(auth.has_membership('DIRECTOR'))) & (not(auth.has_membership('ASISTENTE DEL DIRECTOR'))):}}                
                 <!-- Agregar contenedor -->
                <button type="button" id="botonAgregar" title="Agregar un nuevo contenedor" class="btn btn-default buttons-html5 agregar" data-toggle="modal" data-target="#addContenedor">
                    <li class="fa fa-plus" />
                </button>
                {{pass}}
            </div>                
        </div>
        
        <!-- Inicio Listado de contenedores -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">                
                <div id="buttons" class="text-right" style="margin-bottom: -55px;">
                </div>
                <br>
        
                <div class="table-responsive no-padding no-margin">
                    <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0">
                        <thead>
                            <tr id="titulosListado">
                                <th style="padding-left: 30px !important" class="camposTabla linksNombres">IDENTIFICACIÓN</th>
                                <th style="width: 100px !important" class="camposTabla linksNombres">COMPOSICIÓN</th>
                                <th class="camposTabla linksNombres">CATEGORÍA</th>
                                <th class="camposTabla linksNombres">CAPACIDAD</th>
                            </tr>
                        </thead>
        
                        <tbody>
                            {{for contenedor in contenedores:}}
                            <tr>
                                <td class="camposTabla" style="text-align: center">
                                    <a href={{=URL('..', 'sigulab2', 'smydp/envases', args=['view', contenedor.id])}}>
                                        {{=contenedor.identificacion}}
                                    </a>
                                </td>
                                <td class="camposTabla">{{=contenedor.composicion}}</td>
                                <td class="camposTabla">{{=contenedor.categoria.categoria.upper()}}</td>
                                {{capacidad = str(contenedor.capacidad).replace(".", ",")}}
                                <td class="camposTabla">{{=capacidad}} {{=contenedor.unidad_medida.f_abreviatura}}</td>
                            </tr>
                            {{pass}}
                        </tbody>
        
                        <tfoot id="collapseFiltros">
                            <tr>
                                <th class="camposTabla linksNombres">IDENTIFICACIÓN</th>
                                <th class="camposTabla linksNombres">COMPOSICIÓN</th>
                                <th class="camposTabla linksNombres">CATEGORÍA</th>
                                <th class="camposTabla linksNombres">CAPACIDAD</th>
                            </tr>
                        </tfoot>
        
                    </table>
                </div>
            </div>
        </div>
    </div>        
        <!-- Fin Listado de contenedores -->
    </div>

    <!-- Modal añadir envase -->
    <div class="modal fade" id="addContenedor" role="dialog">
        <div class="modal-dialog modal-md">
    
            <!-- Modal content-->
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header addHeader">
                    <div class="row addRow" id="rowHeader">
                        <div class="col-sm-1" id="col1Header">
                            <div class="container" id="plus">
                                <h1 id="agregar">+</h1>
                            </div>
                        </div>
                        <div class="col-sm-10" id="col11Header">
                            <h4 class="modal-title titulo-modal-categoria" id="nuevaCategoria" style="color: white; margin-top:10px;">Nuevo contenedor
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- Fin Modal Header -->
    
                <!-- Modal Body -->
                <div class="modal-body addBody">
                    <div class="row addRow">
                        <div class="col-md-12 form-box">
                            <form id="formularioCarga" class="registration-form" method="post" onsubmit="return validar_campos()">
                                <fieldset class="formField">
                                    <div class="form-bottom">
                                        <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                                        <div class="col-sm-1 col1Body"> </div>
                                        <!-- Aqui va la informacion -->
                                        <div class="col-sm-11 col11Body2">
                                            <h4 class="titulosForm">Datos de ingreso</h4>
                                            <label>Campos marcados con * son obligatorios.</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="identificacion" id="identificacion" onfocusout="validar_identificacion()" placeholder="Identificación del contenedor*.">
                                                <span>Use el formato: CCCC-EEEFFFL-AA-R###</span>
                                                <div class="field-error">
                                                    <p id="error-identificacion"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="capacidad" id="capacidad" onfocusout="validad_capacidad()" placeholder="Capacidad del envase* (Ej: 2000)">
                                                <input type="hidden" class="form-control" name="id_envase" id="id_envase">
                                                <input type="hidden" class="form-control" name="borrar_envase" id="borrar_envase" value="False">
                                                <div class="field-error">
                                                    <p id="error-capacidad"> </p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="unidad_medida">Unidad de medida*</label>
                                                <br>
                                                <select class="select-envases" name="unidad_medida" id="unidad_medida" placeholder="Unidad de medida*">
                                                    {{for unidad in unidades_de_medida:}}
                                                        <option value="{{=unidad.id}}">{{=unidad.f_abreviatura}}</option>
                                                    {{pass}}
                                                </select>
                                                <div class="field-error">
                                                    <p id="error-unidad-medida"> </p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="forma">Forma*</label>
                                                <br>
                                                <select class="select-envases" name="forma" id="forma">
                                                    {{for forma in formas:}}
                                                        <option value="{{=forma}}">{{=forma}}</option>
                                                    {{pass}}
                                                </select>
                                                <div class="field-error">
                                                    <p id="error-forma"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="material">Material*</label>
                                                <br>
                                                <select class="select-envases" name="material" id="material">
                                                    {{for material in materiales:}}
                                                    <option value="{{=material}}">{{=material}}</option>
                                                    {{pass}}
                                                </select>
                                                <div class="field-error">
                                                    <p id="error-material"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="tipo_boca">Tipo de boca*</label>
                                                <br>
                                                <select class="select-envases" name="tipo_boca" id="tipo_boca">
                                                    {{for tipo_boca in tipos_de_boca:}}
                                                    <option value="{{=tipo_boca}}">{{=tipo_boca}}</option>
                                                    {{pass}}
                                                </select>
                                                <div class="field-error">
                                                    <p id="error-tipo-boca"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Especifique descripción si marcó otro en algún campo.">
                                                <div class="field-error">
                                                    <p id="error-descripcion"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="composicion" id="composicion" onfocusout="validar_composicion()" placeholder="Composición del desecho peligroso*: mezcla de X + Y">
                                                <div class="field-error">
                                                    <p id="error-composicion"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="espacio_fisico">Espacio físico*</label>
                                                <br>
                                                <select class="select-envases" name="espacio_fisico" id="espacio_fisico">
                                                    {{for espacio_fisico in espacios_fisicos_adscritos:}}
                                                        <option value="{{=espacio_fisico.id}}">{{=espacio_fisico.codigo}}</option>
                                                    {{pass}}
                                                </select>
                                                <div class="field-error">
                                                    <p id="error-espacio-fisico"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="categoria">Categoría de desecho*</label>
                                                <br>
                                                <select class="select-envases" name="categoria" id="categoria">
                                                    {{for categoria in categorias_de_desecho:}}
                                                    <option value="{{=categoria.id}}">{{=categoria.categoria}}</option>
                                                    {{pass}}
                                                </select>
                                                <br>
                                                <p>Para ver una descripción de cada una de las categorías disponibles, haga click
                                                    <a href="{{=URL('..', 'sigulab2', 'smydp/categorias_desechos')}}" target="_blank">aquí</a>
                                                </p>
                                                <div class="field-error">
                                                    <p id="error-categoria"> </p>
                                                </div>
                                            </div>
                                            <button type="submit" form="formularioCarga" id="submit" class="btn btn-submit btn-primary pull-right" style="margin-left: 10px"><i class="fa fa-plus-circle"></i></button>
                                    </div>
                                </div>
                            </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Fin Modal Body-->
            </div>
        </div>
    </div>

    {{pass}} 
{{pass}}

<script>
    // Eliminando el breadcrumb que trae la forma SQL por defecto
    //document.getElementsByClassName("web2py_breadcrumbs")[0].style.display = 'none';
    // Set blue bar below INICIO text.
    document.getElementById("smydp").className += " active";

    var edit_contenedor_modal = document.getElementById("editContenedor");

    function validar_composicion() {
        // Buscando divs para ingresar mensajes de error

        var error_composicion = document.getElementById("error-composicion");

        // Limpiando los mensajes anteriores de validadores

        if (error_composicion.innerText != '') {
            error_composicion.innerText = '';
            document.getElementById("composicion").style.border = "3px solid #ddd";
        }
        // Buscando los valores ingresados por el usuario en cada campo

        var composicion = document.forms['formularioCarga']['composicion'];

        var mensaje_error_composicion = "Por favor, ingrese una composición válida.";

        if (composicion.value === '' || composicion.value.length === 0) {
            error_composicion.innerText = mensaje_error_composicion;
            composicion.style.border = "1px solid red";
            return false;
        }
    }

    function validad_capacidad() {
        // Buscando divs para ingresar mensajes de error
        var error_capacidad = document.getElementById("error-capacidad");

        if (error_capacidad.innerText != '') {
            error_capacidad.innerText = '';
            document.getElementById("capacidad").style.border = "3px solid #ddd";
        }
        var capacidad = document.forms['formularioCarga']['capacidad'];

        // Se verifica si la capacidad tiene comas, y se substituyen por puntos
        let capacidad_value = capacidad.value.replace(",", ".");
        var mensaje_error_capacidad = "Por favor, ingrese una capacidad válida.";

        if (capacidad_value === '' || capacidad_value.length === 0 || isNaN(capacidad_value) || capacidad_value <= 0) {
            error_capacidad.innerText = mensaje_error_capacidad;
            capacidad.style.border = "1px solid red";
            return false;
        }

        if (!isNaN(parseFloat(capacidad_value))) {
            document.getElementById("capacidad").value = parseFloat(capacidad_value).toFixed(2);
        }
    }

    function validar_identificacion() {

        // Buscando divs para ingresar mensajes de error
        var error_identificacion = document.getElementById("error-identificacion");

        // Limpiando los mensajes anteriores de validadores
        if (error_identificacion.innerText != '') {
            error_identificacion.innerText = '';
            document.getElementById("identificacion").style.border = "3px solid #ddd";
        }

        var identificacion = document.forms['formularioCarga']['identificacion'];

        var mensaje_error_identificacion = "Por favor, ingrese una identificación del contenedor válida.";

        if (identificacion.value === '' || identificacion.value.length === 0 || !regex_identificacion.test(identificacion.value)) {
            error_identificacion.innerText = mensaje_error_identificacion;
            identificacion.style.border = "1px solid red";
            return false;
        }
    }

    function validar_campos() {


        // Buscando divs para ingresar mensajes de error
        var error_identificacion = document.getElementById("error-identificacion");
        var error_capacidad = document.getElementById("error-capacidad");
        var error_unidad_medida = document.getElementById("error-unidad-medida");
        var error_forma = document.getElementById("error-forma");
        var error_material = document.getElementById("error-material");
        var error_tipo_boca = document.getElementById("error-tipo-boca");
        var error_composicion = document.getElementById("error-composicion");
        var error_espacio_fisico = document.getElementById("error-espacio-fisico");
        var error_categoria = document.getElementById("error-categoria");

        // Limpiando los mensajes anteriores de validadores
        if (error_identificacion.innerText != '') {
            error_identificacion.innerText = '';
            document.getElementById("identificacion").style.border = "3px solid #ddd";
        }
        if(error_capacidad.innerText != '') {
            error_capacidad.innerText = '';
            document.getElementById("capacidad").style.border = "3px solid #ddd";
        }
        if(error_composicion.innerText != '') {
            error_composicion.innerText = '';
            document.getElementById("composicion").style.border = "3px solid #ddd";
        }
        if (error_espacio_fisico.innerText != '') {
            error_espacio_fisico.innerText = '';
            document.getElementById("espacio_fisico").style.border = "3px solid #ddd";
        }
        
        // Buscando los valores ingresados por el usuario en cada campo
        var identificacion = document.forms['formularioCarga']['identificacion'];
        var capacidad = document.forms['formularioCarga']['capacidad'];
        var unidad_medida = document.forms['formularioCarga']['unidad_medida'];
        var forma = document.forms['formularioCarga']['forma'];
        var material = document.forms['formularioCarga']['material'];
        var tipo_boca = document.forms['formularioCarga']['tipo_boca'];
        var descripcion = document.forms['formularioCarga']['descripcion'];
        var composicion = document.forms['formularioCarga']['composicion'];
        var espacio_fisico = document.forms['formularioCarga']['espacio_fisico'];
        var categoria = document.forms['formularioCarga']['categoria'];

        // Se verifica si la capacidad tiene comas, y se substituyen por puntos
        let capacidad_value = capacidad.value.replace(",", ".");


        // Mensajes de error
        var mensaje_error_identificacion = "Por favor, ingrese una identificación del contenedor válida.";
        var mensaje_error_capacidad = "Por favor, ingrese una capacidad válida.";
        var mensaje_error_unidad_medida = "Por favor, ingrese una unidad de medida válida.";
        var mensaje_error_forma = "Por favor, ingrese una forma de recipiente válida.";
        var mensaje_error_material = "Por favor, ingrese un material válido.";
        var mensaje_error_tipo_boca = "Por favor, ingrese un tipo de boca válido.";
        var mensaje_error_composicion = "Por favor, ingrese una composición válida.";
        var mensaje_error_espacio_fisico = "Por favor, ingrese un espacio físico válido.";
        var mensaje_error_categoria = "Por favor, ingrese una categoría de desecho válida.";

        if (identificacion.value === '' || identificacion.value.length === 0 || !regex_identificacion.test(identificacion.value) ) {
            error_identificacion.innerText = mensaje_error_identificacion;
            identificacion.style.border = "1px solid red";
            return false;
        }
        if (capacidad_value === '' || capacidad_value.length === 0 || isNaN(capacidad_value) || capacidad_value <= 0) {
            error_capacidad.innerText = mensaje_error_capacidad;
            capacidad.style.border = "1px solid red";
            return false;
        }

        if (!isNaN(parseFloat(capacidad_value))) {
            document.getElementById("capacidad").value = parseFloat(capacidad_value).toFixed(2);
        }

        if(composicion.value === '' || composicion.value.length === 0){
            error_composicion.innerText = mensaje_error_composicion;
            composicion.style.border = "1px solid red";
            return false;
        }

        if (espacio_fisico.value === '' || espacio_fisico.value == undefined) {
            error_espacio_fisico.innerText = mensaje_error_espacio_fisico;
            espacio_fisico.style.border = "1px solid red";
            return false;
        }
    }

    function dialogoAdvertencia() {
        if (confirm('Está seguro de que desea eliminar el contenedor?')) {
            document.getElementById("borrar_envase").value = "True";
            return true;

        } else {
            return false;
        }
    }

</script> 


<!-- Datatables-->
<script src="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.bootstrap.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/jszip.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.js')}}"></script>



<!-- Datatable init js -->
<script src="{{=URL('static', 'plugins/datatables/datatables.init.js')}}"></script>
<script>

    var filtros = false;

    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#datatable tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Filtro" />');
        });

        // DataTable
        var table = $('#datatable').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('#datatable tfoot tr').appendTo('#datatable thead');
        $("#datatable thead tr").not("#titulosListado").css("display", "none");
    });

    function mostrarFiltro() {
        if (filtros) {
            $("#datatable thead tr").not("#titulosListado").css("display", "none");
            filtros = false
        }
        else {
            $("#datatable thead tr").not("#titulosListado").css("display", "table-row");
            filtros = true
        }

    }
</script>

<script language="javascript">

    var table = $('#datatable').DataTable({
            "dom": "<'row buscar'<'col-md-1'f>>" + "<'row'<'col-md-8'l><'col-md-4'i>>" + "<'row'rt>" + "<'row'<'col-md-12'p>>",
            language: {
                url: "{{=URL('static', 'plugins/datatables/l18n/es-ES-custom.json')}}"
            },
            initComplete: function () {
                var api = this.api();

                new $.fn.dataTable.Buttons(api, {
                    buttons: [
                        {
                            text: '<i class="fa fa-filter"></i>',
                            action: function () {
                                mostrarFiltro()
                            },
                            className: 'boton-sigulab'
                        },
                        {
                            extend: 'collection',
                            text: '<i class="fa fa-save"></i>',
                            className: 'boton-sigulab dropDown',
                            background: false,
                            fade: true,
                            buttons: [
                                { extend: 'copy', text: "Copiar" },
                                'pdf',
                                'excel'
                            ]
                        },
                        {
                            extend: 'print',
                            text: '<i class="fa fa-print"></i>'
                        }
                    ]
                });
                api.buttons().container().appendTo('#buttons');
                $('.buttons-pdf').html('<span class="glyphicon glyphicon-file" data-toggle="tooltip" title="Export To PDF"/>');
                $('.buttons-print').html('<span class="glyphicon glyphicon-print" data-toggle="tooltip" title="Print"/>');
                $('.buttons-copy').html('<span class="glyphicon glyphicon-copy" data-toggle="tooltip" title="Copy"/>');
                $('.buttons-excel').html('<span class="glyphicon glyphicon-floppy-disk" data-toggle="tooltip" title="Copy"/>');
            }
        });

        window.onclick = function (event) {
            if (!event.target.matches('#buttons')) {
                $(".dt-button-collection").hide();
            }
        }

        var w2p_ajax_confirm_message =
            "{{=T('')}}";

</script> 
{{end}}