{{extend 'layout.html'}} {{block head}}
<link rel="stylesheet" href="{{=URL('static', 'css/smydp_catalogo.css')}}"> {{end}} {{block center}}

<!-- Breadcrumb de navegación -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
    <div class="breadcrumb">
        <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
        <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp')}}">SMyDP</a>
        <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp/desechos')}}">Desechos peligrosos</a>
        <a class="breadcrumb-item active" href="{{=URL('..', 'sigulab2', 'smydp/envases')}}">Listado de Contenedores</a>
    </div>
</nav>
<!-- Fin del Breadcrumb de navegación -->

<div class="container-fluid">
    
    {{if ('edit' in request.args) or ('view' in request.args):}}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Detalle de contenedor</h1>
            </div>
        </div>
    {{elif ('new' in request.args):}}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Nuevo contenedor</h1>
            </div>
        </div>
    {{else:}}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Listado de Contenedores</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-right">
                <a href="{{=URL('..', 'sigulab2', 'smydp/envases/t_envases/new/t_envases')}}">
                    <button class="btn btn-primary">Agregar contenedor</button>
                </a>
            </div>
        </div>
        {{pass}} 
    {{pass}}
</div>



{{if table.create_form:}} 
    {{=table.create_form}} 
{{elif table.update_form:}} 
    {{=table.update_form}} 
{{elif table.view_form:}}
    {{=table.view_form}} 
{{else:}}
    <div class="container">
        {{=table}}
    </div>
{{pass}}

{{if ('view' in request.args):}}
<div class="row"></div>
    <div class="col-lg-6 text-center">
        <a href="{{=URL('..', 'sigulab2', 'smydp/envases/t_envases/edit/t_envases/' + request.args[3])}}">
            <button class="btn btn-warning">Editar</button>
        </a>
    </div>
    <div class="col-lg-6 text-center">
        <a href="{{=URL('..', 'sigulab2', 'smydp/envases/t_envases/delete/t_envases/' + request.args[3])}}">
            <button class="btn btn-danger">Eliminar</button>
        </a>
    </div>
</div>
{{pass}}

<script>
    // Eliminando el breadcrumb que trae la forma SQL por defecto
    document.getElementsByClassName("web2py_breadcrumbs")[0].style.display = 'none';
    // Set blue bar below INICIO text.
    document.getElementById("smydp").className += " active";
</script> 

<script>
    var inputs = document.querySelectorAll('input[type=submit]');
    inputs[0].value = "Crear";
</script>
{{end}}