{{extend 'layout.html'}}
  
{{block head}}
	<meta charset="UTF-8">

	<!-- Para los mensajes con flash -->
  	<link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3-flash.css')}}"/>

 	<!-- DataTables -->
	<link rel="stylesheet" type="text/css" href="{{=URL('static', 'plugins/datatables2/datatables.min.css')}}"/>
	<script type="text/javascript" src="{{=URL('static', 'plugins/datatables2/datatables.min.js')}}"></script>
 
	<style type="text/css">
		div.dt-buttons {
		  float: right;
		}
		
	</style>
 	<link href="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
 	<link href="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
 	<link href="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />	
 	
 	<!-- Estilos de modales y listados -->
 	<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/smydp_modal.css')}}">
 	<link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventarios.css')}}"> 
 	<link rel="stylesheet" href="{{=URL('static', 'css/smydp_listado.css')}}">
 	<link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventario_dependencia.css')}}">
 	<link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventario_espacio.css')}}">
 	<link rel="stylesheet" href="{{=URL('static', 'css/smydp_template_modal.css')}}">	 

 	<link rel="stylesheet" href="{{=URL('static', 'inventarios/css/template_modal.css')}}">
  	<link rel="stylesheet" href="{{=URL('static', 'inventarios/css/listado.css')}}">
 	<link rel="stylesheet" href="{{=URL('static', 'inventarios/css/bienes_muebles.css')}}">
 	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">	   
 	<script src="{{=URL('static', 'js/inventario_template_modal.js')}}"></script> 
 	<script src="{{=URL('static', 'js/smydp_template_modal.js')}}"></script>	
 	<!-- Web2py JS - Especialmente para AJAX -->
 	<script src="{{=URL('static', 'js/web2py.js')}}"></script>
 	<style>
   	.row{
     	margin-right:0px!important;
   	}
 	</style>
{{end}}

{{block center}}

<!-- Breadcrumb de navegación -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp')}}">SMyDP</a>
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp/sustancias')}}">SyM</a>
  <a class="breadcrumb-item active" href="{{=URL('..', 'sigulab2', 'smydp/inventarios')}}">Inventarios</a>
  </div>
</nav>

<!-- Fin del Breadcrumb de navegación -->

<!-- Flash message -->
<div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>

  
<!-- Inicio de la seccion de cajas de dependencias y espacios fisicos --> 
	<div class="container titulo ">
	<h3 class="inicio-titulo">INVENTARIO DE SyM</h3>
	{{ if dep_padre_nombre == 'DIRECCIÓN': }}
		{{ dep_padre_nombre = 'ULAB'}}
	{{ pass }}
	{{if es_tecnico:}}
		<!-- Si el usuario es tecnico y se encuentra en la vista de los espacios fisicos
		de alguna seccion que tiene "a cargo" o consultando el inventario de un espacio
		debe poder regresar al nivel superior de la jerarquia -->
		{{if espacios or es_espacio or espacio_visitado:}}
		<div class="col-xs-2">
			<button id="boton-retorno" class="btn boton-sigulab buton-retorno" onclick="redirect('{{=URL('inventarios', vars=dict(dependencia=dep_padre_id, es_espacio='False', retroceder=retroceder))}}')">
				<i class="fas fa-arrow-left"></i>	    		
			</button>
		</div>
		<div class="col-xs-8">
			<h3 class="inicio-titulo"> {{=dep_padre_nombre}} </h3>
			<h4 class="inicio-titulo"> {{=dep_nombre}} </h4>
		</div>
		<div class="col-xs-2"> </div>
		<!-- Si el usuario es tecnico y se encuentra en una seccion o un espacio -->
		{{else:}}
		<div class="col-xs-12">
			<h3 class="dep-titulo"> {{=dep_padre_nombre}} </h3>
			<h4 class="dep-titulo"> {{=dep_nombre}} </h4>
		</div>
		{{pass}}

	{{else:}}
		<!-- Si el usuario no es tecnico y hay un nivel superior en la jerarquia, se retrocede al
		siguiente nivel superior de jerarquia -->
		{{if dep_padre_id:}}
		<div class="col-xs-2">
			<!-- Si la flecha debe regresar al inventario de la direccion (en caso de que se tengan
			los permisos) simplemente se redirije a 'inventarios', pues de no hacerlo, se enviaran
			request.vars.dependencia != None lo cual rompe con el flujo de ejecucion programado
			en el controlador-->
			{{if dep_padre_id == direccion_id:}}
			<button id="boton-retorno" class="btn boton-sigulab" onclick="redirect('{{=URL('inventarios')}}')">
				<i class="fas fa-arrow-left"></i>	
			</button>
			{{else:}}
			<button id="boton-retorno" class="btn boton-sigulab" onclick="redirect('{{=URL('inventarios', vars=dict(dependencia=dep_padre_id, es_espacio='False'))}}')">
				<i class="fas fa-arrow-left"></i>	    		
			</button>
			{{pass}}
		</div>
		<div class="col-xs-8">
			<h3 class="dep-titulo">{{=dep_padre_nombre}}</h3>
			<h4 class="dep-titulo"> {{=dep_nombre}} </h4>
		</div>
		<div class="col-xs-2"> </div>
		<!-- Si no es tecnico y no hay mas niveles superiores en la jerarquia, se muestra como titulo
		el nombre de la dependecia a la que pertenece el usuario -->
		{{else:}}
		<div class="col-xs-12">
			<h3 class="dep-titulo"> {{=dep_padre_nombre}} </h3>
			{{ if dep_nombre == 'DIRECCIÓN': }}
				<h3 class="dep-titulo"> ULAB</h3>
			{{ else: }}
				<h4 class="dep-titulo"> {{=dep_nombre}} </h4>
			{{ pass }}
		</div>
		{{pass}}
	{{pass}}
	</div>


	<div class="container">
		{{ if auth.has_membership("DIRECTOR") or auth.has_membership("GESTOR DE SMyDP") \
		or auth.has_membership("WEBMASTER") or auth.has_membership("ASISTENTE DEL DIRECTOR") : }}
		<form nanme="ejemplomonth" action="generar_reporte_rl7" method="POST">
			<select class="form-reporte" type="select" id="mesR7" name="mesR7" required>
				<option value="" selected hidden >Mes*</option>
				{{meses = [('Enero',1),('Febrero',2),
				('Marzo',3),('Abril',4),('Mayo',5),('Junio',6),('Julio',7),
				('Agosto',8),('Septiembre',9),('Octubre',10),('Noviembre',11),('Diciembre',12)]}}
				{{for c in meses:}}
				<option value="{{=c}}">{{=c[0]}}</option>
				{{pass}}
			  </select>
			<select class="form-reporte" type="select" id="ayoR7" name="ayoR7" required>
				<option value="" selected hidden >Año*</option>
				{{ ayos= ['2017','2018','2019']}}
				{{for c in ayos:}}
				<option value="{{=c}}">{{=c}}</option>
				{{pass}}
			</select>			
			<input type="submit" name="enviar" value="Generar Reporte RL7">
		</form>
		{{pass}}
	</div>

	<div class="container">
		{{ if auth.has_membership("DIRECTOR") or auth.has_membership("GESTOR DE SMyDP") \
		or auth.has_membership("WEBMASTER") or auth.has_membership("ASISTENTE DEL DIRECTOR") : }}
		<form nanme="ejemplomonth" action="generar_reporte_rl4" method="POST">
			<select class="form-reporte" type="select" id="mesR4" name="mesR4" required>
				<option value="" selected hidden >Mes*</option>
				{{meses = [('Enero',1),('Febrero',2),
				('Marzo',3),('Abril',4),('Mayo',5),('Junio',6),('Julio',7),
				('Agosto',8),('Septiembre',9),('Octubre',10),('Noviembre',11),('Diciembre',12)]}}
				{{for c in meses:}}
				<option value="{{=c}}">{{=c[0]}}</option>
				{{pass}}
			  </select>
			<select class="form-reporte" type="select" id="ayoR4" name="ayoR4" required>
				<option value="" selected hidden >Año*</option>
				{{ ayos= ['2017','2018','2019']}}
				{{for c in ayos:}}
				<option value="{{=c}}">{{=c}}</option>
				{{pass}}
			</select>			
			<input type="submit" name="enviar" value="Generar Reporte RL4">
		</form>
		{{pass}}

	</div>


	<!-- 
		Si se estan consultando los espacios fisicos de una seccion, la variable espacios 
		sera utilizada en lugar de la variable dependencias 
	-->
	<div class="container">
		<div id="fila1" class="row">
		</div>
		{{ if espacios: }}
			{{ title = "Espacio Físico" }}
			{{dependencias = espacios}}
		{{ elif dep_nombre.find("DIRECCIÓN") != -1: }}
			{{ title = "Dependencia" }}
		{{else: }}
			{{ title = "Secciones" }}
		{{ pass }}
		{{ if len(dependencias) > 0: }}
				<button onclick="show_seccion()">
					Seleccionar: {{=title}}
					<span class="caret"></span>
				</button>
		{{ pass }}
		{{ if espacios: }}
			<div class="grid-container-ef" id="secciones" style="display: none">
		{{ else: }}
			<div class="grid-container" id="secciones" style="display: true">
		{{ pass }}	
			{{ for espacio in dependencias: }}
			<div class="grid-item" onclick="redirect('{{=URL('inventarios',vars=dict(dependencia=espacio.id, es_espacio=es_espacio))}}');">
				{{if espacios:}}
					{{ =espacio.codigo }}
				{{else:}}
					{{ =espacio.nombre }}
				{{pass}}
			</div>
			{{ pass }}
		</div>
	</div>
	

<!-- Fin de la seccion de cajas de dependencias y espacios fisicos --> 

<!-- Inicio de la seccion con la lista de sustancias en el inventario --> 

	<!-- Se lista el inventario del espacio fisico visitado -->
	{{if espacio_visitado:}}
		{{include 'smydp/inventario_espacio.html'}}
	<!-- Se lista el inventario agregado de la dependencia visitada-->
	{{else:}}
		{{include 'smydp/inventario_dependencia.html'}}
	{{pass}}

<!-- Fin de la seccion con la lista de sustancias en el inventario --> 


<script type="text/javascript">
	// Funcion para que mostrar el grid de espacios fisicos
	function grid_ef(){
		var grid = document.getElementById("secciones");
		grid.classList.remove("grid-container");
		grid.classList.add("grid-container-ef");
	}
</script>


<script type="text/javascript">
	function redirect(dir){
		window.location.href = dir;
	}
	
	function show_seccion() {
		var x = document.getElementById("secciones");
		if (x.style.display === "none") {
			x.style.display = "grid";
			x.style.webkitAnimation = "fadein 2s";
			x.style.marginTop = "20px";
		} else {
			x.style.webkitAnimation = "fadeOut 1s";
			setTimeout(function () {
				x.style.display = "none";
			}, 500);
		}
	}

	function hide_seccion(){
		var x = document.getElementById("secciones");
		x.style.display = "none";
	}
</script>
<script>

	var filtros = false;
  
	$(document).ready(function() {
		// Setup - add a text input to each footer cell
		$('#datatable tfoot th').each( function () {
			var title = $(this).text();
			$(this).html( '<input type="text" placeholder="Filtro" />' );
		} );
	 
		// DataTable
		var table = $('#datatable').DataTable();
		
		// Apply the search
		table.columns().every( function () {
			var that = this;
	 
			$( 'input', this.footer() ).on( 'keyup change', function () {
				if ( that.search() !== this.value ) {
					that
						.search( this.value )
						.draw();
				}
			} );
		} );
  
		$('#datatable tfoot tr').appendTo('#datatable thead');
		$("#datatable thead tr").not("#titulosListado").css("display","none");
	} );
  
	function mostrarFiltro() {
		if (filtros){
		  $("#datatable thead tr").not("#titulosListado").css("display","none");
		  filtros = false
		}
		else{
		  $("#datatable thead tr").not("#titulosListado").css("display","table-row");
		  filtros = true
		}
  
	}
 </script>


<!-- Datatables-->
<script src="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.bootstrap.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/jszip.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.js')}}"></script>



<!-- Datatable init js -->
<script src="{{=URL('static', 'plugins/datatables/datatables.init.js')}}"></script>
<script>

  var filtros = false;

  $(document).ready(function() {
      // Setup - add a text input to each footer cell
      $('#datatable tfoot th').each( function () {
          var title = $(this).text();
          $(this).html( '<input type="text" placeholder="Filtro" />' );
      } );
   
      // DataTable
      var table = $('#datatable').DataTable();
   
      // Apply the search
      table.columns().every( function () {
          var that = this;
   
          $( 'input', this.footer() ).on( 'keyup change', function () {
              if ( that.search() !== this.value ) {
                  that
                      .search( this.value )
                      .draw();
              }
          } );
      } );

      $('#datatable tfoot tr').appendTo('#datatable thead');
      $("#datatable thead tr").not("#titulosListado").css("display","none");
  } );

  function mostrarFiltro() {
      if (filtros){
        $("#datatable thead tr").not("#titulosListado").css("display","none");
        filtros = false
      }
      else{
        $("#datatable thead tr").not("#titulosListado").css("display","table-row");
        filtros = true
      }

  }
</script>
 
 <script language="javascript">
  
	var table = $('#datatable').DataTable({
	  'sDom' : "<'row'f <'buttons'>>"+"<'row'<'col-md-6'l><'col-md-6'i>>"+"<'row'rt>"+"<'row'<'col-md-12'p>>",
	  //dom: 'Bfrtip',
	  language: {
		url: "{{=URL('static', 'plugins/datatables/l18n/es-ES.json')}}"
	  },
	  "columnDefs": [
		{ "width": "30%", "targets": 0 , className: 'dt-body-left'},
		{ "width": "10%", "targets": [1,2,3] }
	  ],
	 initComplete: function(){
		var api = this.api();
  
		new $.fn.dataTable.Buttons(api, {
		  buttons: [

			{
			text:'<i class="fa fa-filter"></i>',
			action: function(){
				mostrarFiltro()
			},
			className: 'boton-sigulabIzq'
			},
  
			  {
				  extend: 'collection',
				  text: '<i class="fas fa-save"></i>',
				  className: 'boton-sigulab',
				  buttons: [
					  { extend:'copy', text: 'Copiar' } ,
					  'excel',
					  'csv',
					  'pdf'
				  ]
			  },
			  { extend:'print', text: '<i class="fas fa-print"></i>', className: 'boton-sigulabDer'}
		  ]
		});
		//$('#botonModal').addClass('pull-left')
		$('#filtrar').addClass('pull-left');
		$('#espacioBuscar').addClass('pull-left');
  
  
		$('.dataTables_filter').appendTo('#buttons');
  
		api.buttons().container().appendTo('#buttons');
		//$('.dt-buttons').append($('#botonModal'));
		$('.dt-buttons').append($('#filtrar'));
		$('#buttons').append('<br><br>');
		$('.dataTables_info').addClass('pull-right');
		$('.dataTables_filter').addClass('pull-left');

		$('#datatable_previous').html('<span class="fa fa-arrow-left"/>');
		$('#datatable_next').html('<span class="fa fa-arrow-right" />');
  
		
	 }
	});



  </script>
{{end}}