<!-- Contiene la seccion del listado de sustancias cuando se visita un espacio fisico especifico -->

<!-- Inicio Boton Agregar Sustancia -->
<div class="container" id="containerAgregar">
    <div class="row">
        <div class="col-sm-6"></div>
        <div id="columnBotonAgregar" class="col-sm-6">
	        <div class="col-sm-6"></div>
	        <div class="col-sm-6">
	            <!-- Boton que lleva al modal --> <!-- Cambiar data-target="#addservice por el id de la forma de la sustancia -->
	            <button type="button" id="botonAgregar" class="btn botonesListado" data-toggle="modal" data-target="#addservice">Agregar Sustancia</button>
	        </div>
        </div>
    </div>
</div>
<!-- Fin Boton Agregar Sustancia -->

<!-- Inicio Listado de sustancias -->
<div class="container">
<div class="row">
  <h3> Listado de Servicios </h3>

    <div id="buttons">
      <!-- Filtrado -->
        <button type="button" id="filtrar" onclick="mostrarFiltro()" class="btn btn-default buttons-pdf buttons-html5">Filtrado</button>
      <!-- Filtrado -->    
    </div>
    <br>

    <div class="table-responsive no-padding no-margin">
      <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
        <thead>
            <tr id="titulosListado">
                <th class="camposTabla linksNombres">Nombre</th>
                <th class="camposTabla linksNombres">CAS</th>
                <th class="camposTabla linksNombres">Pureza</th>
                <th class="camposTabla linksNombres">Estado</th>
                <th class="camposTabla linksNombres">Existencia</th>
                <!--
                <th class="camposTabla linksNombres">Unidad</th>
                -->
                <th class="camposTabla linksNombres">Uso interno</th>
                <th class="camposTabla linksNombres">Excedente</th>
            </tr>
        </thead>

        <tbody>
          {{for sustancia in sustancias:}}
            {{sust = sustancia['t_Sustancia']}}
            {{inv = sustancia['t_Inventario']}}
            <tr>
                <td class="camposTabla">{{=sust.f_nombre}}</td>
                <!-- Colocar anchor a la entrada de la sustancia en el catalogo de sustancias -->
                <td class="camposTabla">{{=sust.f_cas}}</td>
                <td class="camposTabla">{{=sust.f_pureza}}</td>
                <td class="camposTabla">{{=sust.f_estado}}</td>
                <td class="camposTabla">{{=inv.f_existencia}}</td>
                <td class="camposTabla">{{=inv.f_uso_interno}}</td>
                <td class="camposTabla">{{=int(inv.f_existencia) - int(inv.f_uso_interno)}}</td>
            </tr>
          {{pass}}           
        </tbody>

        <tfoot id="collapseFiltros">
            <tr>
                <th class="camposTabla linksNombres">Nombre</th>
                <th class="camposTabla linksNombres">CAS</th>
                <th class="camposTabla linksNombres">Pureza</th>
                <th class="camposTabla linksNombres">Estado</th>
                <th class="camposTabla linksNombres">Existencia</th>
                <!--
                <th class="camposTabla linksNombres">Unidad</th>
                -->
                <th class="camposTabla linksNombres">Uso interno</th>
                <th class="camposTabla linksNombres">Excedente</th>
            </tr>
        </tfoot>

      </table>
    </div>
  </div>
</div>  
<!-- Fin Listado de sustancias --> 

<!-- Ajax abrirFicha para mostrar la informacion de la sustancia seleccionada con un modal -->
<input type="hidden" id="serv" name="serv" value="">
