<!-- Contiene la seccion del listado de sustancias cuando se visita una dependencia -->

<!-- Inicio Listado de sustancias -->
<div id="inventario-dependencia" class="container">
<div class="row">
    <div id="buttons"> 
    </div>
    <br>

    <div class="table-responsive no-padding no-margin">
      <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
        <thead>
            <tr id="titulosListado">
                <th class="camposTabla linksNombres">Nombre</th>
                <th class="camposTabla linksNombres">CAS</th>
                <th class="camposTabla linksNombres">Estado</th>
                <th class="camposTabla linksNombres">Uso interno</th>
                <th class="camposTabla linksNombres">Excedente</th>
                <th class="camposTabla linksNombres">Total</th>
                <th class="camposTabla linksNombres">Unidad</th>
            </tr>
        </thead>

        <tbody>
          {{for id_,sust in inventario.iteritems():}}
            <tr>
                <td class="camposTabla">
                    <a href="{{=URL('sustancia',vars=dict(sust=sust['f_nombre']))}}">{{=sust['f_nombre']}}</a>
                </td>
                <!-- *!* Colocar anchor a la entrada de la sustancia en el catalogo de sustancias -->
                <td class="camposTabla">{{=sust['f_cas'] if sust['f_estado'] else ''}}</td>
                <td class="camposTabla">{{=sust['f_estado'][0] if sust['f_estado'] else ''}}</td>
                <td class="camposTabla">{{=sust['f_uso_interno']}}</td>
                <td class="camposTabla">{{=float(sust['f_existencia']) - float(sust['f_uso_interno'])}}</td>
                <td class="camposTabla">{{=sust['f_existencia']}}</td>
                <td class="camposTabla">{{=sust['f_unidad']}}</td>
            </tr>
          {{pass}}           
        </tbody>

        <tfoot id="collapseFiltros">
            <tr>
                <th class="camposTabla linksNombres">Nombre</th>
                <th class="camposTabla linksNombres">CAS</th>
                <th class="camposTabla linksNombres">Estado</th>
                <th class="camposTabla linksNombres">Uso interno</th>
                <th class="camposTabla linksNombres">Excedente</th>
                <th class="camposTabla linksNombres">Total</th>
                <th class="camposTabla linksNombres">Unidad</th>
            </tr>
        </tfoot>

      </table>
    </div>
  </div>
</div>  
<!-- Fin Listado de sustancias -->