<!-- Contiene la seccion del listado de sustancias cuando se visita un espacio fisico especifico -->

<!-- Inicio Boton Agregar Sustancia -->
<div class="container" id="containerAgregar">
    <div class="row">
        <div class="col-sm-6"></div>
        <div id="columnBotonAgregar" class="col-sm-6">
	        <div class="col-sm-6"></div>
	        <div class="col-sm-6">
	            <!-- Boton que lleva al modal --> <!-- Cambiar data-target="#addservice por el id de la forma de la sustancia -->
	        </div>
        </div>
    </div>
</div>
<!-- Fin Boton Agregar Sustancia -->

<!-- Editar desecho -->
{{if ('view' in request.vars):}} 
  {{desecho_seleccionado = ''}}
  {{for desecho in inventario_total:}} 
    {{if desecho['t_inventario_desechos']['id'] == int(request.vars.view):}} 
      {{desecho_seleccionado = desecho}}
    {{pass}}
  {{pass}}

  <div class="container">
        <div class="col-lg-offset-3 col-lg-6">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h3 class="inicio-titulo">DETALLE DEL DESECHO</h3>
              <img class="iconos" src="{{=URL('static', 'images/detallecontenedor.png')}}">
            </div>
          </div>
          <div class="row">
            <div id="columnBotonAgregar">
              <div class="col-lg-12 text-right">
                <button type="button" id="botonEditarDesecho" class="btn btn-primary" data-toggle="modal" data-target="#editarDesecho">
                  <i class="fa fa-pencil"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="row contenedor-filas-detalle-envase">
            <div class="row fila-detalle-envase">
              <div class="col-sm-5 ">
                <label for="categoria_desecho">Categoría de desecho:</label>
              </div>
              <div class="col-sm-6">
                <span>{{=desecho_seleccionado['t_inventario_desechos']['categoria']['categoria'].upper()}}</span>
              </div>
            </div>
          
            <div class="row fila-detalle-envase">
              <div class="col-sm-5 ">
                <label for="composicion">Composición:</label>
              </div>
              <div class="col-sm-6">
                <span>{{=desecho_seleccionado['t_inventario_desechos']['composicion']}}</span>
              </div>
            </div>
          
            <div class="row fila-detalle-envase">
              <div class="col-sm-5 ">
                <label for="envase">Identificación del contenedor donde se depositó el desecho:</label>
              </div>
              <div class="col-sm-6">
                {{envase_seleccionado = ''}} 
                {{for envase in envases_totales:}} 
                  {{if envase['id'] == desecho_seleccionado['t_inventario_desechos']['envase']:}}
                    {{envase_seleccionado = envase}} 
                  {{pass}} 
                {{pass}}
                <span>{{=envase_seleccionado['identificacion'].upper()}}</span>
              </div>
            </div>
          
            <div class="row fila-detalle-envase">
              <div class="col-sm-5 ">
                <label for="concentracion">Concentración del desecho generado*:</label>
              </div>
              <div class="col-sm-6">
                <span>{{=desecho_seleccionado['t_inventario_desechos']['concentracion']}}</span>
              </div>
            </div>
          
            <div class="row fila-detalle-envase">
              <div class="col-sm-5 ">
                <label for="peligrosidad">Peligrosidad del desecho generado*:</label>
              </div>
              <div class="col-sm-6">
                {{peligrosidad = ''}} 
                {{for item in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}} 
                  {{peligrosidad += item + ', '}} 
                {{pass}}
                <span>{{=peligrosidad.upper()}}</span>
              </div>
            </div>
          
            <div class="row fila-detalle-envase">
              <div class="col-sm-5 ">
                <label for="tratamiento">Tipo de tratamiento del desecho generado*:</label>
              </div>
              <div class="col-sm-6">
                <span>{{=desecho_seleccionado['t_inventario_desechos']['tratamiento'].upper()}}</span>
              </div>
            </div>
          </div>
        </div>
    </div>


<!-- Modal editar desecho del inventario -->
<div class="modal fade" id="editarDesecho" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header addHeader">
        <div class="row addRow" id="rowHeader">
          <div class="col-sm-1" id="col1Header">
            <div class="container" id="plus">
              <h1 id="agregar">+</h1>
            </div>
          </div>
          <div class="col-sm-10 modal-header-wrapper" id="col11Header">
            <h4 class="modal-title titulo-modal-desecho" id="nuevoDesecho">Nuevo desecho
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
          </div>
        </div>
      </div>
      <!-- Fin Modal Header -->

      <!-- Modal Body -->
        <div class="modal-body addBody">
          <div class="row addRow">
            <div class="col-md-12 form-box">
                <form id="formularioEdicionContenedor" class="registration-form" method="post">

                  <!-- Primer Paso -->
                  <fieldset class="formField">
                    <div class="form-bottom">
                      <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                      <div class="col-sm-1 col1Body"> </div>
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body">
                        <h4 class="titulosForm">Datos de ingreso</h4>                
                        <p>Campos marcados con * son obligatorios.</p>

                        {{desecho_seleccionado = ''}} 
                        {{for desecho in inventario_total:}} 
                            {{if desecho['t_inventario_desechos']['id'] == int(request.vars.view):}}
                                {{desecho_seleccionado = desecho}} 
                            {{pass}} 
                        {{pass}}
                        
                        <div class="form-group">
                          <label for="envase">Identificación del contenedor donde se depositó el desecho:</label>
                          <select class="form-control" type="select" id="envase" name="envase" required>
                            {{for envase in envases_totales:}} 
                              {{if envase['id'] == desecho_seleccionado['t_inventario_desechos']['envase']:}}
                                <option value="{{=envase['id']}}" selected>{{=envase['identificacion']}}</option>
                              {{else:}}
                                <option value="{{=envase['id']}}">{{=envase['identificacion']}}</option>
                              {{pass}} 
                            {{pass}}
                          </select>
                          <div class="field-error">
                            <p id="error-envase"> </p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="concentracion">Concentración del desecho generado*:</label>
                          <input class="form-control" type="text" name="concentracion" id="concentracion" required placeholder="Ej.: 90" value="{{=desecho_seleccionado['t_inventario_desechos']['concentracion']}}"
                          />
                          <div class="field-error">
                            <p id="error-concentracion"> </p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="peligrosidad">Peligrosidad del desecho generado*:</label>
                          <select type="text" class="form-control" name="peligrosidad" id="peligrosidad" required multiple>
                            {{if "Sustancia Explosiva (EX)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="Sustancia Explosiva (EX)" selected>Sustancia Explosiva (EX)</option>
                            {{else:}}
                              <option value="Sustancia Explosiva (EX)">Sustancia Explosiva (EX)</option>
                            {{pass}} 
                            
                            {{if "Sustancia Inflamable (IN)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="Sustancia Inflamable (IN)" selected>Sustancia Inflamable (IN)</option>
                            {{else:}}
                              <option value="Sustancia Inflamable (IN)">Sustancia Inflamable (IN)</option>
                            {{pass}} 
                            
                            {{if "Sustancia Comburente (CB)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="Sustancia Comburente (CB)" selected>Sustancia Comburente (CB)</option>
                            {{else:}}
                              <option value="Sustancia Comburente (CB)">Sustancia Comburente (CB)</option>
                            {{pass}} 
                            
                            {{if "Gaso Bajo Presión (GZ)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="Gaso Bajo Presión (GZ)" selected>Gaso Bajo Presión (GZ)</option>
                            {{else:}}
                              <option value="Gaso Bajo Presión (GZ)">Gaso Bajo Presión (GZ)</option>
                            {{pass}} 
                            
                            {{if "Corrosiva (CR)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="Corrosiva (CR)" selected>Corrosiva (CR)</option>
                            {{else:}}
                              <option value="Corrosiva (CR)">Corrosiva (CR)</option>
                            {{pass}} 
                            
                            {{if "Toxicidad Aguda (TO)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="Toxicidad Aguda (TO)" selected>Toxicidad Aguda (TO)</option>
                            {{else:}}
                              <option value="Toxicidad Aguda (TO)">Toxicidad Aguda (TO)</option>
                            {{pass}} 
                            
                            {{if "Peligro para la Salud (DA)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="Peligro para la Salud (DA)" selected>Peligro para la Salud (DA)</option>
                            {{else:}}
                              <option value="Peligro para la Salud (DA)">Peligro para la Salud (DA)</option>
                            {{pass}} 
                            
                            {{if "Peligro Grave para la Salud - Cancerígeno Mutágeno (MU)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="Peligro Grave para la Salud - Cancerígeno Mutágeno (MU)" selected>Peligro Grave para la Salud - Cancerígeno Mutágeno (MU)</option>
                            {{else:}}
                              <option value="Peligro Grave para la Salud - Cancerígeno Mutágeno (MU)">Peligro Grave para la Salud - Cancerígeno Mutágeno (MU)</option>
                            {{pass}} 
                            
                            {{if "Dañino para el Medio Ambiente Acuático (EN)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="Dañino para el Medio Ambiente Acuático (EN)" selected>Dañino para el Medio Ambiente Acuático (EN)</option>
                            {{else:}}
                              <option value="Dañino para el Medio Ambiente Acuático (EN)">Dañino para el Medio Ambiente Acuático (EN)</option>
                            {{pass}}
                          </select>
                          <p>Presione Crtl y haga click en las peligrosidad para seleccionar varias</p>
                          <div class="field-error">
                            <p id="error-peligrosidad"> </p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="tratamiento">Tipo de tratamiento del desecho generado*:</label>
                          <select type="text" class="form-control" name="tratamiento" id="tratamiento" required value={{=desecho_seleccionado[
                            't_inventario_desechos'][ 'tratamiento']}}>
                            {{if desecho_seleccionado['t_inventario_desechos']['tratamiento'] == "Reutilizable":}}
                              <option value="Reutilizable" selected>Reutilizable</option>
                            {{else:}}
                              <option value="Reutilizable">Reutilizable</option>
                            {{pass}} 
                            
                            {{if desecho_seleccionado['t_inventario_desechos']['tratamiento'] == "Recuperable":}}
                              <option value="Recuperable" selected>Recuperable</option>
                            {{else:}}
                              <option value="Recuperable">Recuperable</option>
                            {{pass}} 
                            
                            {{if desecho_seleccionado['t_inventario_desechos']['tratamiento'] == "Tratable":}}
                              <option value="Tratable" selected>Tratable</option>
                            {{else:}}
                              <option value="Tratable">Tratable</option>
                            {{pass}} 
                            
                            {{if desecho_seleccionado['t_inventario_desechos']['tratamiento'] == "Disposición final":}}
                              <option value="Disposición final" selected>Disposición final</option>
                            {{else:}}
                              <option value="Disposición final">Disposición final</option>
                            {{pass}}
                          </select>
                          <div class="field-error">
                            <p id="error-tratamiento"> </p>
                          </div>
                  
                        </div>
                          
                      </div>
                    </div>
                    <button type="submit" form="formularioEdicionContenedor" id="submit" class="btn btn-primary">
                        <i class="fa fa-floppy-o"></i>
                    </button>
                  </fieldset>
                  <!-- Fin Primer Paso -->
                  <div class="pull-right">
                    
                  </div>
                </form>
            </div>
          </div>               
        </div>
    </div>
  </div>

  <!-- Fin Modal editar desecho del inventario -->
{{else:}}
  <!-- Inicio Listado de sustancias -->
  <div class="container">
    <div class="row">
      <h3> Inventario </h3>
      <div id="buttons" class="text-right">
        <!-- Agregar contenedor -->
        <button type="button" id="botonAgregar" class="btn botonesListado buttons-html5" data-toggle="modal" data-target="#adddesecho">
          <li class="fa fa-plus"></li>
        </button>
        <!-- Filtrado -->
        <button type="button" id="filtrar" onclick="mostrarFiltro()" class="btn btn-default buttons-html5">
          <i class="fa fa-filter"></i>
        </button>
        <!-- Filtrado -->
      </div>
      <br>
      <div class="table-responsive ">
        <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
          <thead>
            <tr id="titulosListado">
              <th style="padding-left: 30px !important" class="camposTabla linksNombres">GRUPO DE DESECHO</th>
              <th class="camposTabla linksNombres">COMPOSICIÓN</th>
              <th class="camposTabla linksNombres">RESPONSABLE</th>
              <th class="camposTabla linksNombres">CANTIDAD</th>
              <th class="camposTabla linksNombres">PELIGROSIDAD</th>
              <th class="camposTabla linksNombres">TRATAMIENTO</th>
              <th class="camposTabla linksNombres">OPCIONES</th>
            </tr>
          </thead>
  
          <tbody>
            {{for desecho in inventario:}}
            <tr>
              <td style="padding-left: 30px !important" class="camposTabla" style="text-align: center">{{=desecho['t_inventario_desechos']['categoria']['categoria'].upper()}}</td>
              <td class="camposTabla">
                <a href="{{=URL('bitacora_desechos',vars=dict(inv=desecho['t_inventario_desechos']['id']))}}">{{=desecho['t_inventario_desechos']['composicion']}}</a>
              </td>
              <td class="camposTabla">{{=desecho['t_inventario_desechos']['responsable']['f_nombre'].upper()}} {{=desecho['t_inventario_desechos']['responsable']['f_apellido'].upper()}}</td>
              {{cantidad = str(desecho['_extra']['SUM("t_inventario_desechos"."cantidad")']).replace(".", ",")}}
              <td class="camposTabla">{{=cantidad}} {{=desecho['t_inventario_desechos']['unidad_medida']['f_abreviatura']}}</td>
              {{peligrosidades = ""}} 
              {{for peligrosidad in desecho['t_inventario_desechos']['peligrosidad']:}} 
                {{peligrosidades += peligrosidad.upper() + ", "}} 
              {{pass}} 
              {{peligrosidades = peligrosidades[:-2]}}
              <td class="camposTabla">{{=peligrosidades}} </td>
              <td class="camposTabla">{{=desecho['t_inventario_desechos']['tratamiento'].upper()}} </td>
              <td class="camposTabla">
                <a href={{=URL( '..', 'sigulab2', 'smydp/inventarios_desechos', vars=dict(dependencia=request.vars.dependencia, es_espacio=request.vars.es_espacio, view=desecho[ 't_inventario_desechos'][ 'id']))}}>
                  Editar
                </a>
              </td>
            </tr>
            {{pass}}
          </tbody>
          <tfoot id="collapseFiltros">
            <tr>
              <th style="width: 100px !important" class="camposTabla linksNombres">GRUPO DE DESECHO</th>
              <th class="camposTabla linksNombres">COMPOSICIÓN</th>
              <th class="camposTabla linksNombres">RESPONSABLE</th>
              <th class="camposTabla linksNombres">CANTIDAD</th>
              <th class="camposTabla linksNombres">PELIGROSIDAD</th>
              <th class="camposTabla linksNombres">TRATAMIENTO</th>
              <th class="camposTabla linksNombres">OPCIONES</th>
            </tr>
          </tfoot>
  
        </table>
      </div>
    </div>
  </div>
  <!-- Fin Listado de sustancias -->

{{pass}}

<!-- Ajax abrirFicha para mostrar la informacion de la sustancia seleccionada con un modal -->
<input type="hidden" id="serv" name="serv" value="">


<!-- Modal añadir una sustancia nueva al inventario -->
  <div class="modal fade" id="adddesecho" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header addHeader">
          <div class="row addRow" id="rowHeader">
            <div class="col-sm-1" id="col1Header">
              <div class="container" id="plus">
                <h1 id="agregar">+</h1>
              </div>
            </div>
            <div class="col-sm-10 modal-header-wrapper" id="col11Header">
              <h4 class="modal-title titulo-modal-desecho" id="nuevoDesecho">Nuevo desecho
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </h4>
            </div>
          </div>
        </div>
        <!-- Fin Modal Header -->
        
        <!-- Modal Body -->
        <div class="modal-body addBody">
          <div class="row addRow">
            <div class="col-md-12 form-box">
                <form id="formularioCarga" class="registration-form" method="post" onsubmit="return validar_campos()">

                  <!-- Primer Paso -->
                  <fieldset class="formField">
                    <div class="form-bottom">
                      <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                      <div class="col-sm-1 col1Body"> </div>
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body">
                        <h4 class="titulosForm">Datos de ingreso</h4>                
                        <p>Campos marcados con * son obligatorios.</p>
                          <div class="form-group">
                            <label for="envase">Identificación del contenedor donde se depositó el desecho:</label>
                            <select class="form-control" type="select" id="envase" name="envase" required>
                              <option value="" selected hidden >Contenedor*</option>
                              {{for envase in envases:}}
                              <option value="{{=envase['id']}}">{{=envase['identificacion']}}</option>
                              {{pass}}
                            </select>
                            <div class="field-error"> <p id="error-envase"> </p> </div>
                          </div>
                          <div class="form-group">
                            <label for="cantidad">Cantidad de desecho generado*:</label>
                            <input class="form-control" type="text" name="cantidad" id="cantidad" required placeholder="150"/>
                            <div class="field-error">
                              <p id="error-cantidad"> </p>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="concentracion">Concentración del desecho generado*:</label>
                            <input class="form-control" type="text" name="concentracion" id="concentracion" required placeholder="Ej.: 90" />
                            <div class="field-error">
                              <p id="error-concentracion"> </p>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="peligrosidad">Peligrosidad del desecho generado*:</label>
                            <select type="text" class="form-control" name="peligrosidad" id="peligrosidad" required multiple>
                              <option value="Sustancia Explosiva (EX)">Sustancia Explosiva (EX)</option>
                              <option value="Sustancia Inflamable (IN)">Sustancia Inflamable (IN)</option>
                              <option value="Sustancia Comburente (CB)">Sustancia Comburente (CB)</option>
                              <option value="Gaso Bajo Presión (GZ)">Gaso Bajo Presión (GZ)</option>
                              <option value="Corrosiva (CR)">Corrosiva (CR)</option>
                              <option value="Toxicidad Aguda (TO)">Toxicidad Aguda (TO)</option>
                              <option value="Peligro para la Salud (DA)">Peligro para la Salud (DA)</option>
                              <option value="Peligro Grave para la Salud - Cancerígeno Mutágeno (MU)">Peligro Grave para la Salud - Cancerígeno Mutágeno (MU)</option>
                              <option value="Dañino para el Medio Ambiente Acuático (EN)">Dañino para el Medio Ambiente Acuático (EN)</option>
                            </select>
                            <p>Presione Crtl y haga click en las peligrosidad para seleccionar varias</p>
                            <div class="field-error"> <p id="error-peligrosidad"> </p> </div>
                          </div>
                          <div class="form-group">
                            <label for="tratamiento">Tipo de tratamiento del desecho generado*:</label>
                            <select type="text" class="form-control" name="tratamiento" id="tratamiento" required>
                              <option value="Reutilizable">Reutilizable</option>
                              <option value="Recuperable">Recuperable</option>
                              <option value="Tratable">Tratable</option>
                              <option value="Disposición final">Disposición final</option>
                            </select>
                            <div class="field-error">
                              <p id="error-tratamiento"> </p>
                            </div>
                          </div>
                      </div>
                    </div>
                    <button type="submit" form="formularioCarga" id="submit" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button>         
                  </fieldset>
                  <!-- Fin Primer Paso -->
                </form>
            </div>
          </div>               
        </div>
      </div>
    </div>
  </div>

<!-- Fin Modal Agregar Servicio -->

<script type="text/javascript">

  // Valida los campos de la forma en el modal "addsustancia"
  function validar_campos(){

    // Buscando divs para ingresar mensajes de error
    var error_envase = document.getElementById("error-envase");
    var error_cantidad = document.getElementById("error-cantidad");
    var error_concentracion = document.getElementById("error-concentracion");
    var error_peligrosidad = document.getElementById("error-peligrosidad");
    var error_tratamiento = document.getElementById("error-tratamiento");

    // Limpiando los mensajes anteriores de validadores
    if (error_envase.innerText != ''){
      error_envase.innerText = '';
    }
    if (error_cantidad.innerText != ''){
      error_cantidad.innerText = '';
    }
    if (error_concentracion.innerText != '') {
      error_concentracion.innerText = '';
    }
    if (error_peligrosidad.innerText != '') {
      error_peligrosidad.innerText = '';
    }
    if (error_tratamiento.innerText != '') {
      error_tratamiento.innerText = '';
    }
     


    // Buscando los valores ingresados por el usuario en cada campo
    var envase = document.forms['formularioCarga']['envase'].value;
    var cantidad = document.forms['formularioCarga']['cantidad'].value;
    var concentracion = document.forms['formularioCarga']['concentracion'].value;
    var peligrosidad = document.forms['formularioCarga']['peligrosidad'].value;
    var tratamiento = document.forms['formularioCarga']['tratamiento'].value;
    

    // Mensajes de error
    var mensaje_error_envase = "Por favor ingrese la identificación de un contenedor";
    var mensaje_error_cantidad = "Por favor ingrese un valor numérico no negativo. Por ej.: 250";
    var mensaje_error_concentracion = "Por favor ingrese un valor numérico no negativo en el rango entre 1 y 100.";
    var mensaje_error_peligrosidad = "Por favor seleccione al menos una peligrosidad de la lista. Puede seleccionar múltiples opciones haciendo click mientras mantiene presionada la tecla Crtl.";
    var mensaje_error_tratamiento = "Por favor ingrese una opción de tratamiento para el desecho.";

    if (!is_number(cantidad) || is_negative(cantidad) || is_zero(cantidad)) {
      error_cantidad.innerText = mensaje_error_cantidad;
      return false;
    }
    
    if (!is_number(concentracion) || is_negative(concentracion) || is_zero(concentracion)) {
      error_concentracion.innerText = mensaje_error_concentracion;
      return false;
    }

  }

  // True si "n" es un numero
  function is_number(n){
    return !isNaN(n)
  }

  // True si "n" es negativo
  function is_negative(n){
    return (n < 0)
  }

  // True si "n" es cero
  function is_zero(n){
    return (n == 0)
  }

</script>
