<!-- Contiene la seccion del listado de sustancias cuando se visita un espacio fisico especifico -->

<!-- Editar desecho -->
{{if ('view' in request.vars):}} 
  {{desecho_seleccionado = ''}}
  {{for desecho in inventario_total:}} 
    {{if desecho['t_inventario_desechos']['id'] == int(request.vars.view):}} 
      {{desecho_seleccionado = desecho}}
    {{pass}}
  {{pass}}

  <div class="container">
      <div  class="row pull-left boton-retroceder"></div>
          <div class="row">   
              <div style="display: flex; flex-flow: row; justify-content: space-around; align-items: center;" class="col-lg-12 text-center">            
              <div class="col-xs-2"></div>                               
                <div class="col-xs-8">
                  <h3 class="inicio-titulo" style="margin-top:-80px">DETALLE DEL DESECHO</h3>
                  <img class="iconos" src="{{=URL('static', 'images/detallecontenedor.png')}}">
                  
                </div>                  
                <div class="col-xs-2">
                    {{if auth.has_membership('GESTOR DE SMyDP') or auth.has_membership('WEBMASTER'):}}                  
                    <button type="button" id="botonEditar" class="btn btn-primary agregar" title="Editar el desecho peligroso" style="margin-top:-140px" data-toggle="modal" data-target="#editarDesecho">
                        <i class="fa fa-pencil"></i>
                    </button>
                    {{pass}}
                </div>
          </div>
          </div>
        <div class="row">
            <div id="columnBotonAgregar">
                <div class="col-lg-12 text-right">
                </div>
            </div>
        </div>
          <div class="row contenedor-filas-detalle-envase">
            <div class="row fila-detalle-envase">
              <div class="col-sm-5 ">
                <label for="categoria_desecho">Categoría de desecho:</label>
              </div>
              <div class="col-sm-6">
                <span>{{=desecho_seleccionado['t_inventario_desechos']['categoria']['categoria'].upper()}}</span>
              </div>
            </div>
          
            <div class="row fila-detalle-envase">
              <div class="col-sm-5 ">
                <label for="composicion">Composición:</label>
              </div>
              <div class="col-sm-6">
                <span>{{=desecho_seleccionado['t_inventario_desechos']['composicion']}}</span>
              </div>
            </div>
          
            <div class="row fila-detalle-envase">
              <div class="col-sm-5 ">
                <label for="envase">Identificación del contenedor donde se depositó el desecho:</label>
              </div>
              <div class="col-sm-6">
                {{envase_seleccionado = ''}} 
                {{for envase in envases_totales:}} 
                  {{if envase['id'] == desecho_seleccionado['t_inventario_desechos']['envase']:}}
                    {{envase_seleccionado = envase}} 
                  {{pass}} 
                {{pass}}
                <span>{{=envase_seleccionado['identificacion'].upper()}}</span>
              </div>
            </div>
          
            <div class="row fila-detalle-envase">
              <div class="col-sm-5 ">
                <label for="concentracion">Concentración del desecho generado*:</label>
              </div>
              <div class="col-sm-6">
                <span>{{=desecho_seleccionado['t_inventario_desechos']['concentracion']}}</span>
              </div>
            </div>
          
            <div class="row fila-detalle-envase">
              <div class="col-sm-5 ">
                <label for="composicion">Composición:</label>
              </div>
              <div class="col-sm-6">
                <span>{{=desecho_seleccionado['t_inventario_desechos']['composicion']}}</span>
              </div>
            </div>

            <div class="row fila-detalle-envase">
                <div class="col-sm-5 ">
                  <label for="peligrosidad">Peligrosidad del desecho generado*:</label>
                </div>
                <div class="col-sm-6">
                  {{peligrosidad = ''}} 
                  {{for item in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}} 
                    {{peligrosidad += item + ', '}} 
                  {{pass}}
                  <span>{{=peligrosidad.upper()}}</span>
                </div>
              </div>

            <div class="row fila-detalle-envase">
              <div class="col-sm-5 ">
                <label for="tratamiento">Tipo de tratamiento del desecho generado*:</label>
              </div>
              <div class="col-sm-6">
                <span>{{=desecho_seleccionado['t_inventario_desechos']['tratamiento'].upper()}}</span>
              </div>
            </div>
    </div>


<!-- Modal editar desecho del inventario -->
<div class="modal fade" id="editarDesecho" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header addHeader">
        <div class="row addRow" id="rowHeader">
          <div class="col-sm-1" id="col1Header">
            <div class="container" id="plus">
              <h1 id="agregar">+</h1>
            </div>
          </div>
          <div class="col-sm-10 modal-header-wrapper" id="col11Header">
            <h4 class="modal-title titulo-modal-desecho" id="nuevoDesecho">Editar desecho
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </h4>
          </div>
        </div>
      </div>
      <!-- Fin Modal Header -->

      <!-- Modal Body -->
        <div class="modal-body addBody">
          <div class="row addRow">
            <div class="col-md-12 form-box">
                <form id="formularioEdicionDesecho" class="registration-form" method="post">

                  <!-- Primer Paso -->
                  <fieldset class="formField">
                    <div class="form-bottom">
                      <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                      <div class="col-sm-1 col1Body"> </div>
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body">
                        <h4 class="titulosForm">Datos de ingreso</h4>                
                        <p>Campos marcados con * son obligatorios.</p>

                        {{desecho_seleccionado = ''}} 
                        {{for desecho in inventario_total:}} 
                            {{if desecho['t_inventario_desechos']['id'] == int(request.vars.view):}}
                                {{desecho_seleccionado = desecho}} 
                            {{pass}} 
                        {{pass}}
                        
                        <div class="form-group">
                          <label for="envase">Identificación del contenedor donde se depositó el desecho:</label>
                          <select class="form-control" type="select" id="envase" name="envase" required>
                            {{for envase in envases_totales:}} 
                              {{if envase['id'] == desecho_seleccionado['t_inventario_desechos']['envase']:}}
                                <option value="{{=envase['id']}}" selected data-capacidad="{{=envase['capacidad']}}">{{=envase['identificacion']}}</option>
                              {{else:}}
                                <option value="{{=envase['id']}}" data-capacidad="{{=envase['capacidad']}}">{{=envase['identificacion']}}</option>
                              {{pass}} 
                            {{pass}}
                          </select>
                          <input class="form-control" type="hidden" value="False" name="borrar_desecho" id="borrar_desecho" />
                          <div class="field-error">
                            <p id="error-envase"> </p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="concentracion">Concentración del desecho generado*:</label>
                          <input class="form-control" type="text" name="concentracion" id="concentracion" onfocusout="validar_concentracion()" required placeholder="Ej.: 90" value="{{=desecho_seleccionado['t_inventario_desechos']['concentracion']}}"
                          />
                          <div class="field-error">
                            <p id="error-concentracion"> </p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="peligrosidad">Peligrosidad del desecho generado*:</label>
                          <select type="text" class="form-control" name="peligrosidad" id="peligrosidad" required multiple>
                            {{if "SUSTANCIA EXPLOSIVA (EX)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="SUSTANCIA EXPLOSIVA (EX)" selected>SUSTANCIA EXPLOSIVA (EX)</option>
                            {{else:}}
                              <option value="SUSTANCIA EXPLOSIVA (EX)">SUSTANCIA EXPLOSIVA (EX)</option>
                            {{pass}} 
                            
                            {{if "SUSTANCIA INFLAMABLE (IN)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="SUSTANCIA INFLAMABLE (IN)" selected>SUSTANCIA INFLAMABLE (IN)</option>
                            {{else:}}
                              <option value="SUSTANCIA INFLAMABLE (IN)">SUSTANCIA INFLAMABLE (IN)</option>
                            {{pass}} 
                            
                            {{if "SUSTANCIA COMBURENTE (CB)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="SUSTANCIA COMBURENTE (CB)" selected>SUSTANCIA COMBURENTE (CB)</option>
                            {{else:}}
                              <option value="SUSTANCIA COMBURENTE (CB)">SUSTANCIA COMBURENTE (CB)</option>
                            {{pass}} 
                            
                            {{if "GAS BAJO PRESIóN (GZ)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="GAS BAJO PRESIóN (GZ)" selected>GAS BAJO PRESIóN (GZ)</option>
                            {{else:}}
                              <option value="GAS BAJO PRESIóN (GZ)">GAS BAJO PRESIóN (GZ)</option>
                            {{pass}} 
                            
                            {{if "CORROSIVA (CR)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="CORROSIVA (CR)" selected>CORROSIVA (CR)</option>
                            {{else:}}
                              <option value="CORROSIVA (CR)">CORROSIVA (CR)</option>
                            {{pass}} 
                            
                            {{if "TOXICIDAD AGUDA (TO)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="TOXICIDAD AGUDA (TO)" selected>TOXICIDAD AGUDA (TO)</option>
                            {{else:}}
                              <option value="TOXICIDAD AGUDA (TO)">TOXICIDAD AGUDA (TO)</option>
                            {{pass}} 
                            
                            {{if "PELIGRO PARA LA SALUD (DA)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="PELIGRO PARA LA SALUD (DA)" selected>PELIGRO PARA LA SALUD (DA)</option>
                            {{else:}}
                              <option value="PELIGRO PARA LA SALUD (DA)">PELIGRO PARA LA SALUD (DA)</option>
                            {{pass}} 
                            
                            {{if "PELIGRO GRAVE PARA LA SALUD - CANCERíGENO MUTáGENO (MU)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="PELIGRO GRAVE PARA LA SALUD - CANCERíGENO MUTáGENO (MU)" selected>PELIGRO GRAVE PARA LA SALUD - CANCERíGENO MUTáGENO (MU)</option>
                            {{else:}}
                              <option value="PELIGRO GRAVE PARA LA SALUD - CANCERíGENO MUTáGENO (MU)">PELIGRO GRAVE PARA LA SALUD - CANCERíGENO MUTáGENO (MU)</option>
                            {{pass}} 
                            
                            {{if "DAÑINO PARA EL MEDIO AMBIENTE ACUáTICO (EN)" in desecho_seleccionado['t_inventario_desechos']['peligrosidad']:}}
                              <option value="DAÑINO PARA EL MEDIO AMBIENTE ACUáTICO (EN)" selected>DAÑINO PARA EL MEDIO AMBIENTE ACUáTICO (EN)</option>
                            {{else:}}
                              <option value="DAÑINO PARA EL MEDIO AMBIENTE ACUáTICO (EN)">DAÑINO PARA EL MEDIO AMBIENTE ACUáTICO (EN)</option>
                            {{pass}}
                          </select>
                          <p>Presione Crtl y haga click en las peligrosidad para seleccionar varias</p>
                          <div class="field-error">
                            <p id="error-peligrosidad"> </p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="tratamiento">Tipo de tratamiento del desecho generado*:</label>
                          <select type="text" class="form-control" name="tratamiento" id="tratamiento" required value={{=desecho_seleccionado[
                            't_inventario_desechos'][ 'tratamiento']}}>
                            {{if desecho_seleccionado['t_inventario_desechos']['tratamiento'] == "REUTILIZABLE":}}
                              <option value="REUTILIZABLE" selected>REUTILIZABLE</option>
                            {{else:}}
                              <option value="REUTILIZABLE">REUTILIZABLE</option>
                            {{pass}} 
                            
                            {{if desecho_seleccionado['t_inventario_desechos']['tratamiento'] == "RECUPERABLE":}}
                              <option value="RECUPERABLE" selected>RECUPERABLE</option>
                            {{else:}}
                              <option value="RECUPERABLE">RECUPERABLE</option>
                            {{pass}} 
                            
                            {{if desecho_seleccionado['t_inventario_desechos']['tratamiento'] == "TRATABLE":}}
                              <option value="TRATABLE" selected>TRATABLE</option>
                            {{else:}}
                              <option value="TRATABLE">TRATABLE</option>
                            {{pass}} 
                            
                            {{if desecho_seleccionado['t_inventario_desechos']['tratamiento'] == "DISPOSICIóN FINAL":}}
                              <option value="DISPOSICIóN FINAL" selected>DISPOSICIóN FINAL</option>
                            {{else:}}
                              <option value="DISPOSICIóN FINAL">DISPOSICIóN FINAL</option>
                            {{pass}}
                          </select>
                          <div class="field-error">
                            <p id="error-tratamiento"> </p>
                          </div>
                          </div>
                    <div class="boton-modal">      
                      <button type="submit" form="formularioEdicionDesecho" id="submit" class="btn btn-primary" style="border-radius: 100% !important; min-width: 0px;">
                        <i class="fa fa-floppy-o"></i>
                      </button>
                      {{if auth.has_membership('GESTOR DE SMyDP') or auth.has_membership('WEBMASTER'):}}
                        <button style="min-width: 0px; border-radius: 50%;" class="btn btn-danger" id="boton_borrar_categoria" type="submit" form="formularioEdicionDesecho" onclick="return dialogoAdvertencia();">
                          <i class="fa fa-trash-o"></i>
                        </button>
                      {{pass}}
                    </div>
                    </div>
                          
                </div>
              </div>
                  </fieldset>
                  <!-- Fin Primer Paso -->
                  <div class="pull-right">
                    
                  </div>
                </form>
            </div>
          </div>               
        </div>
    </div>
  </div>

  <!-- Fin Modal editar desecho del inventario -->
{{else:}}
  <!-- Inicio Listado de sustancias -->
  <div class="container">
    <div class="row">
      <div id="buttons" class="text-right">
        <!-- Filtrado -->
        <button type="button" id="filtrar" onclick="mostrarFiltro()" class="btn btn-default buttons-html5">
          <i class="fa fa-filter"></i>
        </button>
        <!-- Filtrado -->
      </div>
      <br>
      <div class="table-responsive ">
        <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
          <thead>
            <tr id="titulosListado">
              <th style="padding-left: 30px !important" class="camposTabla linksNombres">CATEGORÍA DE DESECHO</th>
              <th class="camposTabla linksNombres">COMPOSICIÓN</th>
              <th class="camposTabla linksNombres">PELIGROSIDAD</th>
              <th class="camposTabla linksNombres">TRATAMIENTO</th>
              <th class="camposTabla linksNombres">RESPONSABLE</th>
              <th class="camposTabla linksNombres">CANTIDAD</th>
              <th class="camposTabla linksNombres">OPCIONES</th>
            </tr>
          </thead>
  
          <tbody>
            {{for desecho in inventario:}}
            <tr>
              <td style="padding-left: 30px !important" class="camposTabla" style="text-align: center">{{=desecho['t_inventario_desechos']['categoria']['categoria'].upper()}}</td>
              <td class="camposTabla">
                <a href="{{=URL('bitacora_desechos',vars=dict(inv=desecho['t_inventario_desechos']['id']))}}">{{=desecho['t_inventario_desechos']['composicion']}}</a>
              </td>
              {{peligrosidades = ""}} 
              {{for peligrosidad in desecho['t_inventario_desechos']['peligrosidad']:}} 
                {{peligrosidades += peligrosidad.upper() + ", "}} 
              {{pass}} 
              {{peligrosidades = peligrosidades[:-2]}}
              <td class="camposTabla">{{=peligrosidades}} </td>  
              <td class="camposTabla">{{=desecho['t_inventario_desechos']['tratamiento'].upper()}} </td>           
              <td class="camposTabla">{{=desecho['t_inventario_desechos']['responsable']['f_nombre'].upper()}} {{=desecho['t_inventario_desechos']['responsable']['f_apellido'].upper()}}</td>
              {{cantidad = str(desecho['_extra']['SUM("t_inventario_desechos"."cantidad")']).replace(".", ",")}}
              <td class="camposTabla">{{=cantidad}} {{=desecho['t_inventario_desechos']['unidad_medida']['f_abreviatura']}}</td>
              <td class="camposTabla">
                <a href={{=URL( '..', 'sigulab2', 'smydp/inventarios_desechos', vars=dict(dependencia=request.vars.dependencia, es_espacio=request.vars.es_espacio, view=desecho[ 't_inventario_desechos'][ 'id']))}}>
                  <button style="border-radius: 50%;" title="Detalle del desecho peligroso" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                </a>
              </td>
            </tr>
            {{pass}}
          </tbody>
          <tfoot id="collapseFiltros">
            <tr>
              <th style="width: 100px !important" class="camposTabla linksNombres">CATEGORÍA DE DESECHO</th>
              <th class="camposTabla linksNombres">COMPOSICIÓN</th>
              <th class="camposTabla linksNombres">PELIGROSIDAD</th>
              <th class="camposTabla linksNombres">TRATAMIENTO</th>
              <th class="camposTabla linksNombres">RESPONSABLE</th>
              <th class="camposTabla linksNombres">CANTIDAD</th>
              <th class="camposTabla linksNombres">OPCIONES</th>
            </tr>
          </tfoot>
  
        </table>
      </div>
    </div>
  </div>
  <!-- Fin Listado de sustancias -->

{{pass}}

<!-- Ajax abrirFicha para mostrar la informacion de la sustancia seleccionada con un modal -->
<input type="hidden" id="serv" name="serv" value="">


<!-- Modal añadir una sustancia nueva al inventario -->
  <div class="modal fade" id="adddesecho" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header addHeader">
          <div class="row addRow" id="rowHeader">
            <div class="col-sm-1" id="col1Header">
              <div class="container" id="plus">
                <h1 id="agregar">+</h1>
              </div>
            </div>
            <div class="col-sm-10 modal-header-wrapper" id="col11Header">
              <h4 class="modal-title titulo-modal-desecho" id="nuevoDesecho">Nuevo desecho
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </h4>
            </div>
          </div>
        </div>
        <!-- Fin Modal Header -->
        
        <!-- Modal Body -->
        <div class="modal-body addBody">
          <div class="row addRow">
            <div class="col-md-12 form-box">
                <form id="formularioCarga" class="registration-form" method="post" onsubmit="return validar_campos()">

                  <!-- Primer Paso -->
                  <fieldset class="formField">
                    <div class="form-bottom">
                      <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                      <div class="col-sm-1 col1Body"> </div>
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body">
                        <h4 class="titulosForm">Datos de ingreso</h4>                
                        <p>Campos marcados con * son obligatorios.</p>
                          <div class="form-group">
                            <label for="envase">Identificación del contenedor donde se depositó el desecho*:</label>
                            {{if len(envases) > 0:}}                          
                              <select class="form-control" type="select" id="envase" name="envase" required>
                                <option value="" selected hidden disabled data-capacidad="0">Seleccione un contenedor*</option>
                                {{for envase in envases:}}
                                <option value="{{=envase['id']}}" data-capacidad="{{=envase['capacidad']}}">{{=envase['identificacion']}}</option>
                                {{pass}}
                              </select>
                            {{else:}}
                              <p>No existen contenedores disponibles. Para crear uno nuevo, haga click <a href="{{=URL('envases')}}" target="_blank">aquí</a>.</p>
                            {{pass}}
                            <div class="field-error"> <p id="error-envase"> </p> </div>
                          </div>
                          <div class="form-group">
                            <label for="cantidad">Cantidad de desecho generado*:</label>
                            <input class="form-control" type="text" name="cantidad" id="cantidad" onfocusout="validar_cantidad()" required placeholder="Ej.: 150"/>
                            <div class="field-error">
                              <p id="error-cantidad"> </p>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="concentracion">Concentración del desecho generado*:</label>
                            <input class="form-control" type="text" name="concentracion" id="concentracion" onfocusout="validar_concentracion()" required placeholder="Ej.: 90" />
                            <div class="field-error">
                              <p id="error-concentracion"> </p>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="peligrosidad">Peligrosidad del desecho generado*:</label>
                            <select type="text" class="form-control" name="peligrosidad" id="peligrosidad" required multiple>
                              <option value="SUSTANCIA EXPLOSIVA (EX)">SUSTANCIA EXPLOSIVA (EX)</option>
                              <option value="SUSTANCIA INFLAMABLE (IN)">SUSTANCIA INFLAMABLE (IN)</option>
                              <option value="SUSTANCIA COMBURENTE (CB)">SUSTANCIA COMBURENTE (CB)</option>
                              <option value="GAS BAJO PRESIóN (GZ)">GAS BAJO PRESIóN (GZ)</option>
                              <option value="CORROSIVA (CR)">CORROSIVA (CR)</option>
                              <option value="TOXICIDAD AGUDA (TO)">TOXICIDAD AGUDA (TO)</option>
                              <option value="PELIGRO PARA LA SALUD (DA)">PELIGRO PARA LA SALUD (DA)</option>
                              <option value="PELIGRO GRAVE PARA LA SALUD - CANCERíGENO MUTáGENO (MU)">PELIGRO GRAVE PARA LA SALUD - CANCERíGENO MUTáGENO (MU)</option>
                              <option value="DAÑINO PARA EL MEDIO AMBIENTE ACUáTICO (EN)">DAÑINO PARA EL MEDIO AMBIENTE ACUáTICO (EN)</option>
                            </select>
                            <p>Presione Crtl y haga click en las peligrosidad para seleccionar varias</p>
                            <div class="field-error"> <p id="error-peligrosidad"> </p> </div>
                          </div>
                          <div class="form-group">
                            <label for="tratamiento">Tipo de tratamiento del desecho generado*:</label>
                            <select type="text" class="form-control" name="tratamiento" id="tratamiento" required>
                              <option value="REUTILIZABLE">REUTILIZABLE</option>
                              <option value="RECUPERABLE">RECUPERABLE</option>
                              <option value="TRATABLE">TRATABLE</option>
                              <option value="DISPOSICIóN FINAL">DISPOSICIóN FINAL</option>
                            </select>
                            <div class="field-error">
                              <p id="error-tratamiento"> </p>
                            </div>
                          </div>

                          <div class="boton-modal">
                              <button type="submit" form="formularioCarga" style="border-radius: 100% !important; min-width: 0px;" id="submit" class="btn btn-primary">
                                  <i class="fa fa-plus-circle"></i>
                              </button>
                          </div>
                        </div>
                </div>
                  </fieldset>
                  <!-- Fin Primer Paso -->
                </form>
            </div>
          </div>               
        </div>
      </div>
    </div>
  </div>

<!-- Fin Modal Agregar Servicio -->

<script type="text/javascript">
  function validar_cantidad() {
      var indice = document.getElementById("envase").selectedIndex;
      var capacidad = parseFloat(document.getElementById("envase").options[indice].dataset.capacidad);

      // Buscando divs para ingresar mensajes de error
      var error_cantidad = document.getElementById("error-cantidad");

      // Limpiando los mensajes anteriores de validadores
      if (error_cantidad.innerText != '') {
        error_cantidad.innerText = '';
      }

      // Buscando los valores ingresados por el usuario en cada campo
      var cantidad = document.forms['formularioCarga']['cantidad'].value;

      // Mensajes de error
      var mensaje_error_cantidad = "Por favor ingrese un valor numérico no negativo. Por ej.: 250";

      if (!is_number(cantidad) || is_negative(cantidad) || is_zero(cantidad)) {
        error_cantidad.innerText = mensaje_error_cantidad;
        return false;
      }
      
      if(parseFloat(cantidad) > capacidad){
        error_cantidad.innerText = "La cantidad ingresada supera a la capacidad del contenedor seleccionado.";
        return false;
      }
    }

  function validar_concentracion() {
    // Buscando divs para ingresar mensajes de error
    var error_concentracion = document.getElementById("error-concentracion");

    // Limpiando los mensajes anteriores de validadores
    if (error_concentracion.innerText != '') {
      error_concentracion.innerText = '';
    }

    // Buscando los valores ingresados por el usuario en cada campo
    var concentracion = document.forms['formularioCarga']['concentracion'].value;

    // Mensajes de error
    var mensaje_error_concentracion = "Por favor ingrese un valor numérico no negativo en el rango entre 1 y 100.";

    if (!is_number(concentracion) || is_negative(concentracion) || is_zero(concentracion)) {
      error_concentracion.innerText = mensaje_error_concentracion;
      return false;
    }
  }


  // Valida los campos de la forma en el modal "addsustancia"
  function validar_campos(){
    var indice = document.getElementById("envase").selectedIndex;
    var capacidad = parseFloat(document.getElementById("envase").options[indice].dataset.capacidad);

    // Buscando divs para ingresar mensajes de error
    var error_envase = document.getElementById("error-envase");
    var error_cantidad = document.getElementById("error-cantidad");
    var error_concentracion = document.getElementById("error-concentracion");
    var error_peligrosidad = document.getElementById("error-peligrosidad");
    var error_tratamiento = document.getElementById("error-tratamiento");

    // Limpiando los mensajes anteriores de validadores
    if (error_envase.innerText != ''){
      error_envase.innerText = '';
    }
    if (error_cantidad.innerText != ''){
      error_cantidad.innerText = '';
    }
    if (error_concentracion.innerText != '') {
      error_concentracion.innerText = '';
    }
    if (error_peligrosidad.innerText != '') {
      error_peligrosidad.innerText = '';
    }
    if (error_tratamiento.innerText != '') {
      error_tratamiento.innerText = '';
    }
     


    // Buscando los valores ingresados por el usuario en cada campo
    var envase = document.forms['formularioCarga']['envase'].value;
    var cantidad = document.forms['formularioCarga']['cantidad'].value;
    var concentracion = document.forms['formularioCarga']['concentracion'].value;
    var peligrosidad = document.forms['formularioCarga']['peligrosidad'].value;
    var tratamiento = document.forms['formularioCarga']['tratamiento'].value;
    

    // Mensajes de error
    var mensaje_error_envase = "Por favor ingrese la identificación de un contenedor";
    var mensaje_error_cantidad = "Por favor ingrese un valor numérico no negativo. Por ej.: 250";
    var mensaje_error_concentracion = "Por favor ingrese un valor numérico no negativo en el rango entre 1 y 100.";
    var mensaje_error_peligrosidad = "Por favor seleccione al menos una peligrosidad de la lista. Puede seleccionar múltiples opciones haciendo click mientras mantiene presionada la tecla Crtl.";
    var mensaje_error_tratamiento = "Por favor ingrese una opción de tratamiento para el desecho.";

    if (!is_number(cantidad) || is_negative(cantidad) || is_zero(cantidad)) {
      error_cantidad.innerText = mensaje_error_cantidad;
      return false;
    }

    if (parseFloat(cantidad) > capacidad) {
      error_cantidad.innerText = "La cantidad ingresada supera a la capacidad del contenedor seleccionado.";
      return false;
    }
    
    if (!is_number(concentracion) || is_negative(concentracion) || is_zero(concentracion)) {
      error_concentracion.innerText = mensaje_error_concentracion;
      return false;
    }
  }

  function dialogoAdvertencia() {
      if (confirm('Está seguro de que desea eliminar el desecho?')) {
        document.getElementById("borrar_desecho").value = "True";
        return true;

      } else {
        return false;
      }
    }

  // True si "n" es un numero
  function is_number(n){
    return !isNaN(n)
  }

  // True si "n" es negativo
  function is_negative(n){
    return (n < 0)
  }

  // True si "n" es cero
  function is_zero(n){
    return (n == 0)
  }

</script>
