<!-- Contiene la seccion del listado de sustancias cuando se visita un espacio fisico especifico -->

<!-- Inicio Boton Agregar Sustancia -->
<div class="container" id="containerAgregar">
    <div class="row">
        <div class="col-sm-6"></div>
        <div id="columnBotonAgregar" class="col-sm-6">
	        <div class="col-sm-6"></div>
	        <div class="col-sm-6">
	            <!-- Boton que lleva al modal --> <!-- Cambiar data-target="#addservice por el id de la forma de la sustancia -->
	        </div>
        </div>
    </div>
</div>
<!-- Fin Boton Agregar Sustancia -->

<!-- Inicio Listado de sustancias -->
<div class="container">
<div class="row">
  <h3> Inventario </h3>
    <div id="buttons" class="text-right">
      <!-- Agregar contenedor -->
      <button type="button" id="botonAgregar" class="btn botonesListado buttons-html5" data-toggle="modal" data-target="#adddesecho">
        <li class="fa fa-plus"></li>
      </button>
      <!-- Filtrado -->
      <button type="button" id="filtrar" onclick="mostrarFiltro()" class="btn btn-default buttons-html5"><i class="fa fa-filter"></i></button>
      <!-- Filtrado -->
    </div>
    <br>

    <div class="table-responsive no-padding no-margin">
      <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
        <thead>
            <tr id="titulosListado">
                <th class="camposTabla linksNombres">Grupo de Desecho</th>
                <th class="camposTabla linksNombres">Composición</th>
                <th class="camposTabla linksNombres">Responsable</th>
                <th class="camposTabla linksNombres">Cantidad</th>
                <th class="camposTabla linksNombres">Peligrosidad</th>
                <th class="camposTabla linksNombres">Tratamiento</th>
            </tr>
        </thead>

        <tbody>
          {{for desecho in inventario:}}
            <tr>
                <td class="camposTabla" style="text-align: center">{{=desecho['t_inventario_desechos']['categoria']['categoria']}}</td>
                <td class="camposTabla">
                  <a href="{{=URL('bitacora_desechos',vars=dict(inv=desecho['t_inventario_desechos']['id']))}}">{{=desecho['t_inventario_desechos']['composicion']}}</a>
                </td>
                <td class="camposTabla">{{=desecho['t_inventario_desechos']['responsable']['f_nombre']}}</td>
                <td class="camposTabla">{{=desecho['_extra']['SUM("t_inventario_desechos"."cantidad")']}} {{=desecho['t_inventario_desechos']['unidad_medida']['f_abreviatura']}}</td>
                {{peligrosidades = ""}}
                {{for peligrosidad in desecho['t_inventario_desechos']['peligrosidad']:}}
                  {{peligrosidades += peligrosidad + ", "}}
                {{pass}}
                {{peligrosidades = peligrosidades[:-2]}}
                <td class="camposTabla">{{=peligrosidades}} </td>
                <td class="camposTabla">{{=desecho['t_inventario_desechos']['tratamiento']}} </td>
              </tr>
          {{pass}}           
        </tbody>

        <tfoot id="collapseFiltros">
            <tr>
                <th class="camposTabla linksNombres">Grupo de Desecho</th>
                <th class="camposTabla linksNombres">Composición</th>
                <th class="camposTabla linksNombres">Responsable</th>
                <th class="camposTabla linksNombres">Cantidad</th>
                <th class="camposTabla linksNombres">Peligrosidad</th>
                <th class="camposTabla linksNombres">Tratamiento</th>
              </tr>
        </tfoot>

      </table>
    </div>
  </div>
</div>  
<!-- Fin Listado de sustancias --> 

<!-- Ajax abrirFicha para mostrar la informacion de la sustancia seleccionada con un modal -->
<input type="hidden" id="serv" name="serv" value="">


<!-- Modal añadir una sustancia nueva al inventario -->
  <div class="modal fade" id="adddesecho" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header addHeader">
          <div class="row addRow" id="rowHeader">
            <div class="col-sm-1" id="col1Header">
              <div class="container" id="plus">
                <h1 id="agregar">+</h1>
              </div>
            </div>
            <div class="col-sm-10 modal-header-wrapper" id="col11Header">
              <h4 class="modal-title titulo-modal-desecho" id="nuevoDesecho">Nuevo desecho
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </h4>
            </div>
          </div>
        </div>
        <!-- Fin Modal Header -->
        
        <!-- Modal Body -->
        <div class="modal-body addBody">
          <div class="row addRow">
            <div class="col-md-12 form-box">
                <form id="formularioCarga" class="registration-form" method="post" onsubmit="return validar_campos()">

                  <!-- Primer Paso -->
                  <fieldset class="formField">
                    <div class="form-bottom">
                      <!-- Barra lateral gris (vacia en este caso, pues no hay pasos) -->
                      <div class="col-sm-1 col1Body"> </div>
                      <!-- Aqui va la informacion -->
                      <div class="col-sm-11 col11Body">
                        <h4 class="titulosForm">Datos de ingreso</h4>                
                        <p>Campos marcados con * son obligatorios.</p>
                          <div class="form-group">
                            <label for="envase">Identificación del envase donde se depositó el desecho:</label>
                            <select class="form-control" type="select" id="envase" name="envase" required>
                              <option value="" selected hidden >Envase*</option>
                              {{for envase in envases:}}
                              <option value="{{=envase['id']}}">{{=envase['identificacion']}}</option>
                              {{pass}}
                            </select>
                            <div class="field-error"> <p id="error-envase"> </p> </div>
                          </div>
                          <div class="form-group">
                            <label for="cantidad">Cantidad de desecho generado*:</label>
                            <input class="form-control" type="text" name="cantidad" id="cantidad" required placeholder="150"/>
                            <div class="field-error">
                              <p id="error-cantidad"> </p>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="concentracion">Concentración del desecho generado*:</label>
                            <input class="form-control" type="text" name="concentracion" id="concentracion" required placeholder="Ej.: 90" />
                            <div class="field-error">
                              <p id="error-concentracion"> </p>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="peligrosidad">Peligrosidad del desecho generado*:</label>
                            <select type="text" class="form-control" name="peligrosidad" id="peligrosidad" required multiple>
                              <option value="Sustancia Explosiva (EX)">Sustancia Explosiva (EX)</option>
                              <option value="Sustancia Inflamable (IN)">Sustancia Inflamable (IN)</option>
                              <option value="Sustancia Comburente (CB)">Sustancia Comburente (CB)</option>
                              <option value="Gaso Bajo Presión (GZ)">Gaso Bajo Presión (GZ)</option>
                              <option value="Corrosiva (CR)">Corrosiva (CR)</option>
                              <option value="Toxicidad Aguda (TO)">Toxicidad Aguda (TO)</option>
                              <option value="Peligro para la Salud (DA)">Peligro para la Salud (DA)</option>
                              <option value="Peligro Grave para la Salud - Cancerígeno Mutágeno (MU)">Peligro Grave para la Salud - Cancerígeno Mutágeno (MU)</option>
                              <option value="Dañino para el Medio Ambiente Acuático (EN)">Dañino para el Medio Ambiente Acuático (EN)</option>
                            </select>
                            <p>Presione Crtl y haga click en las peligrosidad para seleccionar varias</p>
                            <div class="field-error"> <p id="error-peligrosidad"> </p> </div>
                          </div>
                          <div class="form-group">
                            <label for="tratamiento">Tipo de tratamiento del desecho generado*:</label>
                            <select type="text" class="form-control" name="tratamiento" id="tratamiento" required>
                              <option value="Reutilizable">Reutilizable</option>
                              <option value="Recuperable">Recuperable</option>
                              <option value="Tratable">Tratable</option>
                              <option value="Disposición final">Disposición final</option>
                            </select>
                            <div class="field-error">
                              <p id="error-tratamiento"> </p>
                            </div>
                          </div>
                      </div>
                    </div>
                    <button type="submit" form="formularioCarga" id="submit" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button>         
                  </fieldset>
                  <!-- Fin Primer Paso -->
                </form>
            </div>
          </div>               
        </div>
      </div>
    </div>
  </div>

<!-- Fin Modal Agregar Servicio -->

<script type="text/javascript">

  // Valida los campos de la forma en el modal "addsustancia"
  function validar_campos(){

    // Buscando divs para ingresar mensajes de error
    var error_envase = document.getElementById("error-envase");
    var error_cantidad = document.getElementById("error-cantidad");
    var error_concentracion = document.getElementById("error-concentracion");
    var error_peligrosidad = document.getElementById("error-peligrosidad");
    var error_tratamiento = document.getElementById("error-tratamiento");

    // Limpiando los mensajes anteriores de validadores
    if (error_envase.innerText != ''){
      error_envase.innerText = '';
    }
    if (error_cantidad.innerText != ''){
      error_cantidad.innerText = '';
    }
    if (error_concentracion.innerText != '') {
      error_concentracion.innerText = '';
    }
    if (error_peligrosidad.innerText != '') {
      error_peligrosidad.innerText = '';
    }
    if (error_tratamiento.innerText != '') {
      error_tratamiento.innerText = '';
    }
     


    // Buscando los valores ingresados por el usuario en cada campo
    var envase = document.forms['formularioCarga']['envase'].value;
    var cantidad = document.forms['formularioCarga']['cantidad'].value;
    var concentracion = document.forms['formularioCarga']['concentracion'].value;
    var peligrosidad = document.forms['formularioCarga']['peligrosidad'].value;
    var tratamiento = document.forms['formularioCarga']['tratamiento'].value;
    

    // Mensajes de error
    var mensaje_error_envase = "Por favor ingrese la identificación de un envase";
    var mensaje_error_cantidad = "Por favor ingrese un valor numérico no negativo. Por ej.: 250";
    var mensaje_error_concentracion = "Por favor ingrese un valor numérico no negativo en el rango entre 1 y 100.";
    var mensaje_error_peligrosidad = "Por favor seleccione al menos una peligrosidad de la lista. Puede seleccionar múltiples opciones haciendo click mientras mantiene presionada la tecla Crtl.";
    var mensaje_error_tratamiento = "Por favor ingrese una opción de tratamiento para el desecho.";

    if (!is_number(cantidad) || is_negative(cantidad) || is_zero(cantidad)) {
      error_cantidad.innerText = mensaje_error_cantidad;
      return false;
    }
    
    if (!is_number(concentracion) || is_negative(concentracion) || is_zero(concentracion)) {
      error_concentracion.innerText = mensaje_error_concentracion;
      return false;
    }

  }

  // True si "n" es un numero
  function is_number(n){
    return !isNaN(n)
  }

  // True si "n" es negativo
  function is_negative(n){
    return (n < 0)
  }

  // True si "n" es cero
  function is_zero(n){
    return (n == 0)
  }

</script>
