<!-- Contiene la seccion del listado de sustancias cuando se visita una dependencia -->
			{{ if espacios: }}
				{{ title = "Espacios Físicos" }}
				{{dependencias = espacios}}
			{{ elif dep_nombre.find("DIRECCIÓN") != -1: }}
			{{ title = " " }}
			{{else: }}
				{{ title = "Secciones" }}
			{{ pass }}
			{{ if len(dependencias) > 0: }}
				
			{{ pass }}
			{{ if espacios: }}
				<div class="grid-container-ef" id="secciones" style="display: none">
			{{ else: }}
				<div class="grid-container" id="secciones" style="display: none">
			{{ pass }}	
				{{ for espacio in dependencias: }}
				<div class="grid-item" onclick="redirect('{{=URL('inventarios_desechos',vars=dict(dependencia=espacio.id, es_espacio=es_espacio))}}');">
					{{if espacios:}}
						{{ =espacio.codigo }}
					{{else:}}
						{{ =espacio.nombre }}
					{{pass}}
				</div>
				{{ pass }}
			</div>
		</div>
<!-- Inicio Listado de sustancias -->
<div id="inventario-dependencia" class="container">
    <div class="row">
        <div id="buttons" class="pull-right">
            <!-- Filtrado -->
            <button type="button" id="filtrar" onclick="mostrarFiltro()" class="btn btn-default buttons-html5"><i class="fa fa-filter"></i></button>
            <!-- Filtrado -->
        </div>
    </div>
    
    {{if mostrar_campo_dependencia:}}
        <div class="row">
            <div class="table-responsive no-padding no-margin">
                <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
                    <thead>
                        <tr id="titulosListado">
                            <th class="camposTabla linksNombres">Grupo de Desecho</th>
                            <th class="camposTabla linksNombres">Dependencia</th>
                            <th class="camposTabla linksNombres">Espacio físico</th>
                            <th class="camposTabla linksNombres">Responsable</th>
                            <th class="camposTabla linksNombres">Cantidad</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{for desecho in inventario:}} 
                        {{print desecho['t_inventario_desechos']}}
                        <tr>
                            <td class="camposTabla" style="text-align: center">{{=desecho['t_inventario_desechos.categoria']['categoria']}}</td>
                            <td class="camposTabla">{{=desecho['t_inventario_desechos']['seccion']['nombre']}}</td>
                            <td class="camposTabla">{{=desecho['t_inventario_desechos']['espacio_fisico']['codigo']}}</td>
                            <td class="camposTabla">{{=desecho['t_inventario_desechos.responsable']['f_nombre']}}</td>
                            <td class="camposTabla">{{=desecho['_extra']['SUM("t_inventario_desechos"."cantidad")']}} {{=desecho['t_inventario_desechos.unidad_medida']['f_abreviatura']}}</td>
                        </tr>
                        {{pass}}
                    </tbody>

                    <tfoot id="collapseFiltros">
                        <tr>
                            <th class="camposTabla linksNombres">Grupo de Desecho</th>
                            <th class="camposTabla linksNombres">Dependencia</th>
                            <th class="camposTabla linksNombres">Espacio físico</th>
                            <th class="camposTabla linksNombres">Responsable</th>
                            <th class="camposTabla linksNombres">Cantidad</th>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    {{else:}}
        <div class="row">
            <div class="table-responsive no-padding no-margin">
                <table id="datatable" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
                    <thead>
                        <tr id="titulosListado">
                            <th class="camposTabla linksNombres">Grupo de Desecho</th>
                            <th class="camposTabla linksNombres">Espacio físico</th>
                            <th class="camposTabla linksNombres">Responsable</th>
                            <th class="camposTabla linksNombres">Cantidad</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{for desecho in inventario:}}
                        <tr>
                            <td class="camposTabla">{{=desecho['t_inventario_desechos.categoria']['categoria']}}</td>
                            <td class="camposTabla">{{=desecho['t_inventario_desechos']['espacio_fisico']['codigo']}}</td>
                            <td class="camposTabla">{{=desecho['t_inventario_desechos.responsable']['f_nombre']}}</td>
                            <td class="camposTabla">{{=desecho['_extra']['SUM("t_inventario_desechos"."cantidad")']}} {{=desecho['t_inventario_desechos.unidad_medida']['f_abreviatura']}}</td>
                        </tr>
                        {{pass}}
                    </tbody>

                    <tfoot id="collapseFiltros">
                        <tr>
                            <th class="camposTabla linksNombres">Grupo de Desecho</th>
                            <th class="camposTabla linksNombres">Espacio físico</th>
                            <th class="camposTabla linksNombres">Responsable</th>
                            <th class="camposTabla linksNombres">Cantidad</th>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    {{pass}}
</div>
<!-- Fin Listado de sustancias -->
