{{extend 'layout.html'}}
  
{{block head}}
	<link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventarios.css')}}"> 
{{end}}

{{block center}}

<!-- Breadcrumb de navegación -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp')}}">SMyDP</a>
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp/sustancias')}}">Sustancias</a>
  <a class="breadcrumb-item active" href="{{=URL('..', 'sigulab2', 'smydp/inventarios')}}">Inventarios</a>
  </div>
</nav>

<!-- Fin del Breadcrumb de navegación --> 

	<div class="container titulo">
		{{if dep_padre_id:}}
			<div class="col-xs-1"></div>
			<div class="col-xs-2 boton-retorno">
				<p class="padre"> {{=dep_padre_nombre}} </p>
					<!-- Si la flecha debe regresar al inventario de la direccion (en caso de que se tengan
						los permisos) simplemente se redirije a 'inventarios', pues de no hacerlo, se enviaran
						request.vars.dependencia != None lo cual rompe con el flujo de ejecucion programado
						en el controlador-->
					{{if dep_padre_id == direccion_id:}}
			    		<a class="boton" href="{{=URL('inventarios')}}">
				    		<img class="icono_regresar" src="{{=URL('static', 'images/regresar.png')}}">
			    		</a>
		    		{{else:}}
		    			<a class="boton" href="{{=URL('inventarios', vars=dict(dependencia=dep_padre_id, es_espacio='False'))}}">
				    		<img class="icono_regresar" src="{{=URL('static', 'images/regresar.png')}}">
			    		</a>
		    		{{pass}}
			</div>

			<div class="col-xs-8">
				<h3 class="dep-titulo"> {{=dep_nombre}} </h3>
			</div>
		{{else:}}
			<div class="col-xs-12">
				<h3 class="dep-titulo"> {{=dep_nombre}} </h3>
			</div>
		{{pass}}
	</div>

	<div class="container">
		<div id="fila1" class="row">
		</div>
		<!-- 
		Si se estan consultando los espacios fisicos de una seccion, la variable espacios 
		sera utilizada en lugar de la variable dependencias 
		-->
		{{ if espacios: }}
			{{dependencias = espacios}}
		{{pass}}
		{{ n = len(dependencias) }}
		{{ filas = n//4 if n%4 == 0 else n//4+1 }}
		{{ k = 0 }}
		{{ while k < filas:}}
			<div id="fila2" class="row">
				<div class="col-xs-3 col-sm-1"></div>
				<div class="col-xs-6 col-sm-10">
					<!-- El primer elemento siempre va a ir, pues si existe su fila es porque tiene al menos un elemento -->
					<div class="col-sm-3 columnas">
						<a href="{{=URL('inventarios',vars=dict(dependencia=dependencias[4*k].id, es_espacio=es_espacio))}}" class="dependencia">{{=dependencias[4*k].nombre}}</a>
					</div>
					{{ for i in range(1,4): }}
						{{ if 4*k+i < n: }}
							<div class="col-sm-3 columnas">
								<a href="{{=URL('inventarios',vars=dict(dependencia=dependencias[4*k+i].id, es_espacio=es_espacio))}}" class="dependencia">
									{{=dependencias[4*k+i].nombre}}
								</a>
							</div>
						{{ pass }}
					{{ pass }}
				</div>
				<div class="col-xs-3 col-sm-1"></div>
			</div>
			{{k=k+1}}
		{{pass}}
	</div>
<script>
  // Set blue bar below INICIO text.
  document.getElementById("smydp").className += " active";
  }
</script>
{{end}}