{{extend 'layout.html'}}
  
{{block head}}
<meta charset="UTF-8">

<!-- Para los mensajes con flash -->
  <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3-flash.css')}}"/>

 <!-- DataTables -->
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'plugins/datatables2/datatables.min.css')}}"/>
<script type="text/javascript" src="{{=URL('static', 'plugins/datatables2/datatables.min.js')}}"></script>

<style type="text/css">
  div.dt-buttons {
    float: right;
  }
  
</style>
 <link href="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
 <link href="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
 <link href="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css" />	
 
 <!-- Estilos de modales y listados -->
 <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/smydp_modal.css')}}">
 <link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventarios.css')}}"> 
 <link rel="stylesheet" href="{{=URL('static', 'css/smydp_listado.css')}}">
 <link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventario_dependencia.css')}}">
 <link rel="stylesheet" href="{{=URL('static', 'css/smydp_inventario_espacio.css')}}">
 <link rel="stylesheet" href="{{=URL('static', 'css/smydp_template_modal.css')}}">	 

 <link rel="stylesheet" href="{{=URL('static', 'inventarios/css/template_modal.css')}}">
  <link rel="stylesheet" href="{{=URL('static', 'inventarios/css/listado.css')}}">
 <link rel="stylesheet" href="{{=URL('static', 'inventarios/css/bienes_muebles.css')}}">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">	   
 <script src="{{=URL('static', 'js/inventario_template_modal.js')}}"></script> 
 <script src="{{=URL('static', 'js/smydp_template_modal.js')}}"></script>	
 <!-- Web2py JS - Especialmente para AJAX -->
 <script src="{{=URL('static', 'js/web2py.js')}}"></script>
 <style>
   .row{
     margin-right:0px!important;
   }
 </style>
 <style>
    .dataTables_filter{
      float: left;
    }
  </style>



{{end}}

{{block center}}


<!-- Bloque de navegación secundaria (breadcrumb) -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
    <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
    <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp')}}">SMyDP</a>
    <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp/sustancias')}}">SyM</a>
  <span class="breadcrumb-item active">Solicitudes de Sustancias</span>
  </div>
</nav>
<!-- Fin del bloque de navegación secundaria (breadcrumb) -->


<!-- Flash message -->
{{if response.flash:}}
<div class="alert alert-info alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{=response.flash}}
</div>
{{pass}}

<div class="container titulo">
    <h3 class="dep-titulo">RESPUESTAS A SOLICITUDES DE SUSTANCIAS Y MATERIALES</h3>
</div>


<!-- Botón para atrás -->
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <button id="boton-retorno" class="btn boton-sigulab" onclick="location.href = '{{=URL('..', 'sigulab2', 'smydp/sustancias')}}';">
          <i class="fas fa-arrow-left"></i>               
      </button>
    </div>
  </div>
  



<!-- Inicio Listado Solicitudes para ejecutante-->
<div class="container">
  <div class="row">
      <div id="buttons1">
   
      </div>
			
			<br>
    <h3 onclick="change_status_list('#resp-recibidas')" title="Ocultar/Mostrar"> Respuestas Recibidas <i class="fa fa-caret-up" id="resp-recibidas-caret"></i> </h3>

    <div id="resp-recibidas">

    <div class="table-responsive no-padding no-margin" >
      <table id="datatable2" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
       <form>
          <!-- Titulos Tabla Solicitudes -->
          <thead>
            <tr id="titulosListado">
              <th class="camposTabla linksNombres">Número de Registro</th>
              <th class="camposTabla linksNombres">Espacio</th>
              <th class="camposTabla linksNombres">Sustancia</th>
              <th class="camposTabla linksNombres">Respuesta</th>
              <th class="camposTabla linksNombres">Calidad</th>
              <th class="camposTabla linksNombres">Fecha Respuesta</th>
            </tr>
          </thead>

          <!-- Contenido Tabla Solicitudes -->
          <tbody>
            {{for id_,respuesta in respuestas_recibidas.iteritems():}}
              <tr>
                <th class="camposTabla"><a href="{{=URL('detalles_respuesta', vars=dict(registro=respuesta['f_cod_registro']) )}}"> {{=respuesta['f_cod_registro']}}</a></th>
                <th class="camposTabla">{{=respuesta['f_espacio']}}</th>
                <th class="camposTabla">{{=respuesta['f_sustancia']}}</th>
                <th class="camposTabla">{{=respuesta['f_tipo_respuesta'][0]}}</th>
                <th class="camposTabla">{{=respuesta['f_calidad'][0]}}</th>
                <th class="camposTabla">{{=respuesta['f_fecha']}}</th>
              </tr>
            {{pass}}
          </tbody>
       </form>
      </table>
    </div>
  </div>
</div>
</div>
<!-- Fin Listado Solicitudes para ejecutante-->

<!-- Inicio Listado Solicitudes para solicitante -->
<div class="container">
  <div class="row">
      <div id="buttons1">
   
      </div>
			
			<br>
    <h3 onclick="change_status_list('#resp-generadas')" title="Ocultar/Mostrar"> Respuestas Generadas <i class="fa fa-caret-up" id="resp-generadas-caret"></i> </h3>

    <div id="resp-generadas">

    <div class="table-responsive no-padding no-margin" >
      <table id="datatable2" class="table table-hover table-striped dt-responsive display tablaListado" cellspacing="0" width="100%">
       <form>
          <!-- Titulos Tabla Solicitudes -->
          <thead>
            <tr id="titulosListado">
              <th class="camposTabla linksNombres">Número de Registro</th>
              <th class="camposTabla linksNombres">Espacio</th>
              <th class="camposTabla linksNombres">Sustancia</th>
              <th class="camposTabla linksNombres">Respuesta</th>
              <th class="camposTabla linksNombres">Calidad</th>
              <th class="camposTabla linksNombres">Fecha Respuesta</th>
            </tr>
          </thead>

          <!-- Contenido Tabla Solicitudes -->
          <tbody>
            {{for id_,respuesta in respuestas_enviadas.iteritems():}}
              <tr>
                <th class="camposTabla"><a href="{{=URL('detalles_respuesta_realizada', vars=dict(registro=respuesta['f_cod_registro']) )}}"> {{=respuesta['f_cod_registro']}}</a></th>
                <th class="camposTabla">{{=respuesta['f_espacio']}}</th>
                <th class="camposTabla">{{=respuesta['f_sustancia']}}</th>
                <th class="camposTabla">{{=respuesta['f_tipo_respuesta'][0]}}</th>
                <th class="camposTabla">{{=respuesta['f_calidad'][0]}}</th>
                <th class="camposTabla">{{=respuesta['f_fecha']}}</th>
              </tr>
            {{pass}}
          </tbody>
       </form>
      </table>
    </div>
  </div>
  </div>
</div>

<!-- Fin Listado Solicitudes para Solicitante-->




<script>
    $(document).ready(function(){
        document.getElementById("solicito").click();
    });

</script>

<!-- Ajax abrirFicha -->
<input type="hidden" id="solicitud" name="solicitud" value="">
<input type="hidden" id="tipoSolicitud" name="tipoSolicitud" value="">

<!-- Inicio Modal ficha de Sustancia -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div id="ficha" class="modal-content">
      </div>

    </div>
  </div>
<!-- Fin Modal ficha de sustancia -->

<!-- Ajax obtenerSustancia -->
<input type="hidden" id="envioCategoria" name="categoria" value="">
<input type="hidden" id="envioTipo" name="tipo" value="">

<!-- Ajax obtener proposito sustancia -->
<input type="hidden" id="envioNombreSustancia" name="idSustancia" value="">

<!-- Ajax obtener datos sustancia -->
<input type="hidden" id="envioNombreSustancia2" name="idSustancia2" value="">

<!-- Ajax JavaScript-->
<script type="text/javascript">

  function abrirFicha(solicitud, tipo_solicitud) {
    var x = document.getElementById("solicitud");
      x.value = solicitud;

    var y = document.getElementById("tipoSolicitud");
      y.value = tipo_solicitud;

    ajax('ajax_ficha_solicitud', ['solicitud', 'tipoSolicitud'], "ficha");
  }


  function getDatosDepenEjecutora(){
    var opcion_sustancia = document.getElementById("sel3");
    var sustancia_seleccionado = opcion_sustancia.options[opcion_sustancia.selectedIndex].value;

    var x = document.getElementById("envioNombreSustancia2");
    x.value = sustancia_seleccionado;

    ajax('ajax_obtener_datos_depen_ejecutora', ['idSustancia2'], "obtenerDependenciaEjecutora")
  }

  st_solic_generadas = 1;
  st_solic_recibidas = 1;
  function change_status_list(list){
    if (list == '#solic-generadas'){
      if (st_solic_generadas == 1){
          $('#solic-generadas').hide();
          st_solic_generadas = 0;
          $('#solic-generadas-caret').removeClass('fa-caret-up');
          $('#solic-generadas-caret').addClass('fa-caret-down');
        }
      else {
        $('#solic-generadas').show();
        st_solic_generadas = 1;
        $('#solic-generadas-caret').removeClass('fa-caret-down');
        $('#solic-generadas-caret').addClass('fa-caret-up');
      }
    }
    else if (list == '#solic-recibidas'){
      if (st_solic_recibidas == 1){
        $('#solic-recibidas').hide();
        st_solic_recibidas = 0;
          $('#solic-recibidas-caret').removeClass('fa-caret-up');
          $('#solic-recibidas-caret').addClass('fa-caret-down');

      }
      else{
        $('#solic-recibidas').show();
        st_solic_recibidas = 1;
        $('#solic-recibidas-caret').removeClass('fa-caret-down');
        $('#solic-recibidas-caret').addClass('fa-caret-up');
      }
    }
  }
</script>

<!-- Validador de inputs del modal de Solicitud de un Sustancia -->
<script src="{{=URL('static', 'js/servicios_template_modal.js')}}"></script>

<!-- Datatables-->
<script src="{{=URL('static', 'plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.bootstrap.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/jszip.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{=URL('static', 'plugins/datatables/responsive.bootstrap.min.js')}}"></script>



<!-- Datatable init js -->
<script src="{{=URL('static', 'plugins/datatables/datatables.init.js')}}"></script>

<!-- Script Datatable Solicitudes Generadas-->


{{end}}
