{{extend 'layout.html'}}
  
{{block head}}
	<link rel="stylesheet" href="{{=URL('static', 'css/smydp_sustancias.css')}}"> 
{{end}}

{{block center}}


<!-- Breadcrumb de navegación -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2', 'smydp')}}">SMyDP</a>
  <span class="breadcrumb-item active">SyM</span>
  </div>
</nav>
<!-- Fin del Breadcrumb de navegación --> 


	<div class="container">
		<div id="fila1" class="row">
		</div>

		<div id="fila2" class="row">
			<div class="col-sm-2">
			</div>

			<div class="col-sm-8">
				<!-- Link al listado de sustancias -->
				<div class="col-sm-4 columnas">
					<a href="{{=URL('sigulab2', 'smydp', 'catalogo')}}">
					  <img class="iconos" src="{{=URL('static', 'images/clipboard2.png')}}">
					  <h3 class="opciones">Catálogo de sustancias</h3>
					</a>
				</div>
				<!-- Link al los inventarios -->
				<div class="col-sm-4 columnas">
					<a href="{{=URL('sigulab2', 'smydp', 'inventarios')}}">
					  <img class="iconos" src="{{=URL('static', 'images/inventario.png')}}">
					  <h3 class="opciones">Inventarios</h3>
					</a>
				</div>

				<!-- Link al las solicitudes -->
				<div class="col-sm-4 columnas">
					<a href="{{=URL('sigulab2', 'smydp', 'solicitudes')}}">
					  <img class="iconos" src="{{=URL('static', 'images/solicitudes.png')}}">
					  <h3 class="opciones">Solicitudes</h3>
					</a>
				</div>
			</div>
	  </div>	
  </div>
<script>
  // Set blue bar below INICIO text.
  document.getElementById("smydp").className += " active";
</script>
{{end}}