{{if lista:}}
<div class="col-xs-12">
	<select class="form-control" type="select" required="" id="laboratorio" name="laboratorio" placeholder="Dependencia" onclick="getSeccion();
                                                                                                                                  getEspacio();
                                                                                                                                  showEspacio();">
	    <option value="" selected hidden disabled>Dependencia</option>
	    {{for dependencia in lista:}}
	    	<option value='{{=dependencia.id}}'>{{=dependencia.nombre}}</option>
	    {{pass}}
	</select>
</div>
{{pass}}