{{extend 'layout.html'}}

{{block center}}
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  	<div class="breadcrumb">
	  <a class="breadcrumb-item" href="{{=URL('..', 'sigulab2')}}">Inicio</a>
	  <span class="breadcrumb-item active">Usuario</span>
	</div>
</nav>

<div class="container">

<h3 style="padding-bottom: 30px;"><i class="fa fa-user-o" aria-hidden="true"></i> Editar usuario</h3>
{{=form}}
</div>

<div class="container">

<h3 style="padding-bottom: 30px;"><i class="fa fa-lock" aria-hidden="true"></i> Cambiar contraseña</h3>
{{=form2}}
</div>
{{end}}