{{extend 'layout.html'}}

{{block head}}
    <link href="{{=URL('static','css/core.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/components.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/pages.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/menu.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/responsive.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/servicios_registro.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/tags.css')}}" rel="stylesheet" type="text/css"/>
{{end}}

{{block center}}

<!-- Bloque de navegación secundaria (breadcrumb) -->
<nav class="navbar navbar-inverse navbar-fixed-top breadcrumbs">
  <div class="breadcrumb">
  <a class="breadcrumb-item" href="{{=URL('default', 'index')}}">Inicio</a>
  <a class="breadcrumb-item" href="#">Gestión</a>
  <span class="breadcrumb-item active">Registrar Usuario</span>
  </div>
</nav>
<!-- Fin del bloque de navegación secundaria (breadcrumb) -->

<div class="col-sm-4">
</div>

<div class="col-sm-4">
<!-- Inicio Wrapper -->
    <div class="wrapper-page pagina">

        <!-- Inicio card box -->
        <div id="boxRegister" class="card-box boxes">
            <div class="flash "><span class="badge badge-success">{{=response.flash or ''}}</span></div>
            <div class="text-center">
                <h4 id="titulo" class="text-uppercase font-bold m-b-0">Nuevo Usuario</h4>
            </div>
            
            <!-- Inicio panel -->
            <div class="panel-body">

            <!-- Inicio form de registro -->
            <form autocomplete="new-password" action="#" class="form-horizontal form-horizontal m-t-20" enctype="multipart/form-data" method="post">

                <!-- Nombre -->
                <div class="form-group" id="auth_user_first_name__row">
                    <div class="col-xs-12">
                        <input autocomplete="new-password" class="form-control string" id="auth_user_first_name" name="first_name" type="text" placeholder="Nombre" onfocusout="isEmpty($(this).val(), $(this).attr('id'))" val="" required>
                        <span class="help-block"></span>
                    </div>
                </div>

                <!-- Apellido -->
                <div class="form-group" id="auth_user_last_name__row">
                    <div class="col-xs-12">
                        <input autocomplete="new-password" class="form-control string" id="auth_user_last_name" name="last_name" type="text" placeholder="Apellidos" onfocusout="isEmpty($(this).val(), $(this).attr('id'))" val="" required>
                        <span class="help-block"></span>
                    </div>
                </div>

                <!-- Cedula de Identidad -->
                <div class="form-group">
                    <div class="col-xs-2" id="cedula-select">
                        <select class="form-control" type="select" id="tipo_cedula" name="tipo_cedula" placeholder="Tipo Cedula">
                            {{for prefijo_cedula in prefijos_cedula:}}
                                <option value='{{=prefijo_cedula}}'>{{=prefijo_cedula}}</option>
                            {{pass}}
                        </select>
                    </div>
                
                    <div class="col-xs-9" id="auth_cedula__row">
                        <input autocomplete="new-password" class="form-control number" id="cedula" name="cedula" type="text" placeholder="Cédula" onfocusout="ajax('validar_cedula', ['cedula'], ':eval')" onfocus="limpiar_cedula()" required>
                    </div>
                    <div id="cedula_error_group" style="display:none;">
                        <label class="control-label" id="cedula_error"></label>
                    </div>
                </div>


                <!-- Email -->
                <div class="form-group" id="auth_user_email__row">
                    <div class="col-xs-12">
                        <input autocomplete="new-password" class="form-control string" id="auth_user_email" name="email" type="text" placeholder="Correo Electrónico" onfocusout="ajax('validar_email', ['email'], ':eval')" onfocus="limpiar_email()" required>
                        <div id="email_error_group" style="display:none;">
                            <label class="control-label" id="email_error"></label>
                        </div>
                    </div>
                </div>

                <!-- Contraseña -->
                <div class="form-group" id="auth_user_password__row">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input autocomplete="new-password" class="form-control password" id="auth_user_password" name="password" type="password" placeholder="Contraseña" value="" onfocusout="v_c()" required>
                            <div class="input-group-addon" onclick="mostrarContrasena('auth_user_password')"><i class="fa fa-eye"></i></div>
                        </div>    
                        <span class="help-block"></span>
                    </div>
                </div>

                <!-- Confirmar contraseña --> 
                <div class="form-group" id="auth_user_password_two__row">
                    <div class="col-xs-12">
                        <div class="input-group">
                        <input autocomplete="new-password" class="form-control password" id="auth_user_password_two" name="password_two" type="password" placeholder="Confirmar Contraseña" value="" onfocusout="v_c()" required>
                        <div class="input-group-addon" onclick="mostrarContrasena('auth_user_password_two')"><i class="fa fa-eye"></i></div>
                        </div>
                        <div id="password_error_group" style="display:none;">
                            <label class="control-label" id="password_error"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group"  style=" margin-bottom:6px">
                  <input hidden id="tipo_supervisor" name="tipo_supervisor">Indique tipo de usuario:<br>
                  <input type="radio"  name="tipo_usuario" value="True" onclick="setSupervisor()" required> Dependencia<br>
                  <input type="radio"  name="tipo_usuario" value="False" onclick="setPersonal()"> Personal Interno<br>
                </div>

                <div hidden id="dependenciadiv">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <select class="form-control" type="select" id="dependencia" name="dependencia" placeholder="Dependencia" onclick="  getSeccionPersonal();">
                                <option value="" selected hidden disabled>Dependencia</option>
                                {{for dependencia in dependencias:}}
                                    {{if dependencia.unidad_de_adscripcion <= 1:}}
                                    <option value='{{=dependencia.id}}'>{{=dependencia.nombre.decode('utf-8').upper()}}</option>
                                    {{pass}}
                                {{pass}}
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Tipos de Rol -->
                <div  hidden id="roldiv1">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <select class="form-control" type="select" id="rol" name="rol" placeholder="Rol" onclick="  getUnidad();
                                                                                                                                    getSeccion();
                                                                                                                                    getEspacio();
                                                                                                                                    showEspacio();">
                                <option value="" selected hidden disabled>Rol</option>
                                {{for rol in roles:}}
                                    <option value='{{=rol.id}}'>{{=rol.role.decode('utf-8').upper()}}</option>
                                {{pass}}
                            </select>
                        </div>
                    </div>
                 
                    <div id="unidaddiv" class="form-group"></div>
                 </div> 
                    <div id="secciondiv" class="form-group"></div>
                <div id="roldiv2">
                    <!-- Para mostrar los espacios fisicos de la dependencia (seccion o laboratorio) seleccionada anteriormente -->
                    <div id="espaciodiv" class="form-group"></div> 
                    <!-- Para mostrar la lista de espacios fisicos seleccionados por el espacio fisico -->
                    <div id="tagsdiv" class="form-group"></div> 
                  </div>
               
                <div class="form-group text-center" id="submit_record__row">

                    <div class="col-sm-3">
                        <a class="btn btn-primary" data-toggle="modal" data-target="#cancelar_registo_modal">Cancelar</a>
                    </div>

                    <div class="col-sm-6">
                    </div>

                    <div class="col-sm-3">
                        <button class="btn btn-primary" type="submit" name="registrar" value="do_register">Registrar</button>
                    </div>
                </div>
                

            </form>
            <!-- Fin form de registro -->
            </div>
            <!-- Fin Panel -->
        </div>
        <!-- Fin card-box -->
    </div>
<!-- Fin Wrapper -->
</div>
<div class="col-sm-4">
</div>

                <!-- modal delete user -->
                <div id="cancelar_registo_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">Cancelar Operación</h4>
                            </div>
                            <div class="modal-body">
                                <h4>¿Estás seguro que deseas cancelar el registro?</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">No</button>
                                <a type="button" class="btn btn-primary waves-effect waves-light" href="{{=URL('..', '..', 'sigulab2')}}">Si, cancelar.</a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->


<!-- rolhidden contiene el id del rol seleccionado por el usuario -->
<input type="hidden" id="rolhidden" name="rolhidden" value={{=idJefeSec}}>
<!-- dephidden contiene el id de la dependencia seleccionada por el usuario -->
<input type="hidden" id="dephidden" name="dephidden" value="">
<!-- sechidden contiene el id de la seccion seleccionada por el usuario -->
<input type="hidden" id="seccionhidden" name="seccionhidden" value="">
<!-- esphidden contiene el id del espacio seleccionado por el usuario -->
<input type="hidden" id="esphidden" name="esphidden" value="">
<!--  contiene el rastro o secuencia de dependencias hasta el espacio fisico -->
<input type="hidden" id="borrarhidden" name="borrarhidden" value="">

<script language="javascript" src="{{=URL('static', 'js/web2py.js')}}"></script>
<script language="javascript">

    function getSeccionPersonal(){
        var opcioneslab = document.getElementById("dependencia");
        var labelegido = opcioneslab.options[opcioneslab.selectedIndex].value;
        if (labelegido != 1){
            var x = document.getElementById("dephidden");
            x.value = labelegido;
            ajax('ajax_registro_seccion', ['rolhidden', 'dephidden'], 'secciondiv');
        }
    }
    
    function setSupervisor(){
        $("#secciondiv").hide();
        $("#roldiv1").show();
        $("#roldiv2").show();
        $("#dependenciadiv").hide();
        document.getElementById("tipo_supervisor").value = true;
        
    }
    function setPersonal(){
        $("#roldiv1").hide();
        $("#roldiv2").hide();
        $("#dependenciadiv").show();
         $("#secciondiv").show();
        document.getElementById("tipo_supervisor").value = false;
    }
    
    function limpiar_cedula(){
        jQuery('#auth_cedula__row').removeClass('has-error');
        jQuery('#cedula_error_group').removeClass('has-error');
        jQuery('#cedula_error_group').removeClass('has-success');
        jQuery('#auth_cedula__row').removeClass('has-success');
        jQuery('form').unbind('submit');
    }

    function limpiar_email(){
        jQuery('#auth_user_email__row').removeClass('has-error');
        jQuery('#email_error_group').removeClass('has-error');
        jQuery('#email_error_group').removeClass('has-success');
        jQuery('#auth_user_email__row').removeClass('has-success');
        jQuery('form').unbind('submit');
    }

    function isEmpty(value, id){
        id = "#" + id + "__row";
        if (value == null || value == ""){
            jQuery(id).removeClass('has-success');
            jQuery(id).addClass('has-error');
        }
        else{
            jQuery(id).removeClass('has-error');
            jQuery(id).addClass('has-success');
        }
    }

    function v_c(){
        // To-Do: Move to controller :)
        c1 = $('#auth_user_password').val();
        c2 = $('#auth_user_password_two').val();
        if (c2 != "" && c1 != c2){
            $('#auth_user_password__row').addClass('has-error');
            $('#auth_user_password_two__row').addClass('has-error');
            $('#password_error_group').addClass('has-error');
            $('#password_error').addClass('has-error');
            $('#password_error').html('Las contraseñas no coinciden.');
            $('#password_error_group').show();
            $('form').submit(false);;
        }
        else if (c1 == c2 && c1 == " "){
            $('#auth_user_password__row').addClass('has-error');
            $('#auth_user_password_two__row').addClass('has-error');
            $('#password_error_group').addClass('has-error');
            $('#password_error').addClass('has-error');
            $('#password_error').html('La contraseña no puede ser un espacio.');
            $('#password_error_group').show();
            $('form').submit(false);;            
        }
        else if (c2 != "" && c1 == c2){
            $('#password_error_group').hide();
            $('#auth_user_password__row').removeClass('has-error');
            $('#auth_user_password_two__row').removeClass('has-error');
            $('#auth_user_password__row').addClass('has-success');
            $('#auth_user_password_two__row').addClass('has-success');
            $('form').unbind('submit')
        }
    }

    function getUnidad(){
        /* Esto le asigna a los inputs escondidos (rolhidden, en este caso) 
        el valor que selecciono el usuario de los dropdowns de entre las opciones
        disponibles. */
        var opcionesrol = document.getElementById("rol");
        var rolelegida = opcionesrol.options[opcionesrol.selectedIndex].value;
        var x = document.getElementById("rolhidden");
        x.value = rolelegida;

        ajax('ajax_unidad_rol', ['rolhidden'], 'unidaddiv');
    }

    function getSeccion(){
        var opcionesrol = document.getElementById("rol");
        var rolelegida = opcionesrol.options[opcionesrol.selectedIndex].value;
        var opcioneslab = document.getElementById("laboratorio");
        var labelegido = opcioneslab.options[opcioneslab.selectedIndex].value;
        var x = document.getElementById("rolhidden");
        x.value = rolelegida;
        var x = document.getElementById("dephidden");
        x.value = labelegido;
        ajax('ajax_registro_seccion', ['rolhidden', 'dephidden'], 'secciondiv');
    }

    function getEspacio(){
        var opcionesrol = document.getElementById("rol");
        var rolelegida = opcionesrol.options[opcionesrol.selectedIndex].value;
        var opcioneslab = document.getElementById("laboratorio");
        var labelegido = opcioneslab.options[opcioneslab.selectedIndex].value;
        var opcionessec = document.getElementById("seccion");
        var seccionelegida = opcionessec.options[opcionessec.selectedIndex].value;
        // Se le asigna a los elementos escondidos los valores seleccionados por el usuario
        // en los archivos ajax_*
        var x = document.getElementById("rolhidden");
        x.value = rolelegida;
        var x = document.getElementById("dephidden");
        x.value = labelegido;
        var x = document.getElementById("seccionhidden");
        x.value = seccionelegida;

        ajax('ajax_registro_espacio', ['rolhidden', 
                                       'dephidden', 
                                       'seccionhidden'], 'espaciodiv');
    }

    function setEspacios(){
        /* 
        Esta funcion es llamada para actualizar la lista de tags (lista de espacios 
        fisicos) de los cuales esta a cargo el tecnico que se registra en el sistema. 
        */
        var opcionesrol = document.getElementById("rol");
        var rolelegida = opcionesrol.options[opcionesrol.selectedIndex].value;
        var opcioneslab = document.getElementById("laboratorio");
        var labelegido = opcioneslab.options[opcioneslab.selectedIndex].value;
        var opcionessec = document.getElementById("seccion");
        var seccionelegida = opcionessec.options[opcionessec.selectedIndex].value;
        var opcionesespacios = document.getElementById("espacio");
        var espacioelegido = opcionesespacios.options[opcionesespacios.selectedIndex].value;

        var x = document.getElementById("rolhidden");
        x.value = rolelegida;
        var x = document.getElementById("dephidden");
        x.value = labelegido;
        var x = document.getElementById("seccionhidden");
        x.value = seccionelegida;
        var x = document.getElementById("esphidden");
        x.value = espacioelegido;

        ajax('ajax_seleccionar_espacio', ['rolhidden', 
                                          'dephidden', 
                                          'seccionhidden', 
                                          'esphidden'], 'tagsdiv');   
    }

    function deleteEspacio(espacio_id){

        var x = document.getElementById("borrarhidden");
        x.value = espacio_id;

        ajax('ajax_eliminar_espacio', ["borrarhidden"], 'tagsdiv');
    }

    function showEspacio(){
        var opcionesrol = document.getElementById("rol");
        var rolelegida = opcionesrol.options[opcionesrol.selectedIndex].value;

        ajax('ajax_mostrar_espacios', ['rolhidden'], 'tagsdiv');
    }

    function mostrarContrasena(idContrasena) {
    var idContrasena = idContrasena
    var x = document.getElementById(idContrasena);
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}

</script>
{{end}}
