<meta charset="utf-8">
<body>
<form action="#" class="form-horizontal" enctype="multipart/form-data" method="post">
    <div class="form-group" id="auth_user_email__row">
        <label class="control-label col-sm-3" for="auth_user_email" id="auth_user_email__label">Correo electronico</label>
        <div class="col-sm-9">
            <input class="form-control string" id="auth_user_email" name="email" type="text" value="">
            <span class="help-block"></span>
        </div>
    </div>
    <div class="form-group" id="submit_record__row">
        <div class="col-sm-9 col-sm-offset-3">
            <input class="btn btn-primary" type="submit" value="Solicitar reinicio de contrasena">
        </div>
    </div>
    {{=form.custom.begin}}
    {{=form.custom.end}}
</form>
</body>