<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="{{=URL('static','css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{=URL('static','css/core.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/components.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/icons.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/pages.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/menu.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/responsive.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{=URL('static','css/loginSIGULAB.css')}}" rel="stylesheet" type="text/css"/>
    <script src="{{=URL('static','js/modernizr.min.js')}}"></script>
</head>
<body>
<!-- Inicio Wrapper -->
<div class="wrapper-page">
    <!-- Inicio Form -->
    <form action="#" class="form-horizontal" enctype="multipart/form-data" method="post">
        
        <!-- Input correo -->
        <div class="form-group" id="auth_user_email__row">
            <label class="control-label col-xs-12" for="auth_user_email" id="auth_user_email__label" style="text-align: left;">Correo electrónico</label>
            <div class="col-xs-12">
                <input class="form-control string" id="auth_user_email" name="email" type="text" value="">
                <span class="help-block"></span>
            </div>
        </div>

        <!-- Boton submi -->t
        <div class="form-group" id="submit_record__row">
            <div class="col-xs-12 col-sm-offset-3">
                <input class="btn btn-primary" type="submit" value="Solicitar reinicio de contrasena">
            </div>
        </div>
        {{=form.custom.begin}}
        {{=form.custom.end}}
    </form>
    <!-- Fin form -->
</div>
<!-- Fin Wrapper -->
</body>
</html>
